<% content_for :title, t('.title') %>
<h2><%= yield :title %></h2>
<div class="info"><%= t '.info' %></div>
<h3><%= t '.example_of_valid_file' %></h3>
<pre class="file_example">
<%= t '.example_row_1' %>
<%= t '.example_row_2' %>
</pre>
<h3><%= t '.upload_file' %></h3>
<%= flash_error %>
<%= form_tag(official_race_csv_imports_path(@race), :multipart => true) do %>
  <%= label_tag :file, t('.csv_file') %>
  <%= file_field_tag :file %><br/>
  <%= submit_tag t('.submit_button') %>
<% end %>
