= render partial: 'shared/form_errors', locals: { item: @batch }
= form_for([:official, @race, @batch.becomes(Batch)], html: { class: 'form' }) do |f|
  - unless @race.sport.nordic?
    .form__field.form__field--sm.row
      .col-xs-12.col-sm-2= f.label :type
      .col-xs-12.col-sm-10
        = f.radio_button :type, 'QualificationRoundBatch'
        = f.label "type_qualificationroundbatch", t(:qualification_round), class: 'form__label--radio'
        = f.radio_button :type, 'FinalRoundBatch'
        = f.label "type_finalroundbatch", t(:final_round), class: 'form__label--radio'
  .form__field.form__field--sm.row
    .col-xs-12.col-sm-2= f.label :number
    .col-xs-12.col-sm-10= f.number_field :number
  .form__field.form__field--sm.row
    .col-xs-12.col-sm-2= f.label :track
    .col-xs-12.col-sm-10= f.number_field :track
  - if @race.days_count > 1
    .form__field.form__field--md.row
      .col-xs-12.col-sm-2= f.label :day
      .col-xs-12.col-sm-10= f.select :day, options_for_select(batch_days_options(@race), @batch.day)
  .form__field.form__field--sm.row
    .col-xs-12.col-sm-2= f.label :time
    .col-xs-12.col-sm-10= f.time_select :time
  .form__buttons
    = submit_tag t(:save), class: 'button button--primary'
