<%= flash_success %>
<%= render :partial => 'shared/form_errors', :locals => { :item => @relay } %>
<%= form_for([:official, @race, @relay], :html => { :class => 'relay_form' }) do |f| %>
  <div>
    <span class="form_label"><%= f.label :name %></span>
    <span><%= f.text_field :name %></span>
  </div>
  <div>
    <span class="form_label"><%= f.label :legs_count %></span>
    <span>
      <% if @relay.new_record? %>
        <%= f.text_field :legs_count, :size => 2 %>
      <% else %>
        <%= @relay.legs_count %>
      <% end %>
    </span>
  </div>
  <div>
    <span class="form_label"><%= f.label :start_time %></span>
    <span>
      <%= start_days_form_field(f, @relay) %>
      <%= f.time_select :start_time, :include_blank => true %>
    </span>
  </div>
  <% unless @relay.new_record? %>
    <h2><%= t :correct_distances %></h2>
    <%= render :partial => 'all_correct_estimates', :locals => { :f => f } %>
    <h2><%= t 'official.relays.form.teams' %></h2>
    <% if @relay.relay_teams.empty? %>
      <%= highlight_info(t('official.relays.form.no_teams_info')) %>
    <% else %>
      <%= f.fields_for :relay_teams do |team_form| %>
        <%= render :partial => "relay_team", :locals => { :f => team_form } %>
      <% end %>
    <% end %>
    <%= add_child_link t('official.relays.form.add_new_team'), f, :relay_teams %><br/><br/>
  <% end %>
  <%= submit_tag t(:save) %>
<% end %>