= flash_success
= flash_error
= render partial: 'shared/form_errors', locals: { item: @relay }
= form_for([:official, @race, @relay], html: { class: 'form' }) do |f|
  = hidden_field_tag :updated_at, @relay.updated_at.to_i
  .form__field.row
    .col-xs-12.col-sm-3= f.label :name
    .col-xs-12.col-sm-9= f.text_field :name
  .form__field.form__field--small.row
    .col-xs-12.col-sm-3= f.label :legs_count
    .col-xs-12.col-sm-9
      - if @relay.new_record?
        = f.number_field :legs_count
      - else
        = @relay.legs_count
  .form__field.row
    .col-xs-12.col-sm-3= f.label :start_time
    .col-xs-12.col-sm-9
      = start_days_form_field(f, @relay)
      = f.time_select :start_time, include_blank: true
      (arvioitu kellonaika)
  .form__field.form__field--medium.row
    .col-xs-12.col-sm-3= f.label :leg_distance
    .col-xs-12.col-sm-9= f.number_field :leg_distance
  .form__field.row
    .col-xs-12.col-sm-3
      %label Sakkojen suorittaminen
    .col-xs-12.col-sm-9
      = radio_button_tag :penalty_method, 'run', @penalty_method == 'run'
      Juostaan / hiihdetään
      = radio_button_tag :penalty_method, 'penalty_seconds', @penalty_method == 'penalty_seconds'
      Lisätään loppuaikaan
  .penalty_run{style: 'display: none'}
    .form__field.form__field--medium.row
      .col-xs-12.col-sm-3= f.label :estimate_penalty_distance
      .col-xs-12.col-sm-9= f.number_field :estimate_penalty_distance
    .form__field.form__field--medium.row
      .col-xs-12.col-sm-3= f.label :shooting_penalty_distance
      .col-xs-12.col-sm-9= f.number_field :shooting_penalty_distance
  .penalty_seconds{style: 'display: none'}
    .form__field.form__field--medium.row
      .col-xs-12.col-sm-3= f.label :estimate_penalty_seconds
      .col-xs-12.col-sm-9= f.number_field :estimate_penalty_seconds
    .form__field.form__field--medium.row
      .col-xs-12.col-sm-3= f.label :shooting_penalty_seconds
      .col-xs-12.col-sm-9= f.number_field :shooting_penalty_seconds
  - unless @relay.new_record?
    %h2= t :correct_distances
    = render partial: 'all_correct_estimates', locals: { f: f }
    %h2= t 'official.relays.form.teams'
    - if @relay.relay_teams.empty?
      = highlight_info(t('official.relays.form.no_teams_info'))
    - else
      = f.fields_for :relay_teams do |team_form|
        = render partial: "relay_team", locals: { f: team_form }
    = add_child_link t('official.relays.form.add_new_team'), f, :relay_teams
  .form__buttons
    = submit_tag t(:save), class: 'form__button form__button--primary'

:javascript
  function showPenaltySecondFields() {
    $('.penalty_seconds').show()
    $('.penalty_run').hide()
  }
  function showRunFields() {
    $('.penalty_run').show()
    $('.penalty_seconds').hide()
  }
  $('#penalty_method_run').click(function() {
    showRunFields();
  });
  $('#penalty_method_penalty_seconds').click(function() {
    showPenaltySecondFields();
  });
  $(document).ready(function() {
    if('#{@penalty_method}' === 'penalty_seconds') {
      showPenaltySecondFields()
    } else {
      showRunFields()
    }
  });
