<%= flash_success %>
<%= render :partial => 'shared/form_errors', :locals => { :item => @relay } %>
<%= form_for([:official, @race, @relay]) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br/>
  <%= f.label :legs_count %>
  <% if @relay.new_record? %>
    <%= f.text_field :legs_count, :size => 2 %>
  <% else %>
    <%= @relay.legs_count %>
  <% end %>
  <br/>
  <%= f.label :start_time %>
  <%= start_days_form_field(f, @relay) %>
  <%= f.time_select :start_time, :include_seconds => true, :include_blank => true %>
  <% unless @relay.new_record? %>
    <h2>Oikeat arviot</h2>
    <%= render :partial => 'all_correct_estimates', :locals => { :f => f } %>
    <h2>Joukkueet</h2>
    <% if @relay.relay_teams.empty? %>
      <%= highlight_info('Et ole vielä lisännyt viestiin yhtään joukkuetta. ' +
          'Lisää joukkueita alla olevasta napista.') %>
    <% else %>
      <%= f.fields_for :relay_teams do |team_form| %>
        <%= render :partial => "relay_team", :locals => { :f => team_form } %>
      <% end %>
    <% end %>
    <%= add_child_link "Lisää uusi joukkue tähän kilpailuun", f, :relay_teams %><br/><br/>
  <% end %>
  <%= submit_tag 'Tallenna' %>
<% end %>