- f.object.leg = index + 1 unless f.object.leg
= f.hidden_field :leg
#{f.object.leg}.
= f.label :first_name
= f.text_field :first_name, size: 8
= f.label :last_name
= f.text_field :last_name, size: 13
= f.label :misses
= f.text_field :misses, size: 1
= f.label :estimate
#{f.text_field :estimate, size: 3}m
= f.label :arrival_time
= time_print(f.object.arrival_time, true, '-')
- if f.object.estimate_penalties_adjustment
  %span{style: 'color:red;'}
    Korjaus:
    = f.object.estimate_penalties_adjustment
    arvioinnin sakkokierros(ta)
- if f.object.shooting_penalties_adjustment
  %span{style: 'color:red;'}
    Korjaus:
    = f.object.shooting_penalties_adjustment
    ammunnan sakkokierros(ta)
- if f.object.adjustment
  %span{style: 'color:red;'}
    Korjaus:
    = f.object.adjustment
    s
%br
