- content_for :title, "#{@race.name} - #{@relay.name} - #{t '.title'}"
- render partial: 'sub_sub_menu', locals: { relay_id: @relay.id }
%h2= yield :title
= render :partial => 'form'
%hr
= link_to t(:back_to_official_relays_page), official_race_relays_path(@race)
