<% content_for :title, "#{@race.name} - Viestit" %>
<h2>Viestit</h2>
<%= flash_success %>
<% unless @race.relays.empty? %>
  <div class="section">
    <table>
      <tr>
        <th>Nimi</th>
        <th>Osuuksien määrä</th>
        <th>Lähtöaika</th>
        <th>Joukkueita</th>
        <th>&nbsp;</th>
      </tr>
      <% @race.relays.each do |relay| %>
        <tr>
          <td><%= link_to relay.name, edit_official_race_relay_path(@race, relay) %></td>
          <td class="center"><%= relay.legs_count %></td>
          <td><%= series_datetime_print relay, true if relay.start_time %></td>
          <td class="center"><%= relay.relay_teams.count %></td>
          <td><%= link_to 'Tulosten pikasyöttö',
              official_relay_relay_quick_saves_path(relay) %></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
<div class="action_box">
  <%= link_to 'Lisää viesti', new_official_race_relay_path(@race) %>
</div>
<hr/>
<%= link_to 'Takaisin kilpailun etusivulle', official_race_path(@race) %>