- content_for :title, "#{@race.name} - #{t '.title'}"
- render partial: 'sub_sub_menu', locals: { relay_id: nil }
%h2= t '.title'
= flash_success
- unless @race.relays.empty?
  = render 'index_table'
= render 'relay_instructions'
%hr
= link_to t('.add_relay'), new_official_race_relay_path(@race), class: 'secondary_link'
= link_to t(:back_to_official_race_page), official_race_path(@race), class: 'back_link'
