<% content_for :title, "#{@race.name} - Viestit" %>
<h2>Viestit</h2>
<%= flash_success %>
<% unless @race.relays.empty? %>
  <table>
    <tr>
      <th>Nimi</th>
      <th>Osuuksien määrä</th>
      <th>Lähtöaika</th>
      <th>Joukkueita</th>
    </tr>
    <% @race.relays.each do |relay| %>
      <tr>
        <td><%= link_to relay.name, edit_official_race_relay_path(@race, relay) %></td>
        <td class="center"><%= relay.legs_count %></td>
        <td><%= series_datetime_print relay, true if relay.start_time %></td>
        <td class="center"><%= relay.relay_teams.count %></td>
      </tr>
    <% end %>
  </table>
<% end %>
<div class="action_box">
  <%= link_to 'Lisää viesti', new_official_race_relay_path(@race) %>
</div>