- shot_count = @race.sport.qualification_round_shot_count
- if @batches.empty?
  Yht채채n er채채 ei ole luotu
- @batches.each_with_index do |batch, index|
  - if index > 0
    .page-break
  %h2
    #{batch.number}, #{batch.time.strftime('%H:%M')}
    - if batch.track.to_i > 0
      (#{t('attributes.track')} #{batch.track})
  - batch.competitors.each do |competitor|
    %h3 #{full_name competitor}, #{competitor.club.name}, #{competitor.series.name}
    .empty-results-table
      - shot_count.times do
        .empty-results-table__cell
