- page_title = @series.sport.one_batch_list? ? t('.title.one_batch_list') : t('.title.other')
- content_for :title, "#{@series.race.name} - #{@series.name} - #{page_title}"
%h2 #{@series.name} - #{page_title}
- content_for :sub_sub_menu do
  = render layout: 'menus/series_sub_menu', locals: { race: @series.race, series_id: @series.id } do |series| official_series_qualification_round_batch_list_path(series) end
= flash_error
= flash_success
- if @series.race.track_count.to_i <= 0 || @series.race.shooting_place_count.to_i <= 0
  .message.message--error
    Kilpailulle pitää määrittää ratojen lukumäärä ja ammuntapaikkojen lukumäärä ennen kuin arpoa eräluettelon.
    = link_to 'Voit asettaa ne kilpailun asetuksista.', edit_official_race_path(@series.race)
- elsif @competitors_without_batch.empty?
  - info = @series.sport.one_batch_list? ? t('.no_competitors_without_batch_in_series.one_batch_list') : t('.no_competitors_without_batch_in_series.other')
  .message.message--info= info
- else
  .message.message--info= t('.nordic_info')
  = form_tag(official_series_qualification_round_batch_list_path(@series), class: 'form') do
    = render partial: 'official/batches/batch_generation_options', locals: { final_round: false }
    .form__buttons
      = submit_tag t('.button'), class: 'button button--primary'
- @series.competitors.where('qualification_round_batch_id IS NOT NULL').includes(:qualification_round_batch, :club).except(:order).order('batches.number, qualification_round_track_place').group_by(&:qualification_round_batch).each do |batch, competitors|
  %h3
    #{t('attributes.batch_id')}: #{batch.number}, #{batch_time(@series.race, batch)}
    - if batch.track
      (#{t('attributes.track')} #{batch.track})
  .row
    - competitors.each do |competitor|
      .col-xs-12.col-sm-6.col-md-4
        %a.card{href: edit_official_series_competitor_path(competitor.series_id, competitor)}
          - if competitor.qualification_round_track_place
            .card__number= competitor.qualification_round_track_place
          .card__middle
            .card__name
              = full_name competitor
              = "(#{competitor.age_group.name})" if competitor.age_group
            .card__middle-row= competitor.club.name
          .card__main-value
            - if competitor.number
              \##{competitor.number}
.buttons.buttons--nav
  = link_to t(:back_to_official_race_page), official_race_path(@series.race), class: 'button button--back'
