.menu.menu--main
  = main_menu_item t('main_menu.home_page'), root_path, 'home', @is_main_page
  = main_menu_item t('main_menu.competitions'), races_path, 'search', @is_races || @is_cup, @is_official && menu_race do
    - dropdown_menu_single(link_to(menu_race.name, race_path(menu_race)))
  = main_menu_item t('main_menu.official'), official_root_path, 'build', @is_official
  = main_menu_item t('main_menu.announcements'), announcements_path, 'article', @is_announcements
  = main_menu_item t('main_menu.info'), info_path, 'info', @is_info
  - if current_user
    = main_menu_item t('main_menu.personal'), account_path, 'person', @is_account
    - if current_user.admin?
      = main_menu_item "Admin", admin_root_path, 'architecture', @is_admin
  - else
    = main_menu_item t('main_menu.start'), register_path, 'login', @is_start
  - if I18n.locale == :sv
    = main_menu_item "Suomeksi", '?new_locale=fi', 'language', false
  - else
    = main_menu_item "På svenska", '?new_locale=sv', 'language', false
