.menu.sub_menu
  %ul
    = menu_item t('offline_sub_menu.online_vs_offline'), offline_vs_online_path, @is_offline_vs_online
    = menu_item t('offline_sub_menu.offline_installation'), offline_installation_path, @is_offline_installation
    = menu_item t('offline_sub_menu.price'), offline_price_path, @is_offline_price
    = menu_item t('offline_sub_menu.activation_key'), new_activation_key_path, @is_activation_key
    = menu_item t('offline_sub_menu.version_history'), offline_version_history_path, @is_offline_version_history
