- race = menu_race
- if race
  .menu.menu--sub.menu--sub-1
    = menu_item t('race_sub_menu.home_page'), race_path(race), @is_race
    - series = menu_series
    - series = race.series.first unless series
    - if series
      = menu_item t('race_sub_menu.results'), race_series_path(race, series), @is_results, nil, true do
        - series_dropdown_menu(race, 'results')
      - if race.sport.nordic?
        = menu_item t('sport_name.nordic_sub.trap'), race_trap_path(race), @sub_sport == :trap
        = menu_item t('sport_name.nordic_sub.shotgun'), race_shotgun_path(race), @sub_sport == :shotgun, nil
        = menu_item t('sport_name.nordic_sub.rifle_moving'), race_rifle_moving_path(race), @sub_sport == :rifle_moving
        = menu_item t('sport_name.nordic_sub.rifle_standing'), race_rifle_standing_path(race), @sub_sport == :rifle_standing
      - elsif race.sport.european?
        = menu_item t('sport_name.european_sub.rifle'), race_series_rifle_path(race, series), @rifle, nil, true do
          - series_dropdown_menu(race, 'rifle')
    - if race.sport.batch_list? && !race.qualification_round_batches.empty?
      - text = race.sport.one_batch_list? ? t('race_sub_menu.batches') : t('race_sub_menu.qualification_round_batches')
      = menu_item text, race_qualification_round_batches_path(race), @is_qualification_round_batches
    - if race.sport.batch_list? && !race.final_round_batches.empty?
      = menu_item t('race_sub_menu.final_round_batches'), race_final_round_batches_path(race), @is_final_round_batches
    - if series
      - if race.sport.start_list?
        = menu_item t('race_sub_menu.start_lists'), race_series_start_list_path(series.race, series), @is_start_list, nil, true do
          - series_dropdown_menu(race, 'start_list')
      - if race.has_team_competition?
        = menu_item t('race_sub_menu.team_competitions', count: race.team_competitions.count), race_team_competition_path(race, race.team_competitions.first), @is_team_results, nil, true do
          - team_competitions_dropdown_menu(race)
    - unless race.relays.empty?
      = menu_item t('race_sub_menu.relays', count: race.relays.count), race_relay_path(race, race.relays.first), @is_relays, nil, true do
        - relays_dropdown_menu(race)
    - unless race.all_competitions_finished?
      = menu_item t('race_sub_menu.result_rotation'), race_result_rotation_path(race), result_rotation_cookie
    = menu_item t('race_sub_menu.press'), new_race_medium_path(race), @is_media
