- race = menu_race
- if race
  .menu.sub_menu
    %ul
      = menu_item t('race_sub_menu.home_page'), race_path(race), @is_race
      - series = menu_series
      - series = race.series.first unless series
      - if series
        = menu_item t('race_sub_menu.results'), race_series_path(race, series), @is_results, nil, true do
          - series_dropdown_menu(race, 'results')
        = menu_item t('race_sub_menu.start_lists'), series_start_list_path(series), @is_start_list, nil, true do
          - series_dropdown_menu(race, 'start_list')
        - if race.has_team_competition?
          = menu_item t('race_sub_menu.team_competitions'), race_team_competition_path(race,
              race.team_competitions.first), @is_team_results, nil, true do
            - team_competitions_dropdown_menu(race)
      - unless race.relays.empty?
        = menu_item t('race_sub_menu.relays'), race_relay_path(race, race.relays.first), @is_relays, nil, true do
          - relays_dropdown_menu(race)
      - if race.video_source
        = menu_item t('race_sub_menu.video'), race_video_path(race), @is_video
      - unless offline? or race.all_competitions_finished?
        = menu_item t('race_sub_menu.result_rotation'), race_result_rotation_path(race), result_rotation_cookie
      = menu_item t('race_sub_menu.press'), new_race_medium_path(race), @is_media
