- order_class = c.new_record? ? '' : 'order'
%div.competitor_row{id: "competitor_#{id}"}
  - club_name = c.club.name if c.club
  = form_for([:official, parent, c], remote: true, class: 'form') do |f|
    .form__fields--horizontal
      - unless c.new_record?
        = hidden_field_tag '_method', :put
      = hidden_field_tag :start_list, true
      .form__field.form__field--mini
        = f.number_field :number, class: order_class
      - start_time = time_print(f.object.start_time, true, '')
      .form__field.form__field--small{style: 'white-space: nowrap;'}
        = f.text_field :start_time, value: start_time, include_seconds: true, blank: true
      .form__field.form__field--small= f.text_field :first_name, placeholder: t('attributes.first_name')
      .form__field.form__field--medium= f.text_field :last_name, placeholder: t('attributes.last_name')
      .form__field.form__field--medium= text_field_tag :club_name, club_name, placeholder: t('attributes.club_name')
      .form__field= f.collection_select :series_id, @all_series, :id, :name, {},
        onchange: "change_age_groups('#{id}', this.value)"
      - age_groups_visibility = @age_groups[c.series_id].length > 0 ? '' : 'display:none;'
      .form__field
        = f.collection_select :age_group_id, @age_groups[c.series_id], :id, :name,
          {}, { id: "age_groups_#{id}", style: age_groups_visibility }
      .form__buttons
        = submit_tag save_button, class: 'button button--primary'
      .form__field{id: "status_#{id}"} &nbsp;
