<% order_class = c.new_record? ? '' : 'order' %>
<tr id='competitor_<%= id %>'>
  <% club_name = c.club.name if c.club %>
  <%= form_for([:official, parent, c], :remote => true) do |f| %>
    <%= hidden_field_tag :start_list, true %>
    <td><%= f.text_field :number, :size => 2, :class => order_class %></td>
    <td style="white-space: nowrap;"><%= f.time_text_field :start_time,
      :include_seconds => true, :blank => true %></td>
    <td><%= f.text_field :first_name, :size => 6 %></td>
    <td><%= f.text_field :last_name, :size => 10 %></td>
    <td><%= text_field_tag :new_club_name, club_name, :size => 10 %></td>
    <td><%= f.collection_select :series_id, @all_series, :id, :name, {},
      :onchange => "change_age_groups(#{id}, this.value)" %></td>
    <% age_groups_visibility = @age_groups[c.series_id].length > 0 ? '' : 'display:none;' %>
    <td>
      <%= f.collection_select :age_group_id, @age_groups[c.series_id], :id, :name,
      { :include_blank => true }, { :id => "age_groups_#{id}", :style => age_groups_visibility } %>
      <%= image_tag 'spinner.gif', :style => 'display:none;', :id => "age_groups_spinner_#{id}" %>
    </td>
    <td><input type="submit" class="save_button" value="<%= save_button %>"
      onClick="start_updating('<%=id%>')"/></td>
    <td id="status_<%= id %>">&nbsp;</td>
  <% end %>
</tr>