<% order_class = c.new_record? ? '' : 'order' %>
<div id='competitor_<%= id %>' class="competitor_row">
  <% club_name = c.club.name if c.club %>
  <%= form_for([:official, parent, c], :remote => true) do |f| %>
    <% unless c.new_record? %><%= hidden_field_tag '_method', :put %><% end %>
    <%= hidden_field_tag :start_list, true %>
    <div class="value number"><%= f.number_field :number, :size => 2, :class => order_class %></div>
    <div class="value start_time" style="white-space: nowrap;"><%= f.time_text_field :start_time,
      :include_seconds => true, :blank => true %></div>
    <div class="value first_name"><%= f.text_field :first_name, :size => 9 %></div>
    <div class="value last_name"><%= f.text_field :last_name, :size => 14 %></div>
    <div class="value club"><%= text_field_tag :club_name, club_name, :size => 14 %></div>
    <div class="value series"><%= f.collection_select :series_id, @all_series, :id, :name, {},
      :onchange => "change_age_groups('#{id}', this.value)" %></div>
    <% age_groups_visibility = @age_groups[c.series_id].length > 0 ? '' : 'display:none;' %>
    <div class="value age_group">
      <%= f.collection_select :age_group_id, @age_groups[c.series_id], :id, :name,
      {}, { :id => "age_groups_#{id}", :style => age_groups_visibility } %>
      <%= image_tag 'spinner.gif', :style => 'display:none;', :id => "age_groups_spinner_#{id}" %>
    </div>
    <div class="value button"><input type="submit" class="save_button" value="<%= save_button %>"
      onClick="start_updating('<%=id%>')"/></div>
    <div class="value" id="status_<%= id %>">&nbsp;</div>
  <% end %>
</div>