$('div.error').hide();

$row = $("#ruler");
$("#competitors_table .order").each(function() {
  if($(this).val() <= <%= @competitor.number %>) {
    $row = $(this).closest('.competitor_row');
  }
});
$row.after("<%= escape_javascript(render partial: 'official/start_lists/competitor_row',
  locals: { c: @competitor, save_button: t(:save), parent: @competitor.series, id: @competitor.id }) %>");

$("#status_new").html("");
$("#status_<%= @competitor.id %>").html("<span class='success'><%= t :added %></span>");
$("#status_<%= @competitor.id %>").show();
setTimeout(function() {
  $("#status_<%= @competitor.id %>").hide('slow');
}, 5000);

$('#competitor_first_name').val('');
$('#competitor_last_name').val('');

<% if @competitor.series.has_start_list? %>
  $('#competitor_number').val(<%= @competitor.race.next_start_number %>);
  <% start_time = time_print(@competitor.race.next_start_time, true, '') %>
  $('#competitor_start_time').val('<%= start_time %>');
<% end %>
