<% content_for :title, "Kaikkien kilpailijoiden lähtöajat" %>
<% content_for :page_title, yield(:title) %>
<h2>Kaikkien kilpailijoiden lähtöajat</h2>
<div class="info">Tällä sivulla voit asettaa kilpailijoita eri lähtöpaikoille.</div>
<div id="update_error"></div>
<table>
  <tr>
    <th>Nro</th>
    <th>Lähtöaika</th>
    <th>Etunimi</th>
    <th>Sukunimi</th>
    <th><%= club_title @race %></th>
    <th>Sarja</th>
    <th>Ikäryhmä</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
<% @competitors.each do |c| %>
  <%= form_for([:official, c.series, c], :remote => true) do |f| %>
    <%= hidden_field_tag :no_times, true %>
    <tr id='competitor_<%= c.id %>'>
      <td><%= c.number %></td>
      <td><%= time_print(c.start_time, true) %></td>
      <td><%= f.text_field :first_name, :size => 10 %></td>
      <td><%= f.text_field :last_name, :size => 15 %></td>
      <td><%= c.club.name %></td>
      <td><%= f.collection_select :series_id, @series, :id, :name %></td>
      <% if @age_groups[c.series_id].length > 0 %>
        <td><%= f.collection_select :age_group_id, @age_groups[c.series_id], :id, :name, :include_blank => true %></td>
      <% else %>
        <td>&nbsp;</td>
      <% end %>
      <td><input type="submit" class="save_button" value="Tallenna" onClick="start_updating(<%=c.id%>)"/></td>
      <td id="status_<%= c.id %>">&nbsp;</td>
    </tr>
  <% end %>
<% end %>
</table>
<%= javascript_tag do %>
  function start_updating(id) {
    $("#status_" + id).html('<%= image_tag 'spinner.gif' %>');
  }
<% end %>
