- content_for :title, t('.title')
- content_for :page_title, yield(:title)
%h2= yield :title
- if @all_series.length == 0
  .info= t '.no_start_list_for_any_series'
- else
  #update_error
  #competitors_table
    = render partial: 'competitor_row', locals: { c: @new_competitor, save_button: t(:add_new), id: 'new', parent: @race }
    %hr#ruler
    - @competitors.each do |c|
      = render partial: 'competitor_row', locals: { c: c, save_button: t(:save), id: c.id, parent: c.series }

  :javascript
    var series_with_age_groups = #{raw @series_with_age_groups.to_json};
    function change_age_groups(competitor_id, series_id) {
      var $age_group_menu = $('#competitor_' + competitor_id + '_age_groups_' + competitor_id);
      $age_group_menu.hide();
      var age_groups = series_with_age_groups[series_id];
      while($age_group_menu.children().length > 0) {
        $age_group_menu.children().last().remove();
      }
      if(age_groups.length > 0) {
        $.each(age_groups, function(i, age_group) {
          $age_group_menu.append('<option value="' + age_group[0] + '">' + age_group[1] + '</option>');
        });
        $age_group_menu.show();
      }
    }
  %hr
  = link_to t(:download_start_list_pdf), race_start_lists_path(@race, format: :pdf), class: 'button'
