$current_row = $("#competitor_<%= @competitor.id %>");
$row = $("#ruler");
$("#competitors_table .order").each(function() {
  if($(this).val() <= <%= @competitor.number %>) {
    $row = $(this).closest('.competitor_row');
  } else {
    return false;
  }
});
if($current_row.attr('id') != $row.attr('id')) {
  $current_row.insertAfter($row);
}

$("#update_error").hide();
$("#update_error").html("");
$("#status_<%= @competitor.id %>").html('<span class="message message--success message--inline"><%= t :saved %></span>')
$("#status_<%= @competitor.id %>").show()
setTimeout(function() {
  $("#status_<%=@competitor.id%>").hide('slow');
}, 5000);
