<% content_for :title, t('.title') %>
<h2><%= yield :title %></h2>
<% if @race.competitors.empty? %>
  <div class="info"><%= t '.no_competitors' %></div>
<% else %>
  <div class="info"><%= t '.info' %></div>
  <%= form_tag(official_race_csv_export_path(@race)) do |f| %>
    <%= submit_tag t('.submit_button') %>
  <% end %>
<% end %>
<h2><%= t '.import_title' %></h2>
<div class="action_box">
  <%= link_to t('.import_link'), new_official_race_csv_import_path(@race) %>
</div>