<% if online? %>
  <h2>Lataa kilpailu omalle koneelle</h2>
  <div class="info">Jos sinulla on Hirviurheilu Offline, voit ladata tämän
    kilpailun omalle koneellesi. Voit käyttää tätä toimintoa esimerkiksi
    keskeneräisen online-kilpailun varmuuskopioimiseen. Jos otat useamman
    kopioin kilpailusta, anna jokaiselle eri nimi.</div>
<% else %>
  <h2>Julkaise kilpailu internetissä</h2>
  <div class="info">Tällä sivulla voit julkaista kilpailun lopulliset tulokset internetissä,
    Hirviurheilu-palvelussa. Näin kilpailijat pääsevät näkemään kilpailun tulokset.
    Julkaiseminen ei maksa mitään. Ennen julkaisemista varmista, että sinulla
    on käytössäsi internet-yhteys.</div>
<% end %>
<% if offline? and !@race.finished? %>
  <div class="error">Voit julkaista kilpailun vasta, kun olet merkinnyt sen päättyneeksi.
    (Kilpailun voi päättää <%= link_to 'Yhteenveto-sivulla', official_race_path(@race) %>.)</div>
<% else %>
  <div class="section">
    <% if online? %>
      <div class="info">Ennen kuin painat Lataa-nappia, varmista että
        Hirviurheilu Offline -tuotteesi on käynnissä.</div>
    <% end %>
    <%= flash_error %>
    <%= flash_success %>
    <%= form_for(@race, :url => remote_races_path, :html => {:method => :post}) do |f| %>
      <%= hidden_field_tag :source, "#{request.protocol}#{request.host_with_port}" %>
      <%= hidden_field_tag :source_race_id, @race.id %>
      <%= render :partial => 'hidden_form', :locals => { :f => f } %>
      <%= f.label :name %>
      <%= f.text_field :name %><br/>
      <% if offline? %>
        <%= label_tag :server, 'Kohde' %>
        <%= select_tag :server, options_for_select(@servers, params[:server]) %><br/>
        <%= label_tag :email, 'Sähköposti' %>
        <%= text_field_tag :email, params[:email] %><br/>
        <%= label_tag :password, 'Salasana' %>
        <%= password_field_tag :password, params[:password] %><br/>
      <% end %>
      <% submit_label = (offline? ? 'Julkaise' : 'Lataa Hirviurheilu Offline -tietokantaan') %>
      <%= submit_tag submit_label, :id => 'submit_button' %>
      <span style="display:none;" id="please_wait">Ole hyvä ja odota...</span>
    <% end %>
  </div>
<% end %>
<hr/>
<%= link_to 'Takaisin Yhteenveto-sivulle', official_race_path(@race) %>
<%= javascript_tag do %>
  $('#submit_button').click(function() {
  action = $('form.edit_race').attr('action')
  <% if offline? %>
    $('form.edit_race').attr('action', $('#server').val() + action);
  <% else %>
    $('form.edit_race').attr('action', 'http://localhost:3000' + action);
  <% end %>
    $('#please_wait').show();
  });
<% end %>