<% content_for :title, (online? ? t('.download_title') : t('.publish_title')) %>
<h2><%= yield :title %></h2>
<% info_text = online? ? t('.download_info') : t('.publish_info') %>
<div class="info"><%= info_text %></div>
<% if offline? and !@race.finished? %>
  <div class="error"><%= t '.publish_after_finish_info' %>
    (<%= link_to t('.finish_in_summary_page'), official_race_path(@race) %>.)</div>
<% else %>
  <div class="section">
    <% if online? %>
      <div class="info"><%= t '.before_download_info' %></div>
    <% end %>
    <%= flash_error %>
    <%= flash_success %>
    <%= form_for(@race, :url => remote_races_path, :html => {:method => :post}) do |f| %>
      <%= hidden_field_tag :source, "#{request.protocol}#{request.host_with_port}" %>
      <%= hidden_field_tag :source_race_id, @race.id %>
      <%= render :partial => 'hidden_form', :locals => { :f => f } %>
      <%= f.label :name %>
      <%= f.text_field :name %><br/>
      <% if offline? %>
        <%= label_tag :server, t('.target') %>
        <%= select_tag :server, options_for_select(@servers, params[:server]) %><br/>
        <%= label_tag :email, t('attributes.email') %>
        <%= text_field_tag :email, params[:email] %><br/>
        <%= label_tag :password, t(:password) %>
        <%= password_field_tag :password, params[:password] %><br/>
      <% end %>
      <% submit_label = (offline? ? t('.publish_submit') : t('.download_submit')) %>
      <%= submit_tag submit_label, :id => 'submit_button' %>
      <span style="display:none;" id="please_wait">Ole hyvä ja odota...</span>
    <% end %>
  </div>
<% end %>
<hr/>
<%= link_to t(:back_to_official_race_page), official_race_path(@race) %>
<%= javascript_tag do %>
  $('#submit_button').click(function() {
  action = $('form.edit_race').attr('action')
  <% if offline? %>
    $('form.edit_race').attr('action', $('#server').val() + action);
  <% else %>
    $('form.edit_race').attr('action', 'http://localhost:3000' + action);
  <% end %>
    $('#please_wait').show();
  });
<% end %>