- heats.each_with_index do |heat, index|
  - if index > 0
    .page-break
  %h2
    #{heat.number}, #{heat.time.strftime('%H:%M')}
    - if heat.track.to_i > 0
      (#{t('attributes.track')} #{heat.track})
  - heat.competitors.each do |competitor|
    - track_place = competitor.send(track_place_name) ? "#{competitor.send(track_place_name)}. " : ''
    - number = competitor.number ? " ##{competitor.number}" : ''
    - result = track_place_name == :final_round_track_place && competitor.qualification_round_total_score ? " (#{competitor.qualification_round_total_score})" : ''
    .no-break
      %h3.empty-results-competitor-header
        #{track_place}#{full_name competitor}#{number}, #{competitor.club.name}, #{competitor.series.name}#{result}
        - if competitor.caliber
          (#{competitor.caliber})
      = render partial: 'official/heat_list_templates/empty_results_table', locals: { shot_count: shot_count }
