<% content_for :title, "#{@race.name} - #{t('official_sub_menu.correct_distances')}" %>
<h2><%= t 'official_sub_menu.correct_distances' %></h2>
<%= flash_error %>
<%= flash_success %>
<div class="section">
  <%= form_for([:official, @race], :url => official_race_correct_estimates_path(@race), method: 'PUT') do |f| %>
    <%= render :partial => 'shared/form_errors', :locals => { :item => @race } %>
    <%= f.fields_for :correct_estimates do |ce_form| %>
      <%= render :partial => 'correct_estimate', :locals => { :f => ce_form } %>
    <% end %>
    <%= add_child_link t('.add_new_range'), f, :correct_estimates, 'add_link' %>
    <%= submit_tag t('.submit_button') %>
  <% end %>
</div>

<h2><%= t '.defined_correct_estimates' %></h2>
<% if @race.competitors.empty? %>
  <div class="info"><%= t '.no_competitors_info' %></div>
<% else %>
  <div class="info"><%= t '.start_list_required_info' %></div>
  <table border="1" cellpadding="2" cellspacing="0" id="competitor_correct_estimates">
    <tr>
      <th><%= t :number_short %></th>
      <th><%= t 'activerecord.models.competitor.one' %></th>
      <th><%= t 'activerecord.models.series.one' %></th>
      <th><%= t 'attributes.correct_estimate1' %></th>
      <th><%= t 'attributes.correct_estimate2' %></th>
      <% if @race.estimates_at_most == 4 %>
        <th><%= t 'attributes.correct_estimate3' %></th>
        <th><%= t 'attributes.correct_estimate4' %></th>
      <% end %>
    </tr>
    <% @competitors.each do |c| %>
      <tr>
        <td><%= c.number %></td>
        <td><%= full_name(c) %></td>
        <td><%= c.series.name %></td>
        <td><%= c.correct_estimate1 %></td>
        <td><%= c.correct_estimate2 %></td>
        <% if @race.estimates_at_most == 4 %>
          <td><%= c.correct_estimate3 %></td>
          <td><%= c.correct_estimate4 %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>

<% if @race.correct_estimates.empty? %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $('#add_link').click();
    });
  <% end %>
<% end %>