.info= instructions
.success{id: "#{name}_success", style: "display:none;"}
.error{id: "#{name}_error", style: "display:none;"}
= form_tag(path, remote: true, onsubmit: "show_spinner('#{name}')", id: "#{name}_quick_save_form", class: 'form') do
  .form__horizontal-fields
    .form__field
      = telephone_field_tag :string, '', id: "#{name}_string"
    .form__buttons
      = submit_tag t(:save), id: "submit_#{name}", class: 'button button--primary'
    = image_tag 'spinner.gif', id: "#{name}_spinner", style: 'display:none;'
:javascript
  function show_spinner(name) {
    $('#' + name + '_spinner').show();
  }
  $('##{name}_quick_save_form').bind('ajax:error', function() {
    $('##{name}_error').text('Yhteysvirhe, yritä uudelleen');
    $('##{name}_spinner').hide();
    $('##{name}_success').hide();
    $('##{name}_error').show();
  });
