- title = t("official.quick_saves.index.title_#{name}")
- content_for :title, "#{@race.name} - #{title}"
%h2= title
- if @race.competitors.empty?
  .info= t 'official.quick_saves.index.no_competitors'
- else
  .info= instructions
  .success{id: "#{name}_success", style: "display:none;"}
  .error{id: "#{name}_error", style: "display:none;"}
  = form_tag(path, remote: true, onsubmit: "show_spinner('#{name}')", class: 'form') do
    .form__field
      = telephone_field_tag :string, '', id: "#{name}_string"
    .form__buttons
      = submit_tag t(:save), id: "submit_#{name}", class: 'button button--primary'
    = image_tag 'spinner.gif', id: "#{name}_spinner", style: 'display:none;'
  #latest{style: 'display:none;'}
    %h3= t 'official.quick_saves.index.latest_savings'
    %ul#latest_list
%hr
= link_to t(:back_to_race_home_page), official_race_path(@race), class: 'back_link'
:javascript
  function show_spinner(name) {
    $('#' + name + '_spinner').show();
  }
