.section
  .info= instructions
  .success{id: "#{name}_success", style: "display:none;"}
  .error{id: "#{name}_error", style: "display:none;"}
  = form_tag(path, :remote => true, :onsubmit => "show_spinner('#{name}')") do
    = text_field_tag :string, '', :id => "#{name}_string", :size => 30
    = submit_tag t(:save), :id => "submit_#{name}"
    = image_tag 'spinner.gif', :id => "#{name}_spinner", :style => 'display:none;'
:javascript
  function show_spinner(name) {
    $('#' + name + '_spinner').show();
  }
