- content_for :title, "#{@race.name} - #{t('.title')}"
%h2= t '.title'
- if @race.competitors.empty?
  .info= t '.no_competitors'
  - unless @race.series.empty?
    = link_to t('official.competitors.index.add_competitor'), new_official_series_competitor_path(@race.series.first), class: 'button'
- else
  %h3= t :times
  = render :partial => 'result_place', :locals => { :name => 'time',
    :instructions => t('.instructions_time'), :path => official_race_quick_save_time_path(@race) }
  %h3= t :estimating
  - instructions = build_estimates_instructions @race
  = render :partial => 'result_place', :locals => { :name => 'estimates',
    :instructions => instructions, :path => official_race_quick_save_estimates_path(@race) }
  %h3= t :shooting
  = render :partial => 'result_place', :locals => { :name => 'shots',
    :instructions => t('.instructions_shots'), :path => official_race_quick_save_shots_path(@race) }
  %h3= t '.dns_dnf_dq'
  = render :partial => 'result_place', :locals => { :name => 'no_result',
    :instructions => t('.instructions_dns_dnf_dq'), :path => official_race_quick_save_no_result_path(@race) }
  #latest{style: 'display:none;'}
    %h3= t '.latest_savings'
    %ul#latest_list
