<% content_for :title, "#{@race.name} - #{t('.title')}" %>
<h2><%= t '.title' %></h2>
<% if @race.competitors.empty? %>
  <div class="warning"><%= t '.no_competitors' %></div>
<% else %>
  <h3><%= t :times %></h3>
  <%= render :partial => 'result_place', :locals => { :name => 'time',
    :instructions => t('.instructions_times'), :path => official_race_time_quick_save_path(@race) } %>
  <h3><%= t :estimating %></h3>
  <% instructions = t('.instructions_estimates') %>
  <% if @race.estimates_at_most == 4 %>
    <% instructions << t('.instructions_estimates_4') %>
  <% end %>
  <% instructions << '.' %>
  <%= render :partial => 'result_place', :locals => { :name => 'estimates',
    :instructions => instructions, :path => official_race_estimates_quick_save_path(@race) } %>
  <h3><%= t :shooting %></h3>
  <%= render :partial => 'result_place', :locals => { :name => 'shots',
    :instructions => t('.instructions_shooting'), :path => official_race_shots_quick_save_path(@race) } %>
  <h3><%= t '.dns_dnf_dq' %></h3>
  <%= render :partial => 'result_place', :locals => { :name => 'no_result',
    :instructions => t('.instructions_dns_dnf_dq'), :path => official_race_no_result_quick_save_path(@race) } %>
  <div id="latest" style="display:none;">
    <h3><%= t '.latest_savings' %></h3>
    <ul id="latest_list"></ul>
  </div>
<% end %>