- qualification_round = sport.qualification_round
- qualification_round_shots = qualification_round && qualification_round.inject(:+) || 0
- final_round = sport.final_round
- final_round_shots = final_round && final_round.inject(:+) || 0
- basic_shots = qualification_round_shots + final_round_shots
- shots_per_extra_round = sport.shots_per_extra_round
- extra_shots_count = competitor.shots.length == basic_shots ? (competitor.extra_shots || []).length + shots_per_extra_round : 0
- partial = 'official/shots/shooting_race_shots'
= f.hidden_field :shooting_score_input
= t :qualification_round
= render partial: partial, locals: { competitor: competitor, round_rules: qualification_round, base: 0, column_name: :shots, field_name: 'shots[]' }
= t :final_round
= render partial: partial, locals: { competitor: competitor, round_rules: final_round, base: qualification_round_shots, column_name: :shots, field_name: 'shots[]' }
- if extra_shots_count > 0
  = t :extra_round
  = render partial: partial, locals: { competitor: competitor, round_rules: [extra_shots_count], base: 0, column_name: :extra_shots, field_name: 'extra_shots[]' }
