.info= t 'official.result_place.shooting.either_total_or_shots'
.result-cards
  - @series.competitors.each do |competitor|
    .card
      .card__number= competitor.number
      .card__middle
        .card__name= full_name competitor
        - unless competitor.no_result_reason
          .card__middle-1
            = form_for([:official, @series, competitor], remote: true, namespace: "c_#{competitor.id}", html: { id: "shots_form_#{competitor.id}", class: 'form form--inline' }) do |f|
              .form__fields--horizontal
                .card__sub-result.card__sub-result--shoot.form__field.form__field--sm
                  = f.number_field :shots_total_input, maxlength: 3, class: 'shots-total-input'
                .card__sub-result.card__sub-result--shoot
                  = render partial: 'official/shots/individual_shots', locals: { f: f, competitor: competitor }
                .form__buttons= submit_tag t(:save), onclick: "start_updating(#{competitor.id})", class: 'button button--primary'
                %div{id: "status_#{competitor.id}"}
      .card__main-value{id: "shots_result_#{competitor.id}"}
        - if competitor.no_result_reason
          = competitor.no_result_reason
        - else
          = competitor.shots_sum
    :javascript
      $("#shots_form_#{competitor.id}").bind('ajax:error', function() {
        $("#update_error").addClass("error");
        $("#update_error").html('Yhteysvirhe, yritä uudelleen');
        $("#status_#{competitor.id}").html("<span class='error'>#{t :error}!</span>");
      });
:javascript
  $('.shots-total-input').change(function() {
    calculate_shots_result($(this).closest('.card'));
  });
  $('.shot').change(function() {
    calculate_shots_result($(this).closest('.card'));
  });
