- shooting_race = @series.sport.only_shooting?
- infos = [t('official.result_place.shooting.either_total_or_shots')]
- if @series.sport.inner_ten?
  - infos << t('official.result_place.shooting.inner_ten_as_eleven')
.message.message--info #{infos.join('. ')}.
- if @series.sport.qualification_round
  - if params[:qualification_round]
    = link_to t('official.result_place.shooting.sort_by_default'), '?', class: 'button'
  - else
    = link_to t('official.result_place.shooting.sort_by_qualification_round'), '?qualification_round=true', class: 'button'
.result-cards
  - competitors = @series.competitors
  - competitors = Competitor.sort_by_qualification_round(@series.sport, competitors) if params[:qualification_round]
  - competitors.each do |competitor|
    .card
      .card__number= competitor.number
      .card__middle
        .card__name
          = full_name competitor
          %span{id: "status_#{competitor.id}"}
        - unless competitor.no_result_reason
          .card__middle-row
            = form_for([:official, @series, competitor], remote: true, namespace: "c_#{competitor.id}", html: { id: "shots_form_#{competitor.id}", class: 'form form--inline' }) do |f|
              - if shooting_race
                = render partial: 'official/shots/all_shooting_race_shots', locals: { f: f, sport: @series.sport, competitor: competitor }
                .form__buttons= submit_tag t(:save), onclick: "start_updating(#{competitor.id})", class: 'button button--primary'
              - else
                .form__horizontal-fields
                  .card__sub-result.card__sub-result--shoot.form__field.form__field--sm
                    = f.number_field :shooting_score_input, maxlength: 3, class: 'shots-total-input'
                  .card__sub-result.card__sub-result--shoot
                    = render partial: 'official/shots/three_sports_race_shots', locals: { competitor: competitor }
                  .form__buttons= submit_tag t(:save), onclick: "start_updating(#{competitor.id})", class: 'button button--primary'
      .card__main-value{id: "shots_result_#{competitor.id}"}
        - if competitor.no_result_reason
          = competitor.no_result_reason
        - else
          - if shooting_race
            #{competitor.qualification_round_score.to_i} + #{competitor.final_round_score.to_i} =
          = competitor.shooting_score.to_i
    :javascript
      $("#shots_form_#{competitor.id}").bind('ajax:error', function() {
        $("#update_error").html('Yhteysvirhe, yritä uudelleen');
        $("#update_error").show();
        updateInlineMessage("#status_#{competitor.id}", 'error', '#{t :error}')
      });
:javascript
  $('.shots-total-input').change(function() {
    calculateShotsResult($(this))
  });
  $('.shot').change(function() {
    calculateShotsResult($(this))
  });
  function calculateShotsResult(field) {
    const $card = field.closest('.card')
    if (#{shooting_race}) {
      calculateShootingRaceShotsResult($card, #{@series.sport.inner_ten?})
    } else {
      calculateThreeSportsShotsResult($card)
    }
  }
