<div class="notice">Huom! Syötä joko yhteistulos tai vain yksittäiset laukaukset.</div>
<table>
  <tr>
    <th>Nro</th>
    <th>Kilpailija</th>
    <th>Summa</th>
    <th>Yksittäiset laukaukset</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
  <% @series.competitors.each do |c| %>
    <%= form_for([:official, @series, c], :remote => true) do |f| %>
      <%= hidden_field_tag :no_times, true %>
      <tr>
        <td><%= c.number %></td>
        <td style="width: 170px;"><%= full_name(c) %></td>
        <td align="center"><%= f.text_field :shots_total_input, :size => 3, :maxlength => 3 %></td>
        <td><%= render :partial => 'official/shots/individual_shots', :locals => { :f => f,
            :competitor => c } %></td>
        <td><%= submit_tag "Tallenna", :onclick => "start_updating(#{c.id})" %></td>
        <td id="status_<%= c.id %>">&nbsp;</td>
      </tr>
    <% end %>
  <% end %>
</table>