<div class="info"><%= t 'official.result_place.shooting.either_total_or_shots' %></div>
<div class="info"><%= t 'official.result_place.shooting.reload_after_save' %></div>
<table>
  <tr>
    <th><%= t :number_short %></th>
    <th><%= t 'activerecord.models.competitor.one' %></th>
    <th><%= t 'official.result_place.shooting.sum' %></th>
    <th><%= t 'official.result_place.shooting.individual_shots' %></th>
    <th><%= t 'official.result_place.shooting.result' %></th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
  <% @series.competitors.each do |c| %>
    <%= form_for([:official, @series, c], :remote => true, :html => { :onsubmit => "disableSubmit(#{c.id})" }) do |f| %>
      <%= hidden_field_tag :no_times, true %>
      <tr>
        <td><%= c.number %></td>
        <td style="width: 170px;"><%= full_name(c) %></td>
        <td align="center"><%= f.text_field :shots_total_input, :size => 2,
            :maxlength => 3, :class => 'total' %></td>
        <td><%= render :partial => 'official/shots/individual_shots', :locals => { :f => f,
            :competitor => c } %></td>
        <td><%= text_field_tag :result, c.shots_sum, :class => 'result',
            :disabled => true, :size => 2 %></td>
        <td><%= submit_tag t(:save), :onclick => "start_updating(#{c.id})",
            :class => 'save', :id => "submit_#{c.id}" %></td>
        <td id="status_<%= c.id %>">&nbsp;</td>
      </tr>
    <% end %>
  <% end %>
</table>
<%= javascript_tag do %>
$('.total').change(function() {
  calculate_shots_result($(this).closest('tr'));
});
$('.shot').change(function() {
  calculate_shots_result($(this).closest('tr'));
});
function disableSubmit(id) {
  $('#submit_' + id).attr('disabled', true);
}
$(document).ready(function() {
  $('.save').attr('disabled', false);
});
<% end %>