.info= t 'official.result_place.shooting.either_total_or_shots'
#shots_table.competitors_table
  .header_row
    .title.number= t :number_short
    .title.name= t 'activerecord.models.competitor.one'
    .title.total_shots= t 'official.result_place.shooting.sum'
    .title.individual_shots= t 'official.result_place.shooting.individual_shots'
    .title.total_shots= t 'official.result_place.shooting.result'
  - @series.competitors.each_with_index do |c, i|
    = form_for([:official, @series, c], :remote => true, :html => { id: "#{c.id}_shots_form" }) do |f|
      = hidden_field_tag :no_times, true
      - row_classes = (c.no_result_reason ? 'no_result_reason' : '')
      - row_classes << (i % 2 == 0 ? 'odd' : '')
      .competitor_row{class: row_classes}
        .value.number= c.number
        .value.name= full_name(c)
        - if c.no_result_reason
          .value= c.no_result_reason
        - else
          .value.total_shots= f.telephone_field :shots_total_input, :size => 3, :maxlength => 3, :class => 'total'
          .value= render :partial => 'official/shots/individual_shots', :locals => { :f => f, :competitor => c }
          .value.total_shots.result= c.shots_sum
          .value= submit_tag t(:save), :onclick => "start_updating(#{c.id})", :class => 'save', :id => "submit_#{c.id}"
          .value{id: "status_#{c.id}"} &nbsp;
      :javascript
        $("##{c.id}_shots_form").bind('ajax:error', function() {
          $("#update_error").addClass("error");
          $("#update_error").html('Yhteysvirhe, yritä uudelleen');
          $("#status_#{c.id}").html("<span class='error'>#{t :error}!</span>");
        });
:javascript
  $('.total').change(function() {
    calculate_shots_result($(this).closest('div.competitor_row'));
  });
  $('.shot').change(function() {
    calculate_shots_result($(this).closest('div.competitor_row'));
  });
  $(document).ready(function() {
    $('.save').attr('disabled', false);
  });
