.form__horizontal-fields
  - round_rules.each_with_index do |shots_at_round, i|
    - shots_at_round.times do |j|
      - counter = base + (i == 0 ? j : (i * round_rules[i - 1].to_i) + j)
      .form__field.form__field--xs.form__field--shot{class: j == shots_at_round - 1 ? 'form__field--last-in-group' : ''}
        - value = competitor.send(column_name) ? competitor.send(column_name)[counter] : nil
        - if best_shot_value == 1
          .binary-shot
            = hidden_field_tag field_name, value || '', class: 'shot', id: "#{column_name}-shot-#{competitor.id}-#{counter}"
            .binary-shot__option.binary-shot__option--0{class: value == 0 ? 'binary-shot__option--selected' : ''}= j + 1
            .binary-shot__option.binary-shot__option--1{class: value == 1 ? 'binary-shot__option--selected' : ''}= j + 1
        - else
          = number_field_tag field_name, value || '', maxlength: 2, class: 'shot', id: "#{column_name}-shot-#{competitor.id}-#{counter}"
  - if best_shot_value == 1 && !field_name.match(/extra/)
    .button.button--select-all-shots= t :select_all_shots
