<div class="info"><%= t 'official.result_place.shooting.either_total_or_shots' %></div>
<div class="info"><%= t 'official.result_place.shooting.reload_after_save' %></div>
<div id="shots_table" class="competitors_table">
  <div class="header_row">
    <div class="title number"><%= t :number_short %></div>
    <div class="title name"><%= t 'activerecord.models.competitor.one' %></div>
    <div class="title total_shots"><%= t 'official.result_place.shooting.sum' %></div>
    <div class="title individual_shots"><%= t 'official.result_place.shooting.individual_shots' %></div>
    <div class="title total_shots"><%= t 'official.result_place.shooting.result' %></div>
  </div>
  <% @series.competitors.each do |c| %>
    <%= form_for([:official, @series, c], :remote => true, :html => { :onsubmit => "disableSubmit(#{c.id})" }) do |f| %>
      <%= hidden_field_tag :no_times, true %>
      <div class="competitor_row">
        <div class="value number"><%= c.number %></div>
        <div class="value name"><%= full_name(c) %></div>
        <div class="value total_shots"><%= f.number_field :shots_total_input, :size => 3,
            :maxlength => 3, :class => 'total' %></div>
        <div class="value"><%= render :partial => 'official/shots/individual_shots', :locals => { :f => f,
            :competitor => c } %></div>
        <div class="value total_shots"><%= text_field_tag :result, c.shots_sum, :class => 'result',
            :disabled => true, :size => 2 %></div>
        <div class="value"><%= submit_tag t(:save), :onclick => "start_updating(#{c.id})",
            :class => 'save', :id => "submit_#{c.id}" %></div>
        <div class="value" id="status_<%= c.id %>">&nbsp;</div>
      </div>
    <% end %>
  <% end %>
</div>
<%= javascript_tag do %>
$('.total').change(function() {
  calculate_shots_result($(this).closest('div.competitor_row'));
});
$('.shot').change(function() {
  calculate_shots_result($(this).closest('div.competitor_row'));
});
function disableSubmit(id) {
  $('#submit_' + id).attr('disabled', true);
}
$(document).ready(function() {
  $('.save').attr('disabled', false);
});
<% end %>