<% content_for :title, "#{@race.name} - #{t 'race_sub_menu.result_rotation'}" %>
<h2><%= yield :title %></h2>
<div class="info"><%= t '.info' %></div>
<h3><%= t '.status' %></h3>
<% if @rotation %>
  <div class="section"><%= t '.status_active' %></div>
  <%= form_tag(race_result_rotation_path(@race), :method => :delete) do %>
    <%= submit_tag t('.stop') %>
  <% end %>
  <hr/>
  <%= render :partial => 'shared/refresh_counter', :locals => { seconds: 10, race: @race } %>
<% else %>
  <% if result_rotation_list(menu_race).empty? %>
    <%= t '.no_active_competitions' %>
  <% else %>
    <div class="section"><%= t '.status_inactive' %></div>
    <div class="section">
      <%= form_tag(race_result_rotation_path(@race)) do %>
        <%= check_box_tag :auto_scroll %>
        <%= label_tag :auto_scroll, t('.auto_scroll') %><br/>
        <% unless @race.team_competitions.empty? %>
          <%= check_box_tag :team_competitions %>
          <%= label_tag :team_competitions, t('.include_team_competitions') %><br/>
        <% end %>
        <%= submit_tag t('.start') %>
      <% end %>
    </div>
  <% end %>
<% end %>
