- content_for :title, @cup.name
- unless @cup.public_message.blank?
  %h2= t '.organizer_message'
  .public-message
    - markdown = Redcarpet::Markdown.new Redcarpet::Render::HTML
    = raw markdown.render(@cup.public_message)
%h2= t :results
- if @cup.cup_series.empty?
  Cup-sarjoja ei ole vielä määritetty
- else
  .buttons
    - @cup.cup_series.each do |cs|
      = link_to long_cup_series_name(cs), cup_cup_series_path(@cup, cs), class: 'button button--primary'
- if @cup.has_rifle? && !@cup.cup_series.empty?
  %h2= t :rifle_results
  .buttons
    - @cup.cup_series.each do |cs|
      = link_to long_cup_series_name(cs), cup_rifle_cup_series_path(@cup, cs), class: 'button button--primary'
%h2= t '.points_rule_title'
= render partial: 'points_rule', locals: {cup: @cup}
%h2= t '.sub_competitions'
.buttons
  - @cup.races.each do |race|
    = link_to race.name, race_path(race), class: 'button'
- unless @cup.cup_series.empty?
  %h2= t '.all_results_pdf'
  = form_tag(cup_path(@cup, format: :pdf), method: :get, class: 'form') do
    .form__horizontal-fields
      .form__field
        = check_box_tag :page_breaks
        = label_tag :page_breaks, t('.page_breaks')
      .form__buttons
        = submit_tag t('.download_all_results'), class: 'button button--primary'
.buttons.buttons--nav
  = link_to t(:back_to_home_page), root_path, class: 'button button--back'
