<div class="facebook_share">
  <%= render partial: 'shared/facebook_share' %>
</div>
<% content_for :title, @cup.name %>
<h1><%= @cup.name %></h1>
<h2><%= t :results %></h2>
<div class="section">
  <% @cup.cup_series.each do |cs| %>
    <div class="list_item"><%= link_to long_cup_series_name(cs), cup_cup_series_path(@cup, cs) %></div>
  <% end %>
</div>
<h2><%= t '.points_rule_title' %></h2>
<div class="section"><%= t '.points_rule', :best_competitions_count => @cup.top_competitions %></div>
<h2><%= t '.sub_competitions' %></h2>
<div class="section">
  <% @cup.races.each do |race| %>
    <div class="list_item"><%= link_to race.name, race_path(race) %></div>
  <% end %>
</div>
<hr/>
<%= link_to t(:back_to_home_page), root_path %>
