<% content_for :title, @cup.name %>
<div class="title-and-fb-share">
  <h2><%= t :results %></h2>
  <%= render partial: 'shared/facebook_share' %>
</div>
<div class="section">
  <% @cup.cup_series.each do |cs| %>
    <%= link_to long_cup_series_name(cs), cup_cup_series_path(@cup, cs) %><br/>
  <% end %>
</div>
<h2><%= t '.points_rule_title' %></h2>
<div class="section"><%= t '.points_rule', :best_competitions_count => @cup.top_competitions %></div>
<h2><%= t '.sub_competitions' %></h2>
<div class="section">
  <% @cup.races.each do |race| %>
    <%= link_to race.name, race_path(race) %><br/>
  <% end %>
</div>
<hr/>
<%= link_to t(:back_to_home_page), root_path %>
