- content_for :title, @cup.name
.title-and-fb-share.race-page
  = render partial: 'shared/facebook_share'
%h2= t :results
- if @cup.cup_series.empty?
  Cup-sarjoja ei ole vielä määritetty
- else
  - @cup.cup_series.each do |cs|
    = link_to long_cup_series_name(cs), cup_cup_series_path(@cup, cs), class: 'primary_link'
%h2= t '.points_rule_title'
= render partial: 'points_rule', locals: {cup: @cup}
%h2= t '.sub_competitions'
- @cup.races.each do |race|
  = link_to race.name, race_path(race), class: 'secondary_link'
- unless @cup.cup_series.empty? || mobile?
  %h2= t 'races.show.all_results_pdf'
  = form_tag(cup_path(@cup, format: :pdf), method: :get) do
    %div
      = check_box_tag :page_breaks
      = label_tag :page_breaks, t('races.show.page_breaks'), class: 'form_label'
    %div
      = submit_tag t('races.show.download_all_results')
%hr
= link_to t(:back_to_home_page), root_path, class: 'back_link'
