.facebook_share
  = render partial: 'shared/facebook_share'
- content_for :title, @cup.name
%h1= @cup.name
%h2= t :results
.section
  - @cup.cup_series.each do |cs|
    .list_item
      = link_to long_cup_series_name(cs), cup_cup_series_path(@cup, cs)
%h2= t '.points_rule_title'
.section
  = t '.points_rule', :best_competitions_count => @cup.top_competitions
%h2= t '.sub_competitions'
.section
  - @cup.races.each do |race|
    .list_item
      = link_to race.name, race_path(race)
%hr
= link_to t(:back_to_home_page), root_path
