%h3
  = title
  (PDF)
  = form_tag(path, method: :get, class: 'form') do
    .form__horizontal-fields
      .form__field= select_tag :series_id, options_from_collection_for_select(@race.series, :id, :name), prompt: t(:all_series)
      .form__field= select_tag :club_id, options_from_collection_for_select(@race.clubs, :id, :name), prompt: "#{t :all} #{clubs_title(@race).downcase}"
      .form__buttons= submit_tag t('races.show.download_batch_list'), class: 'button button--pdf'
