.result-cards
  - prev_results = 1.0/0.0
  - race.nordic_sub_results(sub_sport).each_with_index do |comp, i|
    - @max_points = comp.points if i == 0
    .card{class: i % 2 == 0 ? 'card--odd' : ''}
      .card__number= "#{i + 1}." unless comp.nordic_sub_results(sub_sport) == prev_results
      .card__middle
        .card__name= full_name(comp)
        .card__middle-row= comp.club.name
        - extra_shots = comp.send("nordic_#{sub_sport}_extra_shots")
        - if extra_shots
          .card__middle-row
            #{t :extra_round}: #{shots_print extra_shots}
        - shots = comp.send("nordic_#{sub_sport}_shots")
        - if shots
          .card__middle-row
            %span.card__sub-result.card__sub-result--shoot.shots= shots_print shots
      .card__main-value
        - if comp.no_result_reason
          = comp.no_result_reason
        - else
          = comp.send("nordic_#{sub_sport}_score")
    - prev_results = comp.nordic_sub_results sub_sport
