<% show_national_records = (!@race.finished? and @race.has_any_national_records_defined?) %>
<% show_start_time = @race.start_order == Race::START_ORDER_BY_SERIES %>
<% competitors_count = @race.competitors.count %>
<table>
  <tr>
    <th><%= t 'activerecord.models.series', :count => 1 %></th>
    <% if show_start_time %><th><%= t 'attributes.start_time' %></th><% end %>
    <th><%= t 'races.show.competitors' %></th>
    <th>&nbsp;</th>
    <% if show_national_records %>
      <th><%= t 'attributes.national_record' %></th>
    <% end %>
  </tr>
  <% @race.series.each do |s| %>
    <tr id="series_<%= s.id %>">
      <td><%= s.name %></td>
      <% if show_start_time %>
        <td><% if s.start_time %><%= series_start_time_print s %><% else %>-<% end %></td>
      <% end %>
      <% if s.competitors.empty? %>
        <td colspan="2"><%= t :no_competitors_for_series %></td>
      <% else %>
        <td class="competitors_count"><%= s.competitors.count %></td>
        <td>
          <% if !s.has_start_list? %>
            <%= t :no_start_list %>
          <% else %>
            <%= link_to t(:results), race_series_path(@race, s) %>,
            <%= link_to t(:start_list), race_series_start_list_path(@race, s) %>
          <% end %>
        </td>
      <% end %>
      <% if show_national_records %>
        <td><%= s.national_record %></td>
      <% end %>
    </tr>
  <% end %>
  <% if competitors_count > 0 and @race.series.count > 1 %>
    <tr>
      <td>&nbsp;</td>
      <% if show_start_time %>
        <td>&nbsp;</td>
      <% end %>
      <td class="competitors_count competitors_total_count"><%= competitors_count %></td>
      <td>&nbsp;</td>
    </tr>
  <% end %>
</table>