%h2= t :single_competitor_competitions
- @race.series.each_with_index do |series, index|
  - if index > 0 && @page_breaks
    .page-break
  %h3= series.name
  - cache [series, params[:club_id], I18n.locale] do
    - if @race.sport.nordic?
      = render partial: 'results/nordic_race_desktop', locals: { series: series }
    - elsif @race.sport.european?
      = render partial: 'results/european_race_desktop', locals: { series: series }
    - elsif @race.sport.shooting?
      = render partial: 'results/shooting_race_desktop', locals: { series: series }
    - else
      = render partial: 'series/three_sport_race_infos', locals: { series: series, show_race_status: true }
      = render partial: 'results/three_sports_race_desktop', locals: { series: series }
  %hr
