%h2= t 'races.show.single_competitor_competitions'
- @race.series.each_with_index do |series, index|
  - if index > 0 && @page_breaks
    .page-break
  %h3= series.name
  - cache [series, params[:club_id], I18n.locale] do
    - if @race.sport.nordic?
      = render partial: 'series/nordic_race_desktop_results', locals: { series: series }
    - elsif @race.sport.shooting?
      = render partial: 'series/shooting_race_desktop_results', locals: { series: series }
    - else
      = render :partial => 'series/three_sport_race_infos', :locals => { :series => series }
      = render partial: 'series/three_sports_race_desktop_results', locals: { series: series }
  %hr
