- content_for(:title, "Hirviurheilu - #{t :competitions}")
- content_for(:page_title, yield(:title))
= form_tag(races_path, method: :get, class: 'form') do
  .form__horizontal-fields
    .form__field= text_field_tag :search_text, params[:search_text], placeholder: t(:race_search_text)
    .form__field= select_tag :sport_key, options_for_select(@sports, params[:sport_key]), prompt: t(:all_sports)
    .form__field= select_tag :district_id, options_from_collection_for_select(District.all, :id, :name, params[:district_id]), include_blank: t(:all_districts)
    .form__buttons
      = submit_tag t(:search), class: 'button button--primary'
      = link_to t(:reset), races_path, class: 'button'
- if @races.empty?
  .message.message--info= t :no_races
- else
  - cache [Race.cache_key_for_all, I18n.locale, params[:page], params[:search_text], params[:district_id], params[:sport_key]] do
    .row= render partial: 'home/race_list', locals: { races: @races }
    .pagination= paginate @races
.buttons.buttons--nav
  = link_to t(:back_to_home_page), root_path, class: 'button button--back'
