<%= content_for(:title, @race.name) %>
<h2>Sarjat</h2>
<% if @race.series.empty? %>
  Kilpailuun ei ole vielä lisätty sarjoja
<% else %>
  <div class="table_wrapper">
    <table>
      <tr>
        <th>Nimi</th>
        <th>Lähtöaika</th>
        <th>Kilpailijoita</th>
        <th>&nbsp;</th>
      </tr>
      <% @race.series.each do |s| %>
        <tr id="series_<%= s.id %>">
          <td><%= s.name %></td>
          <td>
            <% if s.start_time %>
              <%= series_datetime_print(s, true) %>
            <% else %>
              -
            <% end %>
          </td>
          <% if s.competitors.empty? %>
            <td colspan="2">Sarjaan ei ole merkitty kilpailijoita</td>
          <% else %>
            <td><%= s.competitors.count %></td>
            <td>
              <% if s.competitors.empty? %>

              <% elsif !s.has_start_list? %>
                Sarjan lähtöluetteloa ei ole vielä julkaistu
              <% else %>
                <%= link_to "Tulokset", series_competitors_path(s) %>,
                <%= link_to "Lähtölista", series_start_list_path(s) %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
<% if @race.start_date > Date.today %>
  <div class="instructions">
    Kilpailun alkuun on aikaa
    <%= distance_of_time_in_words(Date.today, @race.start_date, false) %>.</div>
<% end %>
<hr/>
<%= link_to "Takaisin etusivulle", root_path %>