<h1><%= @race.name %></h1>
<%= @race.location %>, <%= race_date_interval(@race) %>
<hr/>

<h2><%= t '.single_competitor_competitions' %></h2>
<% @race.series.each_with_index do |series, index| %>
  <% if index > 0 %>
    <div class="page-break"></div>
  <% end %>
  <h3><%= "#{series.name}" %></h3>
  <%= render :partial => 'series/infos', :locals => { :series => series } %>
  <%= render :partial => 'series/series_results', :locals => { :series => series } %>
  <hr/>
<% end %>

<% if @race.team_competitions.count > 0 %>
  <div class="page-break"></div>
  <h2><%= t 'activerecord.models.team_competition', :count => @race.team_competitions.count %></h2>
  <% @race.team_competitions.each_with_index do |tc, index| %>
    <% if index > 0 %>
      <div class="page-break"></div>
    <% end %>
    <h2><%= tc.name %></h2>
    <%= render :partial => 'team_competitions/results_table', :locals => { :results => tc.results } %>
    <hr/>
  <% end %>
<% end %>

<% if @race.relays.count > 0 %>
  <div class="page-break"></div>
  <h2><%= t 'activerecord.models.relay', :count => @race.relays.count %></h2>
  <% @race.relays.each_with_index do |relay, index| %>
    <% if index > 0 %>
      <div class="page-break"></div>
    <% end %>
    <h2><%= relay.name %></h2>
    <%= render :partial => 'relays/results', :locals => { :relay => relay, :pdf => true } %>
    <hr/>
  <% end %>
<% end %>