%h1= @race.name
#{@race.location}, #{race_date_interval(@race, false)}
%hr
= render 'single_competitor_competitions'
- if @race.sport.nordic?
  = render 'all_nordic_sub_sports'
- elsif @race.sport.european?
  = render 'all_european_rifle_results'
= render 'team_competitions'
- if @race.sport.european?
  = render 'rifle_team_competitions'
= render 'relays'
