<%= content_for(:title, @race.name) %>
<h1><%= sport_icon(@race.sport) %> <%= yield :title %></h1>
<%= @race.location %>, <%= date_interval(@race.start_date, @race.end_date) %>
<h2>Sarjat</h2>
<% @race.series.each do |s| %>
  <% if s.start_time %>
    <%= datetime_print(s.start_time, true) %> -
  <% end %>
  <%= s.name %>,
  <%= link_to "Tulokset", series_competitors_path(s) %>,
  <%= link_to "Lähtölista", start_list_path(s) %><br/>
<% end %>