<%= content_for(:title, @race.name) %>
<% unless result_rotation_list(menu_race).empty? %>
  <% content_for(:refresh, true) %>
<% end %>
<% unless @race.home_page.blank? %>
  <h2>Lisätietoa kilpailusta</h2>
  <div class="section">
    <a href="<%= link_with_protocol(@race.home_page) %>" target="_blank">Kilpailun
      kotisivut</a>
  </div>
<% end %>
<h2>Yksilökilpailut</h2>
<div class="section">
  <% if @race.series.empty? %>
    Kilpailuun ei ole vielä lisätty sarjoja
  <% else %>
    <%= render :partial => 'series_table' %>
    <div class="action_box">
      <%= link_to 'Lataa kaikkien kilpailijoiden lähtöajat (PDF)',
        race_start_lists_path(@race, :format => :pdf) %>
    </div>
    <h3>Tuloskooste (PDF)</h3>
    <%= form_tag(race_path(@race, :format => :pdf), :method => :get) do %>
      <%= select_tag :club_id,
        options_from_collection_for_select(@race.clubs, :id, :name),
        :prompt => "Kaikki #{clubs_title(@race).downcase}" %>
      <%= submit_tag 'Näytä tulokset' %>
    <% end %>
    <% if @race.finished? %>
      <h3>Oikeat arviot</h3>
      <table>
        <tr>
          <th>Kilpailunumerot</th>
          <th>Oikea arvio 1</th>
          <th>Oikea arvio 2</th>
        </tr>
        <% @race.correct_estimates.each do |ce| %>
          <tr>
            <td class="center"><%= correct_estimate_range(ce) %></td>
            <td class="center"><%= ce.distance1 %></td>
            <td class="center"><%= ce.distance2 %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
  <% end %>
</div>
<% if @race.has_team_competition? and @race.start_date <= Time.zone.today and
    !@race.series.empty? %>
  <h2>Joukkuekilpailut</h2>
  <div class="section">
    <% if @race.team_competitions.count == 1 %>
      <%= link_to "Joukkuekilpailu", race_team_competition_path(@race,
        @race.team_competitions.first) %>
    <% else %>
      <table>
        <tr>
          <th>Kilpailu</th>
          <th>Kilpailijoita / joukkue</th>
        </tr>
        <% @race.team_competitions.each do |tc| %>
          <tr>
            <td><%= link_to tc.name, race_team_competition_path(@race, tc) %></td>
            <td class="center"><%= tc.team_competitor_count %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
<% end %>
<% unless @race.relays.empty? %>
  <h2>Viestit</h2>
  <div class="section">
    <table>
      <tr>
        <th>Viesti</th>
        <th>Lähtöaika</th>
        <th>Joukkueita</th>
      </tr>
      <% @race.relays.each do |relay| %>
        <tr>
          <td><%= link_to relay.name, race_relay_path(@race, relay) %></td>
          <td><%= series_datetime_print relay, true, true if relay.start_time %></td>
          <td class="center"><%= relay.relay_teams.count %></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
<% if @race.start_date > Time.zone.today %>
  <div class="info">
    Kilpailun alkuun on aikaa
    <%= distance_of_time_in_words(Time.zone.today, @race.start_date, false) %>.</div>
<% end %>
<hr/>
<%= link_to "Takaisin etusivulle", root_path %>
