- @heats.each_with_index do |heat, index|
  - if index > 0
    .page-break
  %h2
    = heat.number
    - if heat[@time]
      \/
      #{heat[@time].strftime('%H:%M')}
    - if heat.track.to_i > 0
      (#{t('attributes.track')} #{heat.track})
  - heat.competitors.each do |competitor|
    - track_place = competitor.qualification_round_track_place ? "#{competitor.qualification_round_track_place}. " : ''
    - number = competitor.number ? " (##{competitor.number})" : ''
    %h3.empty-results-competitor-header #{track_place}#{full_name competitor}#{number}, #{competitor.club.name}, #{competitor.series.name}
    - if @sub_sport == :rifle_standing
      .empty-results-table
        .empty-results-table__cell 1
        .empty-results-table__cell 2
        .empty-results-table__cell 3
        .empty-results-table__cell.empty-results-table__cell--space 4
        .empty-results-table__cell 5
        .empty-results-table__cell 6
        .empty-results-table__cell.empty-results-table__cell--space 7
        .empty-results-table__cell 8
        .empty-results-table__cell 9
        .empty-results-table__cell.empty-results-table__cell--space 10
        .empty-results-table__cell.empty-results-table__cell--total Yht
    - elsif @sub_sport == :rifle_moving
      = render partial: 'official/heat_list_templates/empty_results_table', locals: { shot_count: 10 }
    - else
      = render partial: 'official/heat_list_templates/empty_results_table', locals: { shot_count: 25 }
