<% content_for(:title, t('.title')) %>
<% content_for(:page_title, yield(:title)) %>
<h2><%= t '.important_information' %></h2>
<div class="info"><%= t '.info' %></div>
<div class="info"><%= t '.price', :price => ActivationKey::OFFLINE_PRICE, :vat => VAT %></div>
<div class="warning"><%= t '.invoicing_warning' %></div>
<h2><%= t '.open_activation_key' %></h2>
<div class="section" id="activation_key_form">
  <%= flash_error %>
  <%= form_tag activation_key_path do %>
    <div>
      <span class="form_label"><%= label_tag :password, t('attributes.password') %></span>
      <%= password_field_tag :password %>
    </div>
    <% unless current_user.invoicing_info %>
      <div>
        <span class="form_label"><%= label_tag :invoicing_info, t('.invoicing_information') %></span>
        <%= text_area_tag :invoicing_info, params[:invoicing_info], :cols => 40, :rows => 4 %>
      </div>
    <% end %>
    <div>
      <span class="form_label"><b><%= label_tag :accept, t('.accept') %></b></span>
      <%= check_box_tag :accept %>
    </div>
    <%= submit_tag t('.show_activation_key') %>
  <% end %>
</div>