= render :partial => "shared/form_errors", :locals => { :item => @user }
.form__field
  = form.label :first_name
  = form.text_field :first_name
.form__field
  = form.label :last_name
  = form.text_field :last_name
.form__field
  = form.label :club_name
  = form.text_field :club_name
.form__field
  = form.label :email
  = form.email_field :email
- if form.object.new_record?
  .form__field
    = form.label :password
    = form.password_field :password
  .form__field
    = form.label :password_confirmation
    = form.password_field :password_confirmation
