<% content_for(:title, t('.title')) %>
<% content_for(:page_title, yield(:title)) %>

<div class="info"><%= t '.info' %></div>

<% if PRODUCTION_ENV %>
  <div class="important"><%= raw t('.practise_info', :test_url => TEST_URL) %></div>
<% end %>

<div id="registration_form">
  <%= form_for @user, :url => account_path do |f| %>
    <%= render :partial => "form", :object => f %>
    <%= f.submit t('.submit') %>
  <% end %>
</div>

<div class="title_box" id="login_link_box">
  <div class="box_title"><%= t '.already_account' %></div>
  <div class="title_box_content">
    <p><%= t '.if_has_account' %>:</p>
    <div class="links">
      <%= link_to t(:login), login_path, :class => 'commercial_box_link' %>
    </div>
  </div>
</div>
