<% content_for(:title, 'Rekisteröidy') %>
<% content_for(:page_title, yield(:title)) %>

<div class="info">Rekisteröityminen on pakollista kilpailun järjestäjille
  eli toimitsijoille. Kilpailijoiden ei tarvitse rekisteröityä palveluun.</div>

<% if Rails.env == 'production' %>
  <div class="important">Huom! Jos haluat harjoitella Hirviurheilun käyttöä,
    käytä mielummin osoitetta <a href="<%= TEST_URL %>"><%= TEST_URL %></a>.
    Tämä palvelu on tarkoitettu oikeille kilpailuille.
  </div>
<% end %>

<%= form_for @user, :url => account_path do |f| %>
  <%= render :partial => "form", :object => f %>
  <%#<div class="info">Klikkaamalla alla olevaa Rekisteröidy-nappia hyväksyt
    käyttämään palvelua kulloisenkin hinnaston mukaisesti.</div>%>
  <% unless Rails.env == 'production' %>
    <%#<div class="important">Käytät testiympäristöä. Sen käyttö on ilmaista.</div>%>
  <% end %>
  <%= f.submit "Rekisteröidy" %>
<% end %>

<hr/>
Minulla on jo tunnukset: <%= link_to "Kirjaudu sisään", login_path %>