- content_for(:title, t('.title'))
- content_for(:page_title, yield(:title))
%h1.mobile= yield :page_title
.info= t '.info'
- if PRODUCTION_ENV
  .important= raw t('.practise_info', :test_url => TEST_URL)
= form_for @user, url: account_path, html: { class: 'form' } do |f|
  = render partial: "form", object: f
  .form__buttons
    = f.submit t('.submit'), class: 'button button--primary'
.buttons.buttons--nav
  = link_to t(:login), login_path, class: 'button'
