<%= content_for(:title, 'Rekisteröidy') %>
<h1><%= yield :title %></h1>

<%= form_for @user, :url => account_path do |f| %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit "Rekisteröidy" %>
<% end %>
<br/>
Minulla on jo tunnukset: <%= link_to "Kirjaudu sisään", login_path %>