<% content_for(:title, 'Omat tiedot') %>
<% content_for(:page_title, yield(:title)) %>
<%= flash_notice %>
<b>Sähköposti:</b>
<%=h @user.email %>
<br/>
<b>Etunimi:</b>
<%=h @user.first_name %>
<br/>
<b>Sukunimi:</b>
<%=h @user.last_name %>

<br/><br/>
<%= link_to 'Muokkaa tietoja', edit_account_path %>
<h2>Omat kilpailut</h2>
<% if @user.races.empty? %>
  <%= highlight_notice('Sinulla ei ole vielä yhtään kilpailua. ' +
      'Pääset syöttämään kilpailun tietoja Toimitsijan sivut -linkistä sivun ylälaidasta.') %>
<% else %>
  <ul>
    <% @user.races.each do |race| %>
      <li><%= link_to race.name, race_path(race) %></li>
    <% end %>
  </ul>
<% end %>