<% content_for(:title, t('main_menu.personal')) %>
<% content_for(:page_title, yield(:title)) %>
<h2><%= t '.basic_information' %></h2>
<%= flash_error %>
<%= flash_success %>
<div class="user_readonly_form">
  <div class="read_only_form_row">
    <span class="form_label"><%= t 'attributes.email' %></span>
    <span><%=h @user.email %></span>
  </div>
  <div class="read_only_form_row">
    <span class="form_label"><%= t 'attributes.first_name' %></span>
    <span><%=h @user.first_name %></span>
  </div>
  <div class="read_only_form_row">
    <span class="form_label"><%= t 'attributes.last_name' %></span>
    <span><%=h @user.last_name %></span>
  </div>
  <% unless @user.activation_key.blank? %>
    <div class="read_only_form_row">
      <span class="form_label"><%= t '.activation_key' %></span>
      <span><%=h @user.activation_key %></span>
    </div>
  <% end %>
</div>
<div class="action_box"><%= link_to t('.modify_information'), edit_account_path %></div>
<h2><%= t '.own_races' %></h2>
<% if @user.races.empty? %>
  <%= highlight_info(t('.no_own_races')) %>
<% else %>
  <ul>
    <% @user.races.each do |race| %>
      <li><%= link_to race.name, race_path(race) %></li>
    <% end %>
  </ul>
<% end %>