- content_for(:title, t('main_menu.personal'))
- content_for(:page_title, yield(:title))
%h2= t '.basic_information'
= flash_error
= flash_success
.user_readonly_form
  .read_only_form_row
    .form_label= t 'attributes.email'
    %span=h @user.email
  .read_only_form_row
    .form_label= t 'attributes.first_name'
    %span=h @user.first_name
  .read_only_form_row
    .form_label= t 'attributes.last_name'
    %span=h @user.last_name
  .read_only_form_row
    .form_label= t 'attributes.club_name'
    %span=h @user.club_name
%hr
.action_box= link_to t('.modify_information'), edit_account_path
- unless @user.activation_key.blank?
  .action_box= link_to t('.see_activation_key'), new_activation_key_path
%h2= t '.own_races'
- if @user.races.empty?
  = highlight_info(t('.no_own_races'))
- else
  %ul
    - @user.races.each do |race|
      %li= link_to race.name, race_path(race)
