- content_for(:title, t('main_menu.personal'))
- content_for(:page_title, yield(:title))
%h1.mobile= yield :page_title
= flash_error
= flash_success
.form.form--vertical
  .form__field
    %label= t 'attributes.email'
    %div=h @user.email
  .form__field
    %label= t 'attributes.first_name'
    %div=h @user.first_name
  .form__field
    %label= t 'attributes.last_name'
    %div=h @user.last_name
  .form__field
    %label= t 'attributes.club_name'
    %div=h @user.club_name
  .form__buttons
    = link_to t('.modify_information'), edit_account_path, class: 'button button--edit'
    = link_to t('users.edit.change_password'), edit_passwords_path, class: 'button button--edit'
    = link_to t(:logout), logout_path, method: :delete, class: 'button button--danger'
%h2= t '.own_races'
- if @user.races.empty?
  = highlight_info(t('.no_own_races'))
- else
  .row
    - @user.races.each do |race|
      = render partial: 'home/race_link', locals: { race: race }
.buttons.buttons--nav
  = link_to t(:back_to_home_page), root_path, class: 'button button--back'
