%table{id: table_id}
  %tr
    %th Nimi
    %th Pvm
    %th Sijainti
    %th Toimitsijat
    %th Laskutus
    %th &nbsp;
    %th &nbsp;
  - races.each_with_index do |race, i|
    %tr{id: "race_row_#{race.id}", class: i % 2 == 0 ? 'odd' : ''}
      %td= link_to truncate(race.name, length: 30), race_path(race), target: '_blank'
      %td
        = date_print(race.start_date)
        = "(#{race.days_count})" if race.days_count > 1
      %td= truncate(race.location, length: 30)
      %td= truncate(race.users.collect { |user| full_name(user) }.join(', '), length: 50)
      %td= race.billing_info
      %td= link_to 'Muokkaa', edit_admin_race_path(race, no_billing: params[:no_billing])
      %td= link_to 'Poista', admin_race_path(race)
:javascript
  $(document).ready(function () {
    $("##{table_id}").filterTable();
  });
