- content_for :title, "#{@race.name} - Muokkaus"
%h2= yield :title
= form_for([:admin, @race]) do |f|
  = hidden_field_tag :no_billing, params[:no_billing]
  %div
    %span.label_for= f.label :billing_info
    = f.text_field :billing_info, autofocus: true
  = submit_tag 'Tallenna'
