- content_for(:title, "Admin - Kilpailut")
%h2= yield :title
= flash_success
- if params[:no_billing].blank?
  = link_to 'Ilman laskutustietoa', admin_races_path(no_billing: true)
- else
  = link_to 'N채yt채 laskutustieto', admin_races_path
%h3
  Tulevat kilpailut
  (#{@future_races.length})
= render partial: 'races_table', locals: {races: @future_races}
%h3
  P채채ttyneet kilpailut
  (#{@past_races.length})
= render partial: 'races_table', locals: {races: @past_races}
