<% content_for(:title, "Admin - Kilpailut") %>
<h2><%= yield :title %></h2>
<%= flash_success %>
<table>
  <tr>
    <th>Nimi</th>
    <th>Pvm</th>
    <th>Sijainti</th>
    <th>Toimitsijat</th>
    <th>&nbsp;</th>
  </tr>
  <% @races.each do |race| %>
    <tr>
      <td><%= link_to race.name, admin_race_path(race) %></td>
      <td><%= race_date_interval(race) %></td>
      <td><%= race.location %></td>
      <td><%= race.users.collect { |user| full_name(user) }.join(', ') %></td>
      <td><%= link_to 'Video', admin_race_video_path(race) %></td>
    </tr>
  <% end %>
</table>
