- content_for(:title, "Admin - Kilpailut")
%h2= yield :title
= flash_success
%h3
  Tulevat kilpailut
  (#{@future_races.length})
= render partial: 'races_table', locals: {races: @future_races}
%h3
  Päättyneet kilpailut
  (#{@past_races.length})
= render partial: 'races_table', locals: {races: @past_races}
