<% content_for(:title, "Admin - Kilpailu - #{@race.name}") %>
<% content_for :page_title, yield(:title) %>
<h2><%= yield :title %></h2>
<%= flash_error %>
<%= render :partial => 'shared/form_errors', :locals => { :item => @race } %>
<%= form_for([:admin, @race], :method => :delete) do |f| %>
  <%= label_tag :confirm_name, 'Vahvista poisto syöttämällä kilpailun nimi' %>
  <%= text_field_tag :confirm_name %>
  <%= submit_tag 'Poista kilpailu' %>
<% end %>
<div class="buttons buttons--nav">
  <%= link_to 'Takaisin kilpailuihin', admin_races_path, class: 'button button--back' %>
</div>
