- batches.each_with_index do |batch, index|
  - if index > 0
    .page-break
  %h2
    #{batch.number}, #{batch.time.strftime('%H:%M')}
    - if batch.track.to_i > 0
      (#{t('attributes.track')} #{batch.track})
  - batch.competitors.each do |competitor|
    - track_place = competitor.qualification_round_track_place ? "#{competitor.qualification_round_track_place}. " : ''
    - number = competitor.number ? " (##{competitor.number})" : ''
    .no-break
      %h3.empty-results-competitor-header #{track_place}#{full_name competitor}#{number}, #{competitor.club.name}, #{competitor.series.name}
      = render partial: 'official/batch_list_templates/empty_results_table', locals: { shot_count: shot_count }
