%table
  %tr
    %th &nbsp;
    %th= t :team
    %th= t 'activerecord.models.competitor', :count => 1
    %th= t :number_short
    %th.center= time_title @relay.race
    %th= t 'relays.show.estimate_penalties'
    %th= t 'relays.show.shooting_penalties'
  - @results.each_with_index do |team, i|
    - competitor = team.relay_competitors.find_by_leg(@leg)
    %tr{id: "team_#{i + 1}"}
      %td #{i + 1}.
      %td= team.name
      %td= full_name competitor
      %td.center= team.number
      %td.center.team_points
        = time_from_seconds(team.time_in_seconds(@leg.to_i))
        - if @leg.to_i > 1
          (#{time_from_seconds competitor.time_in_seconds})
        - if team.adjustment(@leg.to_i) != 0
          (
          %span.adjustment{title: "Aika sisältää korjausta #{time_from_seconds(team.adjustment(@leg.to_i).to_i, true)}"}<>
            = time_from_seconds(team.adjustment(@leg.to_i).to_i, true)
          )
      %td.center
        = competitor.estimate_penalties
        - if @relay.finished? and competitor.estimate
          (#{competitor.estimate}m)
      %td.center= competitor.misses
