%table
  %tr
    %th &nbsp;
    %th= t :team
    %th.center= time_title @relay.race
    - if @leg.to_i > 1
      %th.center= t :leg_time_short
    %th= t 'relays.show.estimate_penalties_short'
    %th= t 'relays.show.shooting_penalties_short'
  - @results.each_with_index do |team, i|
    - competitor = team.relay_competitors.find_by_leg(@leg)
    %tr{id: "team_#{i + 1}"}
      %td
        #{i + 1}.
      %td
        #{team.name} (#{team.number}) /
        = full_name competitor
      %td.center.team_points
        = relay_time_print @relay, team, @leg.to_i
        = relay_time_adjustment_print competitor
        - if @leg.to_i > 1
          %td.center= relay_leg_time_print @relay, competitor
      %td.center
        = competitor.estimate_penalties
        - if @relay.finished? and competitor.estimate
          (#{competitor.estimate}m)
      %td.center= competitor.misses
