- content_for :title, "#{@relay.race.name} - #{t('activerecord.models.relay', :count => 2)} - #{@relay.name} - #{t(:results)}"
%h2= yield :title
- cache [@relay, @relay.started?, @leg, I18n.locale] do
  - @results = @relay.leg_results(@leg)
  - if @results.empty?
    .info Viestiin ei ole vielä merkitty joukkueita
  - else
    = render 'relays/start_time_info'
    = render 'relays/penalty_seconds_info'
    = render 'relays/correct_estimates'
    = render 'relays/results_title'
    = render 'relays/leg_links'
    .section
      = render 'table'
%hr
= link_to "#{t(:back_to_page)} #{@relay.race.name}", race_path(@relay.race), class: 'back_link'
