- content_for :title, "#{@relay.race.name} - #{t('activerecord.models.relay', :count => 2)} - #{@relay.name} - #{t(:results)}"
- if @relay.active?
  = render partial: 'shared/refresh_counter', locals: {competition: @relay}
%h2 #{@relay.name} - #{t :leg} #{@leg}
- content_for :sub_sub_menu do
  = render :layout => 'shared/relays_sub_menu', :locals => { :race => @relay.race, :relay_id => @relay.id } do |relay|
    = race_relay_path(relay.race, relay)
- cache [@relay, @leg] do
  - @results = @relay.leg_results(@leg)
  - if @results.empty?
    .info Viestiin ei ole vielä merkitty joukkueita
  - else
    = render :partial => 'relays/correct_estimates', :locals => { :pdf => false }
    = render :partial => 'relays/leg_links'
    .section
      = render partial: 'table'
%hr
= link_to "#{t(:back_to_page)} #{@relay.race.name}", race_path(@relay.race)
