<% content_for :title, "#{@relay.race.name} - #{t('activerecord.models.relay', :count => 2)} - #{@relay.name} - #{t(:results)}" %>
<h2><%= @relay.name %> - <%= t :leg %> <%= @leg %></h2>
<% content_for :sub_sub_menu do %>
  <%= render :layout => 'shared/relays_sub_menu',
    :locals => { :race => @relay.race,
    :relay_id => @relay.id } do |relay| %><%= race_relay_path(relay.race, relay) %><% end %>
<% end %>
<% if @results.empty? %>
  <div class="info">Viestiin ei ole viel채 merkitty joukkueita</div>
<% else %>
  <%= render :partial => 'relays/correct_estimates', :locals => { :pdf => false } %>
  <%= render :partial => 'relays/leg_links' %>
  <div class="section">
    <table>
      <tr>
        <th>&nbsp;</th>
        <th><%= t :team %></th>
        <th><%= t 'activerecord.models.competitor', :count => 1 %></th>
        <th><%= t :number_short %></th>
        <th><%= time_title @relay.race %></th>
        <th><%= t 'relays.show.estimate_penalties' %></th>
        <th><%= t 'relays.show.shooting_penalties' %></th>
      </tr>
      <% @results.each_with_index do |team, i| %>
        <% competitor = team.relay_competitors.find_by_leg(@leg) %>
        <tr id="team_<%= i + 1 %>">
          <td><%= i + 1 %>.</td>
          <td><%= team.name %></td>
          <td><%= full_name competitor %></td>
          <td class="center"><%= team.number %></td>
          <td class="center team_points">
            <%= time_from_seconds(team.time_in_seconds(@leg.to_i)) %>
	    <% if team.adjustment(@leg.to_i) != 0 %>
            (<span class='adjustment' title="Aika sis채lt채채 korjausta <%= time_from_seconds(team.adjustment(@leg.to_i).to_i, true) %> "><%= time_from_seconds(team.adjustment(@leg.to_i).to_i, true)%></span>)
            <% end %>
          </td>
          <td class="center">
            <%= competitor.estimate_penalties %>
            <% if @relay.finished? and competitor.estimate %>
              (<%= competitor.estimate %>m)
            <% end %>
          </td>
          <td class="center"><%= competitor.misses %></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
<hr/>
<%= link_to "#{t(:back_to_page)} #{@relay.race.name}", race_path(@relay.race) %>
