<% show_time_column = series.time_points_type != Series::TIME_POINTS_TYPE_NONE %>
<table>
  <tr>
    <th>&nbsp;</th>
    <th>Kilpailija</th>
    <th><%= club_title(series.race) %></th>
    <th>Nro</th>
    <% if show_time_column %>
      <th>Aika</th>
    <% end %>
    <th>Arvio</th>
    <th>Ammunta</th>
    <th>Pisteet</th>
  </tr>
  <% prev_rel_points = 1.0/0.0 %>
  <% series.ordered_competitors(false).each_with_index do |comp, i| %>
    <tr>
      <td><%= "#{i + 1}." unless comp.relative_points == prev_rel_points %></td>
      <td><%= full_name(comp) %></td>
      <td><%= comp.club.name %></td>
      <td><%= comp.number %></td>
      <% if show_time_column %>
        <td><%= time_points(comp) %></td>
      <% end %>
      <td><%= estimate_points(comp) %></td>
      <td><%= shot_points(comp) %></td>
      <td><%= points_print(comp) %></td>
    </tr>
    <% prev_rel_points = comp.relative_points %>
  <% end %>
</table>