<% show_time_column = series.time_points_type != Series::TIME_POINTS_TYPE_NONE %>
<table>
  <tr>
    <th>Kilpailija</th>
    <th><%= club_title(series.race) %></th>
    <% if show_time_column %>
      <th>Aika</th>
    <% end %>
    <th>Arvio</th>
    <th>Ammunta</th>
    <th>Pisteet</th>
  </tr>
  <% series.ordered_competitors(false).each do |comp| %>
    <tr>
      <td><%= full_name(comp) %></td>
      <td><%= comp.club.name %></td>
      <% if show_time_column %>
        <td><%= time_points(comp) %></td>
      <% end %>
      <td><%= estimate_points(comp) %></td>
      <td><%= shot_points(comp) %></td>
      <td><%= points_print(comp) %></td>
    </tr>
  <% end %>
</table>