<%= content_for(:title, "#{@race.name} - Video")%>
<h2>Video</h2>
<div>
  <%= @race.video_description %>
</div>
<div style="float: left;">
  <%= raw @race.video_source %>
</div>
<div style="float: left; margin-left: 10px;">
  <% series = @race.series.last %>
  <% if series %>
    <h3 style="margin-top: 0;">Tulosseuranta - <%= series.name %></h3>
    <%= render :partial => 'simple_series_table', :locals => { :series => series } %>
  <% end %>
</div>
