<%= content_for(:title, "#{@race.name} - Video")%>
<h2>Video</h2>
<div id="video_page">
  <%= content_tag(:div, @race.video_description, :class => 'video_description') if @race.video_description -%>
  <div class="column">
    <%= raw @race.video_source %>
  </div>
  <div class="column results_column">
    <% series = @race.series.first unless @race.series.empty? %>
    <h3 style="margin-top: 0;">Tulosseuranta <%= "- #{series.name}" if series %></h3>
    <% if series %>
      <%= render :layout => 'series/series_status', :locals => { :series => series } do %>
        <%= render :partial => 'series/infos', :locals => { :series => series } %>
        <%= render :partial => 'simple_series_table', :locals => { :series => series } %>
      <% end %>
    <% else %>
      <div class="info">Kun kilpailu on k채ynniss채, p채채set seuraamaan tuloksia reaaliajassa.</div>
    <% end %>
  </div>
</div>
