<%= content_for(:title, "#{@race.name} - Video")%>
<h2>Video</h2>
<%= content_tag(:div, @race.video_description, :class => 'video_description') if @race.video_description -%>
<div style="float: left;">
  <%= raw @race.video_source %>
</div>
<div style="float: left; margin-left: 10px;">
  <% series = @race.series.first %>
  <% if series %>
    <h3 style="margin-top: 0;">Tulosseuranta - <%= series.name %></h3>
    <%= render :layout => 'series/series_status', :locals => { :series => series } do %>
      <%= render :partial => 'simple_series_table', :locals => { :series => series } %>
    <% end %>
  <% else %>
    TODO
  <% end %>
</div>
