<body>
  <div id='page_spinner'><%= image_tag 'page_spinner.gif' %></div>
  <%= render :partial => 'shared/facebook_init' %>
  <% unless ActivationKey.activated? %>
    <%= render :partial => 'shared/offline_limit' %>
  <% end %>
  <%= render 'shared/header' %>
  <div class="centered_section" <%= menu_race ? ' itemscope itemtype=http://schema.org/SportsEvent' : '' %>>
    <%= render :partial => 'shared/race_title' %>
    <div class="main_shadow_area">
      <div class="second_level_menu">
        <% if @is_races %>
          <%= render :partial => 'shared/race_sub_menu' %>
        <% elsif @is_cup %>
          <%= render :partial => 'shared/cup_sub_menu' %>
        <% elsif @is_info %>
          <%= render :partial => 'shared/info_sub_menu' %>
        <% elsif @is_offline_info %>
          <%= render :partial => 'shared/offline_sub_menu' %>
        <% elsif @is_limited_official %>
          <%= render :partial => 'official/limited/shared/sub_menu' %>
        <% elsif @is_official %>
          <%= render :partial => 'official/shared/sub_menu' %>
        <% elsif @is_admin %>
          <%= render :partial => 'admin/shared/sub_menu' %>
        <% end %>
        <div class="clear"></div>
      </div>
      <div class="third_level_menu">
        <%= yield :sub_sub_menu %>
        <div class="clear"></div>
      </div>
      <div class="middle_section">
        <div class="main_content"><%= yield %></div>
      </div>
    </div>
    <div class="footer">
      <%= render :partial => 'shared/footer' %>
    </div>
  </div>
  <%= javascript_tag do %>
    $(document).on('page:fetch', function() {
      $('#page_spinner').show();
    });
    $(document).on('page:restore', function() {
      $('#page_spinner').hide();
    });
  <% end %>
</body>
