<body>
  <%= render :partial => 'shared/env_info' %>
  <% unless ActivationKey.activated? %>
    <%= render :partial => 'shared/offline_limit' %>
  <% end %>
  <div class="header">
    <%= render :partial => 'shared/menu' %>
    <% unless offline? %>
      <div class="login_links"><%= render :partial => "shared/login_links" %></div>
    <% end %>
  </div>
  <%= render :partial => 'shared/race_title' %>
  <% if @is_races %>
    <%= render :partial => 'shared/sub_menu' %>
  <% elsif @is_cup %>
    <%= render :partial => 'shared/cup_sub_menu' %>
  <% elsif @is_offline_info %>
    <%= render :partial => 'shared/offline_sub_menu' %>
  <% elsif @is_official %>
    <%= render :partial => 'official/shared/sub_menu' %>
  <% elsif @is_admin %>
    <%= render :partial => 'admin/shared/sub_menu' %>
  <% end %>
  <div class="middle_section<%= menu_race ? '' :
         ' middle_section_no_menus' %><%= @is_admin ? ' middle_section_admin' : '' %>">
    <div class="main_content"><%= yield %></div>
    <%= yield :sub_sub_menu %>
  </div>
  <div class="footer">
    <%= render :partial => 'shared/footer' %>
  </div>
</body>
