%body
  %div{id: @react_app ? 'react-app' : '', 'data-env': Rails.env, 'data-title-prefix': title_prefix,
    'data-user-id': current_user&.id, 'data-user-email': current_user&.email,
    'data-user-first-name': current_user&.first_name, 'data-user-last-name': current_user&.last_name,
    'data-admin': current_user&.admin?, 'data-locale': I18n.locale}
    .header
      = image_tag '/logo-128.png', class: 'header__logo'
      = link_to 'Hirviurheilu', root_path, class: 'header__title'
      = image_tag '/logo-128.png', class: 'header__logo header__logo--right'
      %a.header__menu.material-icons-outlined.md-24{onclick: 'event.preventDefault(); toggleMainMenu();', href: '#'} menu
    = render partial: 'menus/menu'
    .body{itemscope: true, itemtype: menu_race ? 'http://schema.org/SportsEvent' : ''}
      .body__on-top-title= render partial: 'shared/page_title'
      .body__content
        = render 'menus/second_level_menu'
        = yield :sub_sub_menu
        .body__yield
          .body__under-top-title= render partial: 'shared/page_title'
          = render partial: 'shared/facebook_share'
          = yield
    .footer
      = render partial: 'shared/footer'
:javascript
  function toggleMainMenu() {
    const $mainMenu = $('.menu--main')
    if ($mainMenu.is(':visible')) {
      $mainMenu.removeClass('menu--visible')
    } else {
      $mainMenu.addClass('menu--visible')
    }
  }
