<body>
  <div class="header">
    <%= render :partial => 'shared/menu' %>
    <%= render :partial => 'shared/env_info' %>
    <div class="login_links"><%= render :partial => "shared/login_links" %></div>
  </div>
  <%= render :partial => 'shared/race_title' %>
  <% if @is_competitions %>
    <%= render :partial => 'shared/sub_menu' %>
  <% elsif @is_official %>
    <%= render :partial => 'official/shared/sub_menu' %>
  <% elsif @is_admin %>
    <%= render :partial => 'admin/shared/sub_menu' %>
  <% end %>
  <div class="middle_section<%= menu_race ? '' :
         ' middle_section_no_menus' %><%= @is_admin ? ' middle_section_admin' : '' %>">
    <div class="main_content"><%= yield %></div>
    <%= yield :series_sub_menu %>
  </div>
  <div class="footer">
    <%= render :partial => 'shared/footer' %>
  </div>
</body>
