%body
  = render 'shared/login_links'
  %a#header{href: '/'}
    = image_tag '/logo-128.png'
    .header-title Hirviurheilu
    = image_tag '/logo-128.png'
  #main_content= yield
  #footer
    = render 'shared/footer'
