%body
  = render :partial => 'shared/facebook_init'
  = render 'shared/header'
  .centered_section
    %div{itemscope: true, itemtype: menu_race ? 'http://schema.org/SportsEvent' : ''}
      = render partial: 'shared/page_title'
      .main_shadow_area
        = render 'menus/second_level_menu'
        = render 'menus/third_level_menu'
        .main_content
          #page_spinner= image_tag 'page_spinner.gif'
          = yield
    .footer
      = render :partial => 'shared/footer'
  :javascript
    $(document).on('page:fetch', function() {
      $('#page_spinner').show();
    });
    $(document).on('page:restore', function() {
      $('#page_spinner').hide();
    });
