<div class="menu main_menu">
  <ul>
    <%= menu_item "Etusivu", root_path, @is_main_page %>
    <%= menu_item "Toimitsijan sivut", official_root_path, @is_official %>
    <%= menu_item "Info", info_path, @is_info %>
    <% unless offline? %>
      <%= menu_item "Hinnat", prices_path, @is_prices %>
      <% if current_user %>
        <%= menu_item "Omat tiedot", account_path, @is_account %>
      <% elsif %>
        <%= menu_item "Aloita", register_path, @is_start %>
      <% end %>
    <% end %>
    <% if current_user and current_user.admin? %>
      <%= menu_item "Admin", admin_root_path, @is_admin %>
    <% end %>
  </ul>
</div>