<% race = menu_race %>
<% cup = menu_cup %>
<div class="main_title">
  <% if race %>
    <span><span itemprop="name"><%= race.name %></span>
      (<span itemprop="location" itemtype="http://schema.org/Place"><%= race.location %></span>,
      <%= race_date_interval(race) %>)</span>
  <% elsif cup %>
    <span><%= cup.name %></span>
  <% else %>
    <span><%= yield :page_title %></span>
  <% end %>
</div>