<% race = menu_race %>
<% cup = menu_cup %>
<% if race %>
  <span class="race-title">
    <span class="race-title__name" itemprop="name"><%= race.name %></span>
    <span class="race-title__location" itemprop="location" itemtype="http://schema.org/Place"><%= race.location %></span>,
    <span class="race-title__dates"><%= race_date_interval(race) %></span>
  </span>
<% elsif cup %>
  <%= cup.name %>
<% else %>
  <%= yield :page_title %>
<% end %>
