<% race = menu_race %>
<div class="main_title">
  <% if race %>
    <%= sport_icon(race.sport) %>
    <span>
      <%= race.name %> (<%= race.location %>, <%= race_date_interval(race) %>)
    </span>
  <% else %>
    <span><%= yield :page_title %></span>
  <% end %>
</div>