<% race = menu_race %>
<% cup = menu_cup %>
<div class="main_title">
  <% if race %>
    <%= competition_icon(race) %>
    <span><%= race.name %> (<%= race.location %>, <%= race_date_interval(race) %>)</span>
  <% elsif cup %>
    <%= competition_icon(cup) %>
    <span><%= cup.name %></span>
  <% else %>
    <%= image_tag "#{Sport.find_ski.key.downcase}_icon.gif" %>
    <%= image_tag "#{Sport.find_run.key.downcase}_icon.gif" %>
    <span><%= yield :page_title %></span>
  <% end %>
</div>