<% race = menu_race %>
<% if race %>
  <div class="main_title main_title_with_menu">
    <%= sport_icon(race.sport) %>
    <span>
      <%= race.name %> (<%= race.location %>, <%= race_date_interval(race) %>)
    </span>
  </div>
<% else %>
  <div class="main_title main_title_without_menu">
    <span><%= yield :page_title %></span>
  </div>
<% end %>