<% default_seconds = 30 %>
<% min_seconds = 20 %>
<% series = menu_series %>
<% auto_scroll = series and result_rotation_auto_scroll %>
<%
if defined?(seconds)
  secs = seconds
elsif auto_scroll and series.competitors.count > min_seconds
  secs = series.competitors.count
else
  secs = default_seconds
end
%>
<div id="reload_counter">
  <span id="reload_text"><%= t :refresh_counter_new_page_pre %> <span id="secs">...</span>
    <a id="stop" href="javascript:void(0)"><%= t :refresh_counter_pause %></a></span>
  <span id="continue_text" style="display: none;"><%= t :refresh_counter_paused %>
    <a id="start" href="javascript:void(0)"><%= t :refresh_counter_continue %></a></span>
</div>
<%= javascript_tag do %>
  var seconds = <%= secs %>;
  function decreaseSeconds() {
    if(seconds > 0) {
      $('#stop').show();
      $('#secs').text(seconds + ' <%= t :refresh_counter_new_page_post %>.');
      seconds--;
    } else {
      $('#stop').hide();
      dots = '..';
      $('#secs').text(dots);
      setInterval(function() {
        dots += '..';
        $('#secs').text(dots);
      }, 500);
      clearInterval(intervalId);
      if(<%= result_rotation_cookie.nil? %>) {
        window.location.reload()
      } else {
        window.location = '<%= next_result_rotation(request.fullpath) %>';
      }
    }
  }
  function continueCounting() {
    intervalId = setInterval(decreaseSeconds, 1000);
    $('#continue_text').hide();
    $('#reload_text').show();
  }
  function stopCounting() {
    clearInterval(intervalId);
    $('#reload_text').hide();
    $('#continue_text').show();
  }
  function startCounting() {
    <% if auto_scroll and secs > default_seconds %>
      $('html, body').animate({scrollTop:$(document).height()-$(window).height()}, seconds * 1000);
    <% end %>
    continueCounting();
  }
  $('#stop').click(stopCounting);
  $('#start').click(continueCounting);
  $(document).ready(startCounting);
<% end %>
