<% competitions.each do |competition| %>
  <%= sport_icon(competition.sport) %>
  <% if competition.is_a?(Cup) %>
    <%= link_to competition.name, cup_path(competition) %><br/>
  <% else %>
    <%= link_to competition.name, race_path(competition) %>,
    <%= date_interval(competition.start_date, competition.end_date) %>,
    <%= competition.location %><br/>
  <% end %>
  <% if competition.is_a?(Cup) %>
    <% competition.races.each do |race| %>
      <span class="cup_race">
        <%= sport_icon(race.sport) %>
        <%= link_to race.name, race_path(race) %>
        <%= date_interval(race.start_date, race.end_date) %>,
        <%= race.location %>
      </span><br/>
    <% end %>
  <% end %>
<% end %>