<% limit = defined?(max) ? max : 1.0/0.0 %>
<% competitions.each_with_index do |competition, index| %>
  <%= sport_icon(competition.sport) %>
  <% if competition.is_a?(Cup) %>
    <%= link_to competition.name, cup_path(competition) %><br/>
  <% else %>
    <%= link_to competition.name, race_path(competition) %>,
    <%= date_interval(competition.start_date, competition.end_date) %>,
    <%= competition.location %><br/>
  <% end %>
  <% if competition.is_a?(Cup) %>
    <% competition.races.each do |race| %>
      <span class="cup_race">
        <%= sport_icon(race.sport) %>
        <%= link_to race.name, race_path(race) %>
        <%= date_interval(race.start_date, race.end_date) %>,
        <%= race.location %>
      </span><br/>
    <% end %>
  <% end %>
  <% if index + 1 == limit %>
    <hr/>
    <div class="all_races_link">
      <%= link_to 'Kaikki kilpailut', races_path %>
    </div>
    <% break %>
  <% end %>
<% end %>