<% content_for(:title, t('.main_title')) %>
<% content_for(:page_title, yield(:title)) %>

<%= flash_success %>
<%= flash_error %>

<div class="main_page_columns">
  <div class="left_column">
    <div class="title_box" id="races_box">
      <div class="box_title"><%= t '.left_column_title' %></div>
      <div class="title_box_content">
        <% unless @ongoing.empty? %>
          <div class="ongoing_races">
            <div class="box_sub_title"><%= t '.competitions_today' %></div>
            <%= render :partial => "race_list", :locals => { :competitions => @ongoing } %>
          </div>
          <hr/>
        <% end %>
  
        <div class="future_races">
          <div class="box_sub_title"><%= t '.upcoming_competitions' %></div>
          <% unless @future.empty? %>
            <%= render :partial => "race_list", :locals => { :competitions => @future } %>
          <% else %>
            <%= t '.no_upcoming_competitions' %>
          <% end %>
        </div>
    
        <% unless @past.empty? %>
          <hr/>
          <div class="old_races">
            <div class="box_sub_title"><%= t '.latest_ended_competitions' %></div>
            <%= render :partial => "race_list", :locals => { :competitions => @past, :max => 10 } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <% unless offline? %>
    <div class="right_column">
      <% unless @announcements.empty? %>
        <%= render :partial => 'announcements' %>
      <% end %>
      <%= render :partial => 'shared/facebook_like_box' %>
      <%= render partial: 'commercial_boxes' %>
    </div>
  <% end %>
</div>
