- unless @ongoing.empty?
  .home_page_box.ongoing_races
    .box_sub_title= t '.competitions_today'
    = render partial: 'race_list', locals: { competitions: @ongoing }
.home_page_box.future_races
  .box_sub_title= t '.upcoming_competitions'
  - unless @future.empty?
    = render partial: 'race_list', locals: { competitions: @future }
  - else
    = t '.no_upcoming_competitions'
- unless @past.empty?
  .home_page_box.old_races
    .box_sub_title= t '.latest_ended_competitions'
    = render partial: 'race_list', locals: { competitions: @past, max: 10 }
- unless @announcements.empty?
  .home_page_box.announcements
    .box_sub_title= t '.announcements'
    - @announcements.each do |ann|
      .announcement_link
        = link_to ann.title, announcement_path(ann), class: 'primary_link'
        .announcement_info= date_print ann.published
= render :partial => 'shared/facebook_like_box'
- if ProductionEnvironment.production?
  .home_page_box.announcements
    .box_sub_title Kisaj채rjest채j채
    %div Hirviurheilu tarjoaa nyt erikoishintaisia hinnoittelupaketteja!
    = link_to 'Pyyd채 tarjous', new_offer_path, class: 'primary_link'
