<%= content_for(:title, 'Hirviurheilu - Hirvenhiihdon ja hirvenjuoksun tulospalvelu') %>
<h1><%= image_tag "ski_icon.gif" %> <%= yield :title %> <%= image_tag "run_icon.gif" %></h1>

<% unless @ongoing.empty? %>
  <div class="ongoing_races">
    <h2>Menossa olevat kilpailut</h2>
    <%= render :partial => "race_list", :locals => { :races => @ongoing } %>
  </div>
<% end %>

<div class="future_races">
  <h2>Tulevat kilpailut</h2>
  <%= render :partial => "race_list", :locals => { :races => @future } %>
</div>

<div class="old_races">
  <h2>Päättyneet kilpailut</h2>
  <%= render :partial => "race_list", :locals => { :races => @past } %>
</div>

<% unless current_user %>
  <div class="commercial_box registration_commercial">
    Oletko järjestämässä hirvenhiihdon tai hirvenjuoksun kilpailua?
    <div class="commercial_box_link">
      <%= link_to "Aloita tästä.", new_user_path %>
    </div>
  </div>
  <div class="commercial_box login_commercial">
    Onko sinulla jo tunnukset?
    <div class="commercial_box_link">
      <%= link_to "Kirjaudu sisään.", new_user_session_path %>
    </div>
  </div>
<% end %>