<h1>Tervetuloa hirviurheilun pariin!</h1>

<h2>Hirvenjuoksu</h2>
<%= render :partial => "race_list", :locals => { :races => @run.races } %>

<h2>Hirvenhiihto</h2>
<%= render :partial => "race_list", :locals => { :races => @ski.races } %>

<br/><hr/>
<%= link_to "Lajien hallinta", sports_path %><br/>
<%= link_to "Kilpailujen hallinta", races_path %><br/>
<%= link_to "Piirit / seurat", clubs_path %><br/>
<%= link_to "Kilpailijat", competitors_path %>