<% unless @ongoing.empty? %>
  <div class="home_page_box ongoing_races">
    <div class="box_sub_title"><%= t '.competitions_today' %></div>
    <%= render :partial => "race_list", :locals => { :competitions => @ongoing } %>
  </div>
<% end %>

<div class="home_page_box future_races">
  <div class="box_sub_title"><%= t '.upcoming_competitions' %></div>
  <% unless @future.empty? %>
    <%= render :partial => "race_list", :locals => { :competitions => @future } %>
  <% else %>
    <%= t '.no_upcoming_competitions' %>
  <% end %>
</div>

<% unless @past.empty? %>
  <div class="home_page_box old_races">
    <div class="box_sub_title"><%= t '.latest_ended_competitions' %></div>
    <%= render :partial => "race_list", :locals => { :competitions => @past, :max => 10 } %>
  </div>
<% end %>

<% unless @announcements.empty? %>
  <div class="home_page_box announcements">
    <div class="box_sub_title"><%= t '.announcements' %></div>
    <% @announcements.each do |ann| %>
      <div class="announcement_link">
        <%= date_print ann.published %><br/>
        <%= link_to ann.title, announcement_path(ann) %>
      </div>
    <% end %>
  </div>
<% end %>

<%= render :partial => 'shared/facebook_like_box' %>
