.future_races
  - if @future.empty?
    .box_sub_title= t '.upcoming_competitions'
    = t '.no_upcoming_competitions'
  - else
    - @future.each do |key, races|
      .home_page_box{class: "races_#{key}"}
        .box_sub_title= t ".competitions.#{key}"
        = render partial: 'race_list', locals: { competitions: races }
- unless @past.empty?
  .home_page_box.old_races
    .box_sub_title= t '.latest_ended_competitions'
    = render partial: 'race_list', locals: { competitions: @past, max: 10 }
- unless @announcements.empty?
  .home_page_box.announcements
    .box_sub_title= t '.announcements'
    - @announcements.each do |ann|
      .announcement_link
        %a.primary_link{href: announcement_path(ann)}
          %span= ann.title
        .announcement_info= date_print ann.published
= render :partial => 'shared/facebook_like_box'
- if ProductionEnvironment.production?
  .home_page_box.announcements
    .box_sub_title Kisaj채rjest채j채
    %div Hirviurheilu tarjoaa nyt erikoishintaisia hinnoittelupaketteja!
    = link_to 'Pyyd채 tarjous', new_offer_path, class: 'primary_link'
