- content_for(:title, t('.main_title'))
- content_for(:page_title, yield(:title))

= flash_success
= flash_error

= render 'user_club_name_alert'

- few_upcoming_competitions = @today.length + @future.length < 5

.main_page_columns
  .left_column
    = render partial: 'district_menu'
    .title_box.races_box#races_today
      .box_title= t '.competitions.today'
      .title_box_content
        - if @today.empty?
          .home_page_box
            = t '.no_competitions_today'
        - else
          = render partial: 'race_list', locals: { races: @today }
    .title_box.races_box#future_races
      .box_title= t '.upcoming_competitions'
      .title_box_content
        - if @future.empty?
          .home_page_box
            = t '.no_upcoming_competitions'
        - else
          - @future.each do |key, races|
            .home_page_box{class: "races_#{key}"}
              .box_sub_title= t ".competitions.#{key}"
              = render partial: 'race_list', locals: { races: races }
    - if few_upcoming_competitions
      = render partial: 'announcements'
      = render partial: 'shared/facebook_like_box'
  .right_column
    - unless few_upcoming_competitions
      = render partial: 'announcements'
      = render partial: 'shared/facebook_like_box'
    .title_box.races_box#old_races
      .box_title= t '.latest_ended_competitions'
      .title_box_content
        = render partial: 'race_list', locals: { races: @past, max: 10 }
