<% content_for(:title, 'Hirviurheilu - Hirvenhiihdon ja hirvenjuoksun tulospalvelu') %>
<% content_for(:page_title, yield(:title)) %>

<% unless @ongoing.empty? %>
  <div class="races_box ongoing_races">
    <h2>Menossa olevat kilpailut</h2>
    <%= render :partial => "race_list", :locals => { :races => @ongoing } %>
  </div>
<% end %>

<div class="races_box future_races">
  <h2>Tulevat kilpailut</h2>
  <%= render :partial => "race_list", :locals => { :races => @future } %>
</div>

<div class="races_box old_races">
  <h2>Päättyneet kilpailut</h2>
  <%= render :partial => "race_list", :locals => { :races => @past } %>
</div>

<% unless current_user %>
  <div class="commercial_column">
    <div class="commercial_box">
      Oletko järjestämässä hirvenhiihdon tai hirvenjuoksun kilpailua?
      <div class="commercial_box_link">
        <%= link_to "Aloita tästä.", register_path %>
      </div>
    </div>
    <div class="commercial_box">
      Onko sinulla jo tunnukset?
      <div class="commercial_box_link">
        <%= link_to "Kirjaudu sisään.", login_path %>
      </div>
    </div>
  </div>
<% end %>