<% unless @ongoing.empty? %>
  <div class="home_page_races ongoing_races">
    <div class="box_sub_title"><%= t '.competitions_today' %></div>
    <%= render :partial => "race_list", :locals => { :competitions => @ongoing } %>
  </div>
  <hr/>
<% end %>

<div class="home_page_races future_races">
  <div class="box_sub_title"><%= t '.upcoming_competitions' %></div>
  <% unless @future.empty? %>
    <%= render :partial => "race_list", :locals => { :competitions => @future } %>
  <% else %>
    <%= t '.no_upcoming_competitions' %>
  <% end %>
</div>

<% unless @past.empty? %>
  <div class="home_page_races old_races">
    <div class="box_sub_title"><%= t '.latest_ended_competitions' %></div>
    <%= render :partial => "race_list", :locals => { :competitions => @past, :max => 10 } %>
  </div>
<% end %>
