- content_for(:title, t('.main_title'))
- content_for(:page_title, yield(:title))

= flash_success
= flash_error

.home_page
  - new_announcements = @announcements.length > 0 && @announcements[0].published > 2.weeks.ago
  - if new_announcements
    = render partial: 'announcements', locals: { header_class: 'emphasize' }
    %h2.emphasize= t :competitions
  = render partial: 'race_filter_form'
  - unless @today.empty?
    %h2
      %i.material-icons-outlined.md-18 directions_run
      = t '.competitions.today'
    .row#races_today
      = render partial: 'race_list', locals: { races: @today }
  - unless @yesterday.empty?
    %h2
      %i.material-icons-outlined.md-18 check_circle
      = t '.competitions.yesterday'
    .row#races_yesterday
      = render partial: 'race_list', locals: { races: @yesterday }
      .extra_card.col-xs-12.col-sm-6.col-md-4.col-lg-3
        %a.button.button--down{href: '#past-races'}= t '.previously_ended_competitions'
  #future_races
    - if @future.empty?
      %h2
        %i.material-icons-outlined.md-18 today
        = t '.upcoming_competitions'
      .message.message--info= t '.no_upcoming_competitions'
    - else
      - @future.each do |key, races|
        %h2
          %i.material-icons-outlined.md-18 today
          = t ".competitions.#{key}"
        .row{class: "races_#{key}"}
          = render partial: 'race_list', locals: { races: races }
  - unless @past.empty?
    #past-races
      %h2
        %i.material-icons-outlined.md-18 check_circle
        - ended_title_key = @yesterday.empty? ? '.latest_ended_competitions' : '.previously_ended_competitions'
        = t ended_title_key
      .row
        = render partial: 'race_list', locals: { races: @past, max: 11 }
  - unless new_announcements
    = render partial: 'announcements', locals: { header_class: '' }
  = render :partial => 'shared/facebook_like_box'
