- content_for(:title, t('.main_title'))
- content_for(:page_title, yield(:title))

= flash_success
= flash_error

.home_page
  - new_announcements = @announcements.length > 0 && @announcements[0].published > 1.month.ago
  - if new_announcements
    = render partial: 'announcements'
    %h2.emphasize= t :competitions
  = render partial: 'district_menu'
  - unless @today.empty?
    %h2= t '.competitions.today'
    .row#races_today
      = render partial: 'race_list', locals: { races: @today }
  #future_races
    - if @future.empty?
      %h2= t '.upcoming_competitions'
      = t '.no_upcoming_competitions'
    - else
      - @future.each do |key, races|
        %h2= t ".competitions.#{key}"
        .row{class: "races_#{key}"}
          = render partial: 'race_list', locals: { races: races }
  - unless @past.empty?
    %h2= t '.latest_ended_competitions'
    .row#old_races
      = render partial: 'race_list', locals: { races: @past, max: 11 }
  - unless new_announcements
    = render partial: 'announcements'
  .before_facebook_like_box
  = render :partial => 'shared/facebook_like_box'
