.result-cards
  - results.each_with_index do |team, i|
    - club_name = team.name
    .card{class: i % 2 == 0 ? 'card--odd' : ''}
      .card__number #{i + 1}.
      .card__middle
        .card__name= club_name
        - if team.raw_extra_shots.length > 0
          .card__middle-row #{t :extra_round}: #{team_extra_shots team}
        - elsif team.raw_extra_score.length > 0
          .card__middle-row #{t :extra_round}: #{team.raw_extra_score.join(', ')}
        .card__middle-row.competitors{style: 'display: none'}
          - team.competitors.each do |competitor|
            %div
              #{full_name competitor},
              #{competitor.series.name}#{competitor.age_group ? " (#{competitor.age_group.name})" : ''},
              = competitor.team_competition_points @race.sport, rifle
      .card__main-value
        = team.total_score
        = national_record_print(team) if i == 0
