- pdf = params[:format] == 'pdf'
- competitor_style = pdf ? '' : 'display: none;'
%table.results-table
  %tr
    %th &nbsp;
    %th= t(:team)
    %th= @race.sport.shooting? ? t(:result) : t(:points)
    - if team_competition.max_extra_shots > 0
      %th.center= t :extra_round
    - unless params[:exclude_competitors]
      - unless @race.sport.shooting?
        %th.center= time_title(@race)
        %th.center= t(:estimating)
        %th.center= t(:shooting)
      %th= t 'activerecord.models.series', count: 1
  - results.each_with_index do |team, i|
    - club = team.name
    - club_id = club.gsub(/\s+/, '')
    %tr{id: "team_#{i + 1}"}
      %td #{i + 1}.
      %td.team_name
        - if pdf
          = club
        - else
          %a.club_name_link{href: 'javascript:void(0)', id: club_id}= club
      %td.center.team_points
        = team.total_score
        = national_record_print(team) if i == 0
      - if team_competition.max_extra_shots > 0
        - if team.raw_extra_shots
          %td= team.raw_extra_shots.join(', ')
        - else
          %td &nbsp;
      - unless params[:exclude_competitors]
        %td{colspan: 4} &nbsp;
    - unless params[:exclude_competitors]
      - team.competitors.each_with_index do |competitor, j|
        %tr.competitor_row{id: "team_#{i + 1}_comp_#{j + 1}", class: "club_#{club_id}", style: competitor_style}
          %td &nbsp;
          %td= link_to_unless pdf || @race.sport.shooting?, full_name(competitor), series_competitor_path(competitor.series, competitor)
          %td.center= competitor.team_competition_points @race.sport
          - unless @race.sport.shooting?
            %td.center= time_points_print(competitor, true)
            %td.center= @race.finished ? estimate_points_and_diffs(competitor) : estimate_points(competitor)
            %td.center= shooting_points_print(competitor, true)
          %td
            = competitor.series.name
            = competitor.age_group ? "(#{competitor.age_group.name})" : ''
