<% pdf = params[:format] == 'pdf' %>
<% competitor_style = pdf ? '' : 'display: none;' %>
<table>
  <tr>
    <th>&nbsp;</th>
    <th><%= t(:team) %></th>
    <th><%= t(:points) %></th>
  </tr>
  <% results.each_with_index do |team_result, i| %>
    <% club = team_result[:club] %>
    <% club_name = club.is_a?(Club) ? club.expanded : club %>
    <% club_id = club.is_a?(Club) ? club.id : club.gsub(/\s+/, '') %>
    <tr id="team_<%= i + 1 %>">
      <td><%= i + 1 %>.</td>
      <td class="team_name">
        <% if pdf %>
          <%= club_name %>
        <% else %>
          <a href="javascript:void(0)" class="club_name_link"
             id="<%= club_id %>"><%= club_name %></a>
           <% end %>
      </td>
      <td class="center team_points"><%= team_result[:points] %></td>
    </tr>
    <% unless params[:exclude_competitors] %>
      <% team_result[:competitors].each_with_index do |competitor, j| %>
        <tr id="team_<%= i + 1 %>_comp_<%= j + 1 %>"
            class="club_<%= club_id %> competitor_row" style="<%= competitor_style %>">
          <td>&nbsp;</td>
          <td><%= full_name competitor %>,
            <%= link_to "#{competitor.series.name}#{competitor.age_group ? " (#{competitor.age_group.name})" : ''}",
                        series_competitors_path(competitor.series) %>
          </td>
          <td class="center"><i><%= competitor.points %></i></td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
</table>