<% content_for :title, "#{@race.name} - Joukkuekilpailut - #{@tc.name}" %>
<% if @tc.started? and not @race.finished? %>
  <%= render :partial => 'shared/refresh_counter' %>
<% end %>
<h2><%= @tc.name %> - Tulokset</h2>
<% if @tc.race.team_competitions.count > 1 %>
  <% content_for :sub_sub_menu do %>
    <%= render :layout => 'team_competitions_sub_menu',
      :locals => { :race => @tc.race, :team_competition_id => @tc.id } do |tc| %>
      <%= race_team_competition_path(tc.race, tc) %>
    <% end %>
  <% end %>
<% end %>
<% results = @tc.results %>
<% if results.empty? %>
  <div class="info">Joukkuekilpailun tuloksia ei voida vielä laskea</div>
<% else %>
  <a href="javascript:void(0)" id="show_all_competitors">Näytä kaikki kilpailijat</a>
  <a href="javascript:void(0)" id="hide_all_competitors" style="display:none;">Piilota kaikki kilpailijat</a>
  <div class="section">
    <%= render :partial => 'results_table', :locals => { :results => results } %>
  </div>
  <div class="action_box">
    Lataa tulokset pdf-tiedostona:
    <%= link_to "Ilman kilpailijoita", race_team_competition_path(@race, @tc,
      :exclude_competitors => true, :format => 'pdf') %> -
    <%= link_to "Kilpailijoiden kanssa", race_team_competition_path(@race, @tc,
      :format => 'pdf') %>
  </div>
<% end %>
<hr/>
<%= link_to "Takaisin sivulle #{@race.name}", race_path(@race) %>
<%= javascript_tag do %>
  function showAllCompetitors() {
    $('.competitor_row').show();
    window.location.hash = 'competitors'
    $('#show_all_competitors').hide();
    $('#hide_all_competitors').show();
  }
  function hideAllCompetitors() {
    $('.competitor_row').hide();
    window.location.hash = ''
    $('#show_all_competitors').show();
    $('#hide_all_competitors').hide();
  }
  $('.club_name_link').click(function() {
    competitors = '.club_' + $(this).attr('id');
    if($(competitors).is(':hidden')) {
      $(competitors).show();
    } else {
      $(competitors).hide();
    }
  });
  $('#show_all_competitors').click(function() {
    showAllCompetitors();
  });
  $('#hide_all_competitors').click(function() {
    hideAllCompetitors();
  });
  $(document).ready(function() {
    if(window.location.hash == '#competitors') {
      showAllCompetitors();
    }
  });
<% end %>