.facebook_share
  = render partial: 'shared/facebook_share'
- content_for :title, "#{@race.name} - #{t('activerecord.models.team_competition', :count => 2)} - #{@tc.name}"
%h2= yield :title
- cache [@tc, I18n.locale] do
  - results = @tc.results
  - if results.empty?
    .info= t '.cannot_calculate_results'
  - else
    %a#show_all_competitors.button{href: "javascript:void(0)"}= t :show_all_competitors
    %a#hide_all_competitors.button{href: "javascript:void(0)", style: "display:none;"}= t :hide_all_competitors
    = render partial: 'results_table', locals: { results: results }
- if @race.team_competitions.count > 1
  %hr
  .buttons
    - @race.team_competitions.each do |tc|
      - if tc == @tc
        .button.button--current= tc.name
      - else
        = link_to tc.name, race_team_competition_path(@race, tc), class: 'button button--primary'
%hr
= link_to "#{t(:back_to_page)} #{@race.name}", race_path(@race), class: 'button button--back'
:javascript
  function showAllCompetitors() {
    $('.card__middle-2').show();
    $('#show_all_competitors').hide();
    $('#hide_all_competitors').show();
    window.location.hash = 'competitors'
  }
  function hideAllCompetitors() {
    $('.card__middle-2').hide();
    $('#show_all_competitors').show();
    $('#hide_all_competitors').hide();
    history.pushState(null, null, ' ')
  }
  $('#show_all_competitors').click(function() {
    showAllCompetitors();
  });
  $('#hide_all_competitors').click(function() {
    hideAllCompetitors();
  });
  $(document).ready(function() {
    if(window.location.hash == '#competitors') {
      showAllCompetitors();
    }
  });
