.facebook_share
  = render partial: 'shared/facebook_share'
- content_for :title, "#{@race.name} - #{t('activerecord.models.team_competition', :count => 2)} - #{@tc.name}"
%h2= yield :title
- cache [@tc, I18n.locale] do
  - results = @tc.results
  - if results.empty?
    .info= t '.cannot_calculate_results'
  - else
    %a#show_all_competitors{href: "javascript:void(0)"}= t :show_all_competitors
    %a#hide_all_competitors{href: "javascript:void(0)", style: "display:none;"}= t :hide_all_competitors
    .section
      = render :partial => 'results_table', :locals => { :results => results }
- if @race.team_competitions.count > 1
  %hr
  - @race.team_competitions.each do |tc|
    - unless tc == @tc
      = link_to tc.name, race_team_competition_path(@race, tc), class: 'primary_link'
%hr
= link_to "#{t(:back_to_page)} #{@race.name}", race_path(@race), class: 'back_link'
:javascript
  function showAllCompetitors() {
    $('.competitor_row').show();
    window.location.hash = 'competitors'
    $('#show_all_competitors').hide();
    $('#hide_all_competitors').show();
  }
  function hideAllCompetitors() {
    $('.competitor_row').hide();
    window.location.hash = ''
    $('#show_all_competitors').show();
    $('#hide_all_competitors').hide();
  }
  $('.club_name_link').click(function() {
    competitors = '.club_' + $(this).attr('id');
    if($(competitors).is(':hidden')) {
      $(competitors).show();
    } else {
      $(competitors).hide();
    }
  });
  $('#show_all_competitors').click(function() {
    showAllCompetitors();
  });
  $('#hide_all_competitors').click(function() {
    hideAllCompetitors();
  });
  $(document).ready(function() {
    if(window.location.hash == '#competitors') {
      showAllCompetitors();
    }
  });
