.form__fields--horizontal.age-group-sub-form
  .form__field.form__field--medium
    = f.label :name
    #{f.text_field :name}, #{t 'official.races.form.at_least'}
  .form__field.form__field--small
    #{f.number_field :min_competitors} #{t 'official.races.form.competitors'},
  .form__field
    = f.check_box :shorter_trip
    = f.label :shorter_trip
  - if f.object.competitors.empty?
    .form__buttons
      = remove_child_link t('official.races.form.remove_age_group'), f, 'age-group-sub-form', "", 'form__button form__button--danger'
