<div class="age_group_sub_form">
  <%= f.label :name %>
  <%= f.text_field :name, :size => 15 %>, <%= t 'official.races.form.at_least' %>
  <%= f.number_field :min_competitors, :size => 2, :class => 'max2' %> <%= t 'official.races.form.competitors' %>
  <% if f.object.competitors.empty? %>
    <%= remove_child_link t('official.races.form.remove_age_group'), f, 'age_group_sub_form', "" %>
  <% end %>
</div>
