<%= form_for([:official, @race]) do |f| %>
  <%= render :partial => "shared/form_errors", :locals => { :item => @race } %>
  <%= f.label :sport %>
  <%= f.collection_select(:sport_id, Sport.all, :id, :name) %><br/>
  <%= f.label :name %>
  <%= f.text_field :name %><br/>
  <%= f.label :location %>
  <%= f.text_field :location %><br/>
  <%= f.label :start_date %>
  <%= f.date_select :start_date %><br/>
  <%= f.label :end_date %>
  <%= f.date_select :end_date, :include_blank => true %><br/>
  <%= f.label :start_interval_seconds %>
  <%= f.text_field :start_interval_seconds, :size => 5, :maxlength => 3 %><br/>
  <h2>Sarjat</h2>
  <%= f.fields_for :series do |series_form| %>
    <%= render :partial => "series", :locals => { :f => series_form } %>
  <% end %>
  <%= add_child_link "Lisää sarja", f, :series %><br/><br/>
  <%= submit_tag submit_label %>
<% end %>