<%= form_for([:official, @race]) do |f| %>
  <%= render :partial => "shared/form_errors", :locals => { :item => @race } %>
  <%= f.label :sport %>
  <%= f.collection_select(:sport_id, Sport.all, :id, :name) %><br/>
  <%= f.label :name %>
  <%= f.text_field :name %><br/>
  <%= f.label :location %>
  <%= f.text_field :location %><br/>
  <%= f.label :start_date %>
  <%= f.date_select :start_date %>
  <%= f.label :days_count %>
  <%= f.select :days_count, [['1 päivä', 1], ['2 päivää', 2], ['3 päivää', 3]] %><br/>
  Kilpailijan edustustaso tässä kilpailussa
  <%= f.radio_button :club_level, Race::CLUB_LEVEL_SEURA %>
  <%= f.label "club_level_#{Race::CLUB_LEVEL_SEURA}", 'Seura' %>
  <%= f.radio_button :club_level, Race::CLUB_LEVEL_PIIRI %>
  <%= f.label "club_level_#{Race::CLUB_LEVEL_PIIRI}", 'Piiri' %><br/>
  <%= f.label :start_interval_seconds %>
  <%= f.text_field :start_interval_seconds, :size => 3, :maxlength => 3 %><br/>
  <%= f.label :batch_size %>
  <%= f.text_field :batch_size, :size => 3, :maxlength => 3 %><br/>
  <%= f.label :batch_interval_seconds %>
  <%= f.text_field :batch_interval_seconds, :size => 3, :maxlength => 3 %><br/>
  <%= f.label :home_page, 'Linkki kilpailun omille sivuille (ei pakollinen)' %>
  <%= f.text_field :home_page %>
  <a class="help" id="home_page_help">?</a>
  <div id="home_page_help_dialog" class="dialog" style="display: none;">
    Jos kilpailusta on tarjolla lisätietoa esimerkiksi piirin tai seuran
    omilla sivuilla, voit laittaa tähän linkin kyseiselle sivulle.
    Voit myös jättää kentän tyhjäksi.
  </div>
  <%= javascript_tag do %>
    $('#home_page_help').click(function() {
      $('#home_page_help_dialog').dialog({ title: 'Linkki kilpailun sivuille',
        closeText: 'Sulje' });
    });
  <% end %>
  <br/>
  <% if @race.new_record? %>
    <%= check_box_tag :add_default_series, "1", true %>
    <%= label_tag :add_default_series, "Lisää oletussarjat automaattisesti" %>
    <a class="help" id="default_series_help">?</a>
    <div id="default_series_help_dialog" class="dialog" style="display: none;">
      Jos merkitset 'Lisää oletussarjat automaattisesti'-kentän valituksi,
      kilpailulle luodaan automaattisesti seuraavat sarjat:
      <ul>
        <% DefaultSeries.all.each do |df| %>
          <li>
            <%= df.name %>
            <% unless df.default_age_groups.empty? %>
              (<%= (df.default_age_groups.collect &:name).join(', ') %>)
            <% end %>
          </li>
        <% end %>
      </ul>
      Voit kilpailun lisäämisen jälkeen tarvittaessa poistaa tarpeettomat sarjat
      ja lisätä uusia.
      <p>Mikäli et valitse tätä vaihtoehtoa, pääset lisäämään haluamasi sarjat heti
        kilpailun jälkeen.</p>
    </div>
    <%= javascript_tag do %>
      $('#default_series_help').click(function() {
        $('#default_series_help_dialog').dialog({ title: 'Lisää oletussarjat automaattisesti',
          closeText: 'Sulje' });
      });
    <% end %>
    <br/>
  <% else %>
    <%= submit_tag submit_label %>
    <h2>Sarjat</h2>
    <%= f.fields_for :series do |series_form| %>
      <%= render :partial => "series", :locals => { :f => series_form } %>
    <% end %>
    <% if @race.series.empty? %>
      <%= highlight_info('Et ole vielä lisännyt kilpailuun yhtään sarjaa. ' +
          'Lisää sarjoja alla olevasta napista.') %>
    <% end %>
    <%= add_child_link "Lisää uusi sarja tähän kilpailuun", f, :series %><br/><br/>
  <% end %>
  <%= submit_tag submit_label %>
<% end %>