%a{name: "series_#{f.object.new_record? ? 'new' : f.object.id}"}
.form__sub-form.series-sub-form
  = render partial: 'official/series/form_basic_fields', locals: { f: f, race: @race }
  .form__sub-form-2
    %h3
      = t 'official.races.form.age_groups_with_own_time_points'
      %a.help.age_groups_help#age_groups_help ?
    #age_groups_help_dialog.dialog{style: 'display: none;'}
      Tästä voit lisätä sarjaan ns. ikäryhmän, jolle lasketaan omat aikapisteet.
      Esimerkiksi jos pääsarja on M60, niin samaan sarjaan voi kuulua ikäryhmät
      M65 ja M70.
      %p
        Mikäli ryhmissä on tarpeeksi kilpailijoita, jokaisen ryhmän
        paras aika saa täydet 300 pistettä ja muiden kilpailijoiden aikojen
        verrataan ikäryhmän parhaaseen aikaan. Voit määrittää jokaiselle
        ikäryhmälle, kuinka monta kilpailijaa siinä pitää olla. Jos
        kilpailijoiden määrällä ei ole väliä (esim. sarja Nuoret ja
        sen "ikäryhmät" Tytöt ja Pojat), syötä kilpailijoiden
        vähimmäismääräksi 0.
    = f.fields_for :age_groups do |age_group_form|
      = render partial: "age_group", locals: { f: age_group_form }
    = add_child_link t('official.races.form.add_age_group'), f, :age_groups, nil, 'button button--below-sub-form'
  - if f.object.competitors.empty?
    = remove_child_link t('official.races.form.remove_series'), f, 'series-sub-form', "", 'button button--danger'
