<div class="series_sub_form">
  <%= f.label :name %>
  <%= f.text_field :name %><br/>
  <%= f.label :start_time %>
  <%= f.datetime_select :start_time, :include_seconds => false, :include_blank => true %><br/>
  <%= f.label :first_number %>
  <%= f.text_field :first_number, :size => 5 %><br/>
  <%= f.label :correct_estimate1 %>
  <%= f.text_field :correct_estimate1, :size => 5, :maxlength => 3 %><br/>
  <%= f.label :correct_estimate2 %>
  <%= f.text_field :correct_estimate2, :size => 5, :maxlength => 3 %><br/>
  <div class="sub_series">
    <h3>Alasarjat, joille lasketaan omat aikapisteet
      (esim. p채채sarja: M60, alasarjat: M65, M70)</h3>
    <%= f.fields_for :sub_series do |sub_series_form| %>
      <%= render :partial => "sub_series", :locals => { :f => sub_series_form } %>
    <% end %>
    <%= add_child_link "Lis채채 alasarja", f, :sub_series %>
  </div>
  <% if f.object.competitors.empty? %>
    <%= remove_child_link "Poista sarja", f, 'series_sub_form', "" %>
  <% end %>
</div><br/>