.form__field.row
  .col-xs-12.col-sm-3
    .form__help-label
      = label_tag :add_default_series, t('official.races.new.add_default_series_automatically')
      %a.help#default_series_help{href: 'javascript:void(0);'} ?
  .col-xs-12.col-sm-9= check_box_tag :add_default_series, '1', params[:add_default_series]

  #default_series_help_dialog.dialog{style: 'display:none;'}
    Jos merkitset 'Lisää oletussarjat'-kentän valituksi, kilpailulle luodaan seuraavat sarjat:
    %ul
      - DefaultSeries.all(@race.sport).each do |df|
        %li
          - if df.default_age_groups.empty?
            = df.name
          - else
            #{df.name} (#{(df.default_age_groups.collect &:name).join(', ')})
    - if @race.new_record?
      Voit kilpailun lisäämisen jälkeen tarvittaessa poistaa tarpeettomat sarjat ja lisätä uusia.
      %p Mikäli et valitse tätä vaihtoehtoa, pääset lisäämään haluamasi sarjat heti kilpailun jälkeen.
- unless current_user.races.empty?
  .form__field.row
    .col-xs-12.col-sm-3= label_tag :add_default_series, t('official.races.new.copy_series')
    .col-xs-12.col-sm-9= select_tag :copy_series, options_from_collection_for_select(current_user.races, :id, lambda {|r| "#{r.name}, #{r.location}, #{race_date_interval(r, false)}"}, params[:copy_series]), prompt: '- Ei kopiointia -'
