= content_for(:title, "#{@race.name} - #{t 'official_sub_menu.summary' }")
%h2= @race.name
.info
  Mobiilinäkymässä voi toistaiseksi syöttää vain kilpailijoiden tuloksia.
  Muut toimitsijan tehtävät hoidetaan normaalinäkymässä.
.buttons
  = link_to t('official.quick_saves.index.title_estimates'), official_race_estimates_quick_save_path(@race), class: 'button button--primary'
  = link_to t('official.quick_saves.index.title_shots'), official_race_shots_quick_save_path(@race), class: 'button button--primary'
  = link_to t('official.quick_saves.index.title_time'), official_race_times_quick_save_path(@race), class: 'button button--primary'
.buttons.buttons--nav
  = link_to t(:back_to_official_home_page), official_root_path, class: 'button button--back'
