<%= content_for(:title, "#{@race.name} - Yhteenveto") %>
<h2>Yhteenveto</h2>
<%= flash_error %>
<%= flash_success %>
<% if @race.series.empty? %>
  <%= highlight_info('Et ole vielä lisännyt kilpailuun yhtään sarjaa. ' +
      'Lisää sarjoja alla olevasta linkistä.') %>
<% end %>
<% unless @race.finished? or @race.start_date > Time.zone.today or @race.competitors.empty? %>
  <div class="action_box">
    <%= render :partial => "official/finish_races/form", :locals => { :race => @race } %>
  </div>
<% end %>
<% if offline? and @race.finished? %>
  <div class="action_box">
    <%= link_to 'Julkaise kilpailu internetissä', new_official_race_exports_path(@race) %>
  </div>
<% end %>
<% if @race.series.empty? %>
  <div class="action_box">
    <%= form_tag(official_race_path(@race), :method => :delete) do %>
      <%= submit_tag "Poista kilpailu" %>
    <% end %>
  </div>
<% else %>
  <% if @race.competitors.empty? %>
    <%= highlight_info('Et ole syöttänyt sarjoihin vielä yhtään kilpailijaa. ' +
        'Aloita klikkaamalla sarjan nimen vieressä olevaa linkkiä.') %>
  <% end %>
  <table cellspacing="0" border="1">
    <tr>
      <th>Sarja</th>
      <th colspan="2" class="center">Kilpailijat</th>
      <th>Lähtölista</th>
      <th colspan="4" class="center">Tulokset</th>
      <th class="center">Oikeat arviot</th>
      <th>&nbsp;</th>
    </tr>
    <% @race.series.each do |s| %>
      <tr>
        <td><%= s.name %></td>
        <% competitor_count = s.competitors.count %>
        <% if competitor_count > 0 %>
          <td class="center"><%= link_to t("competitors.people_short",
              :count => competitor_count), official_series_competitors_path(s) %></td>
          <td class="center"><%= link_to "Lisää uusi",
              new_official_series_competitor_path(s) %></td>
          <td class="center"><%= yes_or_empty(s.has_start_list?) do
              link_to "Tee lista", official_series_competitors_path(s)
            end %></td>
          <% if s.has_start_list? %>
            <% finished_count = s.finished_competitors_count %>
            <td>
              <%= yes_or_empty(finished_count == competitor_count,
                "#{finished_count}/#{competitor_count}") do
                "#{finished_count}/#{competitor_count}"
              end %>
            </td>
            <td><%= link_to "Ajat", official_series_times_path(s) %></td>
            <td><%= link_to "Arviot", official_series_estimates_path(s) %></td>
            <td><%= link_to "Ammunta", official_series_shots_path(s) %></td>
            <td class="center">
              <%= yes_or_empty(s.each_competitor_has_correct_estimates?) do
                link_to "Aseta", official_race_correct_estimates_path(s.race)
              end %>
            </td>
          <% else %>
            <td colspan="5">&nbsp;</td>
          <% end %>
          <td>&nbsp;</td>
        <% else %>
          <td colspan="8"><%= link_to "Lisää tämän sarjan ensimmäinen kilpailija",
              new_official_series_competitor_path(s) %></td>
          <td><%= link_to 'Poista sarja', official_series_path(s), :method => :delete,
              :confirm => 'Haluatko varmasti poistaa tämän sarjan?' %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <div class="action_box">
    <%= link_to "Lisää kilpailijoita CSV-tiedostosta", new_official_race_csv_import_path(@race) %>
  </div>
<% end %>
<div class="action_box">
  <%= link_to "Joukkuekilpailut", official_race_team_competitions_path(@race) %>
</div>
<div class="action_box">
  <%= link_to "Viestit", official_race_relays_path(@race) %>
</div>
<div class="action_box">
  <%= link_to "Muokkaa kilpailun ja sarjojen asetuksia, lisää sarjoja",
    edit_official_race_path(@race) %>
</div>
<hr/>
<%= link_to "Takaisin toimitsijan etusivulle", official_root_path %>