= content_for(:title, "#{@race.name} - #{t 'official_sub_menu.summary' }")
%h2= t '.single_series'
= flash_error
= flash_success
%h3= t '.manage_race_settings'
- unless @race.finished? || @race.start_date > Time.zone.today || @race.competitors.empty?
  = render partial: "official/finish_races/form", locals: { race: @race }
= link_to t('.edit_race_and_series'), edit_official_race_path(@race), class: 'button button--edit'
= link_to t('.correct_estimates'), official_race_correct_estimates_path(@race), class: 'button'
- if @race.can_destroy?
  = form_tag(official_race_path(@race), method: :delete, class: 'form form--inline') do
    = submit_tag t('.remove_race'), class: 'button button--danger'
%h3= t 'activerecord.models.series.other'
- if @race.series.empty?
  = highlight_info(t('.no_series_for_race'))
- elsif @race.competitors.empty?
  = highlight_info(t('.no_competitors_for_race'))
- unless @race.series.empty?
  - cache [@race.cache_key_for_all_series, I18n.locale] do
    .row
      - @race.series.includes(:competitors => [:series]).each do |s|
        .col-xs-12.col-sm-6.col-md-4
          .card
            .card__middle
              .card__name= s.name
              .card__middle-1= t(:count_competitors, count: s.competitors.count)
              .card__middle-2
                - competitor_count = s.competitors.count
                - if competitor_count == 0
                  - add_competitor_path = @race.start_order == Race::START_ORDER_MIXED ? official_race_start_list_path(@race) : new_official_series_competitor_path(s)
                  = link_to t('.add_series_first_competitor'), add_competitor_path, class: 'button button--add'
                  = link_to t('official.races.form.remove_series'), official_series_path(s), method: :delete,
                    data: { confirm: t('official.races.form.remove_series_confirm') }, class: 'button button--danger'
                - else
                  = link_to t('activerecord.models.competitor.other'), official_series_competitors_path(s), class: 'button'
                  - unless s.has_start_list?
                    = link_to t('.create_start_list'), official_series_competitors_path(s), class: 'button'
                  = link_to t('.input_results'), official_race_quick_saves_path(@race), class: 'button'
            - if competitor_count > 0 && s.has_start_list? && s.finished_competitors_count == competitor_count && s.each_competitor_has_correct_estimates?
              .card__main-value
                .material-icons-outlined.md-24 done
%h3= t '.add_multiple_competitors'
= link_to t('.copy_competitors'), new_official_race_competitor_copying_path(@race), class: 'button'
- unless @race.series.empty?
  = link_to t('.add_competitors_from_csv'), new_official_race_csv_import_path(@race), class: 'button'
- unless @race.competitors.empty?
  %h3= t '.other'
  = link_to t('.download_competitors_by_clubs'), official_race_clubs_competitors_path(@race, format: :pdf), class: 'button button--pdf'
%h2= t '.other_race_formats'
= link_to t('activerecord.models.team_competition.other'), official_race_team_competitions_path(@race), class: 'button'
= link_to t('activerecord.models.relay.other'), official_race_relays_path(@race), class: 'button'
.buttons.buttons--nav
  = link_to t(:back_to_official_home_page), official_root_path, class: 'button button--back'
