<%= f.label :series %>
<% if f.object.new_record? %>
  <%= f.select :series_id, options_from_collection_for_select(f.object.series.race.series,
    :id, :name, f.object.series.id), {}, :onchange => 'change_series(this.value)' %>
<% else %>
  <b><%= text_field_tag :series_name, f.object.series.name, :disabled => true %></b>
<% end %>
<% age_group_style = f.object.series.age_groups.empty? ? 'display:none;' : '' %>
<span id="age_groups_span" style="<%= age_group_style %>">
  <%= f.label :age_group %>
  <%= f.collection_select :age_group_id, f.object.series.age_groups, :id, :name,
    :prompt => 'Pääsarja' %>
</span>
<span id="age_groups_spinner" style="display:none;">
  <%= image_tag 'spinner.gif' %>
  Odota hetki...
</span>
<br/>

<%= f.label :first_name %>
<%= f.text_field :first_name, :size => 15 %>
<%= f.label :last_name %>
<%= f.text_field :last_name, :size => 20 %>
<%= f.check_box :unofficial %>
<%= f.label :unofficial %>
<br/>

<%= f.label :club_id, club_title(f.object.series.race) %>
<%= select_tag :club, options_from_collection_for_select(f.object.series.race.clubs,
  :id, :name, f.object.club_id), :include_blank => true %>
<%= javascript_tag do %>
  $("#club").sexyCombo({
    triggerSelected: true,
    autoFill: true,
    suffix: '_name',
    hiddenSuffix: '_id',
    width: 5000
  });
<% end %>

<%= f.label :team_name %>
<a class="help" id="team_name_help" href="javascript:void(0);">?</a>
<%= f.text_field :team_name %>
<div id="team_name_help_dialog" class="dialog" style="display: none;">
  Jos kilpailuun kuuluu joukkuekilpailu, jossa joukkueita ei muodosteta
  automaattisesti piirin tai seuran perusteella, syötä tähän kenttään
  sen joukkueen nimi, johon kilpailija kuuluu.
  <br/><br/>
  Jätä kenttä tyhjäksi, mikäli joukkuekilpailua ei ole tai mikäli
  joukkueet muodostetaan piirin tai seuran perusteella.
</div>

<% if f.object.new_record? %>
  <% number_style = 'display:none;' %>
  <% if f.object.series.has_start_list? %>
    <% number_style = '' %>
  <% end %>
  <span id="number_span" style="<%= number_style %>">
    <%= f.label :number %>
    <%= f.text_field :number, :size => 3 %>
    <%= f.label :start_time %>
    <%= f.time_text_field :start_time, :include_seconds => true, :blank => true %>
  </span>
  <span id="number_spinner" style="display:none;">
    <%= image_tag 'spinner.gif' %>
    Odota hetki...
  </span>

  <%= javascript_tag do %>
    function change_series(series_id) {
      reload_age_groups(series_id);
      reload_number_and_start_time_and_link(series_id);
    }

    function reload_age_groups(series_id) {
      $('#age_groups_spinner').show();
      $.getJSON('/official/series/' + series_id + '/age_groups', function(age_groups) {
        while($('#competitor_age_group_id').children().length > 1) {
          $('#competitor_age_group_id').children().last().remove();
        }
        if(age_groups.length == 0) {
          $('#age_groups_span').hide();
        } else {
          $.each(age_groups, function(i, age_group) {
            $('#competitor_age_group_id').append('<option value="' +
              age_group.id + '">' + age_group.name + '</option>');
          });
          $('#age_groups_span').show();
        }
        $('#age_groups_spinner').hide();
      });
    }

    function reload_number_and_start_time_and_link(series_id) {
      $('#number_spinner').show();
      $.getJSON('/series/' + series_id, function(series) {
        if(series.has_start_list) {
          $('#competitor_number').val(series.next_start_number);
          $('#competitor_start_time_4i').val(series.next_start_time.substring(11, 13));
          $('#competitor_start_time_5i').val(series.next_start_time.substring(14, 16));
          $('#competitor_start_time_6i').val(series.next_start_time.substring(17, 19));
          $('#number_span').show();
        } else {
          $('#competitor_number').val('');
          $('#competitor_start_time_4i').val('');
          $('#competitor_start_time_5i').val('');
          $('#competitor_start_time_6i').val('');
          $('#number_span').hide();
        }
        $('#back_to_series').attr('href', '/official/series/' + series_id + '/competitors');
        $('#back_to_series #series_name').text(series.name);
        $('#number_spinner').hide();
      });
    }
  <% end %>
<% end %>
<%= javascript_tag do %>
  var team_name_help_title = 'Joukkueen nimi';
<% end %>
<%= render :partial => 'shared/help_dialog_opener' %>