- age_group_style = f.object.series.age_groups.empty? ? 'display:none;' : ''
.form__field.form__field--md.row
  .col-xs-12.col-sm-3= f.label :series_id
  .col-xs-12.col-sm-9= f.select :series_id, options_from_collection_for_select(@series_menu_options, :id, :name, f.object.series.id), {}, onchange: 'change_series(this.value)'
.form__field.form__field--md.row#age_groups_span{style: age_group_style}
  .col-xs-12.col-sm-3= f.label :age_group_id, t("age_group.#{@series.sport.only_shooting? ? 'shooting_race' : 'three_sports_race'}")
  .col-xs-12.col-sm-9
    - include_blank = !f.object.new_record? && f.object.series.competitors_only_to_age_groups? && f.object.age_group.nil?
    = f.collection_select :age_group_id, f.object.series.age_groups_with_main_series, :id, :name, include_blank: include_blank
    %span#age_groups_spinner{style: 'display:none;'}
      = image_tag 'spinner.gif'
      Odota hetki...
.form__field.row
  .col-xs-12.col-sm-3= f.label :first_name
  .col-xs-12.col-sm-9= f.text_field :first_name
.form__field.row
  .col-xs-12.col-sm-3= f.label :last_name
  .col-xs-12.col-sm-9= f.text_field :last_name
.form__field.row
  .col-xs-12.col-sm-3= f.label :unofficial
  .col-xs-12.col-sm-9= f.check_box :unofficial
- club_level = f.object.race.club_level
.form__field.form__field--md.row
  .col-xs-12.col-sm-3= f.label :club_id, club_title(f.object.series.race)
  - menu_style = f.object.race.clubs.empty? ? 'display:none;' : ''
  .col-xs-12.col-sm-9
    = select_tag :club_id, options_from_collection_for_select(f.object.race.clubs,
      :id, :name, f.object.club_id), prompt: t("official.competitors.new.club_selection_prompt_#{club_level}"), style: menu_style
    = text_field_tag :club_name, '', placeholder: t("official.competitors.new.new_club_hint_#{club_level}")
- if @series.race.has_team_competitions_with_team_names?
  .form__field.row
    .col-xs-12.col-sm-3
      .form__help-label
        = f.label :team_name
        %a.help#team_name_help{href: "javascript:void(0);"} ?
    .col-xs-12.col-sm-9= f.text_field :team_name
  = render :partial => 'official/shared/team_name_help_dialog'
- if f.object.new_record? && !@series.sport.only_shooting?
  - number_style = 'display:none;'
  - if f.object.series.has_start_list?
    - number_style = ''
  #number_span{style: number_style}
    .form__field.form__field--sm.row
      .col-xs-12.col-sm-3= f.label :number
      .col-xs-12.col-sm-9= f.number_field :number
    .form__field.form__field--sm.row
      .col-xs-12.col-sm-3= f.label :start_time
      - start_time = time_print(f.object.start_time, true, '')
      .col-xs-12.col-sm-9= f.text_field :start_time, value: start_time
:javascript
  $('#club_id').on('change', show_club_name_field);

  function show_club_name_field() {
     if ($('#club_id').prop('selectedIndex') == 0) {
       $('#club_name').show();
     } else {
       $('#club_name').hide();
     }
  }

  function change_series(series_id) {
    reload_age_groups(series_id);
    reload_number_and_start_time_and_link(series_id);
  }

  function reload_number_and_start_time_and_link(series_id) {
    $.getJSON('/series/' + series_id, function(series) {
      if (#{@series.sport.start_list?}) {
        if(series.has_start_list) {
          $('#competitor_number').val(series.next_start_number);
          $('#competitor_start_time').val(series.next_start_time.substring(11, 19));
          $('#number_span').show();
        } else {
          $('#competitor_number').val('');
          $('#competitor_start_time').val('');
          $('#number_span').hide();
        }
      }
      $('#back_to_series').attr('href', '/official/series/' + series_id + '/competitors');
      $('#back_to_series #series_name').text(series.name);
    });
  }

  show_club_name_field();
= render :partial => 'official/shared/reload_age_groups_js'
= render :partial => 'shared/help_dialog_opener'
