= hidden_field_tag :no_times, true
.form__field.form__field--sm.row
  .col-xs-12.col-sm-3= f.label :number
  .col-xs-12.col-sm-9= f.number_field :number
.form__field.form__field--sm.row
  .col-xs-12.col-sm-3= f.label :nordic_trap_score_input
  .col-xs-12.col-sm-9
    = f.number_field :nordic_trap_score_input, maxlength: 2
    (#{t 'official.competitors.edit.either_total_or_shots'})
.form__field.row
  .col-xs-12.col-sm-3= label_tag :nordic_trap_shots, t('attributes.nordic_trap_shots')
  .col-xs-12.col-sm-9
    = render partial: 'official/shots/shooting_race_shots',
        locals: { competitor: @competitor, round_rules: [25], base: 0, column_name: :nordic_trap_shots, field_name: 'nordic_trap_shots[]', best_shot_value: 1 }
- trap_extra_shots_count = nordic_extra_shots_field_count @competitor, :trap, 25
- if trap_extra_shots_count > 0
  .form__field.row
    .col-xs-12.col-sm-3= label_tag :extra_shots, t('attributes.nordic_trap_extra_shots')
    .col-xs-12.col-sm-9
      = render partial: 'official/shots/shooting_race_shots',
          locals: { competitor: @competitor, round_rules: [trap_extra_shots_count], base: 0, column_name: :nordic_trap_extra_shots, field_name: 'nordic_trap_extra_shots[]', best_shot_value: 1 }
.form__field.form__field--sm.row
  .col-xs-12.col-sm-3= f.label :nordic_shotgun_score_input
  .col-xs-12.col-sm-9
    = f.number_field :nordic_shotgun_score_input, maxlength: 2
    (#{t 'official.competitors.edit.either_total_or_shots'})
.form__field.row
  .col-xs-12.col-sm-3= label_tag :nordic_shotgun_shots, t('attributes.nordic_shotgun_shots')
  .col-xs-12.col-sm-9
    = render partial: 'official/shots/shooting_race_shots',
        locals: { competitor: @competitor, round_rules: [25], base: 0, column_name: :nordic_shotgun_shots, field_name: 'nordic_shotgun_shots[]', best_shot_value: 1 }
- shotgun_extra_shots_count = nordic_extra_shots_field_count @competitor, :shotgun, 25
- if shotgun_extra_shots_count > 0
  .form__field.row
    .col-xs-12.col-sm-3= label_tag :extra_shots, t('attributes.nordic_shotgun_extra_shots')
    .col-xs-12.col-sm-9
      = render partial: 'official/shots/shooting_race_shots',
          locals: { competitor: @competitor, round_rules: [shotgun_extra_shots_count], base: 0, column_name: :nordic_shotgun_extra_shots, field_name: 'nordic_shotgun_extra_shots[]', best_shot_value: 1 }
.form__field.form__field--sm.row
  .col-xs-12.col-sm-3= f.label :nordic_rifle_moving_score_input
  .col-xs-12.col-sm-9
    = f.number_field :nordic_rifle_moving_score_input, maxlength: 2
    (#{t 'official.competitors.edit.either_total_or_shots'})
.form__field.row
  .col-xs-12.col-sm-3= label_tag :nordic_rifle_moving_shots, t('attributes.nordic_rifle_moving_shots')
  .col-xs-12.col-sm-9
    = render partial: 'official/shots/shooting_race_shots',
        locals: { competitor: @competitor, round_rules: [10], base: 0, column_name: :nordic_rifle_moving_shots, field_name: 'nordic_rifle_moving_shots[]', best_shot_value: 10 }
- rifle_moving_extra_shots_count = nordic_extra_shots_field_count @competitor, :rifle_moving, 10
- if rifle_moving_extra_shots_count > 0
  .form__field.row
    .col-xs-12.col-sm-3= label_tag :extra_shots, t('attributes.nordic_rifle_moving_extra_shots')
    .col-xs-12.col-sm-9
      = render partial: 'official/shots/shooting_race_shots',
          locals: { competitor: @competitor, round_rules: [rifle_moving_extra_shots_count], base: 0, column_name: :nordic_rifle_moving_extra_shots, field_name: 'nordic_rifle_moving_extra_shots[]', best_shot_value: 10 }
.form__field.form__field--sm.row
  .col-xs-12.col-sm-3= f.label :nordic_rifle_standing_score_input
  .col-xs-12.col-sm-9
    = f.number_field :nordic_rifle_standing_score_input, maxlength: 2
    (#{t 'official.competitors.edit.either_total_or_shots'})
.form__field.row
  .col-xs-12.col-sm-3= label_tag :nordic_rifle_standing_shots, t('attributes.nordic_rifle_standing_shots')
  .col-xs-12.col-sm-9
    = render partial: 'official/shots/shooting_race_shots',
        locals: { competitor: @competitor, round_rules: [10], base: 0, column_name: :nordic_rifle_standing_shots, field_name: 'nordic_rifle_standing_shots[]', best_shot_value: 10 }
- rifle_standing_extra_shots_count = nordic_extra_shots_field_count @competitor, :rifle_standing, 10
- if rifle_standing_extra_shots_count > 0
  .form__field.row
    .col-xs-12.col-sm-3= label_tag :extra_shots, t('attributes.nordic_rifle_standing_extra_shots')
    .col-xs-12.col-sm-9
      = render partial: 'official/shots/shooting_race_shots',
          locals: { competitor: @competitor, round_rules: [rifle_standing_extra_shots_count], base: 0, column_name: :nordic_rifle_standing_extra_shots, field_name: 'nordic_rifle_standing_extra_shots[]', best_shot_value: 10 }
.form__field.form__field--sm.row
  .col-xs-12.col-sm-3= f.label :nordic_extra_score
  .col-xs-12.col-sm-9= f.number_field :nordic_extra_score, maxlength: 3
