- config = shot_fields_config @series.sport, @competitor
- extra_shots_count = config[:extra_shots_count]
- best_shot_value = config[:best_shot_value]
= hidden_field_tag :no_times, true
.form__field.form__field--sm.row
  .col-xs-12.col-sm-3= f.label :number
  .col-xs-12.col-sm-9= f.number_field :number
= render partial: 'official/competitors/shooting_race_fields', locals: { f: f }
.form__field.form__field--sm.row
  .col-xs-12.col-sm-3= f.label :qualification_round_shooting_score_input
  .col-xs-12.col-sm-9
    = f.number_field :qualification_round_shooting_score_input, maxlength: 3
    (#{t '.either_total_or_shots'})
.form__field.row
  .col-xs-12.col-sm-3= label_tag :qualification_round_shots, t('.qualification_round_shots')
  .col-xs-12.col-sm-9
    = render partial: 'official/shots/shooting_race_shots',
        locals: { competitor: @competitor, round_rules: config[:qualification_round], base: 0, column_name: :shots, field_name: 'shots[]', best_shot_value: best_shot_value }
.form__field.form__field--sm.row
  .col-xs-12.col-sm-3= f.label :final_round_shooting_score_input
  .col-xs-12.col-sm-9
    = f.number_field :final_round_shooting_score_input, maxlength: 3
    (#{t '.either_total_or_shots'})
.form__field.row
  .col-xs-12.col-sm-3= label_tag :final_round_shots, t('.final_round_shots')
  .col-xs-12.col-sm-9
    = render partial: 'official/shots/shooting_race_shots',
        locals: { competitor: @competitor, round_rules: config[:final_round], base: config[:qualification_round_shot_count], column_name: :shots, field_name: 'shots[]', best_shot_value: best_shot_value }
- if extra_shots_count > 0
  .form__field.row
    .col-xs-12.col-sm-3= label_tag :extra_shots, t('attributes.extra_shots')
    .col-xs-12.col-sm-9
      = render partial: 'official/shots/shooting_race_shots',
          locals: { competitor: @competitor, round_rules: [extra_shots_count], base: 0, column_name: :extra_shots, field_name: 'extra_shots[]', best_shot_value: best_shot_value }
