- unless @series.race.heats.empty?
  .form__field.form__field--sm.row
    .col-xs-12.col-sm-3= f.label :qualification_round_heat_id
    .col-xs-12.col-sm-9= f.select :qualification_round_heat_id, options_from_collection_for_select(@series.race.qualification_round_heats, :id, :number, @competitor.qualification_round_heat_id), include_blank: true
  .form__field.form__field--sm.row
    .col-xs-12.col-sm-3= f.label :qualification_round_track_place
    .col-xs-12.col-sm-9= f.number_field :qualification_round_track_place, min: 1
  .form__field.form__field--sm.row
    .col-xs-12.col-sm-3= f.label :final_round_heat_id
    .col-xs-12.col-sm-9= f.select :final_round_heat_id, options_from_collection_for_select(@series.race.final_round_heats, :id, :number, @competitor.final_round_heat_id), include_blank: true
  .form__field.form__field--sm.row
    .col-xs-12.col-sm-3= f.label :final_round_track_place
    .col-xs-12.col-sm-9= f.number_field :final_round_track_place, min: 1
