<table cellspacing="0" border="1" style="margin-bottom: 5px;">
  <tr>
    <th>Kilpailija</th>
    <th>Seura</th>
    <th>Nro</th>
    <th>Lähtöaika</th>
    <% if result_column %>
      <th>Tulos syötetty</th>
    <% end %>
    <% if remove_column %>
      <th>&nbsp;</th>
    <% end %>
  </tr>
  <% series.competitors.includes(:shots, :club, :age_group, :series).each do |comp| %>
    <tr id="competitor_<%= comp.id %>">
      <td>
        <%= link_to full_name(comp),
          edit_official_series_competitor_path(series.id, comp) %>
        <%= "(#{comp.age_group.name})" if comp.age_group %>
      </td>
      <td><%= comp.club.name %></td>
      <td class="center"><%= value_or_space(comp.number) %></td>
      <td class="center"><%= time_print(comp.start_time, true, '&nbsp;') %></td>
      <% if result_column %>
        <td class="center"><%= yes_or_empty(comp.finished?) %></td>
      <% end %>
      <% if remove_column %>
        <td><%= link_to "Poista", official_series_competitor_path(series.id, comp),
            :confirm => "Haluatko varmasti poistaa tämän kilpailijan?",
            :method => :delete, :remote => true %></td>
      <% end %>
    </tr>
  <% end %>
</table>