$('#spinner').hide();
$('div.error').hide();

$('#competitor_first_name').val('');
$('#competitor_last_name').val('');
$('#club').next().val('');
$('#club').next().next().val('');

<% if @competitor.series.has_start_list? %>
  $('#competitor_number').val(<%= @competitor.series.next_number %>);
  <% start_time = @competitor.series.next_start_time %>
  $('#competitor_start_time_4i').val('<%= start_time.strftime('%H') %>');
  $('#competitor_start_time_5i').val('<%= start_time.strftime('%M') %>');
  $('#competitor_start_time_6i').val('<%= start_time.strftime('%S') %>');
<% end %>

$('#latest_competitors').show();
if($('li#latest').length > 0) {
  $('li#latest').attr('style', '');
  $('li#latest').attr('id', '');
}
$('#latest_competitors_list').prepend('' +
  '<li id="latest" style="color: olive; font-weight: bold;">' +
  '<%= full_name(@competitor) %>, <%= @competitor.club.name %> ' +
  '(<%= @competitor.series.name %><%= @competitor.age_group ? "/#{@competitor.age_group.name}" : '' %>)</li>');

$('div.success').text('Kilpailija lisätty');
$('div.success').show('fast');
setTimeout(function() {
  $('div.success').hide('slow');
}, 3000);