= content_for(:title, full_name(@competitor))
%h2= yield :title
= render partial: "shared/form_errors", locals: { item: @competitor }
= form_for([:official, @competitor.series, @competitor], html: { class: 'form' }) do |f|
  = render partial: "basic_fields", locals: { f: f }
  - if @series.has_start_list?
    .form__field.form__field--sm.row
      .col-xs-12.col-sm-3= f.label :number
      .col-xs-12.col-sm-9= f.number_field :number
    .form__field.form__field--sm.row
      .col-xs-12.col-sm-3= f.label :start_time
      - start_time = time_print(f.object.start_time, true, '')
      .col-xs-12.col-sm-9= f.text_field :start_time, value: start_time, placeholder: 'HH:MM:SS'
    .form__field.form__field--sm.row
      .col-xs-12.col-sm-3= f.label :arrival_time
      - arrival_time = time_print(f.object.arrival_time, true, '')
      .col-xs-12.col-sm-9= f.text_field :arrival_time, value: arrival_time, placeholder: 'HH:MM:SS'
    .form__field.form__field--sm.row
      .col-xs-12.col-sm-3= f.label :shots_total_input
      .col-xs-12.col-sm-9
        = f.number_field :shots_total_input, maxlength: 3
        (#{t '.either_total_or_shots'})
    .form__field.row
      .col-xs-12.col-sm-3
        %label= t '.shots'
      .col-xs-12.col-sm-9= render partial: 'official/shots/individual_shots', locals: { f: f, competitor: @competitor }
    .form__field.form__field--sm.row
      .col-xs-12.col-sm-3= f.label :estimate1
      .col-xs-12.col-sm-9= f.number_field :estimate1, maxlength: 3
    .form__field.form__field--sm.row
      .col-xs-12.col-sm-3= f.label :estimate2
      .col-xs-12.col-sm-9= f.number_field :estimate2, maxlength: 3
    - if @competitor.series.estimates == 4
      .form__field.form__field--sm.row
        .col-xs-12.col-sm-3= f.label :estimate3
        .col-xs-12.col-sm-9= f.number_field :estimate3, maxlength: 3
      .form__field.form__field--sm.row
        .col-xs-12.col-sm-3= f.label :estimate4
        .col-xs-12.col-sm-9= f.number_field :estimate4, maxlength: 3
    - if @competitor.series.walking_series?
      .form__field.form__field--sm.row
        .col-xs-12.col-sm-3= f.label :shooting_overtime_min
        .col-xs-12.col-sm-9= f.number_field :shooting_overtime_min
    .form__field.row
      .col-xs-12.col-sm-3
        %label Tila
      .col-xs-12.col-sm-9
        = f.radio_button :no_result_reason, ''
        Normaali
        = f.radio_button :no_result_reason, Competitor::DNS
        = t '.dns'
        = f.radio_button :no_result_reason, Competitor::DNF
        = t '.dnf'
        = f.radio_button :no_result_reason, Competitor::DQ
        = t '.dq'
  - else
    = hidden_field_tag :no_times, true
  .form__buttons
    = submit_tag t(:save), class: 'button button--primary'
.buttons.buttons--nav
  = link_to t('.back_to_series_competitor_list', :series_name => @series.name), official_series_competitors_path(@series), class: 'button button--back'
