<%= content_for(:title, full_name(@competitor)) %>
<h2><%= yield :title %></h2>
<%= render :partial => "shared/form_errors", :locals => { :item => @competitor } %>
<%= form_for([:official, @competitor.series, @competitor]) do |f| %>
  <%= render :partial => "basic_fields", :locals => { :f => f } %>
  <% if @series.has_start_list? %>
    <hr/>
    <span class="form_label"><%= f.label :number %></span>
    <%= f.telephone_field :number, :size => 3 %>
    <span class="form_label"><%= f.label :start_time %></span>
    <% start_time = time_print(f.object.start_time, true, '') %>
    <%= f.text_field :start_time, value: start_time, size: 8 %>
    <span class="form_label"><%= f.label :arrival_time %></span>
    <% arrival_time = time_print(f.object.arrival_time, true, '') %>
    <%= f.text_field :arrival_time, value: arrival_time, size: 8 %>
    <hr/>
    <span class="form_label"><%= f.label :shots_total_input %></span>
    <%= f.telephone_field :shots_total_input, :size => 5, :maxlength => 3 %>
    (<%= t '.either_total_or_shots' %>)<br/>
    <span class="form_label"><%= t '.shots' %></span>
    <%= render :partial => 'official/shots/individual_shots', :locals => { :f => f,
      :competitor => @competitor } %>
    <hr/>
    <span class="form_label"><%= f.label :estimate1 %></span>
    <%= f.telephone_field :estimate1, :size => 5, :maxlength => 3 %>
    <span class="form_label"><%= f.label :estimate2 %></span>
    <%= f.telephone_field :estimate2, :size => 5, :maxlength => 3 %>
    <% if @competitor.series.estimates == 4 %>
      <span class="form_label"><%= f.label :estimate3 %></span>
      <%= f.telephone_field :estimate3, :size => 5, :maxlength => 3 %>
      <span class="form_label"><%= f.label :estimate4 %></span>
      <%= f.telephone_field :estimate4, :size => 5, :maxlength => 3 %>
    <% end %>
    <hr/>
    <span class="form_label"><%= f.label :shooting_overtime_min %></span>
    <%= f.telephone_field :shooting_overtime_min, :size => 3 %>
    <hr/>
    <%= f.radio_button :no_result_reason, '' %>Normaali
    <%= f.radio_button :no_result_reason, Competitor::DNS %><%= t '.dns' %>
    <%= f.radio_button :no_result_reason, Competitor::DNF %><%= t '.dnf' %>
    <%= f.radio_button :no_result_reason, Competitor::DQ %><%= t '.dq' %>
    <hr/>
  <% else %>
    <%= hidden_field_tag :no_times, true %>
    <br/>
  <% end %>
  <%= submit_tag t('.save_and_previous_competitor'), :name => 'previous' %>
  <%= submit_tag t(:save) %>
  <%= submit_tag t('.save_and_next_competitor'), :name => 'next' %>
<% end %>
<hr/>
<%= link_to t('.back_to_series_competitor_list', :series_name => @series.name),
  official_series_competitors_path(@series) %>