= content_for(:title, full_name(@competitor))
%h2= yield :title
= render partial: "shared/form_errors", locals: { item: @competitor }
= form_for([:official, @competitor.series, @competitor], html: { class: 'form' }) do |f|
  = render partial: "basic_fields", locals: { f: f }
  - if @series.sport.start_list? && @series.has_start_list?
    .form__field.form__field--sm.row
      .col-xs-12.col-sm-3= f.label :number
      .col-xs-12.col-sm-9= f.number_field :number
    .form__field.form__field--sm.row
      .col-xs-12.col-sm-3= f.label :start_time
      - start_time = time_print(f.object.start_time, true, '')
      .col-xs-12.col-sm-9= f.text_field :start_time, value: start_time, placeholder: 'HH:MM:SS'
    .form__field.form__field--sm.row
      .col-xs-12.col-sm-3= f.label :arrival_time
      - arrival_time = time_print(f.object.arrival_time, true, '')
      .col-xs-12.col-sm-9= f.text_field :arrival_time, value: arrival_time, placeholder: 'HH:MM:SS'
    .form__field.form__field--sm.row
      .col-xs-12.col-sm-3= f.label :shooting_score_input
      .col-xs-12.col-sm-9
        = f.number_field :shooting_score_input, maxlength: 3
        (#{t '.either_total_or_shots'})
    .form__field.row
      .col-xs-12.col-sm-3
        %label= t '.shots'
      .col-xs-12.col-sm-9= render partial: 'official/shots/three_sports_race_shots', locals: { competitor: @competitor }
    .form__field.form__field--sm.row
      .col-xs-12.col-sm-3= f.label :estimate1
      .col-xs-12.col-sm-9= f.number_field :estimate1, maxlength: 3
    .form__field.form__field--sm.row
      .col-xs-12.col-sm-3= f.label :estimate2
      .col-xs-12.col-sm-9= f.number_field :estimate2, maxlength: 3
    - if @competitor.series.estimates == 4
      .form__field.form__field--sm.row
        .col-xs-12.col-sm-3= f.label :estimate3
        .col-xs-12.col-sm-9= f.number_field :estimate3, maxlength: 3
      .form__field.form__field--sm.row
        .col-xs-12.col-sm-3= f.label :estimate4
        .col-xs-12.col-sm-9= f.number_field :estimate4, maxlength: 3
    - if @competitor.series.walking_series?
      .form__field.form__field--sm.row
        .col-xs-12.col-sm-3= f.label :shooting_overtime_min
        .col-xs-12.col-sm-9= f.number_field :shooting_overtime_min
  - elsif !@series.sport.start_list?
    - qualification_round = @competitor.sport.qualification_round
    - qualification_round_shots = qualification_round && qualification_round.inject(:+)
    - final_round = @competitor.sport.final_round
    - final_round_shots = final_round && final_round.inject(:+)
    - basic_shots = qualification_round_shots + final_round_shots
    - extra_shots_count = @competitor.shots && @competitor.shots.length >= basic_shots ? @competitor.shots.length - basic_shots + 1 : 0
    = hidden_field_tag :no_times, true
    .form__field.form__field--sm.row
      .col-xs-12.col-sm-3= f.label :number
      .col-xs-12.col-sm-9= f.number_field :number
    .form__field.row
      .col-xs-12.col-sm-3
        %label= t '.shots'
      .col-xs-12.col-sm-9
        = render partial: 'official/shots/shooting_race_shots', locals: { competitor: @competitor, round_rules: qualification_round, base: 0 }
        = render partial: 'official/shots/shooting_race_shots', locals: { competitor: @competitor, round_rules: final_round, base: qualification_round_shots }
        = render partial: 'official/shots/shooting_race_shots', locals: { competitor: @competitor, round_rules: [extra_shots_count], base: basic_shots }
  - else
    = hidden_field_tag :no_times, true
  .form__field.row
    .col-xs-12.col-sm-3
      %label Tila
    .col-xs-12.col-sm-9
      = f.radio_button :no_result_reason, ''
      Normaali
      = f.radio_button :no_result_reason, Competitor::DNS
      = t '.dns'
      = f.radio_button :no_result_reason, Competitor::DNF
      = t '.dnf'
      = f.radio_button :no_result_reason, Competitor::DQ
      = t '.dq'
  .form__buttons
    = submit_tag t(:save), class: 'button button--primary'
.buttons.buttons--nav
  = link_to t('.back_to_series_competitor_list', :series_name => @series.name), official_series_competitors_path(@series), class: 'button button--back'
  = link_to t('.delete_competitor'), official_series_competitor_path(@competitor.series_id, @competitor),
    data: { confirm: t('.remove_confirmation') }, method: :delete, class: 'button button--danger'
