= content_for(:title, full_name(@competitor))
%h2= yield :title
= render partial: "shared/form_errors", locals: { item: @competitor }
= form_for([:official, @competitor.series, @competitor], html: { class: 'form form--competitor' }) do |f|
  = render partial: "basic_fields", locals: { f: f }
  - if @series.sport.nordic?
    = render partial: 'nordic_form_fields', locals: { f: f }
  - elsif @series.sport.shooting?
    = render partial: 'shooting_race_form_fields', locals: { f: f }
  - elsif @series.sport.start_list? && @series.has_start_list?
    = render partial: 'three_sports_race_form_fields', locals: { f: f }
  - else
    = hidden_field_tag :no_times, true
  .form__field.row
    .col-xs-12.col-sm-3
      %label Tila
    .col-xs-12.col-sm-9
      = f.radio_button :no_result_reason, ''
      Normaali
      = f.radio_button :no_result_reason, Competitor::DNS
      = t '.dns'
      = f.radio_button :no_result_reason, Competitor::DNF
      = t '.dnf'
      = f.radio_button :no_result_reason, Competitor::DQ
      = t '.dq'
  .form__buttons
    = submit_tag t(:save), class: 'button button--primary'
.buttons.buttons--nav
  = link_to t('.back_to_series_competitor_list', :series_name => @series.name), official_series_competitors_path(@series), class: 'button button--back'
  = link_to t('.delete_competitor'), official_series_competitor_path(@competitor.series_id, @competitor),
    data: { confirm: t('.remove_confirmation') }, method: :delete, class: 'button button--danger'
