= content_for(:title, full_name(@competitor))
%h2= yield :title
= render partial: "shared/form_errors", locals: { item: @competitor }
= form_for([:official, @competitor.series, @competitor], html: { class: 'form form--competitor' }) do |f|
  = render partial: "basic_fields", locals: { f: f }
  - if @series.sport.start_list? && @series.has_start_list?
    .form__field.form__field--sm.row
      .col-xs-12.col-sm-3= f.label :number
      .col-xs-12.col-sm-9= f.number_field :number
    .form__field.form__field--sm.row
      .col-xs-12.col-sm-3= f.label :start_time
      - start_time = time_print(f.object.start_time, true, '')
      .col-xs-12.col-sm-9= f.text_field :start_time, value: start_time, placeholder: 'HH:MM:SS'
    .form__field.form__field--sm.row
      .col-xs-12.col-sm-3= f.label :arrival_time
      - arrival_time = time_print(f.object.arrival_time, true, '')
      .col-xs-12.col-sm-9= f.text_field :arrival_time, value: arrival_time, placeholder: 'HH:MM:SS'
    .form__field.form__field--sm.row
      .col-xs-12.col-sm-3= f.label :shooting_score_input
      .col-xs-12.col-sm-9
        = f.number_field :shooting_score_input, maxlength: 3
        (#{t '.either_total_or_shots'})
    .form__field.row
      .col-xs-12.col-sm-3
        %label= t '.shots'
      .col-xs-12.col-sm-9= render partial: 'official/shots/three_sports_race_shots', locals: { competitor: @competitor }
    .form__field.form__field--sm.row
      .col-xs-12.col-sm-3= f.label :estimate1
      .col-xs-12.col-sm-9= f.number_field :estimate1, maxlength: 3
    .form__field.form__field--sm.row
      .col-xs-12.col-sm-3= f.label :estimate2
      .col-xs-12.col-sm-9= f.number_field :estimate2, maxlength: 3
    - if @competitor.series.estimates == 4
      .form__field.form__field--sm.row
        .col-xs-12.col-sm-3= f.label :estimate3
        .col-xs-12.col-sm-9= f.number_field :estimate3, maxlength: 3
      .form__field.form__field--sm.row
        .col-xs-12.col-sm-3= f.label :estimate4
        .col-xs-12.col-sm-9= f.number_field :estimate4, maxlength: 3
    - if @competitor.series.walking_series?
      .form__field.form__field--sm.row
        .col-xs-12.col-sm-3= f.label :shooting_overtime_min
        .col-xs-12.col-sm-9= f.number_field :shooting_overtime_min
  - elsif !@series.sport.start_list? && !@series.sport.nordic?
    - config = shot_fields_config @series.sport, @competitor
    - extra_shots_count = config[:extra_shots_count]
    - best_shot_value = config[:best_shot_value]
    = hidden_field_tag :no_times, true
    .form__field.form__field--sm.row
      .col-xs-12.col-sm-3= f.label :number
      .col-xs-12.col-sm-9= f.number_field :number
    = render partial: 'official/competitors/shooting_race_fields', locals: { f: f }
    .form__field.form__field--sm.row
      .col-xs-12.col-sm-3= f.label :qualification_round_shooting_score_input
      .col-xs-12.col-sm-9
        = f.number_field :qualification_round_shooting_score_input, maxlength: 3
        (#{t '.either_total_or_shots'})
    .form__field.row
      .col-xs-12.col-sm-3= label_tag :qualification_round_shots, t('.qualification_round_shots')
      .col-xs-12.col-sm-9
        = render partial: 'official/shots/shooting_race_shots',
            locals: { competitor: @competitor, round_rules: config[:qualification_round], base: 0, column_name: :shots, field_name: 'shots[]', best_shot_value: best_shot_value }
    .form__field.form__field--sm.row
      .col-xs-12.col-sm-3= f.label :final_round_shooting_score_input
      .col-xs-12.col-sm-9
        = f.number_field :final_round_shooting_score_input, maxlength: 3
        (#{t '.either_total_or_shots'})
    .form__field.row
      .col-xs-12.col-sm-3= label_tag :final_round_shots, t('.final_round_shots')
      .col-xs-12.col-sm-9
        = render partial: 'official/shots/shooting_race_shots',
            locals: { competitor: @competitor, round_rules: config[:final_round], base: config[:qualification_round_shot_count], column_name: :shots, field_name: 'shots[]', best_shot_value: best_shot_value }
    - if extra_shots_count > 0
      .form__field.row
        .col-xs-12.col-sm-3= label_tag :extra_shots, t('attributes.extra_shots')
        .col-xs-12.col-sm-9
          = render partial: 'official/shots/shooting_race_shots',
              locals: { competitor: @competitor, round_rules: [extra_shots_count], base: 0, column_name: :extra_shots, field_name: 'extra_shots[]', best_shot_value: best_shot_value }
  - elsif @series.sport.nordic?
    = hidden_field_tag :no_times, true
    .form__field.form__field--sm.row
      .col-xs-12.col-sm-3= f.label :number
      .col-xs-12.col-sm-9= f.number_field :number
    .form__field.form__field--sm.row
      .col-xs-12.col-sm-3= f.label :nordic_trap_score_input
      .col-xs-12.col-sm-9
        = f.number_field :nordic_trap_score_input, maxlength: 2
        (#{t '.either_total_or_shots'})
    .form__field.row
      .col-xs-12.col-sm-3= label_tag :nordic_trap_shots, t('attributes.nordic_trap_shots')
      .col-xs-12.col-sm-9
        = render partial: 'official/shots/shooting_race_shots',
            locals: { competitor: @competitor, round_rules: [25], base: 0, column_name: :nordic_trap_shots, field_name: 'nordic_trap_shots[]', best_shot_value: 1 }
    .form__field.form__field--sm.row
      .col-xs-12.col-sm-3= f.label :nordic_shotgun_score_input
      .col-xs-12.col-sm-9
        = f.number_field :nordic_shotgun_score_input, maxlength: 2
        (#{t '.either_total_or_shots'})
    .form__field.row
      .col-xs-12.col-sm-3= label_tag :nordic_shotgun_shots, t('attributes.nordic_shotgun_shots')
      .col-xs-12.col-sm-9
        = render partial: 'official/shots/shooting_race_shots',
            locals: { competitor: @competitor, round_rules: [25], base: 0, column_name: :nordic_shotgun_shots, field_name: 'nordic_shotgun_shots[]', best_shot_value: 1 }
    .form__field.form__field--sm.row
      .col-xs-12.col-sm-3= f.label :nordic_rifle_moving_score_input
      .col-xs-12.col-sm-9
        = f.number_field :nordic_rifle_moving_score_input, maxlength: 2
        (#{t '.either_total_or_shots'})
    .form__field.row
      .col-xs-12.col-sm-3= label_tag :nordic_rifle_moving_shots, t('attributes.nordic_rifle_moving_shots')
      .col-xs-12.col-sm-9
        = render partial: 'official/shots/shooting_race_shots',
            locals: { competitor: @competitor, round_rules: [10], base: 0, column_name: :nordic_rifle_moving_shots, field_name: 'nordic_rifle_moving_shots[]', best_shot_value: 10 }
    .form__field.form__field--sm.row
      .col-xs-12.col-sm-3= f.label :nordic_rifle_standing_score_input
      .col-xs-12.col-sm-9
        = f.number_field :nordic_rifle_standing_score_input, maxlength: 2
        (#{t '.either_total_or_shots'})
    .form__field.row
      .col-xs-12.col-sm-3= label_tag :nordic_rifle_standing_shots, t('attributes.nordic_rifle_standing_shots')
      .col-xs-12.col-sm-9
        = render partial: 'official/shots/shooting_race_shots',
            locals: { competitor: @competitor, round_rules: [10], base: 0, column_name: :nordic_rifle_standing_shots, field_name: 'nordic_rifle_standing_shots[]', best_shot_value: 10 }
  - else
    = hidden_field_tag :no_times, true
  .form__field.row
    .col-xs-12.col-sm-3
      %label Tila
    .col-xs-12.col-sm-9
      = f.radio_button :no_result_reason, ''
      Normaali
      = f.radio_button :no_result_reason, Competitor::DNS
      = t '.dns'
      = f.radio_button :no_result_reason, Competitor::DNF
      = t '.dnf'
      = f.radio_button :no_result_reason, Competitor::DQ
      = t '.dq'
  .form__buttons
    = submit_tag t(:save), class: 'button button--primary'
.buttons.buttons--nav
  = link_to t('.back_to_series_competitor_list', :series_name => @series.name), official_series_competitors_path(@series), class: 'button button--back'
  = link_to t('.delete_competitor'), official_series_competitor_path(@competitor.series_id, @competitor),
    data: { confirm: t('.remove_confirmation') }, method: :delete, class: 'button button--danger'
