<% content_for :title, "#{@series.race.name} - #{@series.name} - Kilpailijat" %>
<h2><%= "#{@series.name} - Kilpailijat" %></h2>
<% content_for :series_sub_menu do %>
  <%= render :layout => 'shared/series_sub_menu',
    :locals => { :race => @series.race, :series_id => @series.id } do |series| %>
    <%= official_series_competitors_path(series) %>
  <% end %>
<% end %>
<% if @series.competitors.empty? %>
  <%= highlight_notice('Et ole syöttänyt tähän sarjaan vielä yhtään kilpailijaa.') %>
  <%= link_to "Lisää kilpailija", new_official_series_competitor_path(@series) %>
<% else %>
  <div class="action_box">
    <%= link_to "Lisää uusi kilpailija", new_official_series_competitor_path(@series) %>
  </div>
  <% unless @series.has_start_list? %>
    <%= highlight_notice('Kun olet syöttänyt sarjaan kaikki kilpailijat, ' +
        'lisää heille alla olevan linkin avulla lähtöajat- ja numerot.') %>
    <div class="action_box">
      <%= link_to "Lähtöaikojen ja -numeroiden luonti...",
        official_series_start_list_path(@series) %>
    </div>
  <% end %>
  <%= render :partial => 'table', :locals => { :series => @series,
    :result_column => true, :remove_column => true } %>
<% end %>
<hr/>
<%= link_to "Takaisin Yhteenveto-sivulle", official_race_path(@series.race) %>