<h1><%= @series.race.name %></h1>
<h2><%= @series.name %> - kilpailijat</h2>
<%= render :partial => "shared/form_errors", :locals => { :item => @series } %>
<div class="action_box">
  <%= link_to "Lisää uusi kilpailija", new_official_series_competitor_path(@series.id) %>
</div>
<div class="action_box">
  <%= form_for([:official, @series], :url => official_generate_times_path(@series)) do |f| %>
    Generoi kilpailijoille lähtöajat käyttäen sarjalle määritettyä lähtöaikaa.
    Jos kilpailijoilla on jo määritetty lähtöaikoja, ne ylikirjoitetaan.
    <%= submit_tag "Generoi ajat" %>
  <% end %>
</div>
<table>
  <tr>
    <th>Kilpailija</th>
    <th>Nro</th>
    <th>Lähtöaika</th>
  </tr>
  <% @series.competitors.each do |comp| %>
    <tr>
      <td><%= link_to full_name(comp),
            edit_official_series_competitor_path(@series.id, comp) %></td>
      <td><%= comp.number %></td>
      <td><%= time_print(comp.start_time, true) %></td>
    </tr>
  <% end %>
</table>