<h1><%= @series.race.name %></h1>
<h2><%= @series.name %> - kilpailijat</h2>
<%= link_to "Lisää uusi kilpailija", new_official_series_competitor_path(@series.id) %><br/><br/>
<% @series.competitors.each do |comp| %>
  <%= link_to full_name(comp),
    edit_official_series_competitor_path(@series.id, comp) %> (<%= comp.number %>)<br/>
<% end %>