<% content_for :title, "#{@series.race.name} - #{@series.name} - Kilpailijat" %>
<h2><%= "#{@series.name} - Kilpailijat" %></h2>
<% content_for :sub_sub_menu do %>
  <%= render :layout => 'shared/series_sub_menu',
    :locals => { :race => @series.race, :series_id => @series.id } do |series| %><%= official_series_competitors_path(series) %><% end %>
<% end %>
<% if @series.competitors.empty? %>
  <%= highlight_info('Et ole syöttänyt tähän sarjaan vielä yhtään kilpailijaa.') %>
  <div class="action_box">
    <%= link_to "Lisää kilpailija", new_official_series_competitor_path(@series) %>
  </div>
<% else %>
  <div class="action_box">
    <%= link_to "Lisää uusi kilpailija", new_official_series_competitor_path(@series) %>
  </div>
  <% unless @series.has_start_list? %>
    <%= highlight_info('Kun olet syöttänyt sarjaan kaikki kilpailijat, ' +
        'lisää heille alla olevan lomakkeen avulla lähtöajat- ja numerot. ' +
        '(Voit lisätä jälki-ilmoittautuneita kilpailijoita vielä lähtölistan ' +
        'luomisen jälkeenkin.)') %>
  <% end %>
  <div class="section">
    <% unless @series.some_competitor_has_arrival_time? %>
      <%= flash_error %>
      <%= flash_success %>
      <%= render :partial => 'shared/form_errors', :locals => { :item => @series } %>
      <div class="info">Valitse lähtöajaksi todellinen kellonaika, esim. 10:30.</div>
      <%= form_for([:official, @series], :url => official_series_start_list_path) do |f| %>
        <%= f.label :first_number %>
        <%= f.text_field :first_number, :size => 3 %>
        <%= f.label :start_time %>
        <%= start_days_form_field(f, @series) %>
        <%= f.time_select :start_time, :include_seconds => false, :include_blank => true %><br/>
        <%= t "order_method" %>:
        <%= radio_button_tag :order_method, Series::START_LIST_ADDING_ORDER,
          Series::START_LIST_ADDING_ORDER == @order_method %>
        <%= t "order_method_#{Series::START_LIST_ADDING_ORDER}" %>
        <%= radio_button_tag :order_method, Series::START_LIST_RANDOM,
          Series::START_LIST_RANDOM == @order_method %>
        <%= t "order_method_#{Series::START_LIST_RANDOM}" %>
        <%= submit_tag (@series.has_start_list? ? "Tee uusi lähtölista sarjalle" :
            "Luo lähtölista sarjalle") %>
      <% end %>
      <hr/>
    <% end %>
    <%= render :partial => 'official/competitors/table', :locals => { :series => @series,
      :result_column => true, :remove_column => true } %>
  </div>
<% end %>
<% if @series.has_start_list? %>
  <div class="action_box">
    <%= link_to "Lataa lähtölista pdf-tiedostona", series_start_list_path(@series,
      :format => 'pdf') %>
  </div>
<% end %>
<div class="action_box">
  <%= link_to "Lisää kilpailijoita CSV-tiedostosta",
    new_official_race_csv_import_path(@series.race) %>
</div>
<hr/>
<%= link_to "Takaisin Yhteenveto-sivulle", official_race_path(@series.race) %>