= content_for(:title, "#{@series.race.name} - #{t('.title')}")
%h2= yield :title
.message.message--error{style: 'display: none;'}
= render partial: "shared/form_errors", locals: { item: @competitor }
= form_for([:official, @competitor.series.race, @competitor], remote: true, html: { class: 'form' }) do |f|
  = render partial: "basic_fields", locals: { f: f }
  - if @series.sport.only_shooting?
    .form__field.form__field--sm.row
      .col-xs-12.col-sm-3= f.label :number
      .col-xs-12.col-sm-9= f.number_field :number
  .form__buttons
    = submit_tag t(:save), onclick: 'show_spinner()', class: 'button button--primary'
  = image_tag 'spinner.gif', style: 'display:none;', id: 'spinner'
#latest_competitors{style: 'display: none;'}
  %hr
  .message.message--success{style: 'display: none;'}
  %h3= t '.latest_added_competitors'
  %ul#latest_competitors_list
.buttons.buttons--nav
  = link_to raw(t('.back_to_series_competitors_list', :series_name => @series.name)), official_series_competitors_path(@series), id: 'back_to_series', class: 'button button--back'
  = link_to t(:back_to_official_race_page), official_race_path(@series.race), class: 'button button--back'
  = link_to t('official.add_competitors_from_csv_file'), new_official_race_csv_import_path(@series.race), class: 'button'
:javascript
  function show_spinner() {
    $('#spinner').show();
  }
