<%= content_for(:title, "#{@series.name} - uusi kilpailija") %>
<h2><%= yield :title %></h2>
<%= flash_notice %>
<%= render :partial => "shared/form_errors", :locals => { :item => @competitor } %>
<%= form_for([:official, @competitor.series, @competitor]) do |f| %>
  <%= render :partial => "basic_fields", :locals => { :f => f } %><br/>
  <%= submit_tag "Tallenna ja palaa kilpailijalistaan" %>
  <%= submit_tag "Tallenna ja lisää toinen kilpailija", :name => 'create_another' %>
<% end %>
<hr/>
<%= link_to "Takaisin sarjan #{@series.name} kilpailijaluetteloon",
  official_series_competitors_path(@series) %><br/>
<%= link_to "Takaisin kilpailun etusivulle", official_race_path(@series.race) %>