<%= content_for(:title, "#{@series.race.name} - #{t('.title')}") %>
<h2><%= yield :title %></h2>
<div class="error" style="display: none;"></div>
<%= render :partial => "shared/form_errors", :locals => { :item => @competitor } %>
<%= form_for([:official, @competitor.series.race, @competitor], :remote => true) do |f| %>
  <%= render :partial => "basic_fields", :locals => { :f => f } %><br/>
  <%= submit_tag t(:save), :onclick => 'show_spinner()' %>
  <%= image_tag 'spinner.gif', :style => 'display:none;', :id => 'spinner' %>
<% end %>
<div id="latest_competitors" style="display: none;">
  <hr/>
  <div class="success" style="display: none;"></div>
  <h3><%= t '.latest_added_competitors' %></h3>
  <ul id="latest_competitors_list"></ul>
</div>
<hr/>
<%= link_to t('official.add_competitors_from_csv_file'), new_official_race_csv_import_path(@series.race) %><br/>
<%= link_to raw(t('.back_to_series_competitors_list', :series_name => @series.name)),
  official_series_competitors_path(@series), :id => 'back_to_series' %><br/>
<%= link_to t(:back_to_official_race_page), official_race_path(@series.race) %>
<%= javascript_tag do %>
  function show_spinner() {
    $('#spinner').show();
  }
<% end %>