<%= content_for(:title, "#{@series.name} - uusi kilpailija") %>
<h1><%= @series.race.name %></h1>
<h2><%= yield :title %></h2>
<%= flash_notice %>
<%= render :partial => "shared/form_errors", :locals => { :item => @competitor } %>
<%= form_for([:official, @competitor.series, @competitor]) do |f| %>
  <%= render :partial => "basic_fields", :locals => { :f => f, :show_number => false } %><br/>
  <%= submit_tag "Tallenna ja palaa sarjan tietoihin" %>
  <%= submit_tag "Tallenna ja lisää toinen kilpailija", :name => 'create_another' %>
<% end %>
<br/>
<%= link_to "Takaisin sarjan #{@series.name} tietoihin",
  edit_official_series_path(@series) %>