<%= content_for(:title, "#{@series.name} - uusi kilpailija") %>
<h1><%= @series.race.name %></h1>
<h2><%= yield :title %></h2>
<%= flash_notice %>
<%= render :partial => "shared/form_errors", :locals => { :item => @competitor } %>
<%= form_for([:official, @competitor.series, @competitor]) do |f| %>
  <%= render :partial => "basic_fields", :locals => { :f => f } %><br/>
  <%= submit_tag "Lis채채 kilpailija" %>
  <%= submit_tag "Tallenna ja lis채채 toinen", :name => 'create_another' %>
<% end %>