<h1><%= @series.race.name %></h1>
<h2><%= @series.name %> - uusi kilpailija</h2
<%= render :partial => "shared/form_errors", :locals => { :item => @competitor } %>
<% form_for([:official, :series, @competitor]) do |f| %>
  <%= render :partial => "basic_fields", :locals => { :f => f } %><br/>
  <%= submit_tag "Lisää kilpailija" %>
<% end %>