.result-cards
  - competitors.each_with_index do |comp, i|
    .card{class: i % 2 == 0 ? 'card--odd' : ''}
      .card__number= comp.number
      .card__middle
        .card__name
          = full_name(comp)
          - if comp.age_group
            .card__name__extra (#{comp.age_group.name})
        .card__middle-row
          = comp.club.name
          - unless comp.team_name.blank?
            (#{comp.team_name})
      .card__main-value
        %div= time_print(comp.start_time, true)
        - if comp.race.start_time_defined?
          %div
            (#{time_print comp.start_datetime, true})
