<% show_team_name = false %>
<% competitors.each { |c|
  unless c.team_name.blank?
    show_team_name = true
    break
  end
} %>
<table>
  <tr>
    <th><%= t :number_short %></th>
    <th><%= t 'activerecord.models.competitor', :count => 1 %></th>
    <% if defined?(show_series) %>
      <th>Sarja</th>
    <% end %>
    <th><%= club_title(race) %></th>
    <th><%= t 'attributes.start_time' %></th>
    <% if show_team_name %>
      <th><%= t 'attributes.team_name' %></th>
    <% end %>
  </tr>
  <% competitors.each_with_index do |comp, i| %>
    <% show_team_name ||= !comp.team_name.nil? %>
    <tr id="comp_<%= i + 1 %>"<%= i % 2 == 0 ? raw(' class="odd"') : '' %>>
      <td><%= comp.number %></td>
      <td><%= full_name(comp) %>
        <%= "(#{comp.age_group.name})" if comp.age_group %>
        <% if comp.unofficial? %>
          <% if params[:format] == 'pdf' %>
            <%= "(#{t(:unofficial_short)})" %>
          <% else %>
            <%= raw("<span class='unofficial' title='#{t(:unofficial)}'>" +
                "#{t(:unofficial_short)}</span>") %>
          <% end %>
        <% end %>
      </td>
      <% if defined?(show_series) %>
        <td><%= comp.series.name %></td>
      <% end %>
      <td><%= comp.club.name %></td>
      <td><%= time_print(comp.start_time, true) %> (<%= time_print comp.start_datetime, true %>)</td>
      <% if show_team_name %>
        <td><%= comp.team_name %></td>
      <% end %>
    </tr>
  <% end %>
</table>