<table>
  <tr>
    <th>Nro</th>
    <th>Kilpailija</th>
    <% if defined?(show_series) %>
      <th>Sarja</th>
    <% end %>
    <th><%= club_title(@series.race) %></th>
    <th>Lähtöaika</th>
  </tr>
  <% competitors.each_with_index do |comp, i| %>
    <tr id="comp_<%= i + 1 %>">
      <td><%= comp.number %></td>
      <td><%= full_name(comp) %>
        <%= "(#{comp.age_group.name})" if comp.age_group %>
        <% if comp.unofficial? %>
          <% if params[:format] == 'pdf' %>
            <%= "(#{t(:unofficial_short)})" %>
          <% else %>
            <%= raw("<span class='unofficial' title='#{t(:unofficial)}'>" +
                "#{t(:unofficial_short)}</span>") %>
          <% end %>
        <% end %>
      </td>
      <% if defined?(show_series) %>
        <td><%= comp.series.name %></td>
      <% end %>
      <td><%= comp.club.name %></td>
      <td><%= time_print(comp.start_time, true) %></td>
    </tr>
  <% end %>
</table>