<h1><%= @race.name %> - <%= t :start_list %></h1>
<%= @race.location %>, <%= race_date_interval(@race) %>
<% where_condition = "number > 0 and competitors.start_time is not null" %>
<% where_condition << " and club_id=#{params[:club_id].to_i}" unless params[:club_id].blank? %>
<%= render :partial => 'table',
  :locals => { :show_series => true, :race => @race,
  :competitors => @race.competitors.except(:order).where(where_condition).order('start_time, number').includes(:series, :club, :age_group) } %>