.facebook_share
  = render partial: 'shared/facebook_share'
= content_for(:title, "#{@series.race.name} - #{@series.name} - #{t(:start_list)}")
%h2= yield :title
= render partial: "competitors/start_notice", locals: { series: @series }
- if @series.start_list.empty?
  .info= t '.no_competitors_or_start_times'
- else
  - cache [@series, I18n.locale] do
    = render partial: 'start_list', locals: { competitors: @series.start_list.includes(:club, :age_group), race: @series.race }
- if @series.race.series.count > 1
  %hr
  .buttons
    - @series.race.series.each do |s|
      - if s == @series
        .button.button--current= s.name
      - else
        = link_to s.name, race_series_start_list_path(s.race, s), class: 'button button--primary'
%hr
= link_to t(:results), race_series_path(@series.race, @series), class: 'button'
= link_to "#{t(:back_to_page)} #{@series.race.name}", race_path(@series.race), class: 'button button--back'
