<%= content_for(:title, "#{@series.name} - Lähtölista") %>
<h1><%= sport_icon(@series.race.sport) %> <%= @series.race.name %></h1>
<h2><%= yield :title %></h2>
<%= render :partial => "competitors/start_notice", :locals => { :series => @series } %>
<table>
  <tr>
    <th>Nro</th>
    <th>Kilpailija</th>
    <th><%= t "attributes.club" %></th>
    <th>Lähtöaika</th>
  </tr>
  <% @series.start_list.each do |comp| %>
    <tr>
      <td><%= comp.number %></td>
      <td><%= full_name(comp) %></td>
      <td><%= comp.club.name %></td>
      <td><%= time_print(comp.start_time, true) %></td>
    </tr>
  <% end %>
</table>
<br/>
<%= link_to "Tulokset", series_competitors_path(@series) %>
<%= link_to "Lataa lähtölista pdf-tiedostona", start_list_path(@series,
  :format => 'pdf') %>