<%= content_for(:title, "#{@series.race.name} - #{@series.name} - #{t(:start_list)}") %>
<div class="title-and-fb-share">
  <h2><%= "#{@series.name} - #{t(:start_list)}" %></h2>
  <%= render partial: 'shared/facebook_share' %>
</div>
<% content_for :sub_sub_menu do %>
  <%= render :layout => 'shared/series_sub_menu',
    :locals => { :race => @series.race, :series_id => @series.id } do |series| %>
    <%= series_start_list_path(series) %>
  <% end %>
<% end %>
<%= render :partial => "competitors/start_notice", :locals => { :series => @series } %>
<% if @series.start_list.empty? %>
  <div class="info"><%= t '.no_competitors_or_start_times' %></div>
  <% if official_rights %>
    <div><%= link_to "Lisää kilpailijoita", new_official_series_competitor_path(@series) %></div>
  <% end %>
<% else %>
  <div class="section">
    <% cache @series do %>
      <%= render :partial => 'table',
        :locals => { :competitors => @series.start_list.includes(:club, :age_group),
          :race => @series.race } %>
    <% end %>
  </div>
  <div class="action_box">
    <%= link_to t(:download_start_list_pdf), series_start_list_path(@series,
      :format => 'pdf') %>
  </div>
<% end %>
<hr/>
<%= link_to t(:results), series_competitors_path(@series) %><br/>
<%= link_to "#{t(:back_to_page)} #{@series.race.name}", race_path(@series.race) %>