<h1><%= @series.race.name %></h1>
<%= @series.race.location %>, <%= race_date_interval(@series.race) %>
<h2><%= @series.name %> - Lähtölista</h2>
<%= render :partial => 'table',
  :locals => { :competitors => @series.start_list.includes(:club, :age_group),
    :race => @series.race } %>