<%= content_for(:title, "#{@series.race.name} - #{@series.name} - #{t(:start_list)}") %>
<h2><%= yield :title %></h2>
<%= render :partial => "competitors/start_notice", :locals => { :series => @series } %>
<% if @series.start_list.empty? %>
  <div class="info"><%= t '.no_competitors_or_start_times' %></div>
<% else %>
  <div class="section">
    <%= render :partial => 'table',
      :locals => { :competitors => @series.start_list.includes(:club, :age_group),
        :race => @series.race } %>
  </div>
<% end %>
<hr/>
<%= link_to t(:results), series_competitors_path(@series) %><br/>
<%= link_to "#{t(:back_to_page)} #{@series.race.name}", race_path(@series.race) %>