%h1= @series.race.name
#{@series.race.location}, #{race_date_interval(@series.race, false)}
%h2 #{@series.name} - Lähtölista
- cache @series do
  = render :partial => 'table', :locals => { :competitors => @series.start_list.includes(:club, :age_group),
      :race => @series.race }
