.facebook_share
  = render partial: 'shared/facebook_share'
= content_for(:title, "#{@series.race.name} - #{@series.name} - #{t(:start_list)}")
%h2= yield :title
= render :partial => "competitors/start_notice", :locals => { :series => @series }
- if @series.start_list.empty?
  .info= t '.no_competitors_or_start_times'
- else
  .section
    = render :partial => 'table',
      :locals => { :competitors => @series.start_list.includes(:club, :age_group), :race => @series.race }
- if @series.race.series.count > 1
  %hr
  - @series.race.series.each do |s|
    - unless s == @series
      = link_to s.name, series_start_list_path(s), class: 'primary_link'
%hr
= link_to t(:results), series_competitors_path(@series), class: 'secondary_link'
%br
= link_to "#{t(:back_to_page)} #{@series.race.name}", race_path(@series.race), class: 'back_link'
