<%= content_for(:title, "#{@series.name} - Lähtölista") %>
<h2><%= yield :title %></h2>
<% content_for :sub_sub_menu do %>
  <%= render :layout => 'shared/series_sub_menu',
    :locals => { :race => @series.race, :series_id => @series.id } do |series| %>
    <%= series_start_list_path(series) %>
  <% end %>
<% end %>
<%= render :partial => "competitors/start_notice", :locals => { :series => @series } %>
<% if @series.start_list.empty? %>
  <div class="info">Tähän sarjaan ei ole merkitty kilpailijoita tai heille ei
    ole määritetty vielä lähtöaikoja.</div>
  <% if official_rights %>
    <div><%= link_to "Lisää kilpailijoita", new_official_series_competitor_path(@series) %></div>
  <% end %>
<% else %>
  <div class="section">
    <table>
      <tr>
        <th>Nro</th>
        <th>Kilpailija</th>
        <th><%= t "attributes.club" %></th>
        <th>Lähtöaika</th>
      </tr>
      <% @series.start_list.includes(:club, :age_group).each_with_index do |comp, i| %>
        <tr id="comp_<%= i + 1 %>">
          <td><%= comp.number %></td>
          <td><%= full_name(comp) %>
            <%= "(#{comp.age_group.name})" if comp.age_group %>
            <%= raw("<span class='unofficial' title='#{t(:unofficial)}'>#{t(:unofficial_short)}</span>") if comp.unofficial? %>
          </td>
          <td><%= comp.club.name %></td>
          <td><%= time_print(comp.start_time, true) %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="action_box">
    <%= link_to "Lataa lähtölista pdf-tiedostona", series_start_list_path(@series,
      :format => 'pdf') %>
  </div>
<% end %>
<hr/>
<%= link_to "Tulokset", series_competitors_path(@series) %><br/>
<%= link_to "Takaisin sivulle #{@series.race.name}", race_path(@series.race) %>