<% content_for :title, "Hirviurheilu Offline -tuotteen asennusohjeet" %>
<% content_for :page_title, yield(:title) %>
<h2>Hirviurheilu Offline -tuotteen lataus ja asentaminen</h2>
<div class="section full_width">
  <div class="info">
    Lue ensin, sopiiko sinulle paremmin
    <%= link_to 'Hirviurheilu Online vai Hirviurheilu Offline', offline_vs_online_path %>.
  </div>
  <h3>1. Rekisteröidy tai kirjaudu sisään Hirviurheilu Online -palveluun</h3>
  <% if current_user %>
    Olet jo kirjautunut sisään. Voit jatkaa seuraavaan vaiheeseen.
  <% else %>
    <%= link_to 'Aloita rekisteröitymällä palveluun', register_path %>
    tai jos sinulla on jo tunnukset,
    <%= link_to 'kirjaudu sisään palveluun', login_path(:return_to => offline_installation_path) %>.
    Palaa sen jälkeen takaisin tälle sivulle.
  <% end %>
  <h3>2. Lataa asennustiedosto</h3>
  <% if current_user %>
    <%= link_to 'Lataa asennustiedosto', download_installer_path, 'data-no-turbolink' => true %>
  <% else %>
    <div class="info">Kun olet kirjautunut palveluun, tähän ilmestyy latauslinkki.</div>
  <% end %>
  <h3>3. Asenna Hirviurheilu Offline</h3>
  Suorita lataamasi asennustiedosto ja noudata ohjeita.
</div>

<h2>Hirviurheilu Offline -ohjelman käynnistäminen</h2>
<div class="section">
  <h3>4. Käynnistä Hirviurheilu Offline</h3>
  Käynnistä ohjelma työpäydän <%= image_tag 'favicon.png' %> Hirviurheilu Offline -pikakuvakkeesta.
  <h3>5. Odota käynnistymistä</h3>
  <div style="margin: 10px 0; overflow: auto;">
    <%= image_tag 'command_prompt.png', :style => 'float:right;' %>
    Ohjelman käynnistäminen avaa mustataustaisen komentorivi-ikkunan.
    Odota, että ikkunaan tulee teksti:<br/><br/>
    "HIRVIURHEILU OFFLINE ON NYT VALMIS KÄYTETTÄVÄKSI"
  </div>
  <h3>6. Anna ohjelmalle lupa toimia palvelimena</h3>
  Jos sinulla on käytössäsi jokin palomuuri (Windowsin oma, F-secure tms.),
  se kysyy lupaa, saako ohjelma toimia palvelimena.
  Anna lupa. Jos palomuuria ei ole, ei lupaa kysytä, jolloin voit siirtyä suoraan
  seuraavaan vaiheeseen.
  <div style="margin: 10px 0; overflow: auto;">
    <%= image_tag 'firewall.png', :style => 'float:left; margin-right:10px;' %>
    <i>Jos sinulla on Windows Vista ja sen palomuuri käytössä, luvan kysyminen
      näyttää tältä. Valitse "Pura esto". Lupaa ei kysytä Hirviurheilu-ohjelmalle
      vaan Ruby-ohjelmalle, jota tarvitaan Hirviurheilun suorittamisessa.
      Luvan antaminen on täysin turvallista.</i>
  </div>
  <h3>7. Aloita ohjelman käyttö</h3>
  Siirry haluamallasi selaimella (esim. Internet Explorer tai Firefox) osoitteeseen
  <a href="http://localhost:3000" target="_blank">http://localhost:3000</a>.
  Voit nyt aloittaa ohjelman käytön.<br/><br/>
  Toisin kuin Hirviurheilu Online -palvelussa,
  sinun ei tarvitse luoda itsellesi käyttäjätunnusta vaan voit suoraan aloittaa
  lisäämällä uuden kilpailun.
</div>

<h2>Hirviurheilu Offline -ohjelman sulkeminen</h2>
<div class="section">
  <h3>8. Sulje komentorivi-ikkuna</h3>
  Kun et halua enää käyttää ohjelmaa, voit sulkea selaimen ja komentorivi-ikkunan
  (mustataustainen ikkuna). Kun haluat käyttää ohjelmaa uudestaan, aloita vaiheesta 4.
</div>