<table cellpadding="3" cellspacing="0" border="1">
  <tr>
    <th>Kilpailija</th>
    <th>Seura</th>
    <th>Nro</th>
    <th>Lähtöaika</th>
    <th>Tulos syötetty</th>
    <th>&nbsp;</th>
  </tr>
  <% series.competitors.each do |comp| %>
    <tr id="competitor_<%= comp.id %>">
      <td>
        <%= link_to full_name(comp),
          edit_official_series_competitor_path(series.id, comp) %>
        <%= "(#{comp.age_group.name})" if comp.age_group %>
      </td>
      <td><%= comp.club.name %></td>
      <td class="center"><%= comp.number %></td>
      <td class="center"><%= time_print(comp.start_time, true) %></td>
      <td class="center"><%= yes_or_empty(comp.finished?) %></td>
      <td><%= link_to "Poista", official_series_competitor_path(series.id, comp),
          :confirm => "Haluatko varmasti poistaa tämän kilpailijan?",
          :method => :delete, :remote => true %></td>
    </tr>
  <% end %>
</table>