<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :national_record %>
<%= f.text_field :national_record, :size => 8, :maxlength => 8 %>
<a href="<%= NATIONAL_RECORD_URL %>">Metsästäjäliiton SE-sivu</a>
<br/>
<%= f.label :estimates, 'Arviomatkojen lkm' %>
<%= f.select :estimates, [2, 4] %>
<%= f.check_box :no_time_points %>
<%= f.label :no_time_points %>