.form__fields--horizontal
  .form__field
    = f.text_field :name, placeholder: t('activerecord.attributes.series.name')
  .form__field
    = f.check_box :shorter_trip
    = f.label :shorter_trip
  .form__field.form__field--sm
    = f.label :national_record
    = f.number_field :national_record, maxlength: 4
.form__fields--horizontal
  .form__field
    = f.label :points_method
    = f.select :points_method, @points_method_options
