<%= content_for(:title, "#{@series.race.name} - #{@series.name}") %>
<h1><%= yield :title %></h1>
<h2>Sarjan asetukset</h2>
<div class="change_series">
  <div class="menu_and_button">
    <%= render :partial => 'shared/series_selection',
      :locals => { :url => official_change_series_path, :race => @series.race,
      :selected_id => params[:id] } %>
  </div>
</div>
<div class="action_box">
  <%= render :partial => "shared/form_errors", :locals => { :item => @series } %>
  <%= flash_error %>
  <%= flash_notice %>
  <%= form_for [:official, @series] do |f| %>
    <%= render :partial => 'official/series/form_basic_fields', :locals => { :f => f,
      :race => @series.race } %>
    <%= submit_tag "Päivitä sarjan asetukset" %>
  <% end %>
</div>
<% unless @series.competitors.empty? %>
  <% if @series.first_number and @series.start_time %>
    <div class="action_box">
      <%= form_for([:official, @series], :url => official_generate_numbers_path(@series)) do |f| %>
        <%= submit_tag "Lisää kilpailijoille lähtönumerot" %> alkaen sarjan
        ensimmäisestä numerosta (<%= @series.first_number %>).
      <% end %>
    </div>
    <% if @series.each_competitor_has_number? %>
      <div class="action_box">
        <%= form_for([:official, @series], :url => official_generate_times_path(@series)) do |f| %>
          <%= submit_tag "Lisää kilpailijoille lähtöajat" %> alkaen sarjan lähtöajasta
          (<%= time_print(@series.start_time) %>).
        <% end %>
      </div>
      <% if @series.each_competitor_has_start_time? %>
        <% unless @series.correct_estimate1 and @series.correct_estimate2 %>
          <div class="notice">Muista syöttää oikeat arviointimatkat viimeistään
            kilpailun päätyttyä.</div>
        <% end %>
      <% else %>
        <div class="notice">Muista lisätä kilpailijoille lähtöajat
          yllä olevan napin avulla.</div>
      <% end %>
    <% else %>
      <div class="notice">Kun olet syöttänyt kaikki kilpailijat, muista lisätä
        heille lähtönumerot yllä olevan napin avulla.</div>
    <% end %>
  <% elsif not @series.competitors.empty? %>
    <div class="notice">Muista syöttää sarjan ensimmäinen kilpailunumero ja lähtöaika,
      jotta kilpailijoille voidaan lisätä lähtönumerot ja lähtöajat.</div>
  <% end %>
<% end %>
<h2>Kilpailijat</h2>
<div class="action_box">
  <%= link_to "Lisää uusi kilpailija", new_official_series_competitor_path(@series.id) %>
</div>
<% if @series.competitors.empty? %>
  <div class="notice">Et ole syöttänyt sarjaan vielä yhtään kilpailijaa.
    Voit lisätä heitä klikkaamalla yllä olevaa linkkiä.</div>
<% else %>
  <% if @series.each_competitor_has_start_time? and not @series.each_competitor_finished? %>
    <div class="notice">Voit syöttää kilpailijoille tulostietoja klikkaamalla heidän
      nimessään olevaa linkkiä.</div>
  <% end %>
  <table cellpadding="3" cellspacing="0" border="1">
    <tr>
      <th>Kilpailija</th>
      <th>Nro</th>
      <th>Lähtöaika</th>
      <th>Tulos syötetty</th>
      <th>&nbsp;</th>
    </tr>
    <% @series.competitors.each do |comp| %>
      <tr id="competitor_<%= comp.id %>">
        <td>
          <%= link_to full_name(comp),
            edit_official_series_competitor_path(@series.id, comp) %>
          <%= "(#{comp.age_group.name})" if comp.age_group %>
        </td>
        <td><%= comp.number %></td>
        <td><%= time_print(comp.start_time, true) %></td>
        <td align="center"><%= comp.finished? ? 'kyllä' : 'ei' %></td>
        <td><%= link_to "Poista", official_series_competitor_path(@series.id, comp),
            :confirm => "Haluatko varmasti poistaa tämän kilpailijan?",
            :method => :delete, :remote => true %></td>
      </tr>
    <% end %>
  </table>
<% end %>
<hr/>
<%= link_to "Takaisin toimitsijan etusivulle", official_root_path %>