<%= content_for(:title, "#{@series.race.name} - #{@series.name}") %>
<h1><%= yield :title %></h1>
<h2>Sarjan asetukset</h2>
<%= render :partial => "shared/form_errors", :locals => { :item => @series } %>
<%= flash_error %>
<%= flash_notice %>
<%= form_for [:official, @series] do |f| %>
  <%= render :partial => 'official/races/series', :locals => { :f => f,
    :only_basic_fields => true } %>
<% end %>
<div class="action_box">
  <%= form_for([:official, @series], :url => official_generate_numbers_path(@series)) do |f| %>
    Generoi kilpailijoille numerot käyttäen sarjalle määritettyä ensimmäistä numeroa.
    Jos kilpailijoilla on jo määritetty numeroita, ne ylikirjoitetaan.
    <%= submit_tag "Generoi numerot" %>
  <% end %>
</div>
<div class="action_box">
  <%= form_for([:official, @series], :url => official_generate_times_path(@series)) do |f| %>
    Generoi kilpailijoille lähtöajat käyttäen sarjalle määritettyä lähtöaikaa.
    Jos kilpailijoilla on jo määritetty lähtöaikoja, ne ylikirjoitetaan.
    <%= submit_tag "Generoi lähtöajat" %>
  <% end %>
</div>
<h2>Kilpailijat</h2>
<div class="action_box">
  <%= link_to "Lisää uusi kilpailija", new_official_series_competitor_path(@series.id) %>
</div>
<table>
  <tr>
    <th>Kilpailija</th>
    <th>Nro</th>
    <th>Lähtöaika</th>
    <th>Tulos</th>
    <th>&nbsp;</th>
  </tr>
  <% @series.competitors.each do |comp| %>
    <tr>
      <td>
        <%= link_to full_name(comp),
          edit_official_series_competitor_path(@series.id, comp) %>
        <%= "(#{comp.age_group.name})" if comp.age_group %>
      </td>
      <td><%= comp.number %></td>
      <td><%= time_print(comp.start_time, true) %></td>
      <td><%= comp.finished? ? 'x' : '' %></td>
      <td><%= link_to "Poista", official_series_competitor_path(@series.id, comp),
            :confirm => "Haluatko varmasti poistaa tämän kilpailijan?",
            :method => :delete %></td>
    </tr>
  <% end %>
</table>