<%= content_for(:title, "#{@series.race.name} - #{@series.name}") %>
<h2>Sarjan asetukset</h2>
<div class="change_series">
  <div class="menu_and_button">
    <%= render :partial => 'shared/series_selection',
      :locals => { :url => official_change_series_path, :race => @series.race,
      :selected_id => params[:id] } %>
  </div>
</div>
<div class="action_box">
  <%= render :partial => "shared/form_errors", :locals => { :item => @series } %>
  <%= flash_error %>
  <%= flash_notice %>
  <%= form_for [:official, @series] do |f| %>
    <%= render :partial => 'official/series/form_basic_fields', :locals => { :f => f,
      :race => @series.race } %>
    <%= submit_tag "Tallenna muutokset sarjan asetuksiin" %>
  <% end %>
</div>
<% unless @series.competitors.empty? %>
  <% if @series.first_number and @series.start_time %>
    <%= render :partial => 'generate_numbers', :locals => { :series => @series } %>
    <% if @series.each_competitor_has_number? %>
      <%= render :partial => 'generate_start_times', :locals => { :series => @series } %>
      <% if @series.each_competitor_has_start_time? %>
        <% unless @series.correct_estimate1 and @series.correct_estimate2 %>
          <%= highlight_notice('Muista syöttää oikeat arviointimatkat viimeistään ' +
              'kilpailun päätyttyä') %>
        <% end %>
      <% else %>
        <%= highlight_notice('Muista lisätä kilpailijoille lähtöajat ' +
            'yllä olevan napin avulla.') %>
      <% end %>
    <% else %>
      <%= highlight_notice('Kun olet syöttänyt kaikki kilpailijat, muista lisätä ' +
          'heille lähtönumerot yllä olevan napin avulla.') %>
    <% end %>
  <% elsif not @series.competitors.empty? %>
    <%= highlight_notice('Kun olet syöttänyt kaikki kilpailijat, ' +
        'muista syöttää sarjan ensimmäinen kilpailunumero ja lähtöaika, ' +
        'jotta kilpailijoille voidaan lisätä lähtönumerot ja lähtöajat.') %>
  <% end %>
<% end %>
<h2>Kilpailijat</h2>
<div class="action_box">
  <%= link_to "Lisää uusi kilpailija", new_official_series_competitor_path(@series.id) %>
</div>
<% if @series.competitors.empty? %>
  <%= highlight_notice('Et ole syöttänyt sarjaan vielä yhtään kilpailijaa. ' +
      'Voit lisätä heitä klikkaamalla yllä olevaa linkkiä.') %>
<% else %>
  <% if @series.each_competitor_has_start_time? %>
    <% unless @series.each_competitor_finished? %>
      <%= highlight_notice('Voit syöttää kilpailijoille tulostietoja klikkaamalla heidän ' +
          'nimessään olevaa linkkiä tai käyttäen suorituspaikkakohtaisia tulossivuja.') %>
    <% end %>
    <%= render :partial => 'official/shared/series_result_input_links',
      :locals => { :series_id => @series.id } %>
  <% end %>
  <%= render :partial => 'competitors_table', :locals => { :series => @series } %>
<% end %>
<hr/>
<%= link_to "Takaisin kilpailun etusivulle", official_race_path(@series.race) %>