- @batches.each_with_index do |batch, index|
  - if index > 0
    .page-break
  %h2
    = batch.number
    - if batch[@time]
      \/
      #{batch[@time].strftime('%H:%M')}
    - if batch.track.to_i > 0
      (#{t('attributes.track')} #{batch.track})
  - batch.competitors.each do |competitor|
    - next unless @sub_sport == :rifle || !competitor.only_rifle?
    - track_place = competitor.qualification_round_track_place ? "#{competitor.qualification_round_track_place}. " : ''
    - number = competitor.number ? " (##{competitor.number})" : ''
    %h3 #{track_place}#{full_name competitor}#{number}, #{competitor.club.name}, #{competitor.series.name}
    - if @sub_sport == :rifle
      .empty-results-rifle-titles
        - 4.times do |i|
          .empty-results-rifle-titles__title= t "sport_name.european_sub.rifle#{i + 1}"
      .empty-results-table.empty-results-table--rifle
        - 4.times do
          .empty-results-table__cell 1
          .empty-results-table__cell 2
          .empty-results-table__cell 3
          .empty-results-table__cell 4
          .empty-results-table__cell.empty-results-table__cell--space 5
        .empty-results-table__cell.empty-results-table__cell--total Yht
    - else
      .empty-results-table
        - 25.times do |i|
          .empty-results-table__cell= i + 1
        .empty-results-table__cell.empty-results-table__cell--total Yht
