Kilpailun nimi: #{@race.name}
%br
Laji: #{@race.sport.name}
%br
Aika: #{race_date_interval(@race, false)}
%br
Paikkakunta: #{@race.location}
%br
Järjestäjä: #{@race.organizer}
%br
Toimitsija: #{full_name(@race.users.first, true)} (#{@race.users.first.email})
%br
Kilpailijoiden määrä: #{@race.competitors.count}
%br
Maaliin tulleiden kilpailijoiden määrä: #{@race.competitors.where(no_result_reason: nil).count}
%br
%br
%a{href: race_url(@locale, @race)}= race_url @locale, @race
