- extra_score_column = competitors.any? {|competitor| competitor.european_shotgun_extra_score}
%table.results-table
  %tr
    %th &nbsp;
    %th= t 'attributes.name'
    %th= t 'number_short'
    %th#table_club_title= club_title(@race)
    %th= t 'sport_name.european_sub.trap'
    %th= t 'sport_name.european_sub.compak'
    %th= t :result
    - if extra_score_column
      %th= t :extra_round
  - prev_results = 1.0/0.0
  - competitors.each_with_index do |comp, i|
    - @max_score = comp.european_shotgun_score if i == 0
    - next unless i < 3 || params[:club_id].blank? || comp.club_id == params[:club_id].to_i
    - results = comp.european_shotgun_results
    %tr{class: i % 2 == 0 ? 'odd' : ''}
      %td= (results == prev_results) ? raw('&nbsp;') : "#{i + 1}."
      %td= full_name(comp)
      %td= comp.number
      %td= comp.club.name
      = render partial: 'results/european_result_cell', locals: { competitor: comp, field: 'trap' }
      = render partial: 'results/european_result_cell', locals: { competitor: comp, field: 'compak' }
      %td.center.total-points
        - if comp.no_result_reason
          = comp.no_result_reason
        - else
          = comp.european_shotgun_score || '-'
      - if extra_score_column
        %td= comp.european_shotgun_extra_score
    - prev_results = results
