Hei #{full_name(@invitee, true)},
\
#{full_name(@inviter, true)} on pyytänyt sinua lisäämään kilpailijoita Hirviurheilu-palvelussa olevaan #{@race.sport.ski? ? 'hirvenhiihto' : 'hirvenjuoksu'}kilpailuun: #{@race.name} (#{race_date_interval(@race, false)}, #{@race.location}).
\
Siirry syöttämään kilpailijoita:
= @url
\
Tämä viesti on lähetetty Hirviurheilu-järjestelmästä. Älä vastaa siihen.
Jos haluat ottaa yhteyttä Hirviurheiluun, voit lähettää palautetta osoitteessa:
= new_feedback_url