Hei #{full_name(@invitee, true)},
%br
%br
#{full_name(@inviter, true)} on pyytänyt sinua lisäämään kilpailijoita Hirviurheilu-palvelussa olevaan #{@race.sport.ski? ? 'hirvenhiihto' : 'hirvenjuoksu'}kilpailuun:
#{@race.name} (#{race_date_interval(@race, false)}, #{@race.location}).
%br
%br
Siirry syöttämään kilpailijoita:
%a{href: @url}= @url
= render partial: 'shared/customer_email_footer'