Hei #{full_name(@invitee, true)},
%br
%br
#{full_name(@inviter, true)} on pyytänyt sinua lisäämään kilpailijoita Hirviurheilu-palvelussa olevaan kilpailuun:
#{@race.name} (#{race_date_interval(@race, false)}, #{@race.location}).
%br
%br
Siirry syöttämään kilpailijoita:
%a{href: official_race_url(@locale, @race)}= official_race_url(@locale, @race)
= render partial: 'shared/customer_email_footer'
