<%= render :partial => 'shared/form_errors', :locals => { :item => @announcement } %>
<%= form_for([:admin, @announcement]) do |f| %>
  <div>
    <span class="form_label"><%= f.label :title %></span>
    <%= f.text_field :title %>
  </div>
  <div>
    <span class="form_label"><%= f.label :content %></span>
    <%= f.text_area :content, :rows => 8, :cols => 40 %>
  </div>
  <div>
    <span class="form_label"><%= f.label :published %></span>
    <%= f.date_select :published %>
  </div>
  <div>
    <span class="form_label"><%= f.label :active %></span>
    <%= f.check_box :active %>
  </div>
  <%= submit_tag 'Tallenna' %>
<% end %>