= render :partial => 'shared/form_errors', :locals => { :item => @announcement }
= form_for([:admin, @announcement], class: 'form') do |f|
  .form__field
    = f.label :title
    = f.text_field :title
  .form__field
    = f.label :content
    = f.text_area :content, rows: 15, cols: 80
  .form__field.form__field--date
    = f.label :published
    = f.date_select :published
  .form__field
    = f.label :active
    = f.check_box :active
  .form__field
    = f.label :front_page
    = f.check_box :front_page
  .form__buttons
    = submit_tag 'Tallenna', class: 'button button--primary'
