- content_for(:title, 'Admin - Tiedotteet')
- content_for :page_title, yield(:title)
%h2 Tiedotteet
= flash_success
= link_to 'Lis채채 tiedote', new_admin_announcement_path, class: 'button button--add'
#all_news{style: 'margin-top: 16px'}
  %table
    %tr
      %th Pvm
      %th Otsikko
      %th Aktiivinen
      %th N채yt채 etusivulla
    - @announcements.each do |a|
      %tr
        %td= a.published
        %td= link_to a.title, edit_admin_announcement_path(a)
        %td= yes_or_empty a.active?
        %td= yes_or_empty a.front_page?
