- content_for :title, t('.title')
%h2= yield :title
- if @race.sport.heat_list?
  %h3= t(:heat_lists)
  - if @race.sport.one_heat_list?
    - if @race.sport.nordic?
      = link_to t('.nordic_trap_heat_list_pdf'), official_race_nordic_heat_lists_trap_path(@race, format: :pdf), class: 'button button--pdf'
      = link_to t('.nordic_shotgun_heat_list_pdf'), official_race_nordic_heat_lists_shotgun_path(@race, format: :pdf), class: 'button button--pdf'
      = link_to t('.nordic_rifle_moving_heat_list_pdf'), official_race_nordic_heat_lists_rifle_moving_path(@race, format: :pdf), class: 'button button--pdf'
      = link_to t('.nordic_rifle_standing_heat_list_pdf'), official_race_nordic_heat_lists_rifle_standing_path(@race, format: :pdf), class: 'button button--pdf'
    - elsif @race.sport.european?
      = link_to t('.european_trap_heat_list_pdf'), official_race_european_heat_lists_trap_path(@race, format: :pdf), class: 'button button--pdf'
      = link_to t('.european_compak_heat_list_pdf'), official_race_european_heat_lists_compak_path(@race, format: :pdf), class: 'button button--pdf'
      = link_to t('.european_rifle_heat_list_pdf'), official_race_european_heat_lists_rifle_path(@race, format: :pdf), class: 'button button--pdf'
  - else
    = link_to t('.qualification_round_heat_list_pdf'), official_race_qualification_round_heat_lists_path(@race, format: :pdf), class: 'button button--pdf'
    = link_to t('.final_round_heat_list_pdf'), official_race_final_round_heat_lists_path(@race, format: :pdf), class: 'button button--pdf'
    = link_to t('.heat_list_template_pdf'), official_race_heat_list_template_path(@race, format: :pdf), class: 'button button--pdf'
%h3= t('.numbers')
- if @race.competitors.empty?
  .message.message--info= t '.numbers_no_competitors'
- else
  = form_tag official_race_competitor_numbers_path(@race, format: :pdf), method: :get, class: 'form' do
    .form_field
      = radio_button_tag :size, 'a4', true
      = label_tag "size_a4", '1 / A4', class: 'form__label--radio'
      = radio_button_tag :size, 'a5', false
      = label_tag "size_a5", '2 / A4', class: 'form__label--radio'
    .form_field
      = label_tag :print_sport, 'Tulosta laji'
      = check_box_tag :print_sport, true, true
    .form_field
      = label_tag :print_heat_data, 'Tulosta erätiedot'
      = check_box_tag :print_heat_data, true, true
    .form__buttons
      = submit_tag t('.download_numbers_pdf'), class: 'button button--pdf'
.buttons.buttons--nav
  = link_to t(:back_to_official_race_page), official_race_path(@race), class: 'button button--back'
