<%= content_for(:title, "#{@series.race.name} - #{title_name} - #{@series.name}") %>
<h2><%= title_name %> - <%= @series.name %></h2>
<%= render :layout => 'shared/series_sub_menu',
  :locals => { :race => @series.race, :series_id => @series.id } do |series| %>
  <%= "/official/series/#{series.id}/#{controller_name}" %>
<% end %>
<% if @series.competitors.empty? %>
  <div class="notice">Et ole syöttänyt tähän sarjaan vielä yhtään kilpailijaa.</div>
  <%= link_to "Lisää kilpailija sarjaan #{@series.name}",
    new_official_series_competitor_path(@series) %>
<% else %>
  <div id="update_error"></div>
  <%= render :partial => partial_table %>
<% end %>
<hr/>
<%= render :partial => 'official/shared/series_result_input_links',
  :locals => { :series_id => @series.id } %><br/>
<%= link_to "Takaisin toimitsijan etusivulle", official_root_path %>
<script type="text/javascript">
  function start_updating(id) {
    $("#status_" + id).html('<%= image_tag 'spinner.gif' %>');
  }
</script>