<%= content_for(:title, "#{@series.race.name} - #{@series.name} - #{title_name}") %>
<h2><%= @series.name %> - <%= title_name %></h2>
<% content_for :sub_sub_menu do %>
  <%= render :layout => 'shared/series_sub_menu',
    :locals => { :race => @series.race, :series_id => @series.id } do |series| %>
    <%= "/official/series/#{series.id}/#{controller_name}" %>
  <% end %>
<% end %>
<% if @series.competitors.empty? %>
  <div class="info"><%= t 'official.result_place.no_competitors_in_series' %></div>
  <div class="action_box">
    <%= link_to t('official.result_place.add_competitor_to_series', :series_name => @series.name),
      new_official_series_competitor_path(@series) %>
  </div>
<% elsif !@series.has_start_list? %>
  <%= highlight_info(t('official.result_place.no_start_list_for_series')) %>
  <div class="action_box">
    <%= link_to t('official.result_place.generate_start_times'), official_series_competitors_path(@series) %>
  </div>
<% else %>
  <div id="update_error"></div>
  <%= render :partial => partial_table %>
  <hr/>
  <%= render :partial => 'official/shared/series_result_input_links',
    :locals => { :series_id => @series.id } %><br/>
  <%= link_to t(:back_to_official_race_page), official_race_path(@series.race) %>
  <script type="text/javascript">
    function start_updating(id) {
      $("#status_" + id).html('<%= image_tag 'spinner.gif' %>');
    }
  </script>
<% end %>