<%= content_for(:title, "#{@series.race.name} - #{@series.name} - #{title_name}") %>
<h2><%= @series.name %> - <%= title_name %></h2>
<% content_for :series_sub_menu do %>
  <%= render :layout => 'shared/series_sub_menu',
    :locals => { :race => @series.race, :series_id => @series.id } do |series| %>
    <%= "/official/series/#{series.id}/#{controller_name}" %>
  <% end %>
<% end %>
<% if @series.competitors.empty? %>
  <div class="notice">Et ole syöttänyt tähän sarjaan vielä yhtään kilpailijaa.</div>
  <%= link_to "Lisää kilpailija sarjaan #{@series.name}",
    new_official_series_competitor_path(@series) %>
<% elsif !@series.has_start_list? %>
  <%= highlight_notice('Tähän sarjaan ei ole luotu vielä lähtölistaa. ' +
      'Tulokset voi syöttää vasta sitten kun lähtölista on luotu.') %>
  <div class="action_box">
    <%= link_to "Lähtöaikojen ja -numeroiden luonti...",
      official_series_start_list_path(@series) %>
  </div>
<% else %>
  <div id="update_error"></div>
  <%= render :partial => partial_table %>
  <hr/>
  <%= render :partial => 'official/shared/series_result_input_links',
    :locals => { :series_id => @series.id } %><br/>
  <%= link_to "Takaisin kilpailun etusivulle", official_race_path(@series.race) %>
  <script type="text/javascript">
    function start_updating(id) {
      $("#status_" + id).html('<%= image_tag 'spinner.gif' %>');
    }
  </script>
<% end %>