= content_for(:title, "#{@series.race.name} - #{@series.name} - #{title_name}")
%h2 #{@series.name} - #{title_name}
- content_for :sub_sub_menu do
  = render layout: 'menus/series_sub_menu', locals: { race: @series.race, series_id: @series.id } do |series|
    = "/official/series/#{series.id}/#{controller_name}"
- if @series.competitors.empty?
  .message.message--info= t 'official.result_place.no_competitors_in_series'
  = link_to t('official.result_place.add_competitor_to_series', series_name: @series.name), new_official_series_competitor_path(@series), class: 'button button--add'
- elsif @series.sport.start_list? && !@series.has_start_list?
  = highlight_info(t('official.result_place.no_start_list_for_series'))
  = link_to t('official.result_place.generate_start_times'), official_series_competitors_path(@series), class: 'button'
- else
  #update_error.message.message--error{style: 'display: none'}
  %div{style: 'margin-bottom: 16px;'}= render partial: partial_table
  - unless @series.race.sport.only_shooting?
    = render partial: 'official/shared/series_result_input_links', locals: { series_id: @series.id }
  = render layout: 'menus/series_sub_menu', locals: { race: @series.race, series_id: @series.id, mobile: true } do |series|
    = "/official/series/#{series.id}/#{controller_name}"
  .buttons.buttons--nav
    = link_to t(:back_to_official_race_page), official_race_path(@series.race), class: 'button button--back'
  :javascript
    function start_updating(id) {
      $("#status_" + id).removeClass().html('#{image_tag 'spinner.gif'}');
    }
