- race = menu_race
- if race
  - series = menu_series
  - series = race.series.first unless series
  .menu.menu--sub.menu--sub-1
    = menu_item t('official_sub_menu.summary'), official_race_path(race), @is_race
    = menu_item t('official_sub_menu.race'), edit_official_race_path(race), @is_race_edit
    - if series and !race.series.first.new_record?
      = menu_item t('official_sub_menu.competitors'), official_series_competitors_path(series), @is_competitors, nil, true do
        - series_dropdown_menu(race, 'competitors')
      = menu_item t('official_sub_menu.start_times'), official_race_start_list_path(race), @is_start_list
      = menu_item t('official_sub_menu.quick_save'), official_race_quick_saves_path(race), @is_quick_saves
      = menu_item t('official_sub_menu.times'), official_series_times_path(series), @is_times, nil, true do
        - series_dropdown_menu(race, 'times')
      = menu_item t('official_sub_menu.estimates'), official_series_estimates_path(series), @is_estimates, nil, true do
        - series_dropdown_menu(race, 'estimates')
      = menu_item t('official_sub_menu.shooting'), official_series_shots_path(series), @is_shots, nil, true do
        - series_dropdown_menu(race, 'shots')
      = menu_item t('official_sub_menu.correct_distances'), official_race_correct_estimates_path(race), @is_correct_estimates
      = menu_item t('official_sub_menu.csv'), official_race_csv_export_path(race), @is_csv
      = menu_item t('official_sub_menu.team_competitions'), official_race_team_competitions_path(race), @is_team_competitions
    = menu_item t('official_sub_menu.relays'), official_race_relays_path(race), @is_relays
    = menu_item clubs_title(race), official_race_clubs_path(race), @is_clubs
    = menu_item t('official_sub_menu.officials'), official_race_race_rights_path(race), @is_race_rights
