<%
menu_race, menu_series = nil, nil
if @race
  menu_race = @race
  menu_series = @race.series.first unless @race.new_record?
elsif @series
  menu_race = @series.race
  menu_series = @series
elsif @competitor
  menu_race = @competitor.series.race
  menu_series = @competitor.series
end
%>
<% if menu_race %>
  <div class="menu sub_menu">
    <ul>
      <li><%= link_to "Kilpailu & sarjat", edit_official_race_path(menu_race) %></li>
      <% if menu_series %>
        <li><%= link_to "Sarja & kilpailijat", edit_official_series_path(menu_series) %></li>
        <li><%= link_to "Ajat", official_series_times_path(menu_series) %></li>
        <li><%= link_to "Arvioinnit", official_series_estimates_path(menu_series) %></li>
        <li><%= link_to "Ammunta", official_series_shots_path(menu_series) %></li>
      <% end %>
    </ul>
  </div>
<% end %>