<%
menu_race, menu_series = nil, nil
if @race and not @race.new_record?
  menu_race = @race
  menu_series = @race.series.first
elsif @series
  menu_race = @series.race
  menu_series = @series
elsif @competitor
  menu_race = @competitor.series.race
  menu_series = @competitor.series
end
%>
<% if menu_race %>
  <%= render :partial => 'shared/race_title', :locals => { :race => menu_race } %>
  <div class="menu sub_menu">
    <ul>
      <%= menu_item "Kilpailu & sarjat", edit_official_race_path(menu_race), @is_race %>
      <% if menu_series %>
        <%= menu_item "Sarja & kilpailijat", edit_official_series_path(menu_series), @is_series %>
        <%= menu_item "Ajat", official_series_times_path(menu_series), @is_times %>
        <%= menu_item "Arvioinnit", official_series_estimates_path(menu_series), @is_estimates %>
        <%= menu_item "Ammunta", official_series_shots_path(menu_series), @is_shots %>
      <% end %>
      <%= menu_item "Seurat", official_race_clubs_path(menu_race), @is_clubs %>
      <%= menu_item "Toimitsijat", official_race_officials_path(menu_race), @is_officials %>
    </ul>
  </div>
<% end %>