<% content_for :title, "#{@relay.race.name} - #{@relay.name} - #{t '.title'}" %>
<h2><%= yield :title %></h2>
<% if @relay.finished? %>
  <div class="info"><%= t '.already_finished' %></div>
<% else %>
  <div class="info"><%= t '.info' %></div>
  <%= render :partial => 'shared/form_errors', :locals => { :item => @relay } %>
  <%= form_tag(official_relay_finish_relay_path(@relay)) do %>
    <%= submit_tag t('.submit_button') %>
  <% end %>
<% end %>
<div class="buttons buttons--nav">
  <%= link_to t(:back_to_official_relays_page), official_race_relays_path(@relay.race), class: 'button button--back' %>
</div>
