Nimi: #{@name}
%br
Sähköposti: #{@email}
%br
Puhelin: #{@tel}
%br
Seura: #{@club}
%br
Ympäristö: #{Rails.env}
%br
%br
Tietoa kilpailusta:
%br
= @competition_info
%br
%br
Käyttäjä:
%br
#{@current_user ? @current_user.relevant_attributes : '-'}
