<%= flash_success %>
<div class="section">
  <%= render :partial => 'shared/form_errors', :locals => { :item => @tc } %>
  <%= form_for([:official, @race, @tc], :html => { :class => 'team_competition_form' }) do |f| %>
    <div>
      <span class="form_label"><%= f.label :name %></span>
      <span><%= f.text_field :name %></span>
    </div>
    <div>
      <span class="form_label"><%= f.label :team_competitor_count %></span>
      <span><%= f.number_field :team_competitor_count, :size => 2, :maxlength => 2 %></span>
    </div>
    <div>
      <span class="form_label">
        <%= f.label :use_team_name %>
        <a class="help" id="use_team_name_help" href="javascript:void(0);">?</a>
      </span>
      <span><%= f.check_box :use_team_name %></span>
    </div>
    <div id="use_team_name_help_dialog" class="dialog" style="display: none;">
      Normaalisti joukkueet muodostetaan piirin tai seuran perusteella.
      Jos kuitenkin valitset kohdan '<%= t('attributes.use_team_name') %>',
      joukkueet muodostetaan jokaiselle kilpailijalle syötetyn joukkueen nimen perusteella.
      Tällöin yhden joukkueen jäsenten ei tarvitse kuulua samaan piiriin tai seuraan
      ja toisaalta samasta piirista tai seurasta voidaan muodostaa useita joukkueita.
      <br/></br/>
      Voit asettaa kilpailijalle joukkueen nimen muokkaamalla kilpailijan perustietoja.
    </div>
    <h3><%= t 'official.team_competitions.form.series_age_groups' %></h3>
    <div class="info"><%= t 'official.team_competitions.form.choose_info' %>
      <ul>
        <li><%= t 'official.team_competitions.form.choose_info_full_series' %></li>
        <li><%= t 'official.team_competitions.form.choose_info_age_groups' %></li>
      </ul>
    </div>
    <% current_series_ids = @tc.series_ids %>
    <% current_age_group_ids = @tc.age_group_ids %>
    <table border="1" cellpadding="2" cellspacing="0">
      <tr>
        <th><%= t 'activerecord.models.series.one' %></th>
        <th><%= t 'activerecord.models.age_group.other' %></th>
      </tr>
      <% @race.series.each do |series| %>
        <tr>
          <td>
            <%= label_tag do %>
              <%= check_box_tag 'team_competition[series_ids][]', series.id,
                current_series_ids.include?(series.id) %>
              <%= series.name %>
            <% end %>
          </td>
          <td>
            <% series.age_groups.each do |age_group| %>
              <%= label_tag do %>
                <%= check_box_tag 'team_competition[age_group_ids][]', age_group.id,
                  current_age_group_ids.include?(age_group.id) %>
                <%= age_group.name %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table><br/>
    <%= submit_tag t(:save) %>
  <% end %>
</div>
<%= javascript_tag do %>
  var use_team_name_help_title = 'Joukkueiden muodostaminen';
<% end %>
<%= render :partial => 'shared/help_dialog_opener' %>
