- text_key = @race.sport.shooting? ? 'shooting_race' : 'three_sports_race'
= flash_success
= render :partial => 'shared/form_errors', :locals => { :item => @tc }
= form_for([:official, @race, @tc], :html => { :class => 'team_competition_form' }) do |f|
  .form__field
    = f.label :name
    = f.text_field :name
  .form__field.form__field--sm
    = f.label :team_competitor_count
    = f.number_field :team_competitor_count
  .form__field
    = f.label :multiple_teams
    = f.check_box :multiple_teams
  .form__field
    .form__help-label
      = f.label :use_team_name
      %a#use_team_name_help.help{href: 'javascript:void(0);'} ?
    = f.check_box :use_team_name
  #use_team_name_help_dialog.dialog{style: 'display: none;'}
    Normaalisti joukkueet muodostetaan piirin tai seuran perusteella.
    Jos kuitenkin valitset kohdan '#{t('attributes.use_team_name')}',
    joukkueet muodostetaan jokaiselle kilpailijalle syötetyn joukkueen nimen perusteella.
    Tällöin yhden joukkueen jäsenten ei tarvitse kuulua samaan piiriin tai seuraan
    ja toisaalta samasta piirista tai seurasta voidaan muodostaa useita joukkueita.
    %br
    %br
    Voit asettaa kilpailijalle joukkueen nimen muokkaamalla kilpailijan perustietoja.
  .form__field.form__field--sm
    = f.label :national_record
    = f.number_field :national_record
  %h3= t "official.team_competitions.form.series_age_groups.#{text_key}"
  .message.message--info
    = t "official.team_competitions.form.choose_info.#{text_key}"
    %ul
      %li= t "official.team_competitions.form.choose_info_full_series.#{text_key}"
      %li= t "official.team_competitions.form.choose_info_age_groups.#{text_key}"
  - current_series_ids = @tc.series_ids
  - current_age_group_ids = @tc.age_group_ids
  %table.results-table
    %tr
      %th= t 'activerecord.models.series.one'
      %th= t "official.team_competitions.form.age_groups_title.#{text_key}"
    - @race.series.each do |series|
      %tr
        %td
          = label_tag do
            = check_box_tag 'team_competition[series_ids][]', series.id, current_series_ids.include?(series.id)
            = series.name
        %td
          - series.age_groups.each do |age_group|
            = label_tag do
              = check_box_tag 'team_competition[age_group_ids][]', age_group.id, current_age_group_ids.include?(age_group.id)
              = age_group.name
  - if !@tc.new_record? && @race.sport.best_shot_value == 1
    %h3= t :extra_round
    .message.message--info= t 'official.team_competitions.form.extra_round_info'
    #extra-round
      - @tc.extra_shots.each do |extra|
        = render partial: 'club_extra_shots', locals: { extra: extra }
    .form__buttons
      = link_to t(:add), '#', class: 'button button--add', id: 'add-extra'
  .form__buttons
    = submit_tag t(:save), class: 'button button--primary'
:javascript
  $('#add-extra').click(function (event) {
    event.preventDefault()
    $('#extra-round').append("#{escape_javascript(render partial: 'club_extra_shots', locals: { extra: { "shots" => [] } })}")
  })
  var use_team_name_help_title = 'Joukkueiden muodostaminen';
= render :partial => 'shared/help_dialog_opener'
