- content_for :title, "#{@race.name} - #{@tc.name} - #{t(:edit)}"
- render partial: 'sub_sub_menu', locals: { team_competition_id: @tc.id }
%h2= t '.title'
= render :partial => 'form'
.buttons.buttons--nav
  = link_to t(:back_to_official_team_competitions_page), official_race_team_competitions_path(@race), class: 'button button--back'
