= content_for :title, "#{@race.name} - #{t('.title')}"
%h2= yield :title
- info = @race.sport.only_shooting? ? 'shooting' : 'three_sports'
.message.message--info= t ".info.#{info}"
= flash_error
- if @race.finished?
  = t '.already_finished'
- else
  = link_to t('.button'), official_race_finish_race_path(@race), method: :post, class: 'button button--primary'
.buttons.buttons--nav
  = link_to t(:back_to_official_race_page), official_race_path(@race), class: 'button button--back'
