<%= content_for :title, "#{@race.name} - kilpailun päättäminen" %>
<h2><%= yield :title %></h2>
<div class="instructions">Kilpailu pitää merkitä päättyneeksi,
  jotta kilpailijat näkevät, että kaikkien tulokset on merkitty eikä
  tulosluettelo tule enää muuttumaan. Lisäksi kilpailijoille näytetään oikeat
  arviointimatkat vasta sitten, kun kilpailu on päättynyt.</div>
<%= render :partial => "shared/form_errors", :locals => { :item => @race } %>
<% if @race.finished? %>
  Tämä kilpailu on jo merkitty päättyneeksi.
<% else %>
  <div class="action_box">
    <%= render :partial => "official/finish_races/form", :locals => { :race => @race } %>
  </div>
<% end %>
<hr/>
<%= link_to "Takaisin kilpailun etusivulle", official_race_path(@race) %>