= form_for([:official, @race, @race_right], html: { class: 'invite_officials_form' } ) do |f|
  %div
    - if edit
      %span.form_label Henkilö
      = full_name(@race_right.user)
    - else
      %span.form_label= label_tag :email, 'Sähköposti'
      %span= email_field_tag :email, '', size: 30
  %div
    %span.form_label= f.label :only_add_competitors, 'Anna käyttäjälle ainoastaan oikeudet lisätä kilpailijoita'
    %span= f.check_box :only_add_competitors
  #club_limitation{style: "display: none;"}
    %div
      %span.form_label= f.label :new_clubs, 'Salli uusien piirien/seurojen lisäys'
      %span= f.check_box :new_clubs
    #specific_club_limitation
      %span.form_label= f.label :club_id, 'Salli kilpailijoiden lisäys vain tiettyyn piiriin/seuraan'
      - if @race.clubs.empty?
        (Käyttöä ei voi rajata, koska
        #{link_to 'yhtään piiriä/seuraa ei ole lisätty', official_race_clubs_path(@race)}.)
      - else
        = f.select :club_id, options_from_collection_for_select(@race.clubs, :id, :name, @race_right.club_id), include_blank: 'Ei rajausta'
  .submit_button
    = submit_tag submit_label
:javascript
  $('.invite_officials_form').on('click', '#race_right_only_add_competitors', function() {
    $('#club_limitation').toggle(this.checked);
  });
  if($('#race_right_only_add_competitors:checked').length) {
    $('#club_limitation').toggle(this.checked);
  };
  $('.invite_officials_form').on('click', '#race_right_new_clubs', function() {
    $('#specific_club_limitation').toggle(!this.checked);
    resetClub();
  });
  if($('#race_right_new_clubs:checked').length) {
    $('#specific_club_limitation').toggle(this.checked);
  };
  resetClub();
  function resetClub() {
    if($('#race_right_new_clubs:checked').length && $("#race_right_club_id").length) {
      $("#race_right_club_id").val($("#race_right_club_id option:first").val());
    }
  }
