- content_for :title, "#{@race.name} - Toimitsijat"
%h2 Kutsu toinen henkilö tämän kilpailun toimitsijaksi
= flash_error
= flash_success
.section
  .info Henkilön täytyy olla rekisteröitynyt palveluun omalla sähköpostiosoitteellaan.
  = render partial: 'form', locals: {submit_label: 'Lähetä kutsu'}
:javascript
  $('#race_right_only_add_competitors').live('click', function() {
    $('#club_limitation').toggle(this.checked);
  });
%h2 Kilpailun toimitsijat
#current_officials.section
  %table
    %tr
      %th Nimi
      %th Vain kilpailijat
      %th= club_title(@race)
      %th &nbsp;
    - @race.race_rights.each do |rr|
      %tr
        %td
          = full_name(rr.user, true)
          (#{link_to rr.user.email, "mailto:#{rr.user.email}"})
        %td.center= yes_or_empty(rr.only_add_competitors?)
        %td= rr.club ? rr.club.name : raw('&nbsp;')
        %td
          - if rr.user == current_user || rr.primary?
            &nbsp;
          - else
            = link_to 'Peruuta kutsu', official_race_race_right_path(@race, rr),
              data: { confirm: "Haluatko varmasti poistaa käyttäjän toimitsijaoikeudet tähän kilpailuun?" },
              method: :delete
%hr
= link_to 'Takaisin Yhteenveto-sivulle', official_race_path(@race)
