- warn_unfinished = (defined?(warn_unfinished) ? warn_unfinished : false)
- races.each_with_index do |race, index|
  .col-xs-12.col-sm-6.col-md-4{class: defined?(id) && id, style: defined?(id) && index >= 6 ? 'display: none' : ''}
    %a.card{href: official_race_path(race)}
      .card__middle
        .card__name
          = race.name
          - if race.cancelled?
            .badge.badge--cancelled= t 'attributes.cancelled'
        .card__middle-row
          #{race_date_interval(race, false)}, #{race.location}
          .card__middle-row.card__middle-row--sport-name= t("sport_name.#{race.sport_key}")
        - if warn_unfinished && !race.finished? && !race.cancelled?
          .card__middle-row.card__middle-row--error Kilpailua ei ole päätetty!
