<%= content_for(:title, 'Toimitsijan etusivu') %>
<h1><%= yield :title %></h1>
<%= flash_error %>
<%= flash_notice %>
<% @races.each do |r| %>
  <%= link_to r.name, official_race_path(r) %><br/>
<% end %>
<% if @races.empty? %>
  <%= highlight_notice('Sinulla ei ole vielä yhtään kilpailua. ' +
      'Aloita luomalla kilpailu alla olevasta linkistä.') %>
<% end %>
<div class="action_box">
  <%= link_to "Lisää uusi kilpailu", new_official_race_path %>
</div>