<%= content_for(:title, 'Toimitsijan etusivu') %>
<h1><%= yield :title %></h1>
<%= flash_error %>
<%= flash_notice %>
<% @races.each do |r| %>
  <div class="sub_element">
    <h2><%= r.name %></h2>
    <div class="action_box">
      <%= link_to "Muokkaa kilpailun ja sarjojen asetuksia, lisää sarjoja",
        edit_official_race_path(r) %>
    </div>
    <% unless r.finished? or r.start_date > Date.today %>
      <div class="action_box">
        <%= render :partial => "official/finish_races/form", :locals => { :race => r } %>
      </div>
    <% end %>
    <h3>Sarjat</h3>
    <% if r.series.empty? %>
      <div class="action_box">
        <%= form_tag(official_race_path(r), :method => :delete) do %>
          <%= submit_tag "Poista kilpailu" %>
        <% end %>
      </div>
    <% else %>
      <table cellpadding="3" cellspacing="0" border="1">
        <tr>
          <th>Sarja</th>
          <th>Kilpailijoita</th>
          <th>Toiminnot</th>
        </tr>
        <% r.series.each do |s| %>
          <tr>
            <td><%= s.name %></td>
            <td><%= s.competitors.count %></td>
            <td><%= link_to "Muokkaa asetuksia, lisää kilpailijoita, syötä tulostietoja",
                edit_official_series_path(s) %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
    <% unless r.series.empty? %>
      <h3>Tulosten syöttäminen kilpailupaikoittain</h3>
      <%= link_to "Ajat", official_series_times_path(r.series.first) %>
      <%= link_to "Arviointi", official_series_estimates_path(r.series.first) %>
      <%= link_to "Laukaukset", official_series_shots_path(r.series.first) %>
    <% end %>
  </div>
  <hr/>
<% end %>
<div class="action_box">
  <%= link_to "Lisää uusi kilpailu", new_official_race_path %>
</div>