- content_for(:title, t('.title'))
- content_for(:page_title, yield(:title))
= flash_error
= flash_success
- if @today.length == 0 && @future.length == 0 && @past.length == 0
  = highlight_info(t('.no_races_yet.long'))
  = link_to t('.add_new_race'), new_official_race_path, class: 'button button--add'
- else
  - unless @today.empty?
    %h2
      %i.material-icons-outlined.md-18 directions_run
      = t 'home.show.competitions.today'
    .row= render partial: 'race_list', locals: { competitions: @today }
  %h2
    %i.material-icons-outlined.md-18 today
    = t 'home.show.upcoming_competitions'
  = link_to t('.add_new_race'), new_official_race_path, class: 'button button--add'
  .row= render partial: 'race_list', locals: { competitions: @future }
  %h2
    %i.material-icons-outlined.md-18 dynamic_feed
    = t 'home.show.competitions.cup'
  = link_to t('.add_new_cup'), new_official_cup_path, class: 'button button--add'
  .row= render partial: 'race_list', locals: { competitions: @cups }
  - unless @past.empty?
    %h2
      %i.material-icons-outlined.md-18 check_circle
      = t 'home.show.competitions.past'
    .row= render partial: 'race_list', locals: { competitions: @past, warn_unfinished: true }
