- content_for(:title, t('.title'))
- content_for(:page_title, yield(:title))
= flash_error
= flash_success
- if @today.length == 0 && @future.length == 0 && @past.length == 0
  .info= t('.no_races_yet.short')
- else
  - unless @today.empty?
    .home_page_box
      .box_sub_title= t 'home.show.competitions.today'
      .title_box_content
        = render partial: 'race_list', locals: { competitions: @today }
  - unless @today.empty?
    .home_page_box
      .box_sub_title= t 'home.show.upcoming_competitions'
      .title_box_content
        = render partial: 'race_list', locals: { competitions: @future }
  - unless @past.empty?
    .home_page_box
      .box_sub_title= t 'home.show.competitions.past'
      .title_box_content
        = render partial: 'race_list', locals: { competitions: @past }
