<%= content_for(:title, 'Toimitsijan etusivu') %>
<h1><%= yield :title %></h1>
<%= flash_error %>
<%= flash_notice %>
<% @races.each do |r| %>
  <div class="sub_element">
    <h2><%= r.name %></h2>
    <div class="action_box">
      <%= link_to "Muokkaa kilpailun ja sarjojen asetuksia, lisää sarjoja",
        edit_official_race_path(r) %>
    </div>
    <% unless r.finished? or r.start_date > Date.today %>
      <div class="action_box">
        <%= render :partial => "official/finish_races/form", :locals => { :race => r } %>
      </div>
    <% end %>
    <h3>Sarjat</h3>
    <% r.series.each do |s| %>
      <%= s.name %> - <%= link_to "Muokkaa asetuksia, lisää kilpailijoita, syötä tulostietoja",
        edit_official_series_path(s) %><br/>
    <% end %>
    <% if r.series.empty? %>
      <div class="action_box">
        <%= form_tag(official_race_path(r), :method => :delete) do %>
          <%= submit_tag "Poista kilpailu" %>
        <% end %>
      </div>
    <% end %>
  </div>
  <hr/>
<% end %>
<div class="action_box">
  <%= link_to "Lisää uusi kilpailu", new_official_race_path %>
</div>