<%= content_for(:title, 'Toimitsijan etusivu') %>
<h1><%= yield :title %></h1>
<%= flash_error %>
<%= flash_notice %>
<% unless @races.empty? %>
  <div id="existing_races">
    <h2>Valitse kilpailu</h2>
    <% @races.each do |r| %>
      <%= link_to r.name, official_race_path(r) %> (<%= race_date_interval(r) %>,
      <%= r.location %>)<br/>
    <% end %>
  </div>
  <h2 id="new_race">Tai</h2>
<% else %>
  <%= highlight_notice('Sinulla ei ole vielä yhtään kilpailua. ' +
      'Aloita luomalla kilpailu alla olevasta linkistä.') %>
<% end %>
<div class="action_box">
  <%= link_to "Lisää uusi kilpailu", new_official_race_path %>
</div>