- content_for(:title, t('.title'))
- content_for(:page_title, yield(:title))
= flash_error
= flash_success
- if @today.length == 0 && @future.length == 0 && @past.length == 0
  .info= t('.no_races_yet.short')
- else
  - unless @today.empty?
    %h2= t 'home.show.competitions.today'
    .row= render partial: 'race_list', locals: { competitions: @today }
  - unless @today.empty?
    %h2= t 'home.show.upcoming_competitions'
    .row= render partial: 'race_list', locals: { competitions: @future }
  - unless @past.empty?
    %h2= t 'home.show.competitions.past'
    .row= render partial: 'race_list', locals: { competitions: @past }
