- show_series_name = !@cup_series.has_single_series_with_same_name?
- race_count = @cup.races.count
- top_competitions = @cup.top_competitions
.result-cards
  - results = @is_rifle_cup_series ? @cup_series.european_rifle_results : @cup_series.results
  - results.each_with_index do |cc, i|
    - emphasize_limit = min_points_to_emphasize race_count, top_competitions, cc.competitors, @is_rifle_cup_series
    .card{class: i % 2 == 0 ? 'card--odd' : ''}
      .card__number #{i + 1}.
      .card__middle
        .card__name
          = full_name(cc)
          - if show_series_name
            (#{cc.series_name})
        .card__middle-row{style: 'display: none'}
          .row
            - @cup.races.each do |race|
              - c = cc.competitor_for_race(race)
              - if c
                .col-xs-12.col-sm-6.col-md-4
                  = race.name
                  - if c.no_result_reason
                    = no_result_reason_print c.no_result_reason
                  - else
                    - points = @is_rifle_cup_series ? (c.european_rifle_score || '-') : points_print(c)
                    %span{class: emphasize_limit && points.to_i >= emphasize_limit ? 'cup-points__emphasize' : ''}
                      = points
      .card__main-value
        - if @is_rifle_cup_series
          = cc.european_rifle_score
        - else
          = cup_points_print(cc)
