- is_pdf = defined?(pdf)
- show_series_name = !cup_series.has_single_series_with_same_name?
- competitors = @is_rifle_cup_series ? cup_series.european_rifle_results : cup_series.results
- if competitors.empty?
  .message.message--info Tähän sarjaan ei ole lisätty kilpailijoita
- else
  %table.results-table
    %thead
      %tr
        %th &nbsp;
        %th= t 'activerecord.models.competitor.one'
        - if show_series_name
          %th= t 'activerecord.models.series.one'
        - @cup.races.each do |race|
          %th= race.name
        %th= t :total_points
    - competitors.each_with_index do |cc, i|
      %tr{id: "comp_#{i+1}", class: i % 2 == 0 ? 'odd' : ''}
        %td #{i + 1}.
        %td
          = cc.last_name
          = cc.first_name
        - if show_series_name
          %td= cc.series_names
        - @cup.races.each do |race|
          - c = cc.competitor_for_race(race)
          %td.center
            - if c
              - if c.no_result_reason
                = no_result_reason_print c.no_result_reason
              - elsif @is_rifle_cup_series
                = link_to_unless is_pdf, c.european_rifle_score || '-', series_competitor_path(c.series, c)
              - else
                = link_to_unless is_pdf, points_print(c), series_competitor_path(c.series, c)
            - else
              \-
        - if @is_rifle_cup_series
          %td.center.total-points= cc.european_rifle_score
        - else
          %td.center.total-points= cup_points_print(cc)
