<h2>Tulokset - <%= @cup_series.name %></h2>
<table>
  <% @cup_series.cup_competitors.each_with_index do |cc, i| %>
    <tr id="comp_<%= i+1 %>">
      <td><%= cc.last_name %> <%= cc.first_name %></td>
      <% cc.competitors.each do |c| %>
        <td><%= points_print c, false %></td>
      <% end %>
      <td class='total_points'><%= cc.points %></td>
    </tr>
  <% end %>
</table>