.facebook_share
  = render partial: 'shared/facebook_share'
- content_for(:title, "#{@cup_series.cup.name} - #{long_cup_series_name(@cup_series)} - #{t :results}")
%h2= yield :title
.info= t 'cups.show.points_rule', :best_competitions_count => @cup.top_competitions
.cup_results
  .section
    = render :partial => 'cup_series_results'
- if @cup_series.cup.cup_series.count > 1
  %hr
  - @cup_series.cup.cup_series.each do |cs|
    - unless cs == @cup_series
      = link_to cs.name, cup_cup_series_path(cs.cup, cs), class: 'primary_link'
%hr
= link_to t(:back_to_cup_page), cup_path(@cup), class: 'back_link'
