- content_for(:title, "#{@cup_series.cup.name} - #{long_cup_series_name(@cup_series)} - #{t :results}")
.title-and-fb-share
  %h2= "#{long_cup_series_name(@cup_series)} - #{t :results}"
  = render partial: 'shared/facebook_share'
- content_for :sub_sub_menu do
  = render :partial => 'menus/cup_series_sub_menu'
.info= render partial: 'cups/points_rule', locals: {cup: @cup}
.cup_results
  .section
    = render :partial => 'cup_series_results', locals: {cup_series: @cup_series}
.action_box
  = link_to t(:download_results_pdf), cup_cup_series_path(@cup, @cup_series, format: :pdf)
%hr
= link_to t(:back_to_cup_page), cup_path(@cup)
