- if @competitor.no_result_reason
  .warning= t "competitor.#{@competitor.no_result_reason}"
- else
  = render :partial => 'series/infos', :locals => { :series => @competitor.series,
    :show_race_unfinished => false }

  #points
    %h3= t :points
    %table
      %tr
        %td= t :shooting
        %td#shooting_points{align: 'right'}= @competitor.shot_points
      %tr
        %td= t :estimating
        %td#estimate_points{align: 'right'}= @competitor.estimate_points
      - if @competitor.series.estimates == 2
        %tr
          %td= time_title @competitor.series.race
          %td#time_points{align: 'right'}= @competitor.time_points
      %tr
        %td= t :total
        %td#total_points{align: 'right'}= @competitor.points

  #shooting
    %h3= t :shooting
    = shots_list_print(@competitor)

  #estimates
    %h3= t :estimating
    - if @competitor.series.race.finished
      %table
        %tr
          %td= t :estimated_distances
          %td#estimate1= @competitor.estimate1 ? @competitor.estimate1 : "-"
          %td#estimate2= @competitor.estimate2 ? @competitor.estimate2 : "-"
          - if @competitor.series.estimates == 4
            %td#estimate3= @competitor.estimate3 ? @competitor.estimate3 : "-"
            %td#estimate4= @competitor.estimate4 ? @competitor.estimate4 : "-"
        %tr
          %td= t 'activerecord.models.correct_estimate', :count => 2
          %td#correct_estimate1= correct_estimate(@competitor, 1, '-')
          %td#correct_estimate2= correct_estimate(@competitor, 2, '-')
          - if @competitor.series.estimates == 4
            %td#correct_estimate3= correct_estimate(@competitor, 3, '-')
            %td#correct_estimate4= correct_estimate(@competitor, 4, '-')
        %tr
          %td= t :estimation_errors
          %td#distance_error1= print_estimate_diff(@competitor.estimate_diff1_m)
          %td#distance_error2= print_estimate_diff(@competitor.estimate_diff2_m)
          - if @competitor.series.estimates == 4
            %td#distance_error3= print_estimate_diff(@competitor.estimate_diff3_m)
            %td#distance_error4= print_estimate_diff(@competitor.estimate_diff4_m)
    - else
      .info= t :competition_unfinished_detailed_estimates_later

  #time
    %h3= time_title(@competitor.series.race)
    %table
      %tr
        %td= t 'attributes.start_time'
        %td#start_time= time_print(@competitor.start_time, true, '-')
      %tr
        %td= t 'attributes.arrival_time'
        %td#arrival_time= time_print(@competitor.arrival_time, true, '-')
      %tr
        %td= t :result_time
        %td#total_time= time_from_seconds(@competitor.time_in_seconds)
