<% if @competitor.no_result_reason %>
  <div class="info"><%= t "competitor.#{@competitor.no_result_reason}" %></div>
<% else %>
  <%= render :partial => 'series/infos', :locals => { :series => @competitor.series,
    :show_race_unfinished => false } %>
<% end %>
<div id="points">
  <h3><%= t :points %></h3>
  <table>
    <tr><td><%= t :shooting %></td><td align="right"><%= @competitor.shot_points %></td></tr>
    <tr><td><%= t :estimating %></td><td align="right"><%= @competitor.estimate_points %></td></tr>
    <% if @competitor.series.estimates == 2 %>
      <tr><td><%= time_title @competitor.series.race %></td><td align="right"><%= @competitor.time_points %></td></tr>
    <% end %>
    <tr><td><%= t :total %></td><td align="right"><%= @competitor.points %></td></tr>
  </table>
</div>
<div id="shooting">
  <h3><%= t :shooting %></h3>
  <%= shots_list(@competitor) %>
</div>
<div id="estimates">
  <h3><%= t :estimating %></h3>
  <% if @competitor.series.race.finished %>
    <table>
      <tr>
        <td><%= t :estimated_distances %></td>
        <td><%= @competitor.estimate1 ? @competitor.estimate1 : "-" %></td>
        <td><%= @competitor.estimate2 ? @competitor.estimate2 : "-" %></td>
        <% if @competitor.series.estimates == 4 %>
          <td><%= @competitor.estimate3 ? @competitor.estimate3 : "-" %></td>
          <td><%= @competitor.estimate4 ? @competitor.estimate4 : "-" %></td>
        <% end %>
      </tr>
      <tr>
        <td><%= t 'activerecord.models.correct_estimate', :count => 2 %></td>
        <td><%= correct_estimate(@competitor, 1, '-') %></td>
        <td><%= correct_estimate(@competitor, 2, '-') %></td>
        <% if @competitor.series.estimates == 4 %>
          <td><%= correct_estimate(@competitor, 3, '-') %></td>
          <td><%= correct_estimate(@competitor, 4, '-') %></td>
        <% end %>
      </tr>
      <tr>
        <td><%= t :estimation_errors %></td>
        <td><%= print_estimate_diff(@competitor.estimate_diff1_m) %></td>
        <td><%= print_estimate_diff(@competitor.estimate_diff2_m) %></td>
        <% if @competitor.series.estimates == 4 %>
          <td><%= print_estimate_diff(@competitor.estimate_diff3_m) %></td>
          <td><%= print_estimate_diff(@competitor.estimate_diff4_m) %></td>
        <% end %>
      </tr>
    </table>
  <% else %>
    <div class="info"><%= t :competition_unfinished_detailed_estimates_later %></div>
  <% end %>
</div>
<div id="time">
  <h3><%= time_title(@competitor.series.race) %></h3>
  <table>
    <tr>
      <td><%= t 'attributes.start_time' %></td>
      <td><%= time_print(@competitor.start_time, true, '-') %></td>
    </tr>
    <tr>
      <td><%= t 'attributes.arrival_time' %></td>
      <td><%= time_print(@competitor.arrival_time, true, '-') %></td>
    </tr>
    <tr>
      <td><%= t :result_time %></td>
      <td><%= time_from_seconds(@competitor.time_in_seconds) %></td>
    </tr>
  </table>
</div>