<% content_for(:title, "#{@series.name} - #{series_result_title(@series, params[:unofficial])}") %>
<% if @series.active? %>
  <% content_for(:refresh, true) %>
<% end %>
<h2><%= yield :title %></h2>
<% content_for :sub_sub_menu do %>
  <%= render :layout => 'shared/series_sub_menu',
    :locals => { :race => @series.race, :series_id => @series.id } do |series| %>
    <%= series_competitors_path(series) %>
  <% end %>
<% end %>
<% if @series.competitors.empty? %>
  <div class="info">Tähän sarjaan ei ole merkitty kilpailijoita.</div>
  <% if official_rights %>
    <div><%= link_to "Lisää kilpailijoita", new_official_series_competitor_path(@series) %></div>
  <% end %>
<% elsif !@series.has_start_list? %>
  <div class="info">Sarjan lähtölistaa ei ole vielä luotu</div>
<% elsif !@series.started? %>
  <div class="info">
    Sarjan lähtöaika: <%= datetime_print(@series.start_datetime, true) %>.
    Sarjan alkuun on aikaa <%= distance_of_time_in_words(Time.zone.now, @series.start_datetime) %>.
  </div>
<% else %>
  <%= render :partial => 'series/infos', :locals => { :series => @series } %>
  <% if @series.has_unofficial_competitors? %>
    <% if params[:unofficial] %>
      <div class="action_box"><%= link_to 'Näytä viralliset tulokset',
        series_competitors_path(@series) %></div>
    <% else %>
      <div class="action_box"><%= link_to 'Näytä epäviralliset tulokset (kaikki kilpailijat mukana)',
        series_competitors_path(@series, :unofficial => true) %></div>
    <% end %>
  <% end %>
  <div class="section">
    <%= render :partial => 'series/series_results', :locals => { :series => @series } %>
  </div>
  <div class="action_box">
    <%= link_to "Lataa tulokset pdf-tiedostona", series_competitors_path(@series,
      :format => 'pdf') %>
  </div>
<% end %>
<hr/>
<%= link_to "Lähtölista", series_start_list_path(@series) %><br/>
<%= link_to "Takaisin sivulle #{@series.race.name}", race_path(@series.race) %>