<%= content_for(:title, "#{@series.name} - Tulokset") %>
<h1><%= sport_icon(@series.race.sport) %> <%= @series.race.name %></h1>
<h2><%= yield :title %></h2>
<%= render :partial => "start_notice", :locals => { :series => @series } %>
<% unless @series.start_time.nil? or @series.start_time > Time.now or @series.race.finished %>
  <div class="notice">Kilpailu on kesken. Tarkemmat arviointitiedot julkaistaan
    kilpailun päätyttyä.</div>
<% end %>
<table>
  <tr>
    <th>&nbsp;</th>
    <th>Nimi</th>
    <th><%= t "attributes.club" %></th>
    <th>Pisteet</th>
    <th>Ammunta</th>
    <th>Arviointi</th>
    <th><%= @series.race.sport.run? ? "Juoksu" : "Hiihto" %></th>
  </tr>
<% @series.ordered_competitors.each_with_index do |comp, i| %>
  <tr>
    <td><%= i + 1 %>.</td>
    <td><%= link_to full_name(comp), series_competitor_path(@series.id, comp) %></td>
    <td><%= comp.club.name %></td>
    <td><%= points_print(comp) %></td>
    <td><%= shot_points_and_total(comp) %></td>
    <td><%= @series.race.finished ? estimate_points_and_diffs(comp) :
              estimate_points(comp) %></td>
    <td><%= time_points_and_time(comp) %></td>
  </tr>
<% end %>
</table>
<br/>
<%= link_to "Lähtölista", start_list_path(@series) %>