<% content_for(:title, "#{@series.name} - #{series_result_title(@series, params[:all_competitors])}") %>
<% if @series.active? %>
  <%= render :partial => 'shared/refresh_counter' %>
<% end %>
<h2><%= yield :title %></h2>
<% content_for :sub_sub_menu do %>
  <%= render :layout => 'shared/series_sub_menu',
    :locals => { :race => @series.race, :series_id => @series.id } do |series| %>
    <%= series_competitors_path(series) %>
  <% end %>
<% end %>
<%= render :layout => 'series/series_status', :locals => { :series => @series } do %>
  <%= render :partial => 'series/infos', :locals => { :series => @series } %>
  <% if @series.has_unofficial_competitors? %>
    <% if params[:all_competitors] %>
      <div class="action_box"><%= link_to 'Näytä viralliset tulokset',
        series_competitors_path(@series) %></div>
    <% else %>
      <div class="action_box"><%= link_to 'Näytä epäviralliset tulokset (kaikki kilpailijat mukana)',
        series_competitors_path(@series, :all_competitors => true) %></div>
    <% end %>
  <% end %>
  <div class="section">
    <%= render :partial => 'series/series_results', :locals => { :series => @series } %>
  </div>
  <div class="action_box">
    <%= link_to t('competitors.index.download_results_pdf'), series_competitors_path(@series,
      :format => 'pdf', :all_competitors => params[:all_competitors]) %>
  </div>
<% end %>
<hr/>
<%= link_to t(:start_list), series_start_list_path(@series) %><br/>
<%= link_to "#{t(:back_to_page)} #{@series.race.name}", race_path(@series.race) %>