<% content_for(:title, "#{@series.name} - Tulokset") %>
<h2><%= yield :title %></h2>
<% content_for :series_sub_menu do %>
  <%= render :layout => 'shared/series_sub_menu',
    :locals => { :race => @series.race, :series_id => @series.id } do |series| %>
    <%= series_competitors_path(series) %>
  <% end %>
<% end %>
<%= render :partial => "start_notice", :locals => { :series => @series } %>
<% if @series.running? %>
  <div class="notice">Kilpailu on kesken. Tarkemmat arviointitiedot julkaistaan
    kilpailun päätyttyä.</div>
<% end %>
<% if @series.competitors.empty? %>
  <div class="notice">Tähän sarjaan ei ole merkitty kilpailijoita.</div>
  <% if official_rights %>
    <div><%= link_to "Lisää kilpailijoita", new_official_series_competitor_path(@series) %></div>
  <% end %>
<% else %>
  <div class="table_wrapper">
    <table>
      <tr>
        <th>&nbsp;</th>
        <th>Nimi</th>
        <th>Nro</th>
        <th><%= t "attributes.club" %></th>
        <th class="center"><%= @series.race.sport.run? ? "Juoksu" : "Hiihto" %></th>
        <th class="center">Arviointi</th>
        <th class="center">Ammunta</th>
        <th>Pisteet</th>
      </tr>
      <% @series.ordered_competitors.each_with_index do |comp, i| %>
        <tr id="comp_<%= i+1 %>">
          <td><%= i + 1 %>.</td>
          <td><%= link_to full_name(comp), series_competitor_path(@series.id, comp) %>
            <%= "(#{comp.age_group.name})" if comp.age_group %></td>
          <td><%= comp.number ? comp.number : '' %></td>
          <td><%= comp.club.name %></td>
          <td><%= time_points_and_time(comp) %></td>
          <td><%= @series.race.finished ? estimate_points_and_diffs(comp) :
              estimate_points(comp) %></td>
          <td><%= shot_points_and_total(comp) %></td>
          <td class="center total_points"><%= points_print(comp) %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <br/>
  <%= link_to "Lataa tulokset pdf-tiedostona", series_competitors_path(@series,
    :format => 'pdf') %><br/>
  <%= link_to "Lähtölista", series_start_list_path(@series) %>
<% end %>
<hr/>
<%= link_to "Takaisin sivulle #{@series.race.name}", race_path(@series.race) %>