<%= content_for(:title, "#{@competitor.series.name} - #{full_name(@competitor)}" +
  (@competitor.age_group ? " (#{@competitor.age_group.name})" : "")) %>
<h2><%= yield :title %></h2>
<%= render :partial => 'result_card' %>
<br/>
<div class="action_box">
  <%= link_to t(:download_results_pdf),
    series_competitor_path(@competitor.series.id, @competitor, :format => 'pdf') %>
</div>
<hr/>
<%= link_to t(:back_to_series_results, :series_name => @competitor.series.name),
  series_competitors_path(@competitor.series) %>