<h1><%= @competitor.series.race.name %></h1>
<h2><%= @competitor.series.name %> - <%= full_name(@competitor) %></h2>
<% if @competitor.no_result_reason %>
  <div class="notice"><%= t "competitor.#{@competitor.no_result_reason}" %></div>
<% end %>
<h3>Pisteet</h3>
<table>
  <tr><td>Ammunta</td><td align="right"><%= @competitor.shot_points %></td></tr>
  <tr><td>Arviointi</td><td align="right"><%= @competitor.estimate_points %></td></tr>
  <tr><td>Aika</td><td align="right"><%= @competitor.time_points %></td></tr>
  <tr><td>Yhteensä</td><td align="right"><%= @competitor.points %></td></tr>
</table>
<h3>Ammunta</h3>
<%= shots_list(@competitor) %>
<h3>Arviointi</h3>
<table>
  <tr>
    <td>Arvioidut</td>
    <td><%= @competitor.estimate1 ? @competitor.estimate1 : "-" %></td>
    <td><%= @competitor.estimate2 ? @competitor.estimate2 : "-" %></td>
  </tr>
  <tr>
    <td>Todelliset</td>
    <td><%= @competitor.series.correct_estimate1 %></td>
    <td><%= @competitor.series.correct_estimate2 %></td>
  </tr>
  <tr>
    <td>Virhe</td>
    <td><%= print_estimate_diff(@competitor.estimate_diff1_m) %></td>
    <td><%= print_estimate_diff(@competitor.estimate_diff2_m) %></td>
  </tr>
</table>
<h3><%= @competitor.series.race.sport.run? ? "Juoksu" : "Hiihto" %></h3>
<table>
  <tr>
    <td>Lähtöaika</td>
    <td><%= @competitor.start_time ? @competitor.start_time.strftime('%H:%M:%S') : '-' %></td>
  </tr>
  <tr>
    <td>Saapumisaika</td>
    <td><%= @competitor.arrival_time ? @competitor.arrival_time.strftime('%H:%M:%S') : '-' %></td>
  </tr>
  <tr>
    <td>Aika</td>
    <td><%= time_from_seconds(@competitor.time_in_seconds) %></td>
  </tr>
</table>