<%= content_for(:title, "#{@competitor.race.name} - #{@competitor.series.name} - #{full_name(@competitor)}" +
  (@competitor.age_group ? " (#{@competitor.age_group.name})" : "")) %>
<div class="title-and-fb-share">
  <h2><%= "#{@competitor.series.name} - #{full_name(@competitor)}" %></h2>
  <%= render partial: 'shared/facebook_share' %>
</div>
<% content_for :sub_sub_menu do %>
  <%= render :layout => 'menus/series_sub_menu',
             :locals => { :race => @competitor.series.race, :series_id => @competitor.series.id } do |series| %>
    <%= series_competitors_path(series) %>
  <% end %>
<% end %>
<%= render :partial => 'result_card' %>
<br/>
<div class="action_box">
  <%= link_to t(:download_results_pdf),
    series_competitor_path(@competitor.series.id, @competitor, :format => 'pdf') %>
</div>
<hr/>
<%= link_to t(:back_to_series_results, :series_name => @competitor.series.name),
  series_competitors_path(@competitor.series) %>