# encoding: UTF-8
<% unless @relay.finished? %>
  <div class="info"><%= t :competition_unfinished_detailed_estimates_later %></div>
<% else %>
  <h3><%= t :correct_distances %></h3>
  <div class="section">
    <% @relay.relay_correct_estimates.each do |ce| %>
      <%= t :leg %> <%= ce.leg %>: <%= ce.distance %> m
    <% end %>
  </div>
  <h3><%= t :results %></h3>
<% end %>