.buttons
  - @relay.legs_count.times do |i|
    - leg = i + 1
    - text = "#{t('leg')} #{leg}"
    - if @leg.to_i == leg
      .button.button--current= text
    - else
      = link_to "#{t('leg')} #{leg}", relay_leg_path(@relay, leg), class: 'button'
  - if @leg
    = link_to t('relays.show.finish'), race_relay_path(@relay.race, @relay), class: 'button'
  - else
    .button.button--current= t('relays.show.finish')
