.cards
  - relay.results.each_with_index do |team, i|
    .card{class: i % 2 == 0 ? 'card-odd' : ''}
      .card-number #{i + 1}.
      .card-middle
        .card-name= team.name
        - unless team.no_result_reason
          .card-sub-results<
            - results = []
            - if @relay.penalty_seconds? && team.time_in_seconds
              - results << "<span class='card-time'>#{time_from_seconds team.time_in_seconds}</span>"
            - estimate = team.estimate_penalties_sum
            - if estimate
              - if @relay.estimate_penalty_seconds && estimate > 0
                - results << "<span class='card-estimate'>#{time_from_seconds(team.estimate_penalty_seconds, true)} (#{estimate})</span>"
              - else
                - results << "<span class='card-estimate'>#{estimate}</span>"
            - shooting = team.shoot_penalties_sum
            - if shooting
              - if @relay.shooting_penalty_seconds && shooting > 0
                - results << "<span class='card-shoot'>#{time_from_seconds(team.shooting_penalty_seconds, true)} (#{shooting})</span>"
              - else
                - results << "<span class='card-shoot'>#{shooting}</span>"
            - adjustment = team.adjustment.to_i
            - if adjustment != 0
              - results << "Aikakorjaus #{time_from_seconds(adjustment, true)}"
            - estimate_adjustment = team.estimate_adjustment.to_i
            - if estimate_adjustment != 0
              - results << "Arviokorjaus #{time_from_seconds(estimate_adjustment, true)}"
            - shooting_adjustment = team.shooting_adjustment.to_i
            - if shooting_adjustment != 0
              - results << "Ammuntakorjaus #{time_from_seconds(shooting_adjustment, true)}"
            - unless results.empty?
              = raw results.join(' ')
      .card-main-value
        - if team.no_result_reason
          = no_result_reason_print(team.no_result_reason, 'relay_team')
        - else
          = time_from_seconds team.time_in_seconds(nil, true)
