<% content_for :title, "#{@relay.race.name} - Viestit - #{@relay.name} - Tulokset" %>
<h2><%= @relay.name %> - <%= @leg ? "Osuus #{@leg}" : "Tulokset" %></h2>
<% content_for :sub_sub_menu do %>
  <%= render :layout => 'shared/relays_sub_menu',
    :locals => { :race => @relay.race,
    :relay_id => @relay.id } do |relay| %><%= race_relay_path(relay.race, relay) %><% end %>
<% end %>
<% if @results.empty? %>
  <div class="info">Viestiin ei ole viel채 merkitty joukkueita</div>
<% else %>
  <% unless @relay.finished? %>
    <div class="info">
      Kilpailu on kesken. Tarkemmat arviotiedot julkaistaan, kun kilpailu on p채채ttynyt.
    </div>
  <% else %>
    <h3>Oikeat arviot</h3>
    <div class="section">
      <% @relay.relay_correct_estimates.each do |ce| %>
        Osuus <%= ce.leg %>: <%= ce.distance %> m
      <% end %>
    </div>
    <h3>Tulokset</h3>
  <% end %>
  <div class="section">
    <b>V채liajat:</b>
    <% (@relay.legs_count - 1).times do |i| %>
      <%= link_to "Osuus #{i + 1}", relay_leg_path(@relay, i + 1) %>
    <% end %>
    <%= link_to "Maali", race_relay_path(@relay.race, @relay) %>
  </div>
  <div class="section">
    <table>
      <tr>
        <th>&nbsp;</th>
        <th>Nimi</th>
        <th>Nro</th>
        <th>Aika</th>
        <th>Ammuntasakot</th>
        <th>Arviosakot</th>
      </tr>
      <% @results.each_with_index do |team, i| %>
        <% competitor = @leg ? team.relay_competitors.find_by_leg(@leg) : nil %>
        <tr id="team_<%= i + 1 %>">
          <td><b><%= i + 1 %>.</b></td>
          <td class="team_name">
          <% if @leg %>
            <%= team.name %>
          <% else %>
            <a href="javascript:void(0)" class="team_name_link"
                                   id="<%= team.id %>"><%= team.name %></a>
          <% end %>
          </td>
          <td class="center"><b><%= team.number %></b></td>
          <td class="center team_points">
            <% if @leg %>
              <%= time_from_seconds(team.time_in_seconds(@leg)) %>
            <% else %>
              <%= time_from_seconds(team.time_in_seconds) %>
            <% end %>
          </td>
          <% if @leg %>
            <td class="center"><%= competitor.misses %></td>
            <td class="center">
              <%= competitor.estimate_penalties %>
              <% if @relay.finished? %>(<%= competitor.estimate %>m)<% end %>
            </td>
          <% else %>
            <td colspan="2">&nbsp;</td>
          <% end %>
        </tr>
        <% unless @leg %>
          <% team.relay_competitors.each do |comp| %>
            <tr class="team_<%= team.id %>" style="display: none;">
              <td>&nbsp;</td>
              <td><%= full_name(comp) %></td>
              <td class="center">(<%= comp.leg %>)</td>
              <td><%= time_from_seconds(comp.time_in_seconds) %></td>
              <td class="center"><%= comp.misses %></td>
              <td class="center">
                <%= comp.estimate_penalties %>
                <% if @relay.finished? %>(<%= comp.estimate %>m)<% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </table>
  </div>
<% end %>
<hr/>
<%= link_to 'Takaisin kilpailun etusivulle', race_path(@relay.race) %>
<%= javascript_tag do %>
  $('.team_name_link').click(function() {
    competitors = '.team_' + $(this).attr('id');
    if($(competitors).is(':hidden')) {
      $(competitors).show();
    } else {
      $(competitors).hide();
    }
  });
<% end %>