<h1><%= @relay.race.name %></h1>
<%= @race.location %>, <%= race_date_interval(@race) %>
<h2>Viesti - <%= @relay.name %> - <%= relay_result_title(@relay) %></h2>
<% if @results.empty? %>
  <div class="info">Viestiin ei ole vielä merkitty joukkueita</div>
<% else %>
  <%= render :partial => 'correct_estimates' %>
  <%= render :partial => 'results', :locals => { :pdf => true } %>
<% end %>