.facebook_share
  = render partial: 'shared/facebook_share'
- content_for :title, "#{@relay.race.name} - #{t('activerecord.models.relay', :count => 2)} - #{@relay.name} - #{relay_result_title(@relay)}"
%h2= yield :title
- if @results.empty?
  .info= t '.relay_has_no_teams'
- elsif !@relay.start_time
  .info= t '.relay_has_no_start_time'
- else
  = render 'start_time_info'
  = render 'penalty_seconds_info'
  = render 'correct_estimates'
  = render 'results_title'
  = render 'leg_links'
  - cache [@relay, I18n.locale] do
    = render :partial => 'results', :locals => { :relay => @relay }
- if @relay.race.relays.count > 1
  %hr
  - @relay.race.relays.each do |r|
    - if r == @relay
      .current_link= r.name
    - else
      = link_to r.name, race_relay_path(r.race, r), class: 'primary_link'
%hr
= link_to "#{t(:back_to_page)} #{@race.name}", race_path(@relay.race), class: 'back_link'
