<% content_for :title, "#{@relay.race.name} - Viestit - #{@relay.name} - #{relay_result_title(@relay)}" %>
<% if @relay.active? %>
  <%= render :partial => 'shared/refresh_counter' %>
<% end %>
<h2><%= @relay.name %> - <%= relay_result_title(@relay) %></h2>
<% content_for :sub_sub_menu do %>
  <%= render :layout => 'shared/relays_sub_menu',
    :locals => { :race => @relay.race,
    :relay_id => @relay.id } do |relay| %><%= race_relay_path(relay.race, relay) %><% end %>
<% end %>
<% if @results.empty? %>
  <div class="info">Viestiin ei ole vielä merkitty joukkueita</div>
<% elsif !@relay.start_time %>
  <div class="info">Viestin lähtöaikaa ei ole vielä päätetty</div>
<% elsif !@relay.started? %>
  <div class="info">
    Viestin lähtöaika: <%= datetime_print(@relay.start_datetime, true) %>.
    Viestin alkuun on aikaa <%= distance_of_time_in_words(Time.zone.now, @relay.start_datetime) %>.
  </div>
<% else %>
  <%= render :partial => 'relays/correct_estimates' %>
  <%= render :partial => 'relays/leg_links' %>
  <a href="javascript:void(0)" id="show_all_competitors">Näytä kaikki kilpailijat</a>
  <%= render :partial => 'results', :locals => { :pdf => false } %>
  <div class="action_box">
    Lataa tulokset pdf-tiedostona:
    <%= link_to "Ilman kilpailijoita", race_relay_path(@relay.race, @relay,
      :exclude_competitors => true, :format => 'pdf') %> -
    <%= link_to "Kilpailijoiden kanssa", race_relay_path(@relay.race, @relay,
      :format => 'pdf') %>
  </div>
<% end %>
<hr/>
<%= link_to 'Takaisin kilpailun etusivulle', race_path(@relay.race) %>
<%= javascript_tag do %>
  function showAllCompetitors() {
    $('.competitor_row').show();
    window.location.hash = 'competitors'
  }
  $('.team_name_link').click(function() {
    competitors = '.team_' + $(this).attr('id');
    if($(competitors).is(':hidden')) {
      $(competitors).show();
    } else {
      $(competitors).hide();
    }
  });
  $('#show_all_competitors').click(function() {
    showAllCompetitors();
  });
  $(document).ready(function() {
    if(window.location.hash == '#competitors') {
      showAllCompetitors();
    }
  });
<% end %>
