<% content_for :title, "#{@relay.race.name} - Viestit - #{@relay.name} - Tulokset" %>
<% if ! @relay.finished? %>
<% content_for(:refresh, @race.start_interval_seconds.to_s) %>
<% end %>
<h2><%= @relay.name %> - Tulokset</h2>
<% content_for :sub_sub_menu do %>
  <%= render :layout => 'shared/relays_sub_menu',
    :locals => { :race => @relay.race,
    :relay_id => @relay.id } do |relay| %><%= race_relay_path(relay.race, relay) %><% end %>
<% end %>
<% if @results.empty? %>
  <div class="info">Viestiin ei ole vielä merkitty joukkueita</div>
<% else %>
  <%= render :partial => 'relays/correct_estimates' %>
  <%= render :partial => 'relays/leg_links' %>
  <a href="javascript:void()" id="show_all_competitors">Näytä kaikki kilpailijat</a>
  <div class="section">
    <table>
      <tr>
        <th>&nbsp;</th>
        <th>Nimi</th>
        <th>Nro</th>
        <th>Aika</th>
        <th>Arviosakot</th>
        <th>Ammuntasakot</th>
      </tr>
      <% @results.each_with_index do |team, i| %>
        <tr id="team_<%= i + 1 %>">
          <td><b><%= i + 1 %>.</b></td>
          <td class="team_name">
            <a href="javascript:void(0)" class="team_name_link"
                                   id="<%= team.id %>"><%= team.name %></a>
          </td>
          <td class="center"><b><%= team.number %></b></td>
          <td class="center team_points">
            <% if team.no_result_reason %>
              <%= no_result_reason_print(team.no_result_reason, 'relay_team') %>
            <% else %>
              <%= time_from_seconds(team.time_in_seconds) %>
	      <% if team.adjustment.to_i != 0 %>
                (<% if team.adjustment.to_i < 0 %>-<% else %>+<% end %><span title="Aika sisältää korjausta <% if team.adjustment.to_i < 0 %>-<% else %>+<% end %><%= time_from_seconds(team.adjustment.to_i.abs) %> "><%= time_from_seconds(team.adjustment.to_i.abs)%>)
              <% end %>
            <% end %>
          </td>
          <td class="center"><b><%= team.estimate_penalties_sum %></b></td>
          <td class="center"><b><%= team.shoot_penalties_sum %></b></td>
          <td colspan="2">&nbsp;</td>
        </tr>
        <% team.relay_competitors.each do |comp| %>
          <tr class="competitor_row team_<%= team.id %>" style="display: none;">
            <td>&nbsp;</td>
            <td><%= full_name(comp) %></td>
            <td class="center">(<%= comp.leg %>)</td>
            <td><%= time_from_seconds(comp.time_in_seconds) %><% if comp.adjustment.to_i != 0 %> (<% if comp.adjustment.to_i < 0 %>-<% else %>+<% end %><span title="Aika sisältää korjausta <% if comp.adjustment.to_i < 0 %>-<% else %>+<% end %><%= time_from_seconds(comp.adjustment.abs)%> "><%= time_from_seconds(comp.adjustment.abs)%>)<% end %></td>
            <td class="center">
              <%= comp.estimate_penalties %>
              <% if @relay.finished? %>(<%= comp.estimate %>m)<% end %>
            </td>
            <td class="center"><%= comp.misses %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
<% end %>
<hr/>
<%= link_to 'Takaisin kilpailun etusivulle', race_path(@relay.race) %>
<%= javascript_tag do %>
  $('.team_name_link').click(function() {
    competitors = '.team_' + $(this).attr('id');
    if($(competitors).is(':hidden')) {
      $(competitors).show();
    } else {
      $(competitors).hide();
    }
  });
  $('#show_all_competitors').click(function() {
    $('.competitor_row').show();
  });
<% end %>
