%h1= @relay.race.name
#{@race.location}, #{race_date_interval(@race, false)}
%h2 #{t 'activerecord.models.relay.one'} - #{@relay.name}
- if @relay.relay_teams.empty?
  .message.message--info= t 'relays.show.relay_has_no_teams'
- else
  - cache @relay do
    - @relay.legs_count.times do |i|
      - leg = i + 1
      %h3 #{t :leg} #{leg}
      %table{style: 'margin-bottom: 10px'}
        - @relay.relay_teams.each do |team|
          %tr
            %td{style: 'text-align: right'} #{team.number}.
            %td{style: 'padding-left: 10px'}= team.name
            %td{style: 'padding-left: 10px'}= full_name team.competitor(leg)
