- content_for(:title, t(:send_feedback))
- content_for(:page_title, yield(:title))
%h1.mobile= yield :page_title
= flash_error
.info= t '.race_info'
= form_tag(feedbacks_path, class: 'form') do
  .form__field
    = label_tag :race_id, t('.feedback_receiver')
    = select_tag :race_id, options_for_select(races_drop_down_array(@races), @race_id), prompt: '- Yleinen Hirviurheilu-palaute -'
  .form__field
    = label_tag :comment, t(:feedback)
    = text_area_tag :comment, @comment, :cols => 60, :rows => 8
  .form__field
    = label_tag :name, t('attributes.name')
    = text_field_tag :name, @name
  .form__field
    = label_tag :email, t('attributes.email')
    = email_field_tag :email, @email
  .form__field
    = label_tag :tel, t(:tel)
    = telephone_field_tag :tel, @tel
  .form__field
    = label_tag :captch, t(:captcha)
    = text_field_tag :captcha, @captcha
    .form__field__info= t(:captcha_info)
  .form__buttons
    = submit_tag t(:send), class: 'button button--primary'
