- content_for(:title, t(:send_feedback))
- content_for(:page_title, yield(:title))
= flash_error
.info= t '.race_info'
%div{style: "position: relative;"}
  = form_tag(feedbacks_path, :class => 'feedback_form') do
    %div
      .form_label= label_tag :race_id, t('.feedback_receiver')
      .form_field= select_tag :race_id, options_for_select(races_drop_down_array(@races), @race_id), prompt: '- Yleinen Hirviurheilu-palaute -'
    %div
      .form_label= label_tag :comment, t(:feedback)
      .form_field= text_area_tag :comment, @comment, :cols => 60, :rows => 8
    %div
      .form_label= label_tag :name, t('attributes.name')
      .form_field= text_field_tag :name, @name
    %div
      .form_label= label_tag :email, t('attributes.email')
      .form_field= email_field_tag :email, @email
    %div
      .form_label= label_tag :tel, t(:tel)
      .form_field= text_field_tag :tel, @tel
    %div
      .form_label= label_tag :captch, t(:captcha)
      .form_field= text_field_tag :captcha, @captcha
    .form_field_info= t(:captcha_info)
    .submit_button
      = submit_tag t(:send), class: 'primary_link'
