<% content_for(:title, t(:send_feedback)) %>
<% content_for(:page_title, yield(:title)) %>
<%= flash_error %>
<%= form_tag(feedbacks_path, :class => 'feedback_form') do %>
  <div>
    <span class="form_label"><%= label_tag :race_id, t('.feedback_receiver') %></span>
    <span><%= select_tag :race_id, options_for_select(@races, @race_id), prompt: '- Yleinen Hirviurheilu-palaute -' %></span>
  </div>
  <div>
    <span class="form_label"><%= label_tag :comment, t(:feedback) %></span>
    <span><%= text_area_tag :comment, @comment, :cols => 60, :rows => 8 %></span>
  </div>
  <div>
    <span class="form_label"><%= label_tag :name, t('attributes.name') %></span>
    <span><%= text_field_tag :name, @name %></span>
  </div>
  <div>
    <span class="form_label"><%= label_tag :email, t('attributes.email') %></span>
    <span><%= email_field_tag :email, @email %></span>
  </div>
  <div>
    <span class="form_label"><%= label_tag :tel, t(:tel) %></span>
    <span><%= text_field_tag :tel, @tel %></span>
  </div>
  <%= submit_tag t(:send) %>
<% end %>
<%= render :partial => 'shared/company_contact', :locals => { :corner => true } %>
