<% content_for(:title, t(:send_feedback)) %>
<% content_for(:page_title, yield(:title)) %>
<%= flash_error %>
<%= form_tag(feedbacks_path, :class => 'feedback_form') do %>
  <div class="form_label">
    <%= label_tag :race_id, t('.feedback_receiver') %>
  </div>
  <div>
    <%= select_tag :race_id, options_for_select(@races, @race_id), prompt: '- Yleinen Hirviurheilu-palaute -' %>
  </div>
  <div class="form_label">
    <%= label_tag :comment, t(:feedback) %>
  </div>
  <div>
    <%= text_area_tag :comment, @comment, class: 'feedback_text_area' %>
  </div>
  <div class="form_label">
    <%= label_tag :name, t('attributes.name') %>
  </div>
  <div>
    <%= text_field_tag :name, @name %>
  </div>
  <div class="form_label">
    <%= label_tag :email, t('attributes.email') %>
  </div>
  <div>
    <%= email_field_tag :email, @email %>
  </div>
  <div class="form_label">
    <%= label_tag :tel, t(:tel) %>
  </div>
  <div>
    <%= text_field_tag :tel, @tel %>
  </div>
  <div class="submit_button">
    <%= submit_tag t(:send) %>
  </div>
<% end %>
<%= render :partial => 'shared/company_contact', :locals => { :corner => true } %>
