- content_for :title, t('prices_sub_menu.ask_for_offer')
- content_for :page_title, yield(:title)
.info
  Hirviurheilun perushinta on 1 euro / kilpailija, mutta Hirviurheilu tarjoaa alennuspaketteja
  seuroille, jotka järjestävät useita kilpailuita. Kirjoita alla olevaan lomakkeeseen
  yhteystietosi sekä tiedot tulevista kilpailuista, niin otamme sinuun yhteyttä tarjouksen kera.
= form_tag offers_path, class: 'offer_form' do
  %div
    %span.form_label= label_tag :name, t('attributes.name')
    = text_field_tag :name, current_user ? full_name(current_user) : ''
  %div
    %span.form_label= label_tag :email, t('attributes.email')
    = text_field_tag :email, current_user ? current_user.email : ''
  %div
    %span.form_label= label_tag :tel, t(:tel)
    = text_field_tag :tel
  %div
    %span.form_label= label_tag :club, t(:club)
    = text_field_tag :club
  %div
    %span.form_label= label_tag :competition_info, t(:competition_info)
    = text_area_tag :competition_info, params[:competition_info], cols: 50, rows: 10
  = submit_tag t(:send)
