- content_for :title, "#{@cup.name} - #{t 'race_sub_menu.press'}"
%h2= t 'cup_sub_menu.press'
.message.message--info= t 'media.show.info'
= flash_error
= form_tag(cup_medium_path(@cup), class: 'form') do
  .form__field.form__field--sm
    = label_tag :competitors_count, t('media.show.competitors_per_series')
    = number_field_tag :competitors_count, @competitors_count
  .form__field
    = label_tag :show_race_points, t('media.show.show_race_points')
    = check_box_tag :show_race_points, true, params[:show_race_points]
  .form__buttons
    = submit_tag t('media.show.download_report'), class: 'button button--primary'
