- content_for :title, "#{@race.name} - #{t 'race_sub_menu.press'}"
%h2= t 'race_sub_menu.press'
.info
  = "#{t 'media.show.info'}#{@race.finished? ? '' : ", #{t 'media.show.when_race_finished'}"}."
- if @race.finished?
  - club_word = (@race.club_level == Race::CLUB_LEVEL_PIIRI ? t('media.show.from_district') : t('media.show.from_club'))
  = flash_error
  = form_tag(race_medium_path(@race), class: 'form') do
    .form__field.form__field--sm
      = label_tag :competitors_count, t('media.show.competitors_per_series')
      = number_field_tag :competitors_count, @competitors_count
    .form__field
      = label_tag :club_id, "#{t 'media.show.also_all_competitors', :from_club => club_word }"
      = select_tag :club_id, options_from_collection_for_select(@race.clubs, :id, :name, params[:club_id]), multiple: true
    .form__buttons
      = submit_tag t('media.show.download_report'), class: 'button button--primary'
