= render :partial => 'header'
- results = []
- clubs = params[:club_id] || []
- @race.series.each do |series|
  - unless series.competitors.empty?
    - series_results = "#{t(:series)} #{series.name}: "
    - comp_results = []
    - series.ordered_competitors.each_with_index do |c, i|
      - max_points = c.points if i == 0
      - next unless i < @competitors_count or clubs.include?(c.club_id.to_s)
      - unless c.no_result_reason
        - record = national_record_print(c, true) if c.points.to_i >= max_points.to_i
        - comp_results << "#{i+1}) #{full_name(c)} #{c.club.name} #{c.points}#{' (' + record + ')' unless record.blank? }"
    - series_results << comp_results.join(', ')
    - series_results << '.'
    - results << series_results
%h3= t '.report'
.info= t '.result_info'
= results.join(' ')
.buttons.buttons--nav
  = link_to t(:back_to_race_home_page), race_path(@race), class: 'button button--back'
