= render :partial => 'header'
- results = []
- @cup.cup_series.each do |cup_series|
  - series_results = "#{cup_series.name}: "
  - comp_results = []
  - cup_series.ordered_competitors.each_with_index do |cc, i|
    - next unless i < @competitors_count
    - comp_result = "#{i+1}) #{full_name(cc)} #{cc.club_name} #{cc.points}"
    - if params[:show_race_points]
      - comp_result << ' ('
      - @cup.races.each_with_index do |race, race_i|
        - comp_result << ', ' if race_i > 0
        - c = cc.competitor_for_race(race)
        - if c
          - comp_result << points_print(c)
        - else
          - comp_result << '-'
      - comp_result << ')'
    - comp_results << comp_result
  - unless comp_results.empty?
    - series_results << comp_results.join(', ')
    - series_results << '.'
    - results << series_results
%h3= t '.report'
.section
  - if results.empty?
    = t '.results_not_available'
  - else
    .info= t '.result_info'
    = render partial: 'cups/points_rule', locals: {cup: @cup}
    = results.join(' ')
%hr
= link_to t(:back_to_cup_page), race_path(@cup), class: 'button button--back'
