<div class="sub_element sub_form">
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :number %>
  <%= f.text_field :number, :size => 3 %>
  <%= remove_child_link "Poista", f, 'sub_form', "" %>
</div>