<div class='sub_form'>
  <%= f.label :name %>
  <%= f.text_field :name, :size => 20 %>
  <%= f.label :series_names %>
  <%= f.text_field :series_names, :size => 20 %>
  <%= remove_child_link 'Poista cup-sarja', f, 'sub_form', '' %>
</div>