.sub_form.cup_series_sub_form
  %span.form_label= f.label :name
  %span= f.text_field :name, :size => 20
  %span.form_label= f.label :series_names
  %span= f.text_field :series_names, :size => 20
  %span= remove_child_link 'Poista cup-sarja', f, 'sub_form', ''
