.form__fields--horizontal
  .form__field.form__field--medium
    = f.label :name
    = f.text_field :name, :size => 20
  .form__field
    = f.label :series_names
    = f.text_field :series_names, :size => 20
  .form__buttons
    = remove_child_link 'Poista cup-sarja', f, 'sub_form', nil, 'button button--danger'
