<div class='sub_form cup_series_sub_form'>
  <span class="form_label"><%= f.label :name %></span>
  <span><%= f.text_field :name, :size => 20 %></span>
  <span class="form_label"><%= f.label :series_names %></span>
  <span><%= f.text_field :series_names, :size => 20 %></span>
  <span><%= remove_child_link 'Poista cup-sarja', f, 'sub_form', '' %></span>
</div>