<%= render :partial => 'shared/form_errors', :locals => { :item => @cup } %>
<%= flash_error %>
<%= form_for([:official, @cup], :html => { :class => 'cup_form' }) do |f| %>
  <h3>Perusasetukset</h3>
  <div>
    <span class="form_label"><%= f.label :name %></span>
    <span><%= f.text_field :name %></span>
  </div>
  <div>
    <span class="form_label"><%= f.label :top_competitions %></span>
    <span><%= f.text_field :top_competitions, :max_length => 1, :size => 2 %></span>
  </div>
  <h3>Osakilpailut</h3>
  <div class="cup_form_races">
    <% current_user.races.each_with_index do |race, i| %>
      <%= check_box_tag 'cup[race_ids][]', race.id, @cup.races.include?(race),
        :id => "race_id_#{i}" %>
      <span class="form_label"><%= race.name %></span><br/>
    <% end %>
  </div>
  <% unless @cup.new_record? %>
    <h3>Cup-sarjat</h3>
    <div class="info">Osakilpailuiden sarjojen nimet -kenttään tulee pilkulla erotettuna
      niiden sarjojen nimet, joista cup-sarja koostuu. Esim. jos cup-sarjan nimi on
      'Naiset', voisi osakilpailuiden sarjojen nimet olla 'N,N40,N60'.
      Voit jättää kentän tyhjäksi, jos cup-sarja koostuu yhdestä sarjasta, jonka nimi
      on täsmälleen sama kuin cup-sarjan nimi.</div>
    <%= f.fields_for :cup_series do |cs_form| %>
      <%= render :partial => "cup_series", :locals => { :f => cs_form } %>
    <% end %>
    <%= add_child_link "Lisää uusi cup-sarja", f, :cup_series %><br/><br/>
  <% end %>
  <%= submit_tag submit_label %>
<% end %>