<% content_for(:title, 'Cup-kilpailun lisäys') %>
<% content_for(:page_title, yield(:title)) %>
<% if current_user.races.count < 2 %>
  <div class="info">Sinulla täytyy olla vähintään 2 kilpailua ennen kuin voit lisätä cup-kilpailun</div>
<% else %>
  <%= render :partial => 'shared/form_errors', :locals => { :item => @cup } %>
  <%= form_for([:official, @cup]) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br/>
    <%= f.label :top_competitions %>
    <%= f.text_field :top_competitions, :max_length => 1, :size => 2 %><br/>
    Osakilpailut:<br/>
    <% current_user.races.each_with_index do |race, i| %>
      <%= check_box_tag 'race_id[]', race.id, false, :id => "race_id_#{i}" %> <%= race.name %><br/>
    <% end %>
    <%= submit_tag 'Lisää cup-kilpailu' %>
  <% end %>
<% end %>
<hr/>
<%= link_to 'Takaisin toimitsijan etusivulle', official_root_path %>
