<h2>Cup-kilpailun tiedot</h2>
<%= flash_success %>
Nimi: <%= @cup.name %><br/>
<%= t 'attributes.top_competitions' %>: <%= @cup.top_competitions %><br/>
Osakilpailut:
<%= raw(@cup.races.collect { |race| link_to race.name, official_race_path(race) }.join(', ')) %>
<h2>Cup-ohjeet</h2>
<h3>Sarjat</h3>
Cup-kilpailun sarjat muodostuvat automaattisesti osakilpailun sarjojen nimien perusteella.
Esimerkiksi jos cup-kilpailu koostuu kahdesta osakilpailusta, joissa molemmissa on sarjat
nimeltään "Miehet" ja "Naiset", myös cup-kilpailu sisältää nämä kaksi sarjaa.
Jos et näe tulosluettelossa haluamaasi sarjaa, varmista, että osakilpailuissa sarjojen nimet
on kirjoitettu täsmälleen samalla tavalla.
<h3>Kilpailijat</h3>
Myös kilpailijat tunnistetaan nimen perusteella. Jos siis ensimmäisen osakilpailun sarjassa "M"
on kilpailija "Timo Testinen" ja vastaavasti toisen osakilpailun sarjassa "M" on täsmälleen saman
niminen kilpailija, palvelu tunnistaa nämä kilpailijat yhdeksi henkilöksi.
<hr/>
<%= link_to 'Takaisin Toimitsijan etusivulle', official_root_path %>
