- content_for(:title, "#{@cup.name} - Yhteenveto")
%h2 Cup-kilpailun tiedot
= flash_success
.form
  .form__field
    %label Nimi
    = @cup.name
  .form__field
    %label #{t 'attributes.top_competitions'}:
    = @cup.top_competitions
  .form__field
    %label Osakilpailut
    = raw(@cup.races.collect { |race| link_to race.name, official_race_path(race) }.join(', '))
  .form__field
    %label Cup-sarjat
    = @cup.cup_series.collect { |cs| long_cup_series_name(cs) }.join(', ')
= link_to 'Muokkaa cup-kilpailun asetuksia', edit_official_cup_path(@cup), class: 'button button--edit'
= link_to 'Poista cup-kilpailu', official_cup_path(@cup), method: :delete, data: {confirm: 'Haluatko varmasti poistaa cup-kilpailun?'}, class: 'button button--danger'
.buttons.buttons--nav
  = link_to 'Takaisin Toimitsijan etusivulle', official_root_path, class: 'button button--back'
