<h2>Cup-kilpailun tiedot</h2>
<%= flash_success %>
Nimi: <%= @cup.name %><br/>
<%= t 'attributes.top_competitions' %>: <%= @cup.top_competitions %><br/>
Osakilpailut:
<%= raw(@cup.races.collect { |race| link_to race.name, official_race_path(race) }.join(', ')) %>
<hr/>
<%= link_to 'Takaisin Toimitsijan etusivulle', official_root_path %>
