- if @batches.length == 0
  .message.message--info= t('batches.index.no_batch_list')
- else
  - series_id = params[:series_id].to_i
  - club_id = params[:club_id].to_i
  - @batches.each do |batch|
    - competitors = batch.competitors.select do |competitor|
      - (series_id == 0 || competitor.series_id == series_id) && (club_id == 0 || competitor.club_id == club_id)
    - unless competitors.empty?
      %h3
        #{batch.number}, #{batch_time @race, batch}
        - if batch.track.to_i > 0
          (#{t('attributes.track')} #{batch.track})
      %table
        - competitors.each do |competitor|
          %tr
            %td= competitor[track_place_name]
            %td #{full_name competitor} (#{competitor.number})
            %td= competitor.club.name
            %td= competitor.series.name
