.col-xs-12.col-sm-6.col-md-4
  .card
    .card__middle
      .card__name= club.name
      - if club.long_name
        .card__middle-row= club.long_name
      .card__middle-row= t('count_competitors', count: club.competitors.count)
    .card__buttons
      = link_to t(:edit), edit_official_race_club_path(@race.id, club), class: 'button button--edit'
      - if club.can_be_removed?
        = link_to t(:remove), official_race_club_path(@race.id, club), method: :delete, class: 'button button--danger'
