<% content_for :title, "#{@race.name} - Seurat" %>
<h2>Seurat</h2>
<div class="instructions">Tällä sivulla voit lisätä kilpailuun osallistuvien kilpailijoiden seuroja
  sekä korjata niiden nimiä ja poistaa ylimääräisiä. Huom! Voit lisätä seuroja
  myös samalla, kun lisäät kilpailijoita.</div>
<h2>Lisää seura</h2>
<div id="action_error"></div>
<%= form_for([:official, @race, Club.new], :remote => true) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= submit_tag 'Lisää seura', :id => 'submit' %>
  <span id="spinner"></span>
<% end %>
<% style = (@race.clubs.empty? ? " style='display: none;'" : "") %>
<h2 id="clubs_title"<%= style %>>Nykyiset seurat</h2>
<div class="instructions">Jos haluat muutta seuran nimeä, klikkaa nimessä olevaa linkkiä.</div>
<div class="section">
  <table id="clubs_table"<%= style %>>
    <tr>
      <th>Seura</th>
      <th>Kilpailijoita</th>
      <th>&nbsp;</th>
    </tr>
    <% @race.clubs.each do |club| %>
      <tr id="club_row_<%= club.id %>">
        <td>
          <a class="club_name_link" id="club_name_link_<%= club.id %>" href="javascript:void(0)">
            <%= club.name %>
          </a>
          <span id="club_name_form_<%= club.id %>" style="display: none;">
            <%= form_for([:official, @race, club], :remote => true,
                :html => { :style => 'display:inline;' }) do |f| %>
              <%= f.text_field :name %><%= submit_tag "Päivitä" %>
            <% end %>
            <%= button_to_function 'Peruuta', "cancel_edit(#{club.id}, \"#{club.name}\")" %>
          </span>
        </td>
        <td class="center"><%= club.competitors.count %></td>
        <td class="center"><%= club.competitors.count == 0 ? (link_to "Poista",
            official_race_club_path(@race.id, club),
            :method => :delete,
            :remote => true,
            :class => 'remove_club') : raw('&nbsp;') %></td>
      </tr>
    <% end %>
  </table>
</div>
<%= javascript_tag do %>
  $("#submit").click(function() {
    $("#spinner").html('<%= image_tag 'spinner.gif' %>');
  });
  $(".remove_club").click(function() {
    $(this).parent().html('<%= image_tag 'spinner.gif', :class => 'spinner' %>');
  });
  $(".club_name_link").click(function() {
    $(this).hide();
    $(this).next().show();
  });
  function cancel_edit(id, original_name) {
    $('#club_name_form_' + id + ' #club_name').val(original_name);
    $('#club_name_form_' + id).hide();
    $('#club_name_link_' + id).show();
  }
<% end %>
<hr/>
<%= link_to 'Takaisin kilpailun etusivulle', official_race_path(@race) %>