<% content_for :title, "#{@race.name} - Seurat" %>
<h2>Seurat</h2>
<div id="action_error"></div>
<%= form_for([:official, @race, Club.new], :remote => true) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= submit_tag 'Lisää seura', :id => 'submit' %>
  <span id="spinner"></span>
<% end %>
<table id="clubs_table">
  <tr>
    <th>Seura</th>
    <th>Kilpailijoita</th>
    <th>&nbsp;</th>
  </tr>
  <% @race.clubs.each do |club| %>
    <tr id="club_row_<%= club.id %>">
      <td><%= club.name %></td>
      <td class="center"><%= club.competitors.count %></td>
      <td class="center"><%= club.competitors.count == 0 ? (link_to "Poista",
          official_race_club_path(@race.id, club),
          :method => :delete,
          :remote => true,
          :class => 'remove_club') : raw('&nbsp;') %></td>
    </tr>
  <% end %>
</table>
<%= javascript_tag do %>
  $("#submit").click(function() {
    $("#spinner").html('<%= image_tag 'spinner.gif' %>');
  });
  $(".remove_club").click(function() {
    $(this).parent().html('<%= image_tag 'spinner.gif', :class => 'spinner' %>');
  });
<% end %>