<% content_for :title, "#{@race.name} - Seurat" %>
<h2>Seurat</h2>
<%= form_for([:official, @race, @race.clubs.build], :remote => true) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= submit_tag 'Lisää seura', :id => 'submit' %>
  <span id="spinner"></span>
<% end %>
<table id="clubs_table">
  <tr>
    <th>Seura</th>
  </tr>
  <% @race.clubs.each do |club| %>
    <tr>
      <td><%= club.name %></td>
    </tr>
  <% end %>
</table>
<%= javascript_tag do %>
  $("#submit").click(function() {
    $("#spinner").html('<%= image_tag 'spinner.gif' %>');
  });
<% end %>