<% content_for :title, "#{@race.name} - #{clubs_title(@race)}" %>
<h2 id="clubs_title"><%= clubs_title(@race) %></h2>
<% club_word = (@race.club_level == Race::CLUB_LEVEL_PIIRI ? 'piirejä' : 'seuroja') %>
<div class="info"><%= t '.info', :club_word => club_word %></div>
<h2><%= t :add %> <%= club_title(@race).downcase %></h2>
<div id="action_error"></div>
<%= form_for([:official, @race, Club.new], :remote => true, html: { class: 'form' }) do |f| %>
  <div class="form__field">
    <%= f.label :name, :for => 'new_club_name' %>
    <%= f.text_field :name, :id => 'new_club_name' %>
  </div>
  <div class="form__field">
    <%= f.label :long_name, :for => 'new_club_long_name' %>
    <%= f.text_field :long_name, :id => 'new_club_long_name' %>
    <div class="form__field__info"><%= t '.long_name_info' %></div>
  </div>
  <div class="form__buttons">
    <%= submit_tag "#{t(:add)} #{club_title(@race).downcase}", id: 'submit', class: 'button button--primary' %>
  </div>
  <span id="spinner"></span>
<% end %>
<% style = (@race.clubs.empty? ? 'display: none;' : '') %>
<% club_word = (@race.club_level == Race::CLUB_LEVEL_PIIRI ? 'piirin' : 'seuran') %>
<div id="current_clubs" style="<%= style %>">
  <h2><%= t '.current' %> <%= clubs_title(@race).downcase %></h2>
  <div class="info"><%= t '.edit_info', :club_word => club_word %></div>
  <table id="clubs_table">
    <tr>
      <th><%= t 'attributes.name' %></th>
      <th><%= t 'attributes.long_name' %></th>
      <th><%= t '.competitors' %></th>
      <th>&nbsp;</th>
    </tr>
    <% @race.clubs.each do |club| %>
      <%= render :partial => 'club_row', :locals => { :club => club } %>
    <% end %>
  </table>
</div>
<%= javascript_tag do %>
  $("#submit").click(function() {
    $("#spinner").html('<%= image_tag 'spinner.gif' %>');
  });
  $("#clubs_table").on('click', '.club_name_link', function() {
    $(this).hide();
    $(this).next().show();
  });
  function cancel_edit(id, original_name) {
    $('#club_name_form_' + id + ' #club_name').val(original_name);
    $('#club_name_form_' + id).hide();
    $('#club_name_link_' + id).show();
  }
<% end %>
<hr/>
<%= link_to t(:back_to_official_race_page), official_race_path(@race), class: 'back_link' %>
