Klikkaa alla olevaa linkkiä, niin pääset asettamaan uuden salasanan:
%br
%br
%a{href: "#{@site_url}/reset_password/#{@reset_hash}/edit"} #{@site_url}/reset_password/#{@reset_hash}/edit
= render partial: 'shared/customer_email_footer'