.message.message--info= instructions
.message.message--success{id: "#{name}_success", style: 'display:none;'}
.message.message--error{id: "#{name}_error", style: 'display:none;'}
= form_tag(path, remote: true, onsubmit: "show_spinner('#{name}')", class: 'form') do
  .form__horizontal-fields
    .form__field
      = text_field_tag :string, '', id: "#{name}_string"
    .form__buttons
      = submit_tag 'Tallenna', class: 'button button--primary'
  = image_tag 'spinner.gif', id: "#{name}_spinner", style: 'display:none;'
:javascript
  function show_spinner(name) {
    $('#' + name + '_spinner').show();
  }
