<% content_for :title, "Viesti - #{@relay.name} - Tulosten pikasyöttö" %>
<h2><%= yield :title %></h2>
<div class="info">Tällä sivulla voit tallentaa viestin tuloksia
  ns. pikasyöttöä käyttäen. Syöttämiseen tarvitset joukkueen numeron
  sekä kilpailijan osuuden numeron.</div>
<% if @relay.relay_competitors.empty? %>
  <div class="warning">Kilpailuun ei ole lisätty yhtään kilpailijaa</div>
<% else %>
  <h3>Arviointi</h3>
  <% instructions = 'Syötä tulos muodossa joukkue,osuus,arvio, ' +
      'esim. 11,3,118 (joukkue 11, osuus 3, arvio 118 metriä).' %>
  <%= render :partial => 'result_place', :locals => { :name => 'estimate',
    :instructions => instructions, :path => official_relay_relay_estimate_quick_save_path(@relay) } %>
  <h3>Ohilaukaukset</h3>
  <% instructions = 'Syötä tulos muodossa joukkue,osuus,ohilaukaukset, ' +
      'esim. 11,3,2 (joukkue 11, osuus 3, 2 ohilaukausta).' %>
  <%= render :partial => 'result_place', :locals => { :name => 'misses',
    :instructions => instructions, :path => official_relay_relay_misses_quick_save_path(@relay) } %>
  <h3>Saapumisaika</h3>
  <% instructions = 'Syötä tulos muodossa joukkue,osuus,hhmmss, ' +
      'esim. 11,3,002438 (joukkue 11, osuus 3, saapumisaika 00:24:38).' %>
  <%= render :partial => 'result_place', :locals => { :name => 'time',
    :instructions => instructions, :path => official_relay_relay_time_quick_save_path(@relay) } %>
  <h3>Korjaukset</h3>
  <% instructions = 'Syötä korjaus aikaan muodossa joukkue,osuus,korjaus, ' +
      'esim. 11,3,-10 (joukkue 11, osuus 3, 10 sekunnin hyvitys). Jos aikakorjauksia ' +
      'joudutaan käyttämään, tulee ajat syöttää silti sen mukaan, kuinka viestin tuojat ovat ' +
      'tulleet osuutensa maaliin. Tietyn osuuden korjaus otetaan automaattisesti huomioon kaikissa ' +
      'myöhäisemmissä osuuksissa eli korjauksen tarvitsee syöttää vain kerran.' %>
  <%= render :partial => 'result_place', :locals => { :name => 'adjustment',
    :instructions => instructions, :path => official_relay_relay_adjustment_quick_save_path(@relay) } %>
  <div id="latest" style="display:none;">
    <h3>Viimeisimmät tallennukset</h3>
    <ul id="latest_list"></ul>
  </div>
<% end %>
<hr/>
<%= link_to 'Takaisin viestin etusivulle', official_race_relays_path(@relay.race) %>