<h2>Lisää käyttäjä</h2>
<%= render :partial => "shared/form_errors", :locals => { :item => @user } %>
<%= form_for([:admin, @user]) do |f| %>
  <div>
    <span class="form_label"><%= f.label :first_name %></span>
    <%= f.text_field :first_name %>
  </div>
  <div>
    <span class="form_label"><%= f.label :last_name %></span>
    <%= f.text_field :last_name %>
  </div>
  <div>
    <span class="form_label"><%= f.label :email %></span>
    <%= f.text_field :email %>
  </div>
  <div>
    <span class="form_label"><%= f.label :password %></span>
    <%= f.text_field :password %>
    <a href="javascript:void(0);" id="generate_password">Generoi salasana</a>
  </div>
  <%= submit_tag 'Lisää käyttäjä' %>
<% end %>
<%= javascript_tag do %>
$('form').on('click', '#generate_password', function() {
  var pw = Math.random().toString(36).slice(-8);
  $('#user_password').val(pw);
});
<% end %>
