<table>
  <tr>
    <th><%= t :number_short %></th>
    <th><%= t 'activerecord.models.competitor.one' %></th>
    <th><%= t :estimate %> 1</th>
    <th><%= t :estimate %> 2</th>
    <% if @series.estimates == 4 %>
      <th><%= t :estimate %> 3</th>
      <th><%= t :estimate %> 4</th>
    <% end %>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
  <% @series.competitors.each do |c| %>
    <%= form_for([:official, @series, c], :remote => true) do |f| %>
      <%= hidden_field_tag :no_times, true %>
      <%= hidden_field_tag 'competitor[old_values[estimate1]]', c.estimate1 %>
      <%= hidden_field_tag 'competitor[old_values[estimate2]]', c.estimate2 %>
      <% if @series.estimates == 4 %>
        <%= hidden_field_tag 'competitor[old_values[estimate3]]', c.estimate3 %>
        <%= hidden_field_tag 'competitor[old_values[estimate4]]', c.estimate4 %>
      <% end %>
      <tr>
        <td><%= c.number %></td>
        <td><%= full_name(c) %></td>
        <td><%= f.text_field :estimate1, :size => 3, :maxlength => 3 %></td>
        <td><%= f.text_field :estimate2, :size => 3, :maxlength => 3 %></td>
        <% if @series.estimates == 4 %>
          <td><%= f.text_field :estimate3, :size => 3, :maxlength => 3 %></td>
          <td><%= f.text_field :estimate4, :size => 3, :maxlength => 3 %></td>
        <% end %>
        <td><%= submit_tag t(:save), :onclick => "start_updating(#{c.id})" %></td>
        <td id="status_<%= c.id %>">&nbsp;</td>
      </tr>
    <% end %>
  <% end %>
</table>