<div id="estimates_table" class="competitors_table">
  <div class="header_row">
    <div class="title number"><%= t :number_short %></div>
    <div class="title name"><%= t 'activerecord.models.competitor.one' %></div>
    <div class="title estimate"><%= t :estimate %> 1</div>
    <div class="title estimate"><%= t :estimate %> 2</div>
    <% if @series.estimates == 4 %>
      <div class="title estimate"><%= t :estimate %> 3</div>
      <div class="title estimate"><%= t :estimate %> 4</div>
    <% end %>
  </div>
  <% @series.competitors.each do |c| %>
    <%= form_for([:official, @series, c], :remote => true) do |f| %>
      <%= hidden_field_tag :no_times, true %>
      <%= hidden_field_tag 'competitor[old_values[estimate1]]', c.estimate1 %>
      <%= hidden_field_tag 'competitor[old_values[estimate2]]', c.estimate2 %>
      <% if @series.estimates == 4 %>
        <%= hidden_field_tag 'competitor[old_values[estimate3]]', c.estimate3 %>
        <%= hidden_field_tag 'competitor[old_values[estimate4]]', c.estimate4 %>
      <% end %>
      <div class="competitor_row">
        <div class="value number"><%= c.number %></div>
        <div class="value name"><%= full_name(c) %></div>
        <div class="value estimate"><%= f.number_field :estimate1, :size => 3, :maxlength => 3 %></div>
        <div class="value estimate"><%= f.number_field :estimate2, :size => 3, :maxlength => 3 %></div>
        <% if @series.estimates == 4 %>
          <div class="value estimate"><%= f.number_field :estimate3, :size => 3, :maxlength => 3 %></div>
          <div class="value estimate"><%= f.number_field :estimate4, :size => 3, :maxlength => 3 %></div>
        <% end %>
        <div class="value"><%= submit_tag t(:save), :onclick => "start_updating(#{c.id})" %></div>
        <div class="value" id="status_<%= c.id %>">&nbsp;</div>
      </div>
    <% end %>
  <% end %>
</div>