#estimates_table.competitors_table
  .header_row
    .title.number= t :number_short
    .title.name= t 'activerecord.models.competitor.one'
    .title.estimate
      #{t :estimate} 1
    .title.estimate
      #{t :estimate} 2
    - if @series.estimates == 4
      .title.estimate
        #{t :estimate} 3
      .title.estimate
        #{t :estimate} 4
  - @series.competitors.each_with_index do |c, i|
    = form_for([:official, @series, c], :remote => true, html: { id: "#{c.id}_estimates_form" }) do |f|
      = hidden_field_tag :no_times, true
      = hidden_field_tag 'competitor[old_values[estimate1]]', c.estimate1
      = hidden_field_tag 'competitor[old_values[estimate2]]', c.estimate2
      - if @series.estimates == 4
        = hidden_field_tag 'competitor[old_values[estimate3]]', c.estimate3
        = hidden_field_tag 'competitor[old_values[estimate4]]', c.estimate4
      - row_classes = (c.no_result_reason ? 'no_result_reason' : '')
      - row_classes << (i % 2 == 0 ? 'odd' : '')
      .competitor_row{class: row_classes}
        .value.number= c.number
        .value.name= full_name(c)
        - if c.no_result_reason
          .value= c.no_result_reason
        - else
          .value.estimate= f.telephone_field :estimate1, :size => 3, :maxlength => 3
          .value.estimate= f.telephone_field :estimate2, :size => 3, :maxlength => 3
          - if @series.estimates == 4
            .value.estimate= f.telephone_field :estimate3, :size => 3, :maxlength => 3
            .value.estimate= f.telephone_field :estimate4, :size => 3, :maxlength => 3
          .value= submit_tag t(:save), :onclick => "start_updating(#{c.id})"
          .value{id: "status_#{c.id}"} &nbsp;
      :javascript
        $("##{c.id}_estimates_form").bind('ajax:error', function() {
          $("#update_error").addClass("error");
          $("#update_error").html('Yhteysvirhe, yritä uudelleen');
          $("#status_#{c.id}").html("<span class='error'>#{t :error}!</span>");
        });
