<%= content_for(:title, "#{@series.race.name} - arviointien syöttö") %>
<h1><%= yield :title %></h1>
<%= form_tag('/official/estimates/change_series', :method => :get) do %>
  <%= select_tag :series_id, options_from_collection_for_select(@series.race.series,
    :id, :name, params[:series_id]) %>
  <%= submit_tag "Näytä kilpailijat" %>
<% end %>
<hr/>
<div id="update_error"></div>
<table>
  <tr>
    <th>Nro</th>
    <th>Kilpailija</th>
    <th>Arvio 1</th>
    <th>Arvio 2</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
  <% @series.competitors.each do |c| %>
    <%= form_for([:official, @series, c], :remote => true) do |f| %>
      <tr>
        <td><%= c.number %></td>
        <td><%= full_name(c) %></td>
        <td><%= f.text_field :estimate1, :size => 3, :maxlength => 3 %></td>
        <td><%= f.text_field :estimate2, :size => 3, :maxlength => 3 %></td>
        <td><%= submit_tag "Tallenna", :onclick => "start_updating(#{c.id})" %></td>
        <td id="status_<%= c.id %>">&nbsp;</td>
      </tr>
    <% end %>
  <% end %>
</table>
<hr/>
<%= render :partial => 'official/shared/series_result_input_links',
  :locals => { :series_id => @series.id } %><br/>
<%= link_to "Takaisin toimitsijan etusivulle", official_root_path %>
<script type="text/javascript">
  function start_updating(id) {
    $("#status_" + id).html('<%= image_tag 'spinner.gif' %>');
  }
</script>