Kilpailun nimi: #{@race.name}
Aika: #{race_date_interval(@race, false)}
Paikkakunta: #{@race.location}
Järjestäjä: #{@race.organizer}
Toimitsija: #{full_name(@user, true)}
Laskutustieto: #{@race.billing_info}
\
= race_url @locale, @race
