Kilpailun nimi: #{@race.name}
%br
Aika: #{race_date_interval(@race, false)}
%br
Paikkakunta: #{@race.location}
%br
Järjestäjä: #{@race.organizer}
%br
Toimitsija: #{full_name(@user, true)}
%br
Laskutustieto: #{@race.billing_info}
%br
%br
%a{href: race_url(@locale, @race)}= race_url @locale, @race
