- content_for :title, "#{@race.name} - #{t '.title'}"
%h2= t '.title'
.message.message--warning= t '.warning'
= flash_error
= form_tag(official_race_batch_lists_reset_path, method: :delete) do
  .form__field
    = radio_button_tag :type, 'QualificationRoundBatch', params[:type] == 'QualificationRoundBatch'
    = label_tag "type_qualificationroundbatch", t(:qualification_round), class: 'form__label--radio'
    = radio_button_tag :type, 'FinalRoundBatch', params[:type] == 'FinalRoundBatch'
    = label_tag "type_finalroundbatch", t(:final_round), class: 'form__label--radio'
  .form__field
    = label_tag :confirm_text, t('.confirm_text')
    = text_field_tag :confirm_text, params[:confirm_text]
  .form__field
    = label_tag :delete_batches, t('.delete_batches')
    = check_box_tag :delete_batches, true, params[:delete_batches]
  .form__buttons
    = submit_tag t('.button'), class: 'button button--danger'
.buttons.buttons--nav
  = link_to t(:back_to_official_batches_page), official_race_batches_path(@race), class: 'button button--back'
