<%= content_for(:title, "#{@race.name} - Videoasetukset")%>
<h2>Videoasetukset</h2>
<%= form_for([:admin, @race], :html => { :class => 'video_form' }) do |f| %>
  <div>
    <span class="form_label"><%= f.label :video_source %></span>
    <%= f.text_area :video_source, :cols => 50, :rows => 5 %>
  </div>
  <div>
    <span class="form_label"><%= f.label :video_description %></span>
    <%= f.text_area :video_description, :cols => 50, :rows => 5 %>
  </div>
  <%= submit_tag 'Tallenna' %>
<% end %>
