<table>
  <tr>
    <th><%= t :number_short %></th>
    <th><%= t 'activerecord.models.competitor.one' %></th>
    <th><%= t 'attributes.start_time' %> (hh:mm:ss)</th>
    <th><%= t 'attributes.arrival_time' %> (hh:mm:ss)</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
  <% @series.competitors.each do |c| %>
    <%= form_for([:official, @series, c], :remote => true) do |f| %>
      <tr>
        <td><%= c.number %></td>
        <td><%= full_name(c) %></td>
        <td><%= f.time_text_field :start_time, :include_seconds => true, :blank => true %></td>
        <td><%= f.time_text_field :arrival_time, :include_seconds => true, :blank => true %></td>
        <td><%= submit_tag t(:save), :onclick => "start_updating(#{c.id})" %></td>
        <td id="status_<%= c.id %>">&nbsp;</td>
      </tr>
    <% end %>
  <% end %>
</table>