<div id="times_table" class="competitors_table">
  <div class="header_row">
    <div class="title number"><%= t :number_short %></div>
    <div class="title name"><%= t 'activerecord.models.competitor.one' %></div>
    <div class="title time"><%= t 'attributes.start_time' %> (hh:mm:ss)</div>
    <div class="title time"><%= t 'attributes.arrival_time' %> (hh:mm:ss)</div>
  </div>
  <% @series.competitors.each do |c| %>
    <%= form_for([:official, @series, c], :remote => true) do |f| %>
      <div class="competitor_row">
        <div class="value number"><%= c.number %></div>
        <div class="value name"><%= full_name(c) %></div>
        <% start_time = time_print(f.object.start_time, true, '') %>
        <% arrival_time = time_print(f.object.arrival_time, true, '') %>
        <div class="value time"><%= f.text_field :start_time, value: start_time, size: 8 %></div>
        <div class="value time"><%= f.text_field :arrival_time, value: arrival_time, size: 8 %></div>
        <div class="value"><%= submit_tag t(:save), :onclick => "start_updating(#{c.id})" %></div>
        <div class="value" id="status_<%= c.id %>">&nbsp;</div>
      </div>
    <% end %>
  <% end %>
</div>