<%= content_for(:title, "#{@series.race.name} - aikojen syöttö") %>
<h1><%= yield :title %></h1>
<%= render :partial => 'official/shared/series_selection',
  :locals => { :url => '/official/times/change_series', :race => @series.race } %>
<hr/>
<div id="update_error"></div>
<table>
  <tr>
    <th>Nro</th>
    <th>Kilpailija</th>
    <th>Lähtöaika</th>
    <th>Saapumisaika</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
  <% @series.competitors.each do |c| %>
    <%= form_for([:official, @series, c], :remote => true) do |f| %>
      <tr>
        <td><%= c.number %></td>
        <td><%= full_name(c) %></td>
        <td><%= f.time_text_field :start_time, :include_seconds => true, :blank => true %></td>
        <td><%= f.time_text_field :arrival_time, :include_seconds => true, :blank => true %></td>
        <td><%= submit_tag "Tallenna", :onclick => "start_updating(#{c.id})" %></td>
        <td id="status_<%= c.id %>">&nbsp;</td>
      </tr>
    <% end %>
  <% end %>
</table>
<hr/>
<%= render :partial => 'official/shared/series_result_input_links',
  :locals => { :series_id => @series.id } %><br/>
<%= link_to "Takaisin toimitsijan etusivulle", official_root_path %>
<script type="text/javascript">
  function start_updating(id) {
    $("#status_" + id).html('<%= image_tag 'spinner.gif' %>');
  }
</script>