<table>
  <tr>
    <th>Kilpailija</th>
    <th>Sarja</th>
    <th><%= club_title(@race) %></th>
    <th>&nbsp;</th>
  </tr>
  <% @competitors.each do |comp| %>
    <tr>
      <td><%= link_to(full_name(comp), edit_official_limited_race_competitor_path(@race, comp)) %></td>
      <td><%= comp.series.name %><%= comp.age_group ? '/' + comp.age_group.name : '' %></td>
      <td><%= comp.club.name %></td>
      <td><%= link_to 'Poista', official_limited_race_competitor_path(@race, comp),
        :data => { :confirm => "Haluatko varmasti poistaa tämän kilpailijan?" },
        :method => :delete %></td>
    </tr>
  <% end %>
</table>
