<%= flash_success %>
<%= render :partial => "shared/form_errors", :locals => { :item => @competitor } %>
<%= form_for([:official, :limited, @race, @competitor]) do |f| %>
  <span class="form_label"><%= f.label :series_id %></span>
  <%= f.select :series_id, options_from_collection_for_select(@race.series,
    :id, :name, @competitor.series.id), {}, :onchange => 'reload_age_groups(this.value)' %>
  <% age_group_style = f.object.series.age_groups.empty? ? 'display:none;' : '' %>
  <span id="age_groups_span" style="<%= age_group_style %>">
    <span class="form_label"><%= f.label :age_group_id %></span>
    <%= f.collection_select :age_group_id, @competitor.series.age_groups_with_main_series, :id, :name %>
  </span>
  <span id="age_groups_spinner" style="display:none;">
    <%= image_tag 'spinner.gif' %>
    Odota hetki...
  </span>
  <br/>
  <span class="form_label"><%= f.label :first_name %></span>
  <%= f.text_field :first_name, :size => 15 %>
  <span class="form_label"><%= f.label :last_name %></span>
  <%= f.text_field :last_name, :size => 20 %><br/>
  <span class="form_label"><%= f.label :club_id, club_title(@race) %></span>
  <% if @race_right.club %>
    <%= @race_right.club.name %>
  <% else %>
    <%= f.select :club_id, options_from_collection_for_select(@race.clubs,
      :id, :name) %>
  <% end %>
  <% if @race.has_team_competitions_with_team_names? %>
    <span class="form_label">
      <%= f.label :team_name %>
      <a class="help" id="team_name_help" href="javascript:void(0);">?</a>
    </span>
    <%= f.text_field :team_name %>
  <% end %><br/>
  <%= submit_tag "Tallenna" %>
  <% if show_cancel %>
    <%= tag(:input, {:type => 'button', :value => 'Peruuta',
      :onclick => "cancel_edit();"}) %>
  <% end %>
<% end %>
<%= render :partial => 'official/shared/team_name_help_dialog' %>
<%= render :partial => 'official/shared/reload_age_groups_js' %>
<%= javascript_tag do %>
  function cancel_edit() {
    window.location = '<%= official_limited_race_competitors_path(@race) %>';
  }
<% end %>
<%= render :partial => 'shared/help_dialog_opener' %>