= flash_success
= render :partial => "shared/form_errors", :locals => { :item => @competitor }
= form_for([:official, :limited, @race, @competitor], html: { class: 'form' }) do |f|
  .form__field
    = f.label :series_id
    = f.select :series_id, options_from_collection_for_select(@race.series, :id, :name, @competitor.series.id), {}, onchange: 'reload_age_groups(this.value)'
  - age_group_style = f.object.series.age_groups.empty? ? 'display:none;' : ''
  .form__field
    %span#age_groups_span{style: age_group_style}
      = f.label :age_group_id
      = f.collection_select :age_group_id, @competitor.series.age_groups_with_main_series, :id, :name
  .form__field
    = f.label :first_name
    = f.text_field :first_name
  .form__field
    = f.label :last_name
    = f.text_field :last_name
  .form__field
    - if @race_right.club
      %label= club_title(@race)
      = @race_right.club.name
    - elsif @race_right.new_clubs? && @competitor.new_record?
      = label_tag :club_name, club_title(@race)
      = text_field_tag :club_name, params[:club_name]
    - else
      = f.label :club_id, club_title(@race)
      = f.select :club_id, options_from_collection_for_select(@race.clubs, :id, :name, @competitor.club_id)
  .form__field
    - if @race.has_team_competitions_with_team_names?
      = f.label :team_name
      %span
        = f.text_field :team_name
        %a.help#team_name_help{href: 'javascript:void(0);'} ?
  .form__buttons
    = submit_tag "Tallenna", class: 'button button--primary'
    - if show_cancel
      = tag(:input, {type: 'button', value: 'Peruuta', onclick: 'cancel_edit();', class: 'button'})
= render :partial => 'official/shared/team_name_help_dialog'
= render :partial => 'official/shared/reload_age_groups_js'
:javascript
  function cancel_edit() {
    window.location = '#{official_limited_race_competitors_path(@race)}';
  }
= render :partial => 'shared/help_dialog_opener'
