- content_for :title, t('.title')
%h2= yield :title
- if @races.empty?
  .message.message--warning= t('.no_races')
- else
  - text_key = @race.sport.only_shooting? ? 'shooting_race' : 'three_sports_race'
  .message.message--info
    = t ".instructions_1.#{text_key}"
    %br
    %br
    = t ".instructions_2.#{text_key}"
  = flash_error
  = form_tag official_race_competitor_copying_path(@race), class: 'form' do
    .form__field
      = label_tag :source_race_id, t('.from_race')
      = select_tag :source_race_id,
        options_from_collection_for_select(@races, :id,
            lambda {|race| t('.race_with_competitors_count', race: race.name, location: race.location, dates: race_date_interval(race, false), competitors: race.competitors.count)},
          params[:source_race_id])
    - if !@race.sport.start_list?
      .form__field
        = radio_button_tag :with_numbers, true, params[:with_numbers]
        = label_tag "with_numbers_true", t('.with_numbers'), class: 'form__label--radio'
        = radio_button_tag :with_numbers, false, !params[:with_numbers]
        = label_tag "with_numbers_false", t('.generate_numbers'), class: 'form__label--radio'
    - elsif @race.start_order == Race::START_ORDER_BY_SERIES
      .form__field
        = label_tag :with_start_list, t('.with_start_list')
        = check_box_tag :with_start_list, true, params[:with_start_list]
    - else
      = hidden_field_tag :with_start_list, true
    .form__buttons
      = submit_tag t('.submit_button'), class: 'button button--primary'
.buttons.buttons--nav
  = link_to t(:back_to_official_race_page), official_race_path(@race), class: 'button button--back'
