- content_for :title, t('.title')
%h2= yield :title
- if @races.empty?
  .warning= t('.no_races')
- else
  .info
    Valitsemastasi kilpailusta kopioidaan kilpailijat siten, että kohdekilpailuun heille tulee sama nimi, seura,
    ikäryhmä, sarja, lähtönumero ja lähtöaika.
    %br
    %br
    Mikäli olet jo lisännyt kohdekilpailuun kilpailijoita, heillä ei saa olla samoja lähtönumeroita kuin lähdekilpailun
    kilpailijoilla, paitsi jos kyseisellä numerolla oleva kilpailija on samanniminen molemmissa kilpailuissa.
  = flash_error
  = form_tag official_race_competitor_copying_path(@race), class: 'form' do
    .form__field
      = label_tag :source_race_id, t('.from_race')
      = select_tag :source_race_id,
        options_from_collection_for_select(@races, :id,
            lambda {|race| t('.race_with_competitors_count', race: race.name, location: race.location, dates: race_date_interval(race, false), competitors: race.competitors.count)},
          params[:source_race_id])
    - if @race.start_order == Race::START_ORDER_BY_SERIES
      .form__field
        = label_tag :with_start_list, t('.with_start_list')
        = check_box_tag :with_start_list, true, params[:with_start_list]
    - else
      = hidden_field_tag :with_start_list, true
    .form__buttons
      = submit_tag t('.submit_button'), class: 'button button--primary'
.buttons.buttons--nav
  = link_to t(:back_to_official_race_page), official_race_path(@race), class: 'button button--back'
