.result-cards
  - prev_results = 1.0/0.0
  - series.european_race_results.each_with_index do |comp, i|
    - @max_points = comp.points if i == 0
    .card{class: i % 2 == 0 ? 'card--odd' : ''}
      .card__number= "#{i + 1}." unless comp.european_total_results == prev_results
      .card__middle
        .card__name= full_name(comp)
        .card__middle-row= comp.club.name
        - if comp.european_extra_score
          .card__middle-row
            #{t :extra_round}: #{comp.european_extra_score}
        .card__middle-row
          %span.card__sub-result.card__sub-result--shoot
            #{t 'sport_name.european_sub.trap'}: #{comp.european_trap_score.to_i}
            - if comp.european_trap_shots
              %span.shots (#{shots_print comp.european_trap_shots})
          %span.card__sub-result.card__sub-result--shoot
            #{t 'sport_name.european_sub.compak'}: #{comp.european_compak_score.to_i}
            - if comp.european_compak_shots
              %span.shots (#{shots_print comp.european_compak_shots})
          %span.card__sub-result.card__sub-result--shoot
            #{t 'sport_name.european_sub.rifle1'}: #{comp.european_rifle1_score.to_i}
            - if comp.european_rifle1_shots
              %span.shots (#{shots_print comp.european_rifle1_shots})
          %span.card__sub-result.card__sub-result--shoot
            #{t 'sport_name.european_sub.rifle2'}: #{comp.european_rifle2_score.to_i}
            - if comp.european_rifle2_shots
              %span.shots (#{shots_print comp.european_rifle2_shots})
          %span.card__sub-result.card__sub-result--shoot
            #{t 'sport_name.european_sub.rifle3'}: #{comp.european_rifle3_score.to_i}
            - if comp.european_rifle3_shots
              %span.shots (#{shots_print comp.european_rifle3_shots})
          %span.card__sub-result.card__sub-result--shoot
            #{t 'sport_name.european_sub.rifle4'}: #{comp.european_rifle4_score.to_i}
            - if comp.european_rifle4_shots
              %span.shots (#{shots_print comp.european_rifle4_shots})
      .card__main-value
        - if comp.no_result_reason
          = comp.no_result_reason
        - else
          = comp.european_score
          = national_record_print(comp) if comp.european_score.to_i >= @max_points.to_i
    - prev_results = comp.european_total_results
