- competitors = series.shooting_race_results
- extra_shots_column = competitors.any? {|competitor| competitor.extra_round_shots}
%table.results-table
  %tr
    %th &nbsp;
    %th= t 'attributes.name'
    %th= t 'number_short'
    %th#table_club_title= club_title(series.race)
    %th Alkukilpailu
    %th Loppukilpailu
    - if extra_shots_column
      %th Uusinta
    %th Tulos
  - prev_competitor_results = 1.0/0.0
  - competitors.each_with_index do |comp, i|
    - next unless i < 3 || params[:club_id].blank? || comp.club_id == params[:club_id].to_i
    - shooting_race_results = comp.shooting_race_results competitors
    %tr{class: i % 2 == 0 ? 'odd' : ''}
      %td= (shooting_race_results == prev_competitor_results) ? raw('&nbsp;') : "#{i + 1}."
      %td= full_name(comp)
      %td= comp.number
      %td= comp.club.name
      %td
        - if comp.shots
          - if comp.qualification_round_sub_scores.length == 2
            = comp.qualification_round_sub_scores[0]
            %span.shots (#{shots_print comp.qualification_round_shots[0]})
            - if comp.qualification_round_shots[1].length > 0
              + #{comp.qualification_round_sub_scores[1]}
              %span.shots (#{shots_print comp.qualification_round_shots[1]})
              \= #{comp.qualification_round_score}
          - else
            = comp.qualification_round_score
            %span.shots (#{shots_print comp.qualification_round_shots})
      %td
        - if comp.final_round_shots
          - if comp.final_round_sub_scores.length == 2
            = comp.final_round_sub_scores[0]
            %span.shots (#{shots_print comp.final_round_shots[0]})
            - if comp.final_round_shots[1].length > 0
              + #{comp.final_round_sub_scores[1]}
              %span.shots (#{shots_print comp.final_round_shots[1]})
              \= #{comp.final_round_score}
          - else
            = comp.final_round_score
            %span.shots (#{shots_print comp.final_round_shots})
      - if extra_shots_column
        %td
          - if comp.extra_round_shots
            #{shots_print comp.extra_round_shots}
      %td.center.total-points
        - if comp.no_result_reason
          = comp.no_result_reason
        - else
          = comp.shooting_score
    - prev_competitor_results = shooting_race_results
