.result-cards
  - prev_competitor_results = 1.0/0.0
  - series.shooting_race_results.each_with_index do |comp, i|
    - @max_points = comp.points if i == 0
    .card{class: i % 2 == 0 ? 'card--odd' : ''}
      .card__number= "#{i + 1}." unless comp.shooting_race_results(series.competitors) == prev_competitor_results
      .card__middle
        .card__name= full_name(comp)
        .card__middle-row= comp.club.name
        - if comp.qualification_round_shooting_score_input
          = comp.qualification_round_shooting_score_input
          - if comp.final_round_shooting_score_input
            + #{comp.final_round_shooting_score_input}
        - elsif comp.shots
          .card__middle-row
            %span.shots Alkukilpailu:
            - if comp.qualification_round_sub_scores.length == 2
              = comp.qualification_round_sub_scores[0]
              %span.shots (#{shots_print comp.qualification_round_shots[0]})
              - if comp.qualification_round_shots[1].length > 0
                + #{comp.qualification_round_sub_scores[1]}
                %span.shots (#{shots_print comp.qualification_round_shots[1]})
                \= #{comp.qualification_round_score}
            - else
              #{comp.qualification_round_score} (#{shots_print comp.qualification_round_shots})
        - if comp.final_round_shots
          .card__middle-row
            %span.shots Loppukilpailu:
            - if comp.final_round_sub_scores.length == 2
              = comp.final_round_sub_scores[0]
              %span.shots (#{shots_print comp.final_round_shots[0]})
              - if comp.final_round_shots[1].length > 0
                + #{comp.final_round_sub_scores[1]}
                %span.shots (#{shots_print comp.final_round_shots[1]})
                \= #{comp.final_round_score}
            - else
              #{comp.final_round_score} (#{shots_print comp.final_round_shots})
        - if comp.extra_shots
          .card__middle-row
            Uusinta: #{shots_print comp.extra_shots}
      .card__main-value
        - if comp.no_result_reason
          = comp.no_result_reason
        - else
          = comp.shooting_score
          = national_record_print(comp) if comp.points.to_i >= @max_points.to_i
    - prev_competitor_results = comp.shooting_race_results series.competitors
