- competitors = series.ordered_competitors
- extra_shots_column = competitors.any? {|competitor| competitor.extra_round_shots}
%table.results-table
  %tr
    %th &nbsp;
    %th= t 'attributes.name'
    %th= t 'number_short'
    %th#table_club_title= club_title(series.race)
    %th Alkukilpailu
    %th Loppukilpailu
    - if extra_shots_column
      %th Uusinta
    %th Tulos
  - prev_rel_points = 1.0/0.0
  - competitors.each_with_index do |comp, i|
    - relative_points = comp.relative_points
    %tr{class: i % 2 == 0 ? 'odd' : ''}
      %td= (relative_points == prev_rel_points) ? raw('&nbsp;') : "#{i + 1}."
      %td= full_name(comp)
      %td= comp.number
      %td= comp.club.name
      %td
        - if comp.shots
          - if comp.qualification_round_sub_scores.length == 2
            #{comp.qualification_round_sub_scores[0]} (#{comp.qualification_round_shots[0].join(', ')})
            - if comp.qualification_round_shots[1].length > 0
              + #{comp.qualification_round_sub_scores[1]} (#{comp.qualification_round_shots[1].join(', ')}) = #{comp.qualification_round_score}
          - else
            #{comp.qualification_round_score}
            (#{comp.qualification_round_shots.join(', ')})
      %td
        - if comp.final_round_shots
          - if comp.final_round_sub_scores.length == 2
            #{comp.final_round_sub_scores[0]} (#{comp.final_round_shots[0].join(', ')})
            - if comp.final_round_shots[1].length > 0
              + #{comp.final_round_sub_scores[1]} (#{comp.final_round_shots[1].join(', ')}) = #{comp.final_round_score}
          - else
            #{comp.final_round_score}
            (#{comp.final_round_shots.join(', ')})
      - if extra_shots_column
        %td
          - if comp.extra_round_shots
            #{comp.extra_round_score} (#{comp.extra_round_shots.join(', ')})
      %td.center.total-points= comp.shooting_score
    - prev_rel_points = relative_points
