- if series.competitors.empty?
  .info= t :no_competitors_for_series
- elsif !series.has_start_list?
  .info= t :no_start_list
- elsif !series.started?
  .info
    #{t :series_start_time}: #{datetime_print(series.start_datetime, true)}.
    #{t :series_starts_in} #{distance_of_time_in_words(Time.zone.now, series.start_datetime)}.
- else
  = yield
