<% if series.competitors.empty? %>
  <div class="info"><%= t :no_competitors_for_series %></div>
  <% if official_rights %>
    <div><%= link_to t(:add_competitors), new_official_series_competitor_path(series) %></div>
  <% end %>
<% elsif !series.has_start_list? %>
  <div class="info"><%= t :no_start_list %></div>
<% elsif !series.started? %>
  <div class="info">
    <%= t :series_start_time %>: <%= datetime_print(series.start_datetime, true) %>.
    <%= t :series_starts_in %> <%= distance_of_time_in_words(Time.zone.now, series.start_datetime) %>.
  </div>
<% else %>
  <%= yield %>
<% end %>
