<% pdf = params[:format] == 'pdf' %>
<table>
  <tr>
    <th>&nbsp;</th>
    <th><%= t 'attributes.name' %></th>
    <th><%= t 'number_short' %></th>
    <th id="table_club_title"><%= club_title(series.race) %></th>
    <% unless series.time_points_type == Series::TIME_POINTS_TYPE_NONE %>
      <th class="center">
        <%= link_to_unless((pdf or params[:sort].to_i == Competitor::SORT_BY_TIME),
          time_title(series.race), series_competitors_path(series, :sort => Competitor::SORT_BY_TIME)) %>
      </th>
    <% end %>
    <th class="center">
      <%= link_to_unless((pdf or params[:sort].to_i == Competitor::SORT_BY_ESTIMATES),
        t(:estimating), series_competitors_path(series, :sort => Competitor::SORT_BY_ESTIMATES)) %>
    </th>
    <th class="center">
      <%= link_to_unless((pdf or params[:sort].to_i == Competitor::SORT_BY_SHOTS),
        t(:shooting), series_competitors_path(series, :sort => Competitor::SORT_BY_SHOTS)) %>
    </th>
    <th>
      <%= link_to_unless((pdf or params[:sort].to_i == Competitor::SORT_BY_POINTS),
        t(:points), series_competitors_path(series)) %>
    </th>
  </tr>
  <% time_css = params[:sort].to_i == Competitor::SORT_BY_TIME ? ' class=total_points' : '' %>
  <% est_css = params[:sort].to_i == Competitor::SORT_BY_ESTIMATES ? ' class=total_points' : '' %>
  <% shots_css = params[:sort].to_i == Competitor::SORT_BY_SHOTS ? ' class=total_points' : '' %>
  <% points_css = params[:sort].blank? ? ' total_points' : '' %>
  <% prev_rel_points = 1.0/0.0 %>
  <% series.ordered_competitors(params[:all_competitors], params[:sort].to_i).each_with_index do |comp, i| %>
    <% next unless i < 3 or params[:club_id].blank? or comp.club_id == params[:club_id].to_i %>
    <tr id="comp_<%= i+1 %>"<%= i % 2 == 0 ? raw(' class="odd"') : '' %>>
      <% @max_points = comp.points(false) if i == 0 %>
      <td><%= "#{i + 1}." unless comp.relative_points == prev_rel_points %></td>
      <td>
        <% if pdf %>
          <%= full_name(comp) %>
          <%= "(#{comp.age_group.name})" if comp.age_group %>
          <%= "(#{t(:unofficial_short)})" if comp.unofficial? %>
        <% else %>
          <%= link_to full_name(comp), series_competitor_path(@series.id, comp) %>
          <%= "(#{comp.age_group.name})" if comp.age_group %>
          <%= raw("<span class='unofficial' title='#{t(:unofficial)}'>" +
              "#{t(:unofficial_short)}</span>") if comp.unofficial? %>
        <% end %>
      </td>
      <td><%= comp.number ? comp.number : '' %></td>
      <td><%= comp.club.name %></td>
      <% unless series.time_points_type == Series::TIME_POINTS_TYPE_NONE %>
        <td<%= comparison_time_title(comp, params[:all_competitors], pdf) %><%= time_css %>>
          <%= time_points(comp, true, params[:all_competitors]) %>
        </td>
      <% end %>
      <td<%= est_css %>><%= series.race.finished ? estimate_points_and_diffs(comp) :
          estimate_points(comp) %></td>
      <td<%= shots_css %>><%= shot_points(comp, true) %></td>
      <td class="center <%= points_css %>"><%= points_print(comp, params[:all_competitors]) %>
        <%= national_record(comp) if comp.points.to_i >= @max_points.to_i %>
      </td>
    </tr>
    <% prev_rel_points = comp.relative_points %>
  <% end %>
</table>