- unofficials = unofficials_result_rule series.race
.cards
  - prev_rel_points = 1.0/0.0
  - series.ordered_competitors(unofficials, params[:sort].to_i).each_with_index do |comp, i|
    .card{class: i % 2 == 0 ? 'card-odd' : ''}
      - if i == 0
        - @max_points = comp.points
      .card-number= "#{i + 1}." unless comp.relative_points == prev_rel_points
      .card-middle
        .card-name
          = full_name(comp)
          - if comp.age_group
            %span
              (#{comp.age_group.name})
          - if comp.unofficial?
            %span{title: t(:unofficial)}
              (#{t(:unofficial_short)})
        .card-club= comp.club.name
        .card-sub-results
          - if comp.no_result_reason
            = t "competitor.#{comp.no_result_reason}"
          - else
            - if series.points_method != Series::POINTS_METHOD_NO_TIME_2_ESTIMATES && series.points_method != Series::POINTS_METHOD_NO_TIME_4_ESTIMATES
              = time_points_print(comp, true, unofficials)
              \|
            = series.race.finished ? estimate_points_and_diffs(comp) : estimate_points(comp)
            \|
            = shot_points_print(comp, true)
      %div.card-total-points
        = points_print(comp, unofficials)
        - if comp.points.to_i >= @max_points.to_i
          = national_record_print(comp)
    - prev_rel_points = comp.relative_points
