<table>
  <tr>
    <th>&nbsp;</th>
    <th>Nimi</th>
    <th>Nro</th>
    <th><%= club_title(series.race) %></th>
    <th class="center"><%= series.race.sport.run? ? "Juoksu" : "Hiihto" %></th>
    <th class="center">Arviointi</th>
    <th class="center">Ammunta</th>
    <th>Pisteet</th>
  </tr>
  <% series.ordered_competitors(params[:all_competitors]).each_with_index do |comp, i| %>
    <% next unless i < 3 or params[:club_id].blank? or comp.club_id == params[:club_id].to_i %>
    <tr id="comp_<%= i+1 %>"<%= i % 2 == 0 ? raw(' class="odd"') : '' %>>
      <% @max_points = comp.points(false) if i == 0 %>
      <td><%= i + 1 %>.</td>
      <td>
        <% if params[:format] == 'pdf' %>
          <%= full_name(comp) %>
          <%= "(#{comp.age_group.name})" if comp.age_group %>
          <%= "(#{t(:unofficial_short)})" if comp.unofficial? %>
        <% else %>
          <%= link_to full_name(comp), series_competitor_path(@series.id, comp) %>
          <%= "(#{comp.age_group.name})" if comp.age_group %>
          <%= raw("<span class='unofficial' title='#{t(:unofficial)}'>" +
              "#{t(:unofficial_short)}</span>") if comp.unofficial? %>
        <% end %>
      </td>
      <td><%= comp.number ? comp.number : '' %></td>
      <td><%= comp.club.name %></td>
      <td><%= time_points_and_time(comp, params[:all_competitors]) %></td>
      <td><%= series.race.finished ? estimate_points_and_diffs(comp) :
          estimate_points(comp) %></td>
      <td><%= shot_points_and_total(comp) %></td>
      <td class="center total_points"><%= points_print(comp, params[:all_competitors]) %>
        <%= national_record(comp) if comp.points.to_i >= @max_points.to_i %>
      </td>
    </tr>
  <% end %>
</table>