<h1><%=@series.name%> - tulokset</h1>
<table>
  <tr>
    <th>&nbsp;</th>
    <th>Nimi</th>
    <th>Piiri / seura</th>
    <th>Pisteet</th>
    <th>Ammunta</th>
    <th>Arviointi</th>
    <th><%= @series.race.sport.run? ? "Juoksu" : "Hiihto" %></th>
  </tr>
<% @series.ordered_competitors.each_with_index do |comp, i| %>
  <tr>
    <td><%= i + 1 %>.</td>
    <td><%= comp.last_name %> <%= comp.first_name %></td>
    <td><%= comp.club.name %>.</td>
    <td><%= points_print(comp) %></td>
    <td><%= shot_points_and_total(comp) %></td>
    <td><%= estimate_points_and_diffs(comp) %></td>
    <td><%= time_points_and_time(comp) %></td>
  </tr>
<% end %>
</table>