.facebook_share
  = render partial: 'shared/facebook_share'
- unofficials = unofficials_result_rule @series.race
- content_for(:title, "#{@series.race.name} - #{@series.name} - #{series_result_title(@series, unofficials)}")
%h2= yield :title
= render :layout => 'series/series_status', :locals => { :series => @series } do
  = render :partial => 'series/infos', :locals => { :series => @series }
  - cache [@series, params[:sort], unofficials, I18n.locale, mobile?] do
    = render :partial => 'series/series_results', :locals => { :series => @series }
  - if @series.has_unofficial_competitors?
    - if unofficials == Series::UNOFFICIALS_INCLUDED_WITH_BEST_TIME
      = link_to t('competitors.index.show_official_results'), race_series_path(@series.race, @series), class: 'button'
    - elsif unofficials == Series::UNOFFICIALS_EXCLUDED
      = link_to t('competitors.index.show_unofficial_results'), race_series_path(@series.race, @series, :all_competitors => true), class: 'button'
- if @series.race.series.count > 1
  .buttons
    - @series.race.series.each do |s|
      - if s == @series
        .button.button--current= s.name
      - else
        = link_to s.name, race_series_path(s.race, s), class: 'button button--primary'
.buttons.buttons--nav
  = link_to "#{t(:back_to_page)} #{@series.race.name}", race_path(@series.race), class: 'button button--back'
  = link_to t(:start_list), race_series_start_list_path(@series.race, @series), class: 'button'
