<%= content_for(:title, 'Kirjaudu sisään') %>
<h1><%= yield :title %></h1>

<%= flash_notice %>
<%= form_for @user_session, :url => user_session_path do |f| %>
  <%= render :partial => "shared/form_errors", :locals => { :item => @user_session } %>
  <%= f.label :email, "Sähköposti" %><br />
  <%= f.text_field :email %><br />
  <br />
  <%= f.label :password, "Salasana" %><br />
  <%= f.password_field :password %><br />
  <br />
  <%= f.check_box :remember_me %><%= f.label :remember_me, "Muista minut" %><br />
  <br />
  <%= f.submit "Kirjaudu" %>
<% end %>
<br/>
<%= link_to "Olen unohtanut salasanani", new_reset_password_path %><br/>
Minulla ei ole vielä tunnuksia: <%= link_to "Rekisteröidy", register_path %>
<script type="text/javascript">
  $(document).ready(function() { $("#user_session_email").focus(); });
</script>