- content_for(:title, t('.title'))
- content_for(:page_title, yield(:title))
= flash_error
= flash_success
= render 'shared/staging_env_info'
= form_for @user_session, url: user_session_path, html: { class: 'form' } do |f|
  = render partial: 'shared/form_errors', locals: { item: @user_session }
  .form__field
    = f.label :email
    = f.email_field :email, autofocus: true
  .form__field
    = f.label :password
    = f.password_field :password
  .form__field
    = f.label :remember_me
    = f.check_box :remember_me
  .form__buttons
    = f.submit t('.submit_button'), class: 'button button--primary'
.buttons.buttons--nav
  = link_to t('.forgotten_password'), new_reset_password_path, class: 'button'
  = link_to t('.register'), register_path, class: 'button'
