<% content_for(:title, 'Kirjaudu sisään') %>
<% content_for(:page_title, yield(:title)) %>
<%= flash_error %>
<%= flash_success %>
<%= form_for @user_session, :url => user_session_path, :html => { :class => 'login_form' } do |f| %>
  <%= render :partial => "shared/form_errors", :locals => { :item => @user_session } %>
  <div>
    <span class="form_label"><%= f.label :email %></span>
    <span><%= f.email_field :email %></span>
  </div>
  <div>
    <span class="form_label"><%= f.label :password %></span>
    <span><%= f.password_field :password %></span>
  </div>
  <div>
    <span class="form_label"><%= f.label :remember_me %></span>
    <span><%= f.check_box :remember_me %></span>
  </div>
  <%= f.submit "Kirjaudu" %>
<% end %>
<hr/>
<%= link_to "Olen unohtanut salasanani", new_reset_password_path %><br/>
Minulla ei ole vielä tunnuksia: <%= link_to "Rekisteröidy", register_path %>
<script type="text/javascript">
  $(document).ready(function() { $("#user_session_email").focus(); });
</script>
