<h2>Julkaise kilpailu internetissä</h2>
<div class="info">Tällä sivulla voit julkaista kilpailun lopulliset tulokset internetissä,
  Hirviurheilu-palvelussa. Näin kilpailijat pääsevät näkemään kilpailun tulokset.
  Julkaiseminen ei maksa mitään. Ennen julkaisemista varmista, että sinulla
  on käytössäsi internet-yhteys.</div>
<% unless @race.finished? %>
  <div class="error">Voit julkaista kilpailun vasta, kun olet merkinnyt sen päättyneeksi.
    (Kilpailun voi päättää <%= link_to 'Yhteenveto-sivulla', official_race_path(@race) %>.)</div>
<% else %>
  <div class="section">
    <%= flash_error %>
    <%= flash_success %>
    <%= form_for(@race, :url => remote_races_path, :html => {:method => :post}) do |f| %>
      <%= hidden_field_tag :source, "#{request.protocol}#{request.host_with_port}" %>
      <%= hidden_field_tag :source_race_id, @race.id %>
      <%= render :partial => 'hidden_form', :locals => { :f => f } %>
      Julkaistava kilpailu: <%= @race.name %><br/>
      <%= label_tag :server, 'Kohde' %>
      <%= select_tag :server, options_for_select(@servers, params[:server]) %><br/>
      <%= label_tag :email, 'Sähköposti' %>
      <%= text_field_tag :email, params[:email] %><br/>
      <%= label_tag :password, 'Salasana' %>
      <%= password_field_tag :password, params[:password] %><br/>
      <%= submit_tag 'Julkaise', :id => 'submit_button' %>
      <span style="display:none;" id="please_wait">Ole hyvä ja odota...</span>
    <% end %>
  </div>
<% end %>
<hr/>
<%= link_to 'Takaisin Yhteenveto-sivulle', official_race_path(@race) %>
<%= javascript_tag do %>
$('#submit_button').click(function() {
  $('form.edit_race').attr('action', $('#server').val() + $('form.edit_race').attr('action'));
  $('#please_wait').show();
});
<% end %>