<% content_for(:title, 'Kysymyksiä ja vastauksia') %>
<% content_for(:page_title, yield(:title)) %>

<h1 class="mobile">Kysymyksiä ja vastauksia</h1>

<h2>Yleistä Hirviurheilu-palvelusta</h2>
<h3>Mikä on Hirviurheilu?</h3>
<div class="answer">Hirviurheilu on helppokäyttöinen, internet-pohjainen tulospalvelu
  metsästäjäliiton urheilulajeihin.
</div>

<h3>Mitä lajeja Hirviurheilu tukee?</h3>
<div class="answer">
  <ul>
    <li>Hirvenhiihto ja hirvenhiihtely</li>
    <li>Hirvenjuoksu ja hirvikävely</li>
    <li>Ilmahirvi ja ilmaluodikko</li>
    <li>Metsästyshirvi ja metsästysluodikko</li>
    <li>Metsästyshaulikko ja metsästystrap (tulossa myöhemmin)</li>
    <li>Pohjoismainen metsästysammunta ja eurooppalainen metsästysammunta (tulossa myöhemmin)</li>
  </ul>
</div>

<h3>Mitä kilpailumuotoja palvelu tukee?</h3>
<div class="answer">
  <ul>
    <li>Normaali yksilökilpailu</li>
    <li>Joukkuekilpailu</li>
    <li>Viesti (hirvenhiihto ja hirvenjuoksu)</li>
    <li>Cup</li>
  </ul>
</div>

<h3>Mitä voin tehdä, jos palveluun tarvittaisiin mielestäni ehdottomasti uusi ominaisuus?</h3>
<div class="answer"><%= link_to "Ota rohkeasti yhteyttä ja kerro ideasi!", new_feedback_path %></div>

<h2>Palvelun hyödyt</h2>
<h3>Mitä hyötyä palvelusta on kilpailun järjestäjille?</h3>
<div class="answer">
  <ul>
    <li>Tulospalvelun järjestäminen onnistuu palvelun kautta vaivattomasti.
      Palvelun käyttöönotto on erittäin nopeaa ja sen käyttäminen helppoa.</li>
    <li>Palvelu tarjoaa luotettavan tavan tulosten laskemiseen.</li>
    <li>Järjestäjien ei tarvitse huolehtia lähtölistojen tai eräluetteloiden ja tulosten
      julkaisemisesta, koska ne ovat kaikkien saatavilla internetissä ilman
      ylimääräisiä toimenpiteitä.</li>
    <li>Palvelu on hyvin joustava. Kilpailun järjestäjä voi esimerkiksi
      syöttää juuri ne sarjat, jotka kilpailussa tullaan järjestämään.
      Mitään tiettyjä sarjoja ei tarvitse käyttää.</li>
    <li>Järjestäjät voivat ladata tulosraportin myös lehdistölle sopivassa muodossa.</li>
    <li>Kaikki palveluun tehtävät uudet ominaisuudet ovat automaattisesti
      järjestäjien käytössä ilman erillistä päivitystä.</li>
  </ul>
</div>

<h3>Mitä hyötyä palvelusta on kilpailijoille?</h3>
<div class="answer">
  <ul>
    <li>Ennakkoon ilmoittautuneilla kilpailijoilla on mahdollisuus
      katsoa lähtölistat tai eräluettelot etukäteen internetistä.</li>
    <li>Kilpailijat näkevät tulokset reaaliaikaisina internetin kautta välittömästi heti,
      kun toimitsijat syöttävät ne järjestelmään.</li>
    <li>Tulokset ovat näkyvillä mahdollisimman yksityiskohtaisesti, joten kilpailijat
      voivat helposti varmistaa, että tulokset on syötetty ja laskettu oikein.</li>
  </ul>
</div>

<h2>Käyttö &ndash; kaikki lajit</h2>
<h3>Kuinka palvelun käyttöönotto tapahtuu?</h3>
<div class="answer">Hirviurheilu-palvelun käyttöönotto on erittäin helppoa:
  <%= link_to "rekisteröidy palveluun", register_path %>, jonka jälkeen voit
  syöttää tulospalveluun kilpailun tiedot.</div>

<h3>Mitä sarjoja tulospalvelussa käytetään?</h3>
<div class="answer">Voit itse päättää täysin, mitä sarjoja kilpailuusi syötät.
  Kilpailun luomisen nopeuttamiseksi tarjolla on myös valmiit oletussarjat, jotka perustuvat lajikohtaisesti
  Metsästäjäliiton määrittämiin sarjajakoihin. Näiden käyttäminen ei ole kuitenkaan pakollista,
  ja vaikka niitä käyttäisitkin, voit tehdä oletussarjoihin mitä tahansa muutoksia.</div>

<h3>Mitä asioita pitää tehdä ennen kilpailua?</h3>
<div class="answer">Ennen kilpailua sinun täytyy lisätä tulospalveluun kilpailun
  perustiedot kuten sen nimi, ajankohta ja paikkakunta sekä sarjojen nimet.
  Tämän jälkeen voit lisätä sarjoihin ilmoittautuneita kilpailijoita.</div>

<h3>Voiko useampi toimitsija käyttää järjestelmää yhtä aikaa?</h3>
<div class="answer">Kyllä voi. Kilpailun perustaja voi kutsua muita henkilöitä toimitsijaksi samaan kilpailuun.</div>

<h3>Onko mahdollista kokeilla palvelun käyttämistä jossain?</h3>
<div class="answer">Osoitteessa <a href="<%= TEST_URL %>"><%= TEST_URL %></a>
  voit harjoitella toimitsijana toimimista. Tämän version käyttäminen on täysin
  ilmaista mutta sitä ei ole sallittu käytettäväksi oikeiden kilpailuiden
  tuloslaskentaan.<br/><br/>
  Huom! Testipalvelu (<a href="<%= TEST_URL %>"><%= TEST_URL %></a>) ja varsinainen
  palvelu (<a href="<%= PRODUCTION_URL %>"><%= PRODUCTION_URL %></a>) käyttävät
  eri tietokantoja, joten toiseen palveluun luodut käyttäjätunnukset eivät ole
  käytössä toisessa. Voit kuitenkin halutessasi käyttää molemmissa samoja
  kirjautumistietoja (sähköposti ja salasana).</div>

<h2>Käyttö &ndash; liikuntalajit (hirvenhiihto, hirvenjuoksu, hirvenhiihtely, hirvikävely)</h2>

<h3>Kuinka lähtölistat luodaan?</h3>
<div class="answer">Kilpailua lisätessäsi voit valita kahdesta vaihtoehdosta sinulle sopivamman:
  <ol>
    <li>Lähtölistojen luonti sarjoittain</li>
    <li>Lähtöaikojen määrittäminen suoraan kilpailijoille</li>
  </ol>
  Ensimmäinen vaihtoehto on kätevä erityisesti silloin, kun kilpailijat ilmoittautuvat
  etukäteen ja lähtölistat voidaan näin ollen luoda valmiiksi ennen kilpailua.
  Lähtölistojen luonti on helppoa. Kun olet lisännyt kilpailijat, mene toimitsijan sivuilla
  Kilpailijat-sivulle. Sivulla sinun pitää kertoa, mikä on sarjan
  lähtöaika ja ensimmäinen kilpailunumero. Lisäksi voit päättää, noudattaako
  kilpailijoiden lähtöjärjestys heidän lisäämisjärjestystä vai arvotaanko se.
  Näiden asetusten jälkeen saat luotua yhden sarjan lähtölistan automaattisesti.<br/><br/>
  Toinen vaihtoehto sopii paremmin kilpailuihin, joissa kilpailijat lisätään järjestelmään
  vasta kisapaikalla, jolloin heidän ilmoittautumisjärjestyksensä on samalla heidän
  lähtöjärjestyksensä sarjoista välittämättä. Tässä vaihtoehdossa sinun täytyy määrittää
  kilpailijan lähtönumero ja -aika samalla, kun syötät kilpailijan muut tiedot.
  Lähtölista syntyy näin samalla, kun syötät kilpailijoita.<br/><br/>
  Huom! Riippumatta siitä kumman tavan valitset voit määrittää yksittäiselle kilpailijalle
  minkä tahansa lähtöajan ja -numeron. Eli vaikka kilpailijat lähtisivätkin sarjoittain,
  järjestelmään pystyy aina lisäämään jälki-ilmoittautuneita lähtölistan loppupäähän.</div>

<h3>Voiko kilpailijoita lisätä vielä sen jälkeen, kun lähtölista on jo luotu?</h3>
<div class="answer">Kyllä voi. Vaikka osa kilpailijoista olisi jo tullut
  maaliin ja heille olisi jopa syötetty tuloksia, voit edelleen lisätä uusia
  kilpailijoita. Kun lisäät kilpailijoita lähtölistan luonnin jälkeen,
  sinun täytyy vain itse määrittää heille lähtöaika sekä kilpailunumero.
  Palvelu tosin ehdottaa automaattisesti sopivaa aikaa sekä numeroa.</div>

<h3>Miten tulosten syöttäminen tapahtuu kilpailun aikana?</h3>
<div class="answer">
  Tulosten syöttämiseen on kolme vaihtoehtoa. Voit itse päättää,
  mitä vaihtoehtoa haluat käyttää tulosten syöttämiseen.
  <ol>
    <li>Pikasyöttö: Ns. pikasyötössä voit syöttää yhden kilpailijan aika-,
      arviointi- tai ammuntatiedon kirjoittamalla kilpailijan numeron ja
      tuloksen. Esimerkiksi kilpailijan 13 arviot 118 ja 87 metriä
      syötetään muodossa 13,118,87. Pikasyöttö on kaikista nopein tapa syöttää
      tuloksia.</li>
    <li>Sarja- ja tulospaikkakohtainen syöttö: Tässä näkymässä voit syöttää
      yhden sarjan esimerkiksi kaikki ammuntatulokset kerralla. Samanlaiset
      näkymät löytyvät siis myös saapumisajoille ja arvioille. Tämä
      vaihtoehto sopii hyvin tilanteeseen, jossa yhden toimitsijan vastuulla
      on yksi tulospaikka. Lisäksi se antaa hyvän kokonaiskuvan sarjojen
      tilanteesta.</li>
    <li>Kilpailijakohtainen lomake: Jos kilpailijan tiedot avaa sen jälkeen,
      kun lähtölista on luotu, hänelle voi syöttää samassa näkymässä kaikki
      tulostiedot kerralla.</li>
  </ol>
</div>

<h3>Pitääkö ammuntatulokset syöttää summana vai yksittäisinä laukauksina?</h3>
<div class="answer">Saat päättää tämän itse. Molemmat vaihtoehdot ovat mahdollisia.</div>

<h3>Kuinka sarjojen oikeat arviointimatkat määritetään?</h3>
<div class="answer">Oikeat arviointimatkat määritetään kilpailunumeroiden perusteella.
  Voit esimerkiksi määrittää, että numeroiden 1-50 oikeat matkat ovat 100 ja 120 metriä
  ja että numeroilla 51-100 matkat ovat 95 ja 125 metriä.</div>

<h3>Mitä asioita täytyy tehdä kilpailun jälkeen?</h3>
<div class="answer">Kun olet syöttänyt kaikille kilpailijoille tulokset
  sekä määrittänyt kilpailulle oikeat arviointimatkat,
  muista merkitä vielä kilpailu päättyneeksi Yhteenveto-sivulta.
  Tämä vaikuttaa mm. siihen, että tarkat arviointitiedot julkaistaan kilpailijoille.
  Niin kauan kuin kilpailu on kesken, kilpailijat eivät näe arviointitietojen
  osalta muuta kuin pisteet.</div>

<h2>Käyttö &ndash; ammuntalajit</h2>

<h3>Kuinka eräluettelot luodaan?</h3>
<div class="answer">Eräluetteloiden tekeminen alkaa sillä, että kilpailun perustiedoissa määritetään
  ratojen määrä sekä ammuntapaikkojen määrä / rata. Näitä tietoja käytetään sekä alkukilpailun että loppukilpailun
  eräluetteloiden tekemiseen.<br/><br/>
  Alkukilpailun eräluettelot on helpointa tehdä arpomalla ne sarjakohtaisesti sen jälkeen,
  kun sarjan kilpailijat on syötetty. Voit määrittää hyvin joustavasti, miten kilpailijat sijoitetaan eriin,
  esimerkiksi joka toiselle paikalla tai jättämällä tiettyjä paikkoja tyhjiksi.<br/><br/>
  Loppukilpailun eräluettelot voi luoda samaan tyyliin kuin alkukilpailuissa. Oleellinen ero on siinä,
  että toimitsija määrittää sarjakohtaisesti, kuinka monta kilpailijaa loppukilpailuun pääsee ja ohjelma
  poimii kilpailijat automaattisesti.<br/><br/>
  Eräluetteloita pystyy myös luomaan ja muokkaamaan yksittäin ilman automaattista sijoittelua.
  Erien hallinta -sivulta voi sekä määrittää erien tiedot, että asetella niihin kilpailijat.</div>

<h3>Miten tulosten syöttäminen tapahtuu kilpailun aikana?</h3>
<div class="answer">
  Tulosten syöttämiseen on peräti neljä vaihtoehtoa. Voit itse päättää,
  mitä vaihtoehtoa haluat käyttää tulosten syöttämiseen.
  <ol>
    <li>Pikasyöttö: Ns. pikasyötössä voit syöttää yhden kilpailijan ammuntatuloksen kirjoittamalla kilpailijan numeron ja
      tuloksen. Tallennus tapahtuu erikseen alku- ja loppukilpailulle. Voit tallentaa pikasyötössä joko ammunnan summan
      tai yksittäiset laukaukset.</li>
    <li>Ammunta sarjoittain: Tässä näkymässä näet yhden sarjan kaikki kilpailijat kerralla ja voit tallentaa heille
      ammuntatuloksen joko summana tai laukauksittain.</li>
    <li>Ammunta erittäin: Tämä näkymä on samanlainen kuin ammunta sarjoittain mutta se listaa kilpailijat erittäin.</li>
    <li>Kilpailijakohtainen lomake: Tuloksen voi syöttää myös kilpailijan lomakkeella. Tämä sopii lähinnä yksittäisen
      kilpailijan muokkaamiseen.</li>
  </ol>
</div>

<h3>Miten uusintalaukaukset tallennetaan?</h3>
<div class="answer">Voit käyttää uusintalaukausten tallentamiseen samoja menetelmiä kuin alku- ja loppukilpailuillekin.</div>

<h3>Pitääkö ammuntatulokset syöttää summana vai yksittäisinä laukauksina?</h3>
<div class="answer">Saat päättää tämän itse. Molemmat vaihtoehdot ovat mahdollisia.</div>

<h3>Mitä asioita täytyy tehdä kilpailun jälkeen?</h3>
<div class="answer">Kun olet syöttänyt kaikille kilpailijoille tulokset,
  muista merkitä vielä kilpailu päättyneeksi Yhteenveto-sivulta.
  Ohjelma tarkastaa, ettei keneltäkään kilpailijalta esimerkiksi puutu laukauksia ja poistaa tuloksista
  teksti, joka kertoo kilpailun olevan kesken.</div>

<a name="cup"></a>
<h2>Cup-kilpailut</h2>

<h3>Kuinka cup-kilpailuita luodaan?</h3>
<div class="answer">Cup-kilpailuiden luominen on erittäin helppoa. Mene Toimitsijan etusivulle
  ja lisää sieltä uusi cup-kilpailu. Sinun tarvitsee vain kertoa cup-kilpailun nimi ja valita,
  mistä (osa)kilpailuista cup koostuu. Osakilpailut tarkoittavat tässä yhteydessä aivan normaaleja
  Hirviurheilun kilpailuita, joiden tulokset olet palveluun syöttänyt tai tulet syöttämään.
</div>

<h3>Kuinka cup-sarjat määritetään?</h3>
<div class="answer">Kun lisäät cup-kilpailun ja valitset siihen osakilpailut, järjestelmä
  luo automaattisesti ensimmäisen osakilpailun perusteella cup-sarjat käyttäen kyseisen
  osakilpailun sarjojen nimiä. Jos nämä sarjat ovat myös cup-sarjat, sinun ei tarvitse tehdä mitään.<br/><br/>
  Voit kuitenkin halutessasi määrittää eri cup-sarjat muokkaamalla cup-kilpailun asetuksia.
  Cup-sarja voi koostua yhdestä tai useammasta osakilpailuiden sarjasta. Esimerkiksi:
  <ul>
    <li>Cup-sarja 'M', jonka tulokset lasketaan suoraan osakilpailuissa olevan sarjan 'M' perusteella.
      (Cup-kilpailuiden oletussarjat toimivat tällä periaatteella.)</li>
    <li>Cup-sarja 'Miehet', jonka tulokset lasketaan osakilpailuissa olevien sarjojen 'M', 'M60' ja 'M70'
      perusteella.</li>
  </ul>
</div>

<h3>Kuinka cup-kilpailuiden tuloslaskenta toimii?</h3>
<div class="answer">Cup-kilpailussa lasketaan tulokset niille sarjoille, jotka olet määrittänyt
  kuuluvan cup-kilpailun sarjoihin (ks. edellä). Eri osakilpailuiden kilpailijat yhdistetään yhdeksi henkilöksi
  kilpailijan nimen perusteella. Jos siis osakilpailuissa esiintyy kilpailija "Timo Testinen",
  palvelu tunnistaa hänet yhdeksi henkilöksi ja osaa laskea hänelle cup-yhteispisteet.<br/><br/>
  Cup-yhteispisteet ovat summa osakilpailuiden pisteistä. Voit kuitenkin halutessasi määrittää
  cup-kilpailun asetuksiin esimerkiksi, että kolmesta osakilpailusta yhteispisteisiin lasketaan
  vain kaksi parasta tulosta.
</div>

<h2>Tulosten julkaisu</h2>
<h3>Miten tulokset saadaan julkaistua
  kilpailijoiden nähtäville?</h3>
<div class="answer">Sinun ei tarvitse tehdä mitään erillistoimenpiteitä. Tulospalvelu on täysin reaaliaikainen,
  joten kaikki tulokset ovat näkyvissä koko ajan.</div>

<h3>Haluaisin tulostaa tulokset / lähtölistan
  paperille. Kuinka tämä onnistuu?</h3>
<div class="answer">Tulostaminen onnistuu parhaiten siten, että lataat
  tuloslistan tai lähtölistan PDF-tiedostona, jonka voit sitten tulostaa
  paperille. Linkit löytyvät tulos- ja lähtölistasivuilta.</div>

<h3>Voiko palvelusta tulostaa tuloslistat
  lehdistölle sopivassa muodossa?</h3>
<div class="answer">Kyllä voi. Toimitsijan sivuilta löytyy Lehdistö-sivu,
  josta saat yksinkertaisten tulosluettelon haluamallesi määrälle kilpailijoita /
  sarja.</div>
