<% content_for(:title, "Tietoa Hirviurheilusta") %>
<% content_for(:page_title, yield(:title)) %>
<h2>Kysymyksiä ja vastauksia</h2>
<%= link_to 'Lue vastaukset kysymyksiisi', answers_path %> - sisältää paljon tietoa Hirviurheilusta
<hr/>

<h2>Ota yhteyttä</h2>
<%= link_to "Lähetä palautetta järjestelmän kautta", new_feedback_path %><br/>
(kysymyksiä, ehdotuksia uusista ominaisuuksista, virheraportteja, kehuja,...)
<hr/>

<a name="competition_types"></a>
<h2>Kilpailumuodot</h2>
Palvelu tukee seuraavia kilpailumuotoja:
<ul>
  <li>Normaali yksilökilpailu</li>
  <li>Kävely- / metsästäjäsarja (4 arviomatkaa ilman aikapisteitä tai
    2 arviomatkaa ja kaikille 300 aikapistettä)</li>
  <li>Joukkuekilpailu</li>
  <li>Viesti</li>
  <li>Cup</li>
</ul>
<hr/>

<h2>Ohjevideo</h2>
<%= link_to "Katso ohjevideo Youtubesta", youtube_path, :target => '_blank' %>
tai suurenna alla oleva video videoikkunan oikeassa alareunassa olevasta napista.<br/><br/>
<%= render :partial => 'shared/youtube' %>

<%= render :partial => 'shared/company_contact', :locals => { :corner => true } %>
