<% content_for(:title, "Hirviurheilu - Info") %>
<% content_for(:page_title, yield(:title)) %>
<h2>Ota yhteyttä</h2>
<%= link_to "Lähetä palautetta järjestelmän kautta", new_feedback_path %>

<h2>Kysymyksiä ja vastauksia</h2>

<div class="question">Mihin Hirviurheilu-tulospalvelu on tarkoitettu?</div>
<div class="answer">Hirviurheilu on hirvenhiihtoon ja hirvenjuoksuun tarkoitettu
  tulospalvelu.</div>

<div class="question">Mitä kilpailumuotoja palvelu tukee?</div>
<div class="answer">Katso vastaus tämän sivun alalaidasta.</div>

<div class="question">Mitä hyötyä palvelusta on kilpailun järjestäjille?</div>
<div class="answer">Tulospalvelun järjestäminen onnistuu palvelun kautta
  vaivattomasti. Palvelun käyttöönotto on erittäin nopeaa ja sen käyttäminen
  helppoa. Järjestäjien ei tarvitse huolehtia lähtölistojen tai tulosten
  julkaisemisesta, koska ne ovat kaikkien saatavilla internetissä ilman
  ylimääräisiä toimenpiteitä. Palvelu tarjoaa myös luotettavan tavan tulosten
  laskemiseen, toimitsijoiden tarvitsee ainoastaan syöttää kilpailijoiden
  saapumisaika, arviot sekä ammuntatulokset. Pisteet lasketaan näiden
  perusteella automaattisesti.</div>

<div class="question">Mitä hyötyä palvelusta on kilpailijoille?</div>
<div class="answer">Kilpailijat näkevät tulokset reaaliaikaisina internetin
  kautta välittömästi, kun toimitsijat syöttävät ne järjestelmään. Kilpailijat
  voivat myös helposti varmistaa, että tulokset on syötetty ja laskettu oikein.</div>

<div class="question">Mitä palvelun käyttäminen vaatii?</div>
<div class="answer">Toimitsijoilla täytyy olla käytössä internet-yhteys,
  sillä palvelu toimii internetissä selaimen välityksellä.</div>

<div class="question">Kuinka palvelun käyttöönotto tapahtuu?</div>
<div class="answer">Tulospalvelun käyttöönotto on erittäin helppoa.
  <%= link_to "Rekisteröidy palveluun", register_path %>, jonka jälkeen voit
  syöttää tulospalveluun kilpailun tiedot.</div>

<div class="question">Mitkä sarjat tulospalvelussa on määritetty?</div>
<div class="answer">Voit itse päättää täysin, mitä sarjoja kilpailuusi syötät.
  Tarjolla on tietyt oletussarjat, joiden käyttäminen nopeuttaa kilpailun luontia,
  mutta voit muokata niitä täysin haluamallasi tavalla.</div>

<div class="question">Mitä asioita pitää tehdä ennen kilpailua.</div>
<div class="answer">Ennen kilpailua sinun täytyy lisätä tulospalveluun kilpailun
  perustiedot kuten sen nimi, ajankohta ja paikkakunta sekä sarjojen nimet.
  Tämän jälkeen voit lisätä sarjoihin ilmoittautuneita kilpailijoita.
  Kun olet lisännyt kaikki kilpailijat, voit palvelun avulla luoda kilpailijoille
  helposti lähtönumerot ja lähtöajat. Tämän jälkeen kilpailu on valmis alkamaan.</div>

<div class="question">Miten tulosten syöttäminen tapahtuu kilpailun aikana?</div>
<div class="answer">Tähän on tarjolla kaksi vaihtoehtoista näkymää.
  Ensimmäisessä yhden kilpailijan kaikki tiedot näkyvät kerralla, jolloin voit syöttää
  hänelle yhtä aikaa niin aika-, ammunta- kuin arviointitiedot. Tämä vaihtoehto
  sopii hyvin tilanteeseen, jossa kaikki tulostiedot saadaan yhdelle kilpailijalle
  kerralla. Toinen vaihtoehto on syöttää tulokset tulospaikkakohtaisesti.
  Jos esimerkiksi yhden toimitsijan vastuulla on ammuntatulosten syöttäminen,
  hän voi käyttää näkymää, jossa näkyy yhden sarjan osalta kaikki kilpailijat
  ja heille kentät ammuntatulosten syöttämiseen.</div>

<div class="question">Pitääkö ammuntatulokset syöttää summana vai yksittäisinä
  laukauksina?</div>
<div class="answer">Saat päättää tämän itse. Molemmat vaihtoehdot ovat mahdollisia.</div>

<div class="question">Mitä asioita täytyy tehdä kilpailun jälkeen?</div>
<div class="answer">Kun olet syöttänyt kaikille kilpailijoille tulokset,
  muista merkitä vielä kilpailu päättyneeksi toimitsijan sivuilta, kilpailun etusivulta.
  Tämä vaikuttaa mm. siihen, että tarkat arviointitiedot julkaistaan kilpailijoille.
  Niin kauan kuin kilpailu on kesken, kilpailijat eivät näe arviointitietojen
  osalta muuta kuin pisteet.</div>

<div class="question">Voiko useampi toimitsija käyttää järjestelmää yhtä aikaa?</div>
<div class="answer">Kyllä voi. Kilpailun perustaja voi kutsua muita henkilöitä
  toimitsijaksi samaan kilpailuun.</div>

<div class="question">Miten tulokset saadaan julkaistua kilpailijoiden nähtäville?</div>
<div class="answer">Sinun ei tarvitse tehdä mitään erillistoimenpiteitä.
  Tulospalvelu on täysin reaaliaikainen, joten kaikki tulokset ovat näkyvissä
  koko ajan.</div>

<div class="question">Haluaisin tulostaa tulokset / lähtölistan paperille.
  Kuinka tämä onnistuu?</div>
<div class="answer">Tulostaminen onnistuu parhaiten siten, että lataat
  tuloslistan tai lähtölistan PDF-muotoisena. Linkit löytyvät vastaavilta
  sivuilta.</div>

<div class="question">Mitä voin tehdä, jos palveluun tarvittaisiin mielestäni
  ehdottomasti uusi ominaisuus?</div>
<div class="answer"><%= link_to "Ota rohkeasti yhteyttä", new_feedback_path %> ja kerro ideasi!</div>

<div class="question">Kuinka paljon palvelun käyttö maksaa?</div>
<div class="answer">Tarkkaa hinnoittelua ei ole vielä päätetty. Todennäköinen
  vaihtoehto tulee olemaan kilpailijoiden määrään perustuva hinnoittelu.
  <%= link_to "Ota yhteyttä", new_feedback_path %>,
  niin keskustellaan asiasta lisää!</div>

<h2>Kilpailumuodot</h2>
Tällä hetkellä palvelua voidaan käyttää normaalien yksilökilpailujen tulosten
hallintaan. Alla olevat kilpailumuodot tullaan tekemään tarpeen mukaan:
<ul>
  <li>Kävelykilpailu (tulossa keväällä 2012 ennen kesän kilpailuita)</li>
  <li>Cup-kilpailu (rakennetaan, mikäli kilpailun järjestäjät kokevat tarpeelliseksi)</li>
  <li>Joukkuekilpailu ja viesti (rakennetaan mikäli palvelua tullaan käyttämään
    SM- tai piiritasolla)</li>
</ul>
Voit myös itse <%= link_to "ehdottaa uusia ominaisuuksia", new_feedback_path %>
  palveluun yllä olevan linkin kautta.

<%= render :partial => 'shared/company_contact' %>

<script type="text/javascript">
  $(".question").next().hide();
  $(".question").click(function() {
    if($(this).next().is(":visible")) {
      $(this).next().hide('fast');
    } else {
      $(this).next().show('fast');
    }
  });
</script>