<% content_for(:title, "Tietoa Hirviurheilusta") %>
<% content_for(:page_title, yield(:title)) %>
<h2>Kysymyksiä ja vastauksia</h2>
<%= link_to 'Kysymyksiä ja vastauksia', answers_path %><br/>
Sisältää paljon tietoa Hirviurheilusta ja sen käytöstä
<hr/>

<h2>Harjoittele palvelun käyttöä</h2>
<a href="<%=TEST_URL%>"><%= TEST_URL %></a><br/>
Voit kokeilla ennen kilpailuja, kuinka tulospalvelun pyörittäminen onnistuu Hirviurheilun avulla
<hr/>

<h2>Ota yhteyttä</h2>
<%= link_to "Lähetä palautetta järjestelmän kautta", new_feedback_path %><br/>
(kysymyksiä, ehdotuksia uusista ominaisuuksista, virheraportteja, kehuja,...)
<hr/>

<h2>Ohjevideo</h2>
<%= link_to "Katso ohjevideo Youtubesta", youtube_path, :target => '_blank' %>
tai suurenna alla oleva video videoikkunan oikeassa alareunassa olevasta napista.<br/><br/>
<%= render :partial => 'shared/youtube' %>

<%= render :partial => 'shared/company_contact', :locals => { :corner => true } %>
