<% content_for :title, "Unohtuneen salasanan vaihto" %>
<% content_for(:page_title, yield(:title)) %>
<div class="info">Jos olet unohtanut salasanasi,
  syötä alla olevaan kenttään sähköpostiosoitteesi.</div>
<%= flash_error %>
<%= flash_notice %>
<%= form_tag(reset_password_path) do %>
  <%= label_tag :email, 'Sähköposti' %>
  <%= text_field_tag :email %><br/>
  <%= submit_tag 'Tilaa uusi salasana' %>
<% end %>