- content_for :title, t('.title')
- content_for(:page_title, yield(:title))
%h2= yield :title
.info= t '.info'
= flash_error
= flash_success
= form_tag(reset_password_path) do
  .form_label= label_tag :email, t('attributes.email')
  %div= email_field_tag :email
  .submit_button
    = submit_tag t('.button'), class: 'primary_link'
