<% content_for :title, t('.title') %>
<% content_for(:page_title, yield(:title)) %>
<div class="info"><%= t '.info' %></div>
<%= flash_error %>
<%= flash_success %>
<%= form_tag(reset_password_path) do %>
  <span class="form_label"><%= label_tag :email, t('attributes.email') %></span>
  <%= email_field_tag :email %><br/>
  <%= submit_tag t('.button') %>
<% end %>
