!!! 5
%html{lang: 'fi'}
  %head
    %meta{charset: 'UTF-8'}
    = render :partial => 'shared/title'
    %link{href: 'https://fonts.googleapis.com/css?family=Muli', rel: 'stylesheet'}
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tag
  = render :partial => 'shared/body'
