<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) != '' ? yield(:title) :
    "Hirvenhiihdon ja hirvenjuoksun tulospalvelu" %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery-1.4.2-min', 'jquery-utils-0.8.5-min' %>
  <%= javascript_include_tag :defaults %>
  <%= active_scaffold_includes %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div class="official_breadcrumb navigation">
    <%= render :partial => "shared/official_breadcrumb" %>
  </div>
  <div class="login_links navigation"><%= render :partial => "shared/login_links" %></div>
  <div class="breadcrumb navigation"><%= render :partial => "shared/breadcrumb" %></div>
  <div class="main"><%= yield %></div>

</body>
</html>
