!!! 5
%html{lang: I18n.locale}
  %head
    %meta{charset: 'UTF-8'}
    = render :partial => 'shared/title'
    %link{href: 'https://fonts.googleapis.com/css?family=Muli', rel: 'stylesheet'}
    %link{href: 'https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined', rel: 'stylesheet'}
    %link{href: 'https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css', rel: 'stylesheet', type: 'text/css'}
    = stylesheet_link_tag 'mobile'
    = stylesheet_link_tag 'messages'
    = csrf_meta_tag
    = render :partial => 'shared/google_analytics'
    = javascript_include_tag :mobile
    - if facebook_env?
      = javascript_include_tag 'social'
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    = render 'shared/facebook_meta'
    = render 'shared/icons'
    - if Rails.env.production?
      = render 'shared/adsense'
  = render :partial => 'shared/body'
