!!! 5
%html{lang: I18n.locale}
  %head
    %meta{charset: 'UTF-8'}
    = render :partial => 'shared/title'
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    - if facebook_env?
      = javascript_include_tag 'social'
    = csrf_meta_tag
    = render :partial => 'shared/google_analytics'
    = render 'shared/facebook_meta'
    = render 'shared/icons'
    - if Rails.env.production?
      = render 'shared/adsense'
  = render :partial => 'shared/body'
